[2019-05-11 18:02] yashpupneja commented on #1231
Sir, Can you please assign this issue to me ?

[2019-05-12 06:09] Anshuvats commented on #1139
@jainaman224, I would like to work on this issue. Shall I begin?

[2019-05-12 16:13] jainaman224 commented on #1231
@yashpupneja Please take another issue or choose any language in which it is not implemented.

[2019-05-12 16:14] jainaman224 commented on #1139
@Anshuvats Hitesh is working on it.

[2019-05-12 16:34] #1201 closed

[2019-05-12 16:39] #1197 closed

[2019-05-12 16:41] #755 closed

[2019-05-12 16:41] #1226 closed

[2019-05-12 17:01] #1228 closed

[2019-05-12 21:28] Anshuvats commented on #1139
@jainaman224  okay sir!

[2019-05-12 22:12] somya-kapoor opened #1259 "Fibonacci numbers in C, C++, Java, Python and go"
1) Finding nth Fibonacci numbers
2) printing nth Fibonacci numbers series

[2019-05-12 22:25] somya-kapoor opened #1260 "Updating files to take input at runtime (#1160)"
Updating these files :
Babylonian_Method.py
Babylonian_Method.java
Babylonian_Method.go
Exponential_Search.py
Exponential_Search.java
Prime_Factorization.cpp
Prime_Factorization.java
Prime_Factorization.py

[2019-05-13 06:19] bvishal8510 commented on #1233
@jainaman224 may I work on this issue? Or is anyone else working?

[2019-05-13 08:44] bvishal8510 commented on #808
@jainaman224 may I work on this issue?

[2019-05-13 09:34] robotjellyzone commented on #1233
Hi, @bvishal8510 this has been **assigned to me** and I am working on it (slowly, due to my exams) , you can either take other issues which are up for grabs or make a new issue if you want.

[2019-05-13 14:06] #1235 closed

[2019-05-14 08:28] somya-kapoor opened #1264 "Circular queue in C, C++"

[2019-05-14 16:34] asha15 opened #1267 "Rabin_karp Algorithm in c"
@marwahmanbir  Adding Rabin_karp algorithm using c programming .

[2019-05-14 18:57] singh-shreya6 opened #1270 "Updating files to take input at runtime(#1160)"
I would like to update
Subset_Sum.cpp
Subset_Sum.java
Subset_Sum.python
Subset_Sum.go

I would also like to add
Subset_Sum.c

[2019-05-14 19:00] AnshitaVishwa opened #1271 "Doubly Linked List implementation in ruby"
@jainaman224  i would like to implement doubly linked list in ruby.

[2019-05-14 19:25] MastersAbh opened #1272 "Sum of first N natural numbers in C, C++, Java, Python & Go"

[2019-05-14 19:27] singh-shreya6 opened #1273 "Sum of squares of first N natural numbers"
In C, C++, Java, Python and Go

[2019-05-14 19:28] singh-shreya6 commented on #1273
In C, C++, Java, Python and Go

[2019-05-14 19:29] singh-shreya6 opened #1274 "Sum of cubes of first N natural numbers"
In C, C++, Java, Python and Go

[2019-05-14 20:25] MastersAbh opened #1278 "Next Perfect Square in C, C++, Python. Java, Go"

[2019-05-14 20:41] MastersAbh opened #1279 "Sum of G.P. in C, C++, Python, Java, Go"

[2019-05-14 21:28] somya-kapoor opened #1280 "Perfect Square String"
in c, c++, Java, python and go

[2019-05-15 01:17] p-rit opened #1281 "Newton Raphson ( root finding technique) in python"

[2019-05-15 01:18] p-rit opened #1282 "secant( root finding technique) in python"

[2019-05-15 15:09] #1244 closed

[2019-05-15 17:56] #1231 closed

[2019-05-15 17:57] #1223 closed

[2019-05-15 17:58] #1243 closed

[2019-05-15 17:59] #1218 closed

[2019-05-16 06:36] singh-shreya6 opened #1284 "Adding Anagrams program in C, Java and Go"

[2019-05-16 09:05] Awkwafina commented on #1282
Hello! I am a new user of github, but I know how secant method works and want to contribute to this issue. So, you mean in numpy library there is an issue with secant method?

[2019-05-17 06:27] dibyaaaaax opened #1285 "circular linked list in Java"
I'd like to work on this

[2019-05-17 08:34] dibyaaaaax opened #1287 "Disjoint sets in Java"

[2019-05-17 08:54] asha15 opened #1288 "Add README.md for Shaker_Sort"
@jainaman224 @marwahmanbir  could you assign this issue for me?

[2019-05-17 11:07] somya-kapoor opened #1291 "Carmichael Numbers"
In c,c++,Java, python and go

[2019-05-17 11:47] #1224 closed

[2019-05-17 11:50] #1241 closed

[2019-05-17 16:43] marwahmanbir commented on #1279
@MastersAbh go for it.

[2019-05-17 16:46] marwahmanbir commented on #1279
@MastersAbh I just saw that this algorithm already exists in the repo, so I'll suggest you to take another one. Closing this for now.

[2019-05-17 16:48] marwahmanbir commented on #1272
@MastersAbh You can work on this one.

[2019-05-18 10:12] marwahmanbir commented on #1288
@asha15 go for it.

[2019-05-18 10:26] AnchalJain commented on #1259
I can write code in python. Can I work on this issue?

[2019-05-18 11:15] dipu989 commented on #1274
@jainaman224 @marwahmanbir  Can I work on this issue?

[2019-05-18 11:36] marwahmanbir commented on #1274
@singh-shreya6 Can you do this in any 3 of the above mentioned languages, so that @dipu989 could take the other two?
Also, you both can consider other languages too, like JavaScript, Kotlin etc. for this algo.

[2019-05-18 13:17] singh-shreya6 commented on #1274
@marwahmanbir I have already written the code in these languages, I was waiting for the issue to get assigned. @dipu989 can you take some other language?

[2019-05-18 14:01] dipu989 commented on #1274
@marwahmanbir @singh-shreya6  It's alright!
I will try to implement the solution in JavaScript.

[2019-05-18 14:40] somya-kapoor commented on #1279
Hey, sum of gp is already an open issue (#1217)

[2019-05-18 14:46] MastersAbh opened #1297 "Good Permutations in C, C++, Java, Python & Go"

[2019-05-18 14:49] MastersAbh opened #1298 "Find Cyclic Permutations of a number in C, C++, Java, Python, Go"

[2019-05-18 15:18] marwahmanbir commented on #1279
@MastersAbh We can't move with this issue as @somya-kapoor is already working on it. Kindly check before opening an issue whether someone else is working on the same or not. Also, I see that you've opened multiple issues at the moment, I'd suggest you to work on max 2 issues at a time.

[2019-05-18 17:01] #1279 closed

[2019-05-18 17:30] MastersAbh opened #1299 "Sum of Infinite G.P. series in C, C++, Python, Java & Go"

[2019-05-18 18:17] marwahmanbir commented on #1259
@AnchalJain since @somya-kapoor is working on it already, you can take some other issues or open a new one.

[2019-05-18 18:19] marwahmanbir commented on #1259
Also, @somya-kapoor you can't start working straight after opening an issue, wait until the issue is assigned to you.
Also you have opened multiple issues at the moment, you are suggested to work on two issues at a time.

[2019-05-18 18:22] dibyaaaaax opened #1303 "Binary Heap in Java"

[2019-05-18 18:39] somya-kapoor commented on #1259
@marwahmanbir Please assign this issue to me, I have opened this issue from the past week.

[2019-05-18 18:40] somya-kapoor commented on #1260
@jainaman224 Please assign me this issue.

[2019-05-18 18:46] somya-kapoor commented on #1264
@marwahmanbir Please assign this issue to me, I have opened this issue from the past 4 days.

[2019-05-18 18:57] gauravburjwal opened #1305 "Add README.md for Arithmetic Progression"
I'm GSSoC Participant.
I would like to add README.md for Arithmetic Progression

[2019-05-18 19:53] singh-shreya6 commented on #1274
@marwahmanbir  Please assign it to me.

[2019-05-18 19:53] singh-shreya6 commented on #1273
@marwahmanbir Please assign it to me.

[2019-05-18 19:56] marwahmanbir commented on #1274
@dipu989 sure, you can do it in JavaScript.

[2019-05-18 20:11] somya-kapoor commented on #1280
@marwahmanbir Please assign this issue to me as currently no other issue is assigned to me whose pr is not open.

[2019-05-18 20:12] somya-kapoor commented on #1264
@marwahmanbir Please assign this issue to me as currently no other issue is assigned to me whose pr is not open.

[2019-05-18 20:45] somya-kapoor commented on #1291
@marwahmanbir Please assign this issue to me as currently no other issue is assigned to me whose pr is not open.

[2019-05-19 06:37] singh-shreya6 opened #1312 "Adding Catalan Numbers in C and Go"

[2019-05-19 06:42] singh-shreya6 opened #1313 "Updating inputs to take values at run time and adding programs for Nim game in C and Go"
I want to update inputs for::
Nim_Game.cpp
Nim_Game.java
Nim_Game.py

and I want to add:
Nim_Game.c
Nim_Game.go

[2019-05-19 07:52] marwahmanbir commented on #1305
@gauravburjwal go for it.

[2019-05-19 10:05] gauravburjwal opened #1318 "Add README.md for Kruskal's Algorithm"
I'm GSSoC participant.
I want to add README.md for Kruskal's algorithm.

[2019-05-19 12:18] somya-kapoor opened #1319 "Number conversion folder"
1) binary to decimal
2) binary to hexadecimal
3) binary to octal
4) decimal to hexadecimal
5) decimal to octal
6) octal to binary
7) octal to decimal
8) octal to hexadecimal
9) hexadecimal to binary
10) hexadecimal to decimal
11) hexadecimal to octal
in c , c++ , java , python and go

[2019-05-19 14:42] #1028 closed

[2019-05-19 15:17] MastersAbh commented on #1319
Hi, #865 is already assigned to @khushal87 in C, C++, Java, Python.
You can work in Go.

[2019-05-19 15:39] divya1999ann opened #1320 "Add 1-D Array in python"
1-D Array in C and C++ is present. I want to add it in python.

[2019-05-19 15:50] MastersAbh commented on #1299
@marwahmanbir please assign it to me so that I can work on new issues.

[2019-05-19 15:50] MastersAbh commented on #1278
@marwahmanbir please assign it to me so that I can work on new issues.

[2019-05-19 15:53] singh-shreya6 commented on #1312
@marwahmanbir Please assign it to me

[2019-05-19 15:53] singh-shreya6 commented on #1313
@marwahmanbir Please assign it to me.

[2019-05-19 16:03] somya-kapoor commented on #1319
But it's open for more than one and a half months and nothing has been done except one open pr for Decimal to binary (#881 )

[2019-05-19 16:10] somya-kapoor commented on #1260
@marwahmanbir Please assign this issue to me.

[2019-05-19 16:12] somya-kapoor opened #1321 "Add 1-D array folder in java"

[2019-05-19 16:29] dipu989 commented on #1274
@marwahmanbir  I have implemented the code using JavaScript for this issue.
Should I open a new issue and then Open a PR?
Or can I open the PR referencing this issue only?

[2019-05-19 17:35] #1216 closed

[2019-05-19 17:37] jainaman224 commented on #808
@bvishal8510 Go ahead.

[2019-05-19 17:40] jainaman224 commented on #1267
@asha15 It is already assigned. Please have a look at issues before creating new one. It will save your efforts.

[2019-05-19 17:40] #1267 closed

[2019-05-19 17:45] #1168 closed

[2019-05-19 17:46] marwahmanbir commented on #1274
@dipu989 you can reference this issue in your PR.

[2019-05-19 17:48] #1205 closed

[2019-05-19 17:52] marwahmanbir commented on #1313
Hey @singh-shreya6, please open PRs after the issue is assigned, as pointed on Slack.

[2019-05-19 18:00] jainaman224 commented on #1282
@p-rit Please explain.

[2019-05-19 18:06] #1081 closed

[2019-05-19 18:09] #1247 closed

[2019-05-19 18:11] asha15 commented on #1267
@jainaman224  I'm sorry.Next time i'll be more careful.

[2019-05-19 18:14] KaushalSahu opened #1323 "RSA using Chinese Remainder Theorem(CRT) in python"

[2019-05-19 18:19] #1287 closed

[2019-05-19 18:19] #1305 closed

[2019-05-19 18:20] #1284 closed

[2019-05-19 18:30] #1285 closed

[2019-05-19 18:37] #1242 closed

[2019-05-19 18:45] asha15 commented on #999
@marwahmanbir can i know is anyone working on this issue ?

[2019-05-19 18:49] #1270 closed

[2019-05-19 18:54] asha15 opened #1324 "Add README.md for Interpolation_Search"
@marwahmanbir please assign this to me.

[2019-05-19 18:57] #1150 closed

[2019-05-19 19:05] jainaman224 commented on #1319
Make multiple PR for this and comment on the issue that is already created.
Create multiple issues as well.

[2019-05-19 19:05] #1319 closed

[2019-05-19 19:07] jainaman224 commented on #999
@asha15 Go for it.

[2019-05-19 19:09] #1217 closed

[2019-05-19 19:49] asha15 commented on #999
@jainaman224 Thank you.could you assign it for me,so i can send  a PR

[2019-05-19 20:31] somya-kapoor opened #1326 "Number conversion in C and C++"
1) binary to decimal
2) decimal to octal
3) decimal to hexadecimal
in C and C++

[2019-05-19 20:35] somya-kapoor opened #1327 "Number conversion in C and C++"
1) hexadecimal to decimal
2) octal to decimal
3)  hexadecimal to binary

[2019-05-20 06:15] MastersAbh opened #1328 "Pythagorean Triplets in C, C++, Java, Python, Go"

[2019-05-20 06:15] MastersAbh opened #1329 "Pythagorean Quadruple in C, C++, Java, Python, Go"

[2019-05-20 06:23] singh-shreya6 opened #1330 "Reverse of a Number in C, C++, Java, Python, Go"
@rishabhgarg25699 Please assign this to me.

[2019-05-20 06:29] singh-shreya6 opened #1331 "Sum of digits of a number in C, C++, Java, Python and Go"
@rishabhgarg25699 Please assign it to me.

[2019-05-20 08:48] MastersAbh commented on #1328
@rishabhgarg25699 can you please assign the issue to me ?

[2019-05-20 08:49] MastersAbh commented on #1329
@rishabhgarg25699 can you please assign the issue to me ?

[2019-05-20 09:12] bvishal8510 commented on #1330
@singh-shreya6 may I work on this issue

[2019-05-20 09:14] bvishal8510 commented on #1331
@singh-shreya6 may I work on this issue

[2019-05-20 09:45] singh-shreya6 commented on #1330
@bvishal8510 you can work on any other language than the ones that I am working on.

[2019-05-20 09:45] singh-shreya6 commented on #1331
@bvishal8510 you can work on any other language than the ones that are mentioned here.

[2019-05-20 12:02] rishabhgarg25699 commented on #1328
@MastersAbh Go Ahead

[2019-05-20 12:04] rishabhgarg25699 commented on #1329
@MastersAbh  Assigned .

[2019-05-20 15:29] MastersAbh opened #1337 "Frequency of digits of a number in C, C++, Java, Go, Python"

[2019-05-20 15:30] MastersAbh opened #1338 "Tribonacci Numbers in C, C++, Java, Python, Go"

[2019-05-20 18:22] rishabhgarg25699 commented on #1330
@singh-shreya6 Assigned .

[2019-05-20 18:25] rishabhgarg25699 commented on #1331
@singh-shreya6 Go Ahead

[2019-05-20 18:28] #1328 closed

[2019-05-20 18:31] #1329 closed

[2019-05-20 18:34] #1313 closed

[2019-05-20 18:40] #808 closed

[2019-05-20 18:49] #1321 closed

[2019-05-20 18:58] #1278 closed

[2019-05-20 19:01] #1312 closed

[2019-05-20 19:03] #1274 closed

[2019-05-20 19:06] #1273 closed

[2019-05-20 19:12] rishabhgarg25699 commented on #1337
@MastersAbh  Assigned

[2019-05-20 19:13] rishabhgarg25699 commented on #1338
@MastersAbh  Assigned to you .

[2019-05-20 20:01] somya-kapoor commented on #1327
@rishabhgarg25699 @jainaman224 Please assign this to me.

[2019-05-20 20:01] somya-kapoor commented on #1326
@rishabhgarg25699 @jainaman224 Please assign this to me.

[2019-05-20 20:36] #1291 closed

[2019-05-20 20:57] singh-shreya6 opened #1343 "Coprime numbers in C, C++, Java, Python and Go"
@rishabhgarg25699 @marwahmanbir please assign it to me.

[2019-05-20 21:02] singh-shreya6 opened #1344 "Check if number is a power of two in C, C++, Java, Python and Go"
@rishabhgarg25699 @marwahmanbir please assign it to me.

[2019-05-20 21:15] somya-kapoor opened #1346 "Decagonal Numbers in C, C++, Java, Python and go"

[2019-05-20 21:16] MastersAbh opened #1347 "Fibonacci Word in C, C++, Java, Python, Go"

[2019-05-20 21:17] MastersAbh opened #1348 "Tribonacci Word in C, C++, Java, Python, Go"

[2019-05-20 21:23] MastersAbh commented on #1347
Please assign it to me so that I could work on it. @marwahmanbir @rishabhgarg25699

[2019-05-20 21:23] MastersAbh commented on #1348
Please assign it to me so that I could work on it. @marwahmanbir @rishabhgarg25699

[2019-05-21 04:08] rishabhgarg25699 commented on #1348
@MastersAbh  Assigned

[2019-05-21 04:09] rishabhgarg25699 commented on #1347
@MastersAbh  Go Ahead .

[2019-05-21 04:09] rishabhgarg25699 commented on #1344
@singh-shreya6  Assigned .

[2019-05-21 04:10] rishabhgarg25699 commented on #1343
@singh-shreya6 Assigned .

[2019-05-21 04:10] rishabhgarg25699 commented on #1346
@somya-kapoor  Assigned .

[2019-05-21 04:12] rishabhgarg25699 commented on #1326
@somya-kapoor Assigned .

[2019-05-21 04:13] rishabhgarg25699 commented on #1327
@somya-kapoor  Go Ahead .

[2019-05-21 04:14] #1331 closed

[2019-05-21 04:17] #1330 closed

[2019-05-21 04:19] #1337 closed

[2019-05-21 04:23] #1338 closed

[2019-05-21 09:41] prashant-mahanta opened #1351 "Square root decomposition in Java"
I see square root decomposition is not available in Java could you please assign it to me if it is available.

Link to Folder [here](https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Square_Root_Decomposition)

[2019-05-21 09:43] rishabhgarg25699 commented on #1351
@prashant-mahanta  Assigned .

[2019-05-21 09:49] prashant-mahanta opened #1352 "Updating files to take input at runtime (#1160)"
**Updating the Files:**
Square_Root_Decomposition.cpp
Square_Root_Decomposition.py
Z_Algorithm.java
Z_Algorithm.py
Z_Algorithm.cpp
Longest_Repeating_Subsequence.cpp
Longest_Repeating_Subsequence.java
Longest_Repeating_Subsequence.py

[2019-05-21 14:19] somya-kapoor opened #1356 "Number conversion in java and python"
binary to decimal
decimal to octal
decimal to hexadecimal

[2019-05-21 14:19] somya-kapoor commented on #1356
@rishabhgarg25699 @jainaman224 @marwahmanbir Please assign this to me.

[2019-05-21 14:21] somya-kapoor opened #1357 "Number conversion in java and python"
hexadecimal to decimal
octal to decimal
hexadecimal to binary

[2019-05-21 14:21] somya-kapoor commented on #1357
@rishabhgarg25699 @jainaman224 @marwahmanbir Please assign this to me.

[2019-05-21 16:14] rishabhgarg25699 commented on #1357
@somya-kapoor Assigned .

[2019-05-21 16:15] rishabhgarg25699 commented on #1356
@somya-kapoor Assigned .

[2019-05-21 16:21] somya-kapoor opened #1361 "Centered decagonal number in C, C++, Java, Python and go"

[2019-05-21 16:29] prashant-mahanta commented on #1352
Please assign it to me.

[2019-05-21 16:45] singh-shreya6 opened #1365 "Find all leap years between any two years in C, C++, Java, Python and Go"
@marwahmanbir @rishabhgarg25699 Please assign it to me.

[2019-05-21 16:48] MastersAbh opened #1366 "Adding tribonacci numbers DP in C, C++, Java, Python, Go"
@rishabhgarg25699 , I want to work on this issue as you suggested. @marwahmanbir

[2019-05-21 16:49] singh-shreya6 opened #1367 "Find the majority element of an array in C, C++, Java, Python and Go"
@marwahmanbir @rishabhgarg25699 Please assign it to me.

[2019-05-21 16:50] somya-kapoor commented on #1361
@rishabhgarg25699 @jainaman224 @marwahmanbir Please assign this to me.

[2019-05-21 17:02] MastersAbh opened #1368 "Calculating Simple Interest in C, C++, Java, Python, Go"
@rishabhgarg25699 @marwahmanbir  Please assign it to me.

[2019-05-21 17:25] Naba7 commented on #1128
Can I be assigned this ? @jainaman224

[2019-05-21 17:30] Naba7 commented on #996
Is anyone working on this? Or I shall start working on the same?

[2019-05-21 17:32] somya-kapoor opened #1370 "Centered Square Number in C, C++, Java, Python and go"

[2019-05-21 18:20] somya-kapoor commented on #1370
@marwahmanbir @rishabhgarg25699 Please assign it to me.

[2019-05-21 18:23] somya-kapoor opened #1373 "Compound Interest in C, C++, Java, Python, Go"

[2019-05-21 19:32] ShivangiSingh17 commented on #996
I am working on it.
I will send PR soon.

On Tue, May 21, 2019, 11:00 PM Nabanita Dash <notifications@github.com
wrote:

[2019-05-22 04:30] #1344 closed

[2019-05-22 04:32] #1272 closed

[2019-05-22 05:40] Naba7 commented on #640
Can I be assigned this issue? @jainaman224

[2019-05-22 05:47] gupta2140 commented on #640
@kritigoyal are you still working on it?

[2019-05-22 07:59] #1357 closed

[2019-05-22 09:18] MastersAbh opened #1377 "Manhattan Distance in C, C++, Java, Python, Go"
@rishabhgarg25699 @marwahmanbir please assign it to me.

[2019-05-22 09:18] somya-kapoor commented on #1370
@marwahmanbir @rishabhgarg25699 Please assign it to me.

[2019-05-22 09:19] somya-kapoor commented on #1373
@marwahmanbir @rishabhgarg25699 Please assign it to me.

[2019-05-22 09:20] MastersAbh opened #1378 "Distance between co-ordinates in C, C++, Python, Java & Go"

[2019-05-22 09:31] MastersAbh commented on #1378
@marwahmanbir @rishabhgarg25699  Please assign it to me.

[2019-05-22 11:37] rishabhgarg25699 commented on #1378
@MastersAbh Yes , Go Ahead .

[2019-05-22 11:38] rishabhgarg25699 commented on #1377
@MastersAbh Assigned . Calculate it .

[2019-05-22 11:39] rishabhgarg25699 commented on #1373
@somya-kapoor Yes Go Ahead .

[2019-05-22 11:40] rishabhgarg25699 commented on #1370
@somya-kapoor  Assigned .

[2019-05-22 11:40] rishabhgarg25699 commented on #1367
Assigned .

[2019-05-22 11:42] rishabhgarg25699 commented on #1352
@prashant-mahanta You  are assigned . Go Ahead .

[2019-05-22 11:43] #1368 closed

[2019-05-22 11:44] #1366 closed

[2019-05-22 11:46] #1323 closed

[2019-05-22 11:48] #1361 closed

[2019-05-22 11:50] #1347 closed

[2019-05-22 11:53] #1343 closed

[2019-05-22 12:46] #1117 closed

[2019-05-22 12:49] #1326 closed

[2019-05-22 12:51] #1327 closed

[2019-05-22 12:52] #1348 closed

[2019-05-22 12:57] #1129 closed

[2019-05-22 13:21] #1346 closed

[2019-05-22 13:23] #1356 closed

[2019-05-22 13:40] singh-shreya6 opened #1382 "Count Derangements in C, C++, Java, Python, Go"
@rishabhgarg25699  @marwahmanbir Please assign it to me.

[2019-05-22 19:46] archi14 commented on #624
@jainaman224 Can I work on this?

[2019-05-22 20:10] rishabhgarg25699 commented on #1382
@singh-shreya6  Assigned .

[2019-05-22 20:20] #1299 closed

[2019-05-22 20:25] #1245 closed

[2019-05-23 00:21] shahkv95 commented on #1365
I would like to take up this task if shreya is not doing it else way.
Thanx

[2019-05-23 00:22] shahkv95 commented on #1179
I would like to take up this issue @jainaman224

[2019-05-23 00:22] shahkv95 commented on #1128
I wish to work on this issue @jainaman224

[2019-05-23 00:25] shahkv95 commented on #1006
Heyy guys, would you allow me to work on this problem. I am familiar with it as I am working in the same field.

[2019-05-23 00:26] shahkv95 commented on #1005
Because I am working in the same field and also I have command on python and C++, I would like to ask if I could take up this task?

[2019-05-23 00:30] shahkv95 commented on #820
I would like to work on this issue - I will be able to do in C++, python and C

[2019-05-23 00:32] shahkv95 commented on #638
I wish to take up this issue @gupta2140 @jainaman224

[2019-05-23 00:37] shahkv95 commented on #1025
@jainaman224 I would like to take up this issue.

NOTE : I would request you to allow me to work on multiple issues before GSSoC ends. Because I am available for full day. And wish to make a score more than 150 at least. Because I was busy regarding a research paper publication, so couldn't contribute last month. I am sure you understand it and allow me to contribute as much as I can. Thank you @j

[2019-05-23 00:39] shahkv95 commented on #1320
Seeing no activity since last few days, I would like to take up the task @jainaman224

[2019-05-23 00:44] shahkv95 commented on #1006
I would also like to add to the fact that this is really a very intelligent algorithm in itself. Now-a-days, it has found various applications in finding the shortest path irrespective of obstacles like maps and various arcade games. @jainaman224

[2019-05-23 04:17] #1297 closed

[2019-05-23 04:49] Naba7 commented on #640
So, can I take it up? @gupta2140

[2019-05-23 05:38] kritigoyal commented on #640
@gupta2140 sir I wrote the code and committed the file. Can you please let
me know the issue with it.

On Thu, May 23, 2019, 10:19 AM Nabanita Dash <notifications@github.com>
wrote:

[2019-05-23 05:57] py93 commented on #1025
@jainaman224 I am done with C++ and Python. Just need to finish off Java implementation.
Will raise the PR by tonight.

[2019-05-23 11:06] singh-shreya6 commented on #1365
@shahkv95 I am working on it.

[2019-05-23 13:19] shahkv95 commented on #1365
Ohk thats great. I just said because its a few line of codes for every language, may be 2 to 5, and there were no updates since last 2 days.
Anyways, enjoy the task.
@singh-shreya6  @marwahmanbir @jainaman224

[2019-05-23 13:22] #1367 closed

[2019-05-23 13:27] #1351 closed

[2019-05-23 19:38] asha15 commented on #999
@rishabhgarg25699 Please assign this to me.

[2019-05-24 16:45] archi14 commented on #736
@jainaman224 can I work on this?

[2019-05-24 17:54] #1352 closed

[2019-05-24 17:57] #1260 closed

[2019-05-24 18:11] shahkv95 opened #1388 "Linear Regression using Tensorflow"
I would like to take up this algorithms coz I have already worked in this tech stack.
@jainaman224

[2019-05-24 18:12] shahkv95 opened #1389 "Logistic Regression using Tensorflow"
I would like to take up this algorithms coz I have already worked in this tech stack.
@jainaman224

[2019-05-24 18:25] archi14 commented on #706
@jainaman224 can I work on this?

[2019-05-25 16:15] jainaman224 commented on #624
@archi14 Go ahead.

[2019-05-25 16:17] jainaman224 commented on #1128
@Naba7 Go ahead.

[2019-05-25 16:18] jainaman224 commented on #1005
@shahkv95 Go ahead.

[2019-05-25 16:18] jainaman224 commented on #820
@shahkv95 Go ahead.

[2019-05-25 16:18] jainaman224 commented on #638
@shahkv95 Please complete assigned issues first.

[2019-05-25 16:19] jainaman224 commented on #1320
@shahkv95 Please complete assigned issue first.

[2019-05-25 16:19] jainaman224 commented on #1320
@divya1999ann Are you working on it?

[2019-05-25 16:20] jainaman224 commented on #1006
@shahkv95 Go ahead.

[2019-05-25 16:21] #469 closed

[2019-05-25 16:21] divya1999ann commented on #1320
Yes I am @jainaman224

[2019-05-25 16:22] jainaman224 commented on #640
@gupta2140 Please have a look.

[2019-05-25 16:24] jainaman224 commented on #999
@asha15 It is assigned to you.

[2019-05-25 16:24] jainaman224 commented on #736
@archi14 Go ahead.

[2019-05-25 16:27] jainaman224 commented on #1388
@shahkv95 First complete assigned issues.

[2019-05-25 16:27] jainaman224 commented on #1389
First complete assigned issues.

[2019-05-25 16:27] jainaman224 commented on #706
@archi14 Go ahead.

[2019-05-25 16:28] #1179 closed

[2019-05-25 16:37] #1288 closed

[2019-05-25 16:41] #1259 closed

[2019-05-25 16:42] #1280 closed

[2019-05-25 16:51] #1182 closed

[2019-05-25 16:52] #1303 closed

[2019-05-25 16:55] #999 closed

[2019-05-25 16:59] #997 closed

[2019-05-25 17:00] #1271 closed

[2019-05-25 18:01] archi14 commented on #706
@jainaman224 there is already a java one in KMP folder
https://github.com/jainaman224/Algo_Ds_Notes/blob/master/Knuth_Morris_Pratt_Algorithm/KMP.java

[2019-05-25 19:02] shahkv95 commented on #1005
@jainaman224  PR sent for A* Algorithm in C++
#1393

[2019-05-25 19:51] somya-kapoor opened #1396 "Min Cost Path in 2d-Array"
in c,c++,java and python

[2019-05-25 21:23] singh-shreya6 opened #1399 "Partial Dearrangements in C, C++, Go, Java, Python"
@rishabhgarg25699  @marwahmanbir  @jainaman224  Please assign it to me.

[2019-05-25 21:23] singh-shreya6 opened #1400 "Dearrangements using DP in C, C++, Java, Go, Python"
@rishabhgarg25699  @marwahmanbir  @jainaman224  Please assign it to me.

[2019-05-26 06:35] MastersAbh opened #1401 "Celebrity Problem in C, C++, Java, Python & Go"

[2019-05-26 06:36] MastersAbh commented on #1401
@marwahmanbir @jainaman224  @rishabhgarg25699 Please assign it to me

[2019-05-26 06:39] MastersAbh opened #1402 "Partition Problem in C, C++, Java, Python & Go"
@marwahmanbir @rishabhgarg25699 @jainaman224 please assign it to me

[2019-05-26 12:45] singh-shreya6 opened #1405 "Special Permutation in C, C++, Java, Python, Go"
@jainaman224 @marwahmanbir @rishabhgarg25699 please assign it to me.

[2019-05-26 12:46] singh-shreya6 opened #1406 "Delannoy Number in C, C++, Java, Python, Golang"
@jainaman224 @marwahmanbir @rishabhgarg25699 Please assign it to me.

[2019-05-26 14:03] HarshitaSahai commented on #159
Can I implement  Floyd Warshall Algorithm in C++?

[2019-05-26 14:09] HarshitaSahai commented on #820
Is this issue still open ? Can I work on it?

[2019-05-26 14:18] marwahmanbir commented on #820
@shahkv95 are you working on it?

[2019-05-26 14:20] marwahmanbir commented on #820
@HarshitaSahai meanwhile you can do this in Java and JavaScript.
Make sure that you do not copy the code from anywhere. We do check for plagiarism. @shahkv95 @HarshitaSahai

[2019-05-26 14:23] HarshitaSahai commented on #820
Sorry I'm not familiar with Java or JavaScript.

[2019-05-26 14:43] marwahmanbir commented on #820
You can take other issues then, or open a new one.

[2019-05-26 15:09] KaushalSahu opened #1407 "Josephus problem implementation in java"
Please assign this to me.

[2019-05-26 17:28] ShivangiSingh17 commented on #1056
@jainaman224 can you review this PR and suggest changes if any.

[2019-05-26 17:38] HarshitaSahai commented on #477
Is this issue resolved?

[2019-05-26 18:08] #1382 closed

[2019-05-26 18:10] #1365 closed

[2019-05-26 18:15] #1373 closed

[2019-05-27 12:38] Bhairavi-shah opened #1411 "Bitonic Sort in C, Python and Java"

[2019-05-27 12:38] Bhairavi-shah commented on #1411
Please assign this to me.

[2019-05-27 12:42] Bhairavi-shah opened #1412 "Postman Sort in C and Python"
Please assign this to me

[2019-05-27 14:32] dldisha opened #1413 "Skip List in C++"

[2019-05-27 16:52] singh-shreya6 opened #1418 "Jolly Jumper Sequence in C, C++, Java, Python, Go"
@marwahmanbir @jainaman224 @rishabhgarg25699  Please assign it to me.

[2019-05-27 16:54] singh-shreya6 opened #1419 "Find Bitonic Point in C, C++, Java, Go and Python"
@marwahmanbir @jainaman224 @rishabhgarg25699 please assign it to me.

[2019-05-27 17:16] MastersAbh opened #1420 "Lucas Numbers in C, C++, Java, Go and Python"

[2019-05-27 17:17] MastersAbh commented on #1420
Please assign it @jainaman224 @rishabhgarg25699

[2019-05-27 18:47] somya-kapoor opened #1421 "Program for generating all rotations of a number"
In c, c++, java .python and go

[2019-05-27 18:49] somya-kapoor commented on #1421
@marwahmanbir @jainaman224 @rishabhgarg25699 Please assign it to me.

[2019-05-27 22:03] #1378 closed

[2019-05-27 22:03] #1406 closed

[2019-05-27 22:06] #1370 closed

[2019-05-28 11:22] rishabhgarg25699 commented on #1411
@Bhairavi-shah Assigned .

[2019-05-28 11:23] rishabhgarg25699 commented on #1412
@Bhairavi-shah First do the assigned issue .

[2019-05-28 11:24] rishabhgarg25699 commented on #1418
@singh-shreya6 Assigned .

[2019-05-28 11:24] rishabhgarg25699 commented on #1419
@singh-shreya6 First do the assigned issue .

[2019-05-28 11:25] rishabhgarg25699 commented on #1420
@MastersAbh Assigned .

[2019-05-28 11:25] rishabhgarg25699 commented on #1421
@somya-kapoor Assigned .

[2019-05-28 11:30] #1402 closed

[2019-05-28 11:32] #1400 closed

[2019-05-28 11:34] #1377 closed

[2019-05-28 11:36] #1405 closed

[2019-05-28 12:21] #1298 closed

[2019-05-28 12:25] #1399 closed

[2019-05-28 14:10] somya-kapoor opened #1424 "Meta Strings"
in C,C++,java and python

[2019-05-28 14:12] somya-kapoor commented on #1424
@marwahmanbir @jainaman224 @rishabhgarg25699 Please assign it to me.

[2019-05-28 14:22] somya-kapoor opened #1426 "bitwise AND and OR of all possible sub-arrays"
in C,C++,Java,go and python
@marwahmanbir @jainaman224 @rishabhgarg25699 Please assign it to me.

[2019-05-28 18:03] MastersAbh commented on #1419
All my assigned issues are done. Please assign this to me

[2019-05-28 18:03] singh-shreya6 commented on #1419
Please assign it to me as all my issues are done

[2019-05-28 18:04] singh-shreya6 commented on #1419
@rishabhgarg25699 @marwahmanbir @jainaman224

[2019-05-28 18:22] MastersAbh opened #1429 "Generate Power Set in C, C++, Java, Go, Python"
@rishabhgarg25699 @marwahmanbir @jainaman224 Please assign it to me. My older issues are complete.

[2019-05-28 18:30] MastersAbh opened #1430 "Root mean square in C, C++, Java, Python & Go"
@rishabhgarg25699 @marwahmanbir @jainaman224 Please assign it to me. My older issues are complete.

[2019-05-28 19:17] jainaman224 commented on #706
Ohh sorry.
Thanks for having a look.

[2019-05-28 19:17] #706 closed

[2019-05-28 19:18] jainaman224 commented on #159
I think it is already implemented. Please check.

[2019-05-28 19:19] jainaman224 commented on #1056
I think your PR is closed. Please reopen it for review.

[2019-05-28 19:20] jainaman224 commented on #477
@HarshitaSahai Go ahead.

[2019-05-28 19:24] singh-shreya6 opened #1432 "Check if an array is bitonic or not in C, C++, Java, Python & Go"
@rishabhgarg25699 @marwahmanbir @jainaman224 Please assign it to me as all my previous assigned issues are done.

[2019-05-28 19:29] #520 closed

[2019-05-28 19:34] #624 closed

[2019-05-28 19:46] #1320 closed

[2019-05-28 19:52] #1421 closed

[2019-05-28 19:52] #1396 closed

[2019-05-28 19:55] #1420 closed

[2019-05-28 20:04] singh-shreya6 opened #1434 "Palindromic Array in C, C++, Java, Go and Python"
@jainaman224 @marwahmanbir  @rishabhgarg25699  Please assign this to me. There are no assigned issue to work on currently.

[2019-05-28 22:55] dldisha opened #1435 "Octree data structure in C++"

[2019-05-29 03:52] KaushalSahu opened #1437 "Implement noble integer in C, C++, Java and Python"
@jainaman224 @rishabhgarg25699 @marwahmanbir Please assign this to me.

[2019-05-29 06:30] gauravburjwal opened #1439 "Add README.md for Armstrong Number"
I'm GSSoC'19 participant.
I would like to add README.md for Armstrong Number.

[2019-05-29 14:31] #1318 closed

[2019-05-29 14:33] rishabhgarg25699 commented on #1439
@gauravburjwal  Assigned .

[2019-05-29 14:34] rishabhgarg25699 commented on #1437
@KaushalSahu Assigned .

[2019-05-29 14:39] #1264 closed

[2019-05-29 16:59] somya-kapoor opened #1442 "Markov matrix in C,C++,java ,python and go"
@jainaman224 @marwahmanbir @rishabhgarg25699 Please assign this to me.

[2019-05-29 17:20] #1407 closed

[2019-05-29 17:23] #1401 closed

[2019-05-29 17:24] #1413 closed

[2019-05-29 17:26] #1419 closed

[2019-05-29 17:28] jainaman224 commented on #1426
@marwahmanbir Please have a look at issue created by them.

[2019-05-29 17:28] #1426 closed

[2019-05-29 18:43] py93 commented on #1025
@jainaman224 Raised a PR.

[2019-05-29 22:26] somya-kapoor opened #1447 "Transpose of a matrix in C,C++,java ,python and go"
@jainaman224 @marwahmanbir @rishabhgarg25699 Please assign this to me.

[2019-05-29 22:55] somya-kapoor opened #1448 "Latin Square in C,C++,java ,python and go"
A Latin Square is a n x n grid filled by n distinct numbers each appearing exactly once in each row and column
example : Input: 3
Output:
 1 2 3
               3 1 2
               2 3 1

[2019-05-30 04:37] MastersAbh opened #1451 "Total set bits from 1 to N in C, C++, Java, Python, Go"
Please assign it to me @jainaman224 @rishabhgarg25699 @marwahmanbir

[2019-05-30 04:39] MastersAbh opened #1452 "Count total possible paths from (0,0) to (m,n) in a matrix in C, C++, Java, Go and Python"
Please assign it to me @jainaman224 @marwahmanbir @rishabhgarg25699

[2019-05-30 04:41] rishabhgarg25699 opened #1453 "Subset Sum Problem using Backtracking Algorithm."
Anyone wants to take this take this issue . This has awesome algorithm .
@MastersAbh @somya-kapoor @singh-shreya6 Anyone . But please make PR of this ASAP .

[2019-05-30 04:42] #1429 closed

[2019-05-30 04:44] #1430 closed

[2019-05-30 04:52] rishabhgarg25699 commented on #1453
You can also take reference of this video for help .
 https://www.youtube.com/watch?v=kyLxTdsT8ws&t=359s .

[2019-05-30 05:16] singh-shreya6 commented on #1453
Sure. I'll take it up. @rishabhgarg25699 Please assign it to me.

[2019-05-30 10:28] Chaitanyasuma opened #1455 "Create Readme.md for Hashing"
@jainaman224 can you please assign this to me?

[2019-05-30 17:34] rishabhgarg25699 commented on #1453
@singh-shreya6 Assigned .

[2019-05-30 18:12] #1435 closed

[2019-05-30 18:46] jainaman224 commented on #1451
Please explain.

[2019-05-30 18:47] jainaman224 commented on #1452
Please specify algorithm.

[2019-05-30 18:49] #1442 closed

[2019-05-30 18:51] MastersAbh commented on #1452
It is an implementation problem, where we need to find out total number of possible paths we can take in a grid from corner to corner, where only top and right move is allowed.
Has both recursive and DP solution, with DP solution preferred.

[2019-05-30 18:53] #1418 closed

[2019-05-30 18:54] MastersAbh commented on #1451
It is a generic question, where the task is to count total number of set bits in all numbers ranging from 1 to N. The implementation is divided into 3 parts, and uses recursive solution as well as mathematical formulas and concepts.

[2019-05-30 18:57] #1178 closed

[2019-05-30 18:58] #1324 closed

[2019-05-30 19:00] #1233 closed

[2019-05-30 19:11] MastersAbh commented on #1453
Is this issue assigned ? @jainaman224 @rishabhgarg25699

[2019-05-30 19:55] AnshitaVishwa opened #1459 "Implement bitonic point algorithm in ruby"
I would like to work on this issue.

[2019-05-30 19:56] rishabhgarg25699 commented on #1453
@MastersAbh Yes, It is assigned to @singh-shreya6

[2019-05-31 06:15] gupta2140 commented on #638
@shahkv95 any progress on the task?

[2019-05-31 11:36] gourabk121 opened #1463 "H.C.F of numbers"
I want to do thos. GSSOC19

[2019-05-31 14:48] #1451 closed

[2019-05-31 14:49] #1452 closed

[2019-05-31 15:01] #774 closed

[2019-05-31 15:04] MastersAbh commented on #1463
Hi, It is already implemented in the repo. Please find other issue.

[2019-05-31 15:51] gourabk121 opened #1467 "number of even and odd elements in an array"
I would like to do that

[2019-05-31 16:19] #1439 closed

[2019-05-31 17:12] singh-shreya6 opened #1470 "Perfect Sum Problem (Print all subsets with given sum) in C, C++, Java, Python and Go"
@rishabhgarg25699 Please assign it to me.

[2019-05-31 17:48] rishabhgarg25699 commented on #1467
@gourabk121 Assigned Please send PR ASAP.

[2019-05-31 17:49] #1470 closed

[2019-05-31 18:04] #1434 closed

[2019-05-31 18:10] #1229 closed

[2019-05-31 18:24] gourabk121 commented on #1467
@rishabhgarg25699 done

[2019-05-31 20:20] #1463 closed

[2019-05-31 20:25] #1432 closed

[2019-05-31 20:26] #1132 closed

[2019-05-31 20:30] #1459 closed

[2019-05-31 20:31] #1093 closed

[2019-05-31 20:38] #1145 closed

[2019-05-31 20:40] #1025 closed

[2019-05-31 20:41] #1437 closed

[2019-06-06 05:09] #1424 closed

[2019-06-06 05:09] #1447 closed

[2019-06-06 05:09] #1448 closed

[2019-06-24 05:45] #1014 closed

[2019-06-24 08:10] raghav-dalmia opened #1473 "Logistic Regression in Python"

[2019-08-29 09:09] pps121 commented on #1473
Is it due to have the code here?

[2019-09-21 11:57] adigeak opened #1478 "Randomized quicksort using C and C++ langauge."
@marwahmanbir I want to add c and c++ code for randomized quicksort.

[2019-09-21 12:04] adigeak commented on #1478
I want do Randomized quicksort using C first. Then C++.

[2019-09-21 15:33] marwahmanbir commented on #1478
@jainaman224 can assign you this if it's not already implemented.

[2019-09-22 18:55] adigeak opened #1479 "In quick sort Readme file updation."
@jainaman224 In the quick sort example illustration we used any number as the pivot but in the code implementation we used last number as the pivot. So We should edit the Readme file and add the example with last element as the pivot.

[2019-09-25 13:15] adigeak commented on #1478
@jainaman224 Does someone had made the solution. If not then i would like to PR. If someone had already made the solution than i will close the issue.

[2019-09-26 14:11] howar6hill opened #1480 "Bloom filter implementation in C++"
Add C++ implementation for Bloom filter.

[2019-09-26 14:15] howar6hill commented on #1480
Can I take this up ?

[2019-09-27 01:31] howar6hill commented on #1480
@jainaman224 Can I take this up ?

[2019-09-30 20:58] shubhammantri1 opened #1481 "Subarray sum in kotlin"
@jainaman224 Please assign it to me.

[2019-09-30 21:11] shubhammantri1 opened #1483 "Sum_Of-Digits in kotlin"
@jainaman224 please assign it to me.

[2019-09-30 21:17] shubhammantri1 opened #1485 "Digit_Count in Kotlin"
@jainaman224 Please assign it to me.

[2019-09-30 21:25] shubhammantri1 opened #1487 "Sum_Of_Squares in Kotlin"
@jainaman224 Please assign it to me.

[2019-10-03 05:15] rahulk16 opened #1502 "Adding more functionalities in circular linked list for C language"
I want to add the following functionalities in the current Circular_Linked_List.c for hactoberfest:-

1. Counting nodes in a circular linked list
2. Inserting a node at the front of a circular linked list
3. Deleting the last node in a circular linked list
4. Deleting the first node in a circular linked list

Please assign me this issue for HactoberFest 2019.

[2019-10-03 05:43] rahulk16 opened #1503 "Knuth Morris Pratt Algorithm (KMP) in javascript and c languages"
I want to add javascript and c implementation of KMP algorithm.
Please assign me this for HactoberFest 2019. @jainaman224

[2019-10-03 06:02] rahulk16 opened #1504 "Adding Booth’s Multiplication Algorithm"
I want to add the implementation of **Booth’s Multiplication Algorithm** in Python, Cpp, Java and C#
language.
Please assign me this for HactoberFest 2019.

[2019-10-03 06:28] rahulk16 opened #1505 "Adding Huffman Coding using C++"
I want to implement **Huffman Coding** with _C++ STL_. I will be using _priority_queue_, _vector_ and others if required.
Please assign me this issue for HactoberFest 2019. @jainaman224

[2019-10-05 01:59] cherryWood55 commented on #1479
I would like to work on this issue.

[2019-10-06 13:16] Kevingeorge101 commented on #213
Can I implement this in C?

[2019-10-06 15:18] instinxt commented on #177
Hey, i would like to contribute here , is this issue still open

[2019-10-06 17:47] instinxt commented on #1502
Is this still open i would like to contribute

[2019-10-07 10:04] #1480 closed

[2019-10-10 11:04] nitink4472 commented on #964
Is this issue still open?

[2019-10-11 09:00] Vishnupriya1507 commented on #159
@jainaman224 Can I go for Dijkstra's algorithm in C++, if it is still not resolved

[2019-10-15 12:26] anmolharsh opened #1522 "Added Huffman encoding/decoding and XOR_Doubly linkedlist"
#1499
added huffman encoding and decoding along

[2019-10-19 11:14] nandinibansal2000 opened #1525 "Gcd implementation in java"

[2019-10-20 07:24] FinalGetsugaa commented on #174
Is this issue still open to implement it in c++

[2019-10-20 08:48] FinalGetsugaa commented on #213
can it be implemented in c++

[2019-10-21 18:52] ArchitaSaima opened #1535 "Add Shortest Job First in Python"

[2019-10-22 06:31] astra-px opened #1536 "Problems based on parantheses"

[2019-12-14 08:01] MaheshPawar97 commented on #1525
Program for GCD of Two numbers?

[2020-02-19 11:16] RedEye00 opened #1547 "All Fibonacci Series Algorithm in C++"
I wanna contribute all the algorithm covered so far based on Fibonacci series related problems in c++ using recursive way, iterative way and dynamic programming.

[2020-02-20 12:05] sagnik-chatterjee opened #1548 "Prim's and Kruskal's Algorithm Implementation in C"

[2020-02-20 12:08] #1548 closed

[2020-02-20 14:02] amandhamija98 commented on #1535
Hi, I would like to work on this issue, could please tell me more about it

[2020-02-20 22:17] starwiz-7 opened #1552 "Evaluating a postfix expression in C and C++"
I would like to contribute by solving this issue.

[2020-02-21 04:32] pranesh6876 commented on #1547
Hi, I would like to work on this issue, could please tell me more about it

[2020-02-21 04:48] Tawishi commented on #1536
I would like to work on this issue. Please provide a description.

[2020-02-21 11:02] eKta37 commented on #1525
I had code for this problem.

[2020-02-21 18:12] chandrikadeb7 commented on #1552
[prog.cpp.zip](https://github.com/jainaman224/Algo_Ds_Notes/files/4237425/prog.cpp.zip)

[2020-02-22 18:34] eKta37 opened #1553 "Logarithmic_Exponent code in Java"
I would like to work on this, please assign this task to me.

[2020-02-22 18:37] eKta37 opened #1554 "Longest_Increasing_Subsequence code in Java"
@adishjain @ayushin78 @nj4710
As a GSSoC participant, I would like to work  on this, please assign this task  to me.

[2020-02-23 12:25] nikochiko opened #1556 "Add code for linear regression in C++"
Currently, only language implemented is Python.

P.S. I would like to work on this.

[2020-02-23 12:25] nikochiko opened #1557 "Add description for Linear Regression"

[2020-02-23 12:32] nikochiko opened #1558 "Add gradient descent implementation and description"
Add description for gradient descent: batch gradient descent and stochastic gradient descent.
Optionally, also add details about mini-batch GD.

[2020-02-23 12:45] nikochiko opened #1559 "Implement linear regression using the normal equation"
Use the closed-form equation for linear regression (https://www.geeksforgeeks.org/ml-normal-equation-in-linear-regression/)

[2020-02-23 13:15] HariniJeyaraman commented on #1536
Would checking for balanced parantheses problem fall under this category ? I can implement this code in C++ and Java.
Please provide a detailed description. Interested in working on this issue

[2020-02-23 13:23] HariniJeyaraman commented on #1552
I would love to contribute to this issue. Please find the code in C for evaluating postfix expression.
[Postfix _Evaluation.zip](https://github.com/jainaman224/Algo_Ds_Notes/files/4241284/Postfix._Evaluation.zip)

[2020-02-23 18:02] navi532 commented on #1547
I want to work on this issue. Tell us more about it

[2020-02-24 10:17] aadhar54 commented on #1525
I would like to work on this issue. Please assign it to me .

[2020-02-24 10:19] aadhar54 commented on #996
I would like to work on this issue. Please assign it to me for GSSOC 2020

[2020-02-24 10:21] aadhar54 commented on #639
I would like to work on this issue. Please assign it to me for GSSOC 2020.

[2020-02-24 10:22] aadhar54 commented on #1056
I would like to work on this issue. Please assign it to me for GSSOC 2020

[2020-02-24 10:25] aadhar54 commented on #1479
I would like to work on this issue. Please assign it to me for GSSOC 2020

[2020-02-24 10:29] aadhar54 commented on #1467
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:29] aadhar54 commented on #1411
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:30] aadhar54 commented on #1161
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:30] aadhar54 commented on #816
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:31] aadhar54 commented on #807
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:31] aadhar54 commented on #820
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:32] aadhar54 commented on #851
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:32] aadhar54 commented on #675
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 10:33] aadhar54 commented on #521
I would like to work on this issue. Please assign it to me for Java .

[2020-02-24 11:54] abhinashgiri commented on #996
I would like to contribute to this issue. May I , please?

[2020-02-24 12:04] abhinashgiri commented on #177
I want to contribute to this as part of GSSOC 20. May I, please?

[2020-02-24 12:09] SubhradeepSS commented on #1505
@jainaman224 I would like to work on this issue for gssoc'20

[2020-02-24 12:10] SubhradeepSS commented on #1478
@jainaman224 would like to solve the issue for gssoc'20

[2020-02-24 12:53] biekymahato commented on #1547
Hello Everyone, I want to Work on this issue and contribute in all possible ways.

[2020-02-24 14:13] biekymahato opened #1562 "Implementation of all C++ Standard Template Library (STL)"
The Standard Template Library (STL) is a set of C++ template classes to provide common programming data structures and functions such as lists, stacks, arrays, etc. It is a library of container classes, algorithms, and iterators. It is a generalized library and so, its components are parameterized. Working knowledge of template classes is a prerequisite for working with STL.

**This help for newbi

[2020-02-24 16:42] raksha009 commented on #1525
Hi! I would like to work on this issue and implement its code in various different time complexities.

[2020-02-24 16:45] raksha009 commented on #1467
Hi! I want to work on this issue and implement it in python, java , c and c++.

[2020-02-24 16:50] raksha009 commented on #1487
Hi! I wanna work on it. Plz assign this issue to me.

[2020-02-24 16:50] raksha009 commented on #1485
Hi! I wanna work on it. Plz assign this issue to me.

[2020-02-24 16:50] raksha009 commented on #1483
Hi! I wanna work on it. Plz assign this issue to me.

[2020-02-24 17:08] DawoodBhai420 commented on #1562
I want to work on this issue as a part of GSSoC'20.

[2020-02-24 17:13] mansikagrawal commented on #675
Can you assign me this issue?
I would love to work for c,c++ and java.

[2020-02-24 18:44] shubhammantri1 commented on #1483
Sorry, @raksha009 and @jainaman224 For messing up things. I already created PR:
Here is link
https://github.com/jainaman224/Algo_Ds_Notes/pull/1484

[2020-02-24 18:46] shubhammantri1 commented on #1487
Sorry, @raksha009 and @jainaman224 For messing up things. I already created PR:
Here is link
https://github.com/jainaman224/Algo_Ds_Notes/pull/1488

[2020-02-24 18:47] shubhammantri1 commented on #1485
Sorry, @raksha009 and @jainaman224 For messing up things. I already created PR:
Here is link
https://github.com/jainaman224/Algo_Ds_Notes/pull/1486

[2020-02-24 20:18] HardevKhandhar commented on #1557
I would like to take up this issue & solve it. Kindly assign it to me for GSSoC' 2020

[2020-02-24 20:22] HardevKhandhar commented on #1556
I am a GSSoC'2020 participant. I would like to work on this.

[2020-02-24 20:23] HardevKhandhar commented on #1552
I would like to contribute to this issue for GSSoC'20

[2020-02-24 20:24] HardevKhandhar commented on #1502
I would like to contribute to this issue for GSSoC'2020. Kindly assign this issue to me

[2020-02-24 20:26] HardevKhandhar commented on #1137
Is the issue still open ? I would like to contribute to this issue for GSSoC'2020

[2020-02-24 20:26] HardevKhandhar commented on #464
I would like to work on this issue for GSSoC'2020

[2020-02-24 20:33] HardevKhandhar commented on #174
Is the issue still open. I would like to take up for GSSoC'2020

[2020-02-25 02:15] suyashgautam commented on #1562
I want to work on this issue as a part of GSSoC'20

[2020-02-25 02:16] suyashgautam commented on #1389
I want to work on this issue

[2020-02-25 02:16] suyashgautam commented on #1388
I want to work on this issue

[2020-02-25 02:20] suyashgautam commented on #1412
Please assign this to me

[2020-02-25 02:41] suyashgautam commented on #1505
I would like to work on this issue i have already implemented this algorithm in one of the contest

[2020-02-25 02:53] lakshyajit165 commented on #1479
I would like to work on this issue.

[2020-02-25 02:55] lakshyajit165 opened #1563 "Adding test cases for the algorithms"
Since the repo contains so many algorithms, it would be nice to have test cases to test them out. They will also help in finding the edge cases(in case any algorithm is failing). I suggest we can attempt and start with languages like java, c++ and python for a start.

[2020-02-25 02:56] lakshyajit165 commented on #1562
I would like to contribute to this issue.

[2020-02-25 03:11] #1137 closed

[2020-02-25 03:27] darkdebo opened #1564 "Creation of Armstrong number implementation in ruby"
There is no implementation of Armstrong number in ruby. So  I want to create a ruby implementation of this problem.

[2020-02-25 05:09] shreyasrivastava936 commented on #1554
Hi, I would like to work on this issue, Please assign this task to me

[2020-02-25 05:10] shreyasrivastava936 commented on #1525
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:13] shreyasrivastava936 commented on #1553
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:15] shreyasrivastava936 commented on #1536
Hi! I would like to work on this issue. please provide a description .I can implement the code in C++ and Java.

[2020-02-25 05:17] shreyasrivastava936 commented on #1479
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:18] shreyasrivastava936 commented on #1481
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:19] shreyasrivastava936 commented on #1504
Hi! I would like to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-25 05:21] shreyasrivastava936 commented on #1503
Hi! I would like to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-25 05:22] shreyasrivastava936 commented on #1467
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:23] shreyasrivastava936 commented on #1455
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:28] shreyasrivastava936 commented on #1453
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:29] shreyasrivastava936 commented on #1411
Hi! I would like to work on this issue. please assign this task to me. I can implement the code in all three languages C, Python and Java.

[2020-02-25 05:30] shreyasrivastava936 commented on #1246
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:32] shreyasrivastava936 commented on #1161
Hi! I would like to work on this issue. please assign this task to me. I can implement the code in C++ & Java.

[2020-02-25 05:38] shreyasrivastava936 commented on #1056
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:38] shreyasrivastava936 commented on #1041
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:39] shreyasrivastava936 commented on #1038
Hi! I would like to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-25 05:39] shreyasrivastava936 commented on #1039
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:40] shreyasrivastava936 commented on #1074
Hi! I would like to work on this issue. please assign this task to me.

[2020-02-25 05:42] shreyasrivastava936 commented on #947
Hi! I would like to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-25 06:48] HardevKhandhar opened #1565 "Circular-Doubly-Linked-List"
I would like to create a dynamic menu driven program for Circular Doubly Linked List in C++ for GSSoC'2020. Please assign this task to me.

[2020-02-25 07:25] diksha-dutt08 commented on #1535
I want to work on this issue.

[2020-02-25 07:35] diksha-dutt08 commented on #1479
I would like to work on this issue.

[2020-02-25 08:24] raksha009 commented on #1563
Yepp.. nice idea. Even I wanna work on this issue.

[2020-02-25 08:31] abhu-A-J opened #1567 "Writing prime number algorithm in JS"
@raghav-dalmia I am a participant in GSSoC, and I would like to work on the implementation of a prime number in JS.

[2020-02-25 08:34] abhu-A-J opened #1568 "Updating the Quick Sort implementation ."
@raghav-dalmia I am a participant in GSSoC, and I would like to work on the implementation of a quick sort algorithm in JS. The current approach uses ES5 syntax and would like to update to ES6  and use a recursive definition as well for its implementation using a functional programming approach.

[2020-02-25 08:58] aditi-2405 commented on #1467
Heyy.I want to work on this.Please assign it to me.

[2020-02-25 12:06] shwetagurnani opened #1569 "Anagram program using one hash table instead of two hash table since it will improve memory complexity"

[2020-02-25 12:59] chandrikadeb7 opened #1570 "Egg_Drop program implementation in C#"
Please assign this issue to me. I want to work on the implementation of egg dropping puzzle code in **C#** language.

[2020-02-25 15:06] sandhyabhan commented on #960
I would like to work on this issue..please assign this to me.

[2020-02-25 15:40] mruna7 commented on #851
i woud love to work on this issue .please assign it to me for java

[2020-02-25 15:42] mruna7 commented on #865
can we work on it?

[2020-02-25 18:17] HardevKhandhar opened #1571 "Add README.md file for Fibonacci_Number"
I would like to contribute to GSSoC'2020 by making & adding a README.md file for given program

[2020-02-25 18:19] eaglewarrior opened #1572 "I would like to contribute to GSSoC'2020 by Writing Armstrong_Number code in Go"

[2020-02-25 18:20] eaglewarrior opened #1573 "I would like to contribute to GSSoC'2020 by writing the Transformation of all 1-D_Array programs in GO"

[2020-02-25 18:23] eaglewarrior opened #1574 "I would like to contribute to GSSOC 20 by writing Array_Rotation in go"

[2020-02-25 19:43] nikkkhil067 opened #1575 "I would like to work on linked lists, queue and stack data structures"

[2020-02-25 20:20] Shiv1202 opened #1576 "I would like to work on Minimum insertion in string to make palindrome using DP."

[2020-02-26 03:37] shreyasrivastava936 commented on #1565
Hi! I want to work on this program for C++ and Java . please assign this task to me fo GSSoC'20.

[2020-02-26 03:38] shreyasrivastava936 commented on #1569
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 03:38] shreyasrivastava936 commented on #1569
I can implement it in java

[2020-02-26 03:40] shreyasrivastava936 commented on #152
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 03:40] shreyasrivastava936 commented on #152
I can do the same in java

[2020-02-26 03:42] shreyasrivastava936 commented on #464
Hi! I want to work on this issue in Java. please assign this task to me fo GSSoC'20.

[2020-02-26 03:43] shreyasrivastava936 commented on #521
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 03:44] shreyasrivastava936 commented on #488
Hi! I want to work on this problem in Java. please assign this task to me for GSSoC'20.

[2020-02-26 03:45] shreyasrivastava936 commented on #477
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 03:46] shreyasrivastava936 commented on #371
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 03:47] shreyasrivastava936 commented on #341
Hi! I want to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-26 03:48] shreyasrivastava936 commented on #290
Hi! I want to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-26 03:48] shreyasrivastava936 commented on #280
Hi! I want to work on this issue in java. please assign this task to me for GSSoC'20.

[2020-02-26 03:51] shreyasrivastava936 commented on #174
Hi! I want to work on this issue in java. please assign this task to me for GSSoC'20.

[2020-02-26 03:52] shreyasrivastava936 commented on #851
Hi! I want to work on this issue for java. please assign this task to me for GSSoC'20.

[2020-02-26 03:55] shreyasrivastava936 commented on #905
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 03:56] shreyasrivastava936 commented on #865
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 03:57] shreyasrivastava936 commented on #816
Hi! I want to work on this issue . please assign this task to me for GSSoC'20.

[2020-02-26 03:58] shreyasrivastava936 commented on #820
Hi! I want to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-26 03:59] shreyasrivastava936 commented on #762
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 04:00] shreyasrivastava936 commented on #675
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 04:01] shreyasrivastava936 commented on #640
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 04:01] shreyasrivastava936 commented on #639
Hi! I want to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-26 04:02] shreyasrivastava936 commented on #638
Hi! I want to work on this issue. please assign this task to me for GSSoC'20.

[2020-02-26 04:04] shreyasrivastava936 commented on #564
Hi! I want to work on this issue in Java. please assign this task to me for GSSoC'20.

[2020-02-26 04:38] AkanshaKamboj opened #1577 "Top View, Left View, Right View, Bottom View of Binary Tree in C, Java, Python language"
I would like to contribute on this

[2020-02-26 04:39] AkanshaKamboj opened #1578 "Linked List MergeSort in C, C++, Java, Python"
I would like to contribute on this issue.

[2020-02-26 10:16] shreyasrivastava936 commented on #1577
I would like to do the same in Java for GSSoC'20

[2020-02-26 10:17] shreyasrivastava936 commented on #1576
I would like to do the same in Java for GSSoC'20

[2020-02-26 10:18] shreyasrivastava936 commented on #1574
I would like to do the same in Java for GSSoC'20

[2020-02-26 10:19] shreyasrivastava936 commented on #1570
I would like to do the same in Java for GSSoC'20

[2020-02-26 12:54] Samriddhi25 commented on #1567
I would like to take on this issue.

[2020-02-26 12:55] Samriddhi25 commented on #1572
I would like to take on this issue.

[2020-02-26 12:57] Samriddhi25 commented on #1487
I would like to take on this issue.

[2020-02-26 12:58] Samriddhi25 commented on #1483
I would like to take on this issue.

[2020-02-26 13:23] VIJAY07102 commented on #1017
As, a beginner, I would like take up this issue and solve it. Can you assign this issue to me

[2020-02-26 13:26] VIJAY07102 commented on #970
Can you assign this issue to me?
I would like solve this.

[2020-02-26 13:28] Manish-cloud commented on #1569
I want to work on this issue using python programming language for GSSoC'20.

[2020-02-26 13:37] AkanshaKamboj commented on #1578
For GSSoC20

[2020-02-26 13:38] pps121 commented on #1571
- ### **Fibonacci Number:**
In mathematics, the Fibonacci numbers are the numbers follow a particular sequence, called the Fibonacci sequence where every number after the initial two is the sum of its two preceding numbers:

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...

- ### **Sequence properties:**
We can define the fibonacci number using following recurrence relation:
F(n−2)=F(n)−F(n-1) or

[2020-02-26 13:51] rudrakshi99 commented on #1562
I want to work on this issue as a part of GSSoC'20.

[2020-02-26 15:14] jainaman224 commented on #1562
@DawoodBhai420 go ahead.

[2020-02-26 15:32] lakshyajit165 opened #1579 "Implementing switch case statement for Linked List operations"
I went through the linked list code, and found that all the functions are called one after the other. It would be better to add a switch case statement to implement the functions as per user demand/order. I would like to implement the code for this.

[2020-02-26 16:48] jainaman224 commented on #1579
We are not currently working with programs that takes user input. I am trying to create a framework for testing. We might be able to do so in future. For now, let's close this issue.

[2020-02-26 16:48] #1579 closed

[2020-02-26 16:54] lakshyajit165 opened #1581 "Adding python implementation of karatsuba multiplication along with readme"
Karatsuba multiplication is a technique to multiply large numbers efficiently(it does simple multiplication too, ofcourse). I think we could implement it in python and add an explanation along with it(may be in the form of a readme file), so that it would be helpful for everyone.

[2020-02-26 16:57] jainaman224 commented on #1563
Great idea, it is in the pipeline, but I am looking for generic framework to test files out. If you have any idea, please let me know.
Integrating with travis etc would be a perfect solution.

[2020-02-26 16:58] jainaman224 commented on #1581
Go ahead.

[2020-02-26 17:03] lakshyajit165 commented on #1563
I see. I will be on researching on this and will let you know on this and how can we implement it better :)

[2020-02-26 17:47] asha15 commented on #1578
@AkanshaKamboj  Go ahead

[2020-02-26 17:53] asha15 commented on #1576
@Shiv1202  Go ahead

[2020-02-26 17:54] asha15 commented on #1576
@shreyasrivastava936  Create a new issue for it, so i can assign it to you

[2020-02-26 17:57] asha15 commented on #1574
@eaglewarrior Go ahead

[2020-02-26 18:02] asha15 commented on #1572
@eaglewarrior Start to work on it

[2020-02-26 18:06] asha15 commented on #1571
@HardevKhandhar The file should contain the following:

-  Explanation
-  Algorithm
-   Pseudocode
-   Example
-   Time Complexity

Also add images/GIFs to explain if possible. All the best

[2020-02-26 18:09] asha15 commented on #1570
@chandrikadeb7  Go for it

[2020-02-26 18:11] asha15 commented on #1567
@abhu-A-J  Go for it

[2020-02-26 18:15] asha15 commented on #1565
@HardevKhandhar Go for it

[2020-02-26 18:17] BALaka-18 opened #1582 "Wish to add to Machine Learning/Linear Regression"
Linear Regression is a simple algorithm which, if not understood from the basics, turns out to be difficult. I want to contribute to this file by implementing the algorithm from scratch and visualize the best fit curve on a toy dataset based on the scratch algorithm, using matplotlib.
Also, wish to add a README file.

[2020-02-26 18:22] BALaka-18 opened #1583 "Wish to add Python based scratch implementations of PCA, Decision Tree and KNN algorithms to Algo_Ds_Notes/Machine Learning"
I wish to contribute the following:
1. Implementing Principal Component Analysis(PCA) from scratch
2. Implementing Decision Tree algorithm(finding best split based on entropy and Gini indexing) from scratch
3. Implementing K Nearest Neighbors(KNN) algorithm from scratch
I will also add proper visualization(if needed), documentation, code comments to explain logic.
Will also add README files

[2020-02-26 18:34] biekymahato commented on #1562
Hello @jainaman224
    I want to work on it. As I created this issue because I have  knowledge about it,

[2020-02-26 18:52] biekymahato commented on #1575
I want to work on this issue as a part of GSSoC'20.

[2020-02-26 18:57] biekymahato opened #1584 "Various types of past Coding and technical round question."

[2020-02-26 19:13] biekymahato commented on #1584
As a part of Gssoc'20, I want to work on it.

[2020-02-26 19:29] biekymahato commented on #1584
As a part of Gssoc'20, I want to work on it.

[2020-02-26 19:59] chandrikadeb7 commented on #1570
Pull request done.

[2020-02-26 20:54] raghav-dalmia commented on #1573
@eaglewarrior Can you be more specific and list down those transformations?

[2020-02-26 20:58] raghav-dalmia commented on #1582
@BALaka-18 we already have Linear regression implemented in python. You can choose any other language for the same. I am closing this issue, you can reopen it if you would like to.

[2020-02-26 20:58] #1582 closed

[2020-02-26 21:03] raghav-dalmia commented on #1583
start working on it!!

[2020-02-26 21:05] raghav-dalmia commented on #1568
Sure!!

[2020-02-26 21:08] raghav-dalmia commented on #1558
you can start implementing it.

[2020-02-27 02:04] Manish-cloud opened #1586 "AVL Tree implementation in C++"
I have checked folder of Algo_Ds_Notes/AVL_Tree/ in which AVL Tree implementation in C++ was not found . So, I would like to work on it.

[2020-02-27 04:28] suyashgautam commented on #1006
I want to work on this issue for GsSoc2020

[2020-02-27 04:29] suyashgautam commented on #736
I want to work on this for GSSoc 2020

[2020-02-27 04:30] suyashgautam commented on #1005
I want to work on this issue for GSSOC2020

[2020-02-27 04:30] suyashgautam commented on #1586
I want to work on this issue for GSSOC2020

[2020-02-27 04:38] vipinmankar opened #1587 "AVL_TREE IN CPP"

[2020-02-27 04:56] #1587 closed

[2020-02-27 05:02] vipinmankar opened #1588 "B AND B+TREE IN CPP"

[2020-02-27 05:06] vipinmankar opened #1589 "Stack using linklist in java"

[2020-02-27 05:07] vipinmankar opened #1590 "M way tree in cpp"

[2020-02-27 06:03] shreyasrivastava936 opened #1591 "Rock, Scissors, Paper problem using 3D DP in Java"
I wouls like to contribute to this problem.

[2020-02-27 06:04] shreyasrivastava936 commented on #1591
would*

[2020-02-27 06:10] shreyasrivastava936 opened #1592 "Mixtures Problem using DP in Java"
Problem: to combine all n types of mixtures in such a way that total smoke generated is minimum .
smoke generated by two mixture a, b can be calculated as a*b. we can combine only two consecutive mixture at a time and after combination total amount of in one bag will be 0 and in other will be a+b.
I would like to contribute to this problem.

[2020-02-27 06:11] shreyasrivastava936 commented on #1592
for GSSoC'20

[2020-02-27 06:14] shreyasrivastava936 opened #1593 "Problems Based on DP with Bitmasking in Java"
Problems: Diwali Puzzle (3D DP)
                 Shop Trip
I would like to contribute to this problem for GSSoC'20.

[2020-02-27 06:16] shreyasrivastava936 commented on #1576
@asha15 okay

[2020-02-27 06:17] shreyasrivastava936 opened #1594 "Minimum insertion in string to make palindrome using DP in Java."
I would like to contribute to this problem for GSSoC'20.

[2020-02-27 06:20] shreyasrivastava936 opened #1595 "Optimal Game Strategy using DP"
problem is to select any one number from start or end so that person A will win. two person A, B is playing the game and both are equally smart.
I would like to contribute to this problem for GSSoC'20.

[2020-02-27 06:39] shreyasrivastava936 opened #1596 "Subset of String using Bitmasking"
I would like to contribute to this problem for GSSoC'20.

[2020-02-27 06:40] shreyasrivastava936 opened #1597 "Backtracking using Bitmasking"
I would like to contribute to this problem for GSSoC'20.

[2020-02-27 06:42] chandrikadeb7 opened #1598 "Minesweeper algorithm implementation in C++"
I would like to make a PR on the implementation of minesweeper algorithm in C++ for GSSoC'20.

[2020-02-27 07:58] chanpreet1999 opened #1599 "Program to find if a No. is a power of any Given No. in Java"
I would like to add a program which tells if a number is power of any other given number
**Time Complexity - O(1)**

[2020-02-27 08:01] chanpreet1999 opened #1600 "Convert a given array to Wave array Java"
A wave array is of the form a1<a2>a3<a4>a5
I wish to implement this is java

[2020-02-27 08:04] chanpreet1999 opened #1601 "Frequency of all elements in an array Java"
Count the frequency of each element in the array
**Time Complexity O(n)
Auxiliary Space O(n)**

[2020-02-27 08:09] chanpreet1999 opened #1602 "Majority Element in an array Java Improvement"
I would like to improve the existing code for finding majority element in an array

Current solution
Time complexity - O(n)
Auxiliary Space - **O(n)**

My Solution's
Time Complexity - O(n)
Auxiliary Space - **O(1)**

[2020-02-27 08:12] chanpreet1999 opened #1603 "Add Marix Operations in Java"
I would like to add a folder for Matrix Operations in java, which is currently missing

[2020-02-27 08:38] chanpreet1999 opened #1604 "Chocolate Distribution Problem Java"
I want to add the implementation of chocolate distribution problem in Java.

[2020-02-27 08:58] afroz23 opened #1605 "Calculating Large Number Factorial"
I can code to find the Large Number Factorial in C and C++ --

Example:-
Input :  n=25
Output : Factorial of n = 15511210043330985984000000

[2020-02-27 09:00] afroz23 commented on #1605
I want to work on this issue. Please assign it to me.

[2020-02-27 09:04] AkanshaKamboj commented on #1577
The same has been contributed in c++, java, Python language. I will add the codes in C and will try to add it in any other language.

[2020-02-27 09:19] #1589 closed

[2020-02-27 09:20] vipinmankar commented on #1589
I have more than two issue

[2020-02-27 09:20] Bhavyaa08 commented on #1605
I can implement this in java.

[2020-02-27 09:22] Bhavyaa08 commented on #1601
I can implement this in java.
Time complexity: O(n)
Space complexity: O(n)

[2020-02-27 09:27] ishaan2908 commented on #1601
This can be done easily using a HashMap in JAVA. Can I do this?

[2020-02-27 09:33] raghav-dalmia commented on #1601
@Bhavyaa08 @ishaan2908, you can choose any other language.

[2020-02-27 09:34] raghav-dalmia commented on #1605
@Bhavyaa08 you can choose any other language.

[2020-02-27 09:47] ishaan2908 commented on #1601
@raghav-dalmia I can do this in Python too.

[2020-02-27 09:47] raghav-dalmia commented on #1577
@AkanshaKamboj sure go ahead with top, right, bottom view. The left view is already implemented in C.

[2020-02-27 09:48] raghav-dalmia commented on #1577
@shreyasrivastava936 you can implement top view in JAVA.

[2020-02-27 09:58] ishaan2908 opened #1606 "Find Start of a Loop in a Linked List JAVA"
This will be done using hare and tortoise approach.

[2020-02-27 10:00] raghav-dalmia commented on #1557
@nikochiko You have currently 2 active issues, so I am assigning it to @HardevKhandhar.

[2020-02-27 10:41] asha15 commented on #1562
@jainaman224  @biekymahato was created this issue, so i think it's better to assign this to him

[2020-02-27 11:17] shreyasrivastava936 commented on #1605
I can do the same in python

[2020-02-27 11:38] shreyasrivastava936 opened #1607 "Spiral Array"
Spiral Array Algorithm traverses an array in a spiral order. I would like to implement it in java. It has implementation in C only.

[2020-02-27 11:44] amoghjalan commented on #1607
I would like to implement it in C++.

[2020-02-27 11:52] amoghjalan opened #1608 "Matrix search - C"
Currently there is no program to implement matrix search in code except BFS. I would like to work to add it's programs in C, C++ and python to implement it in O(n).

[2020-02-27 12:14] JanaSabuj opened #1609 "Adding Fibonacci Numbers in JS."

[2020-02-27 12:14] JanaSabuj commented on #1609
I would like to consolidate this repo by adding JS codes. I can start with fibonacci in JS.

[2020-02-27 12:17] JanaSabuj opened #1610 "Sum of Digits in JS."
I would like to implement this problem in JavaScript. (GSSoc20)

[2020-02-27 12:18] Angshuman032001 commented on #1588
I want to work on this issue as a part of GSSoC 2020.

[2020-02-27 12:18] Angshuman032001 commented on #1588
Would you please assign it to me.

[2020-02-27 12:19] Harikrishnan6336 opened #1611 "To add a new folder for Stooge sort in C++"

[2020-02-27 12:54] Harikrishnan6336 opened #1612 "Add Z_algorithm in C# language"

[2020-02-27 13:05] Angshuman032001 opened #1613 "I would like to implement the GCD code for c and c++"

[2020-02-27 13:05] Angshuman032001 commented on #1613
please assign the above mentioned issue to me for the program of GSSoC 2020

[2020-02-27 13:22] meghanagottapu commented on #1586
I want to work on this issue for GSSoC-2020

[2020-02-27 13:34] Manish-cloud opened #1615 "Kruskal's Algorithm implementation in python"
I have checked folder of Algo_Ds_Notes/Kruskal_Algorithm/ in which Kruskal Algorithm implementation in python3 was not found . So, I would like to work on it.

[2020-02-27 13:46] vipinmankar commented on #1588
Sorry but i have already started working on this issue. But as i am using
cpp you can take another programming language with which you are familiar
for the same issues

On Thu, 27 Feb, 2020, 5:48 PM Angshuman Bhowmik, <notifications@github.com>
wrote:

[2020-02-27 14:11] Angshuman032001 commented on #1588
Ok, no problem

[2020-02-27 14:12] Angshuman032001 commented on #1588
Ok, no problem

[2020-02-27 14:16] akhileshsantoshwar commented on #1547
I want to work on this issue as a part of GSSoC. Please assign me this issue.

[2020-02-27 14:19] akhileshsantoshwar commented on #1467
I want to work on this issue. Please assign me this as a part of GSSoC 2020

[2020-02-27 14:20] akhileshsantoshwar commented on #1613
I would like to work on this. Please assign me this issue as a part of GSSoC 2020

[2020-02-27 14:20] chandrikadeb7 commented on #1601
Can I do the same in C?

[2020-02-27 14:28] abhinashgiri commented on #1610
I would love to work on this as a part of GSSoc 20. Please assign me if possible.

[2020-02-27 14:33] abhinashgiri commented on #928
I would like to work on this as part of GSSoC 20, Please.

[2020-02-27 14:33] abhinashgiri commented on #928
I would like to work on this as part of GSSoC 20, Please.

[2020-02-27 14:39] abhinashgiri commented on #521
I would like to work on this in c++ as a part of GSSoC 20 , may I, please.

[2020-02-27 14:40] akhileshsantoshwar commented on #1588
I would like to work on this issue as a part of GSSoC 2020. Please assign me this issue.

[2020-02-27 14:41] akhileshsantoshwar commented on #1535
I would like to work on this issue as a part of GSSoC 2020. Please assign me this issue.

[2020-02-27 14:50] chandrikadeb7 commented on #1605
I can do this in C#.

[2020-02-27 14:51] LovepreetSingh12 commented on #1613
I want to implement this in JAVA as a part of GSSoC 2020.

[2020-02-27 14:55] Manas2520 commented on #1613
I want to implement this in Python 3 as a participant of GSSoC 2020.

[2020-02-27 14:59] Manas2520 commented on #1604
I would like to give Chocolate Distribution Problem a try in C++

[2020-02-27 15:05] LovepreetSingh12 commented on #964
I would like to contribute in this issue in JAVA as a part of GSSoC 2020..

[2020-02-27 15:08] abhinashgiri commented on #964
I want to code in Python 3 as a part of GSSoC 20.

[2020-02-27 15:09] Manas2520 commented on #964
Can I try to resolve this issue in C++?

[2020-02-27 15:09] vipinmankar commented on #1588
Sorry but i have already started working on this issue. But as i am using
cpp you can take another programming language with which you are familiar
for the same issues

On Thu, 27 Feb, 2020, 8:10 PM Akhilesh Santoshwar, <notifications@github.com>
wrote:

[2020-02-27 15:16] LovepreetSingh12 commented on #1603
I would like to work on this issue as a part of GSSOC 20.

[2020-02-27 15:51] pavansai1 commented on #1503
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:51] pavansai1 commented on #1478
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:51] pavansai1 commented on #1412
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:52] pavansai1 commented on #1139
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:53] pavansai1 commented on #1074
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:53] pavansai1 commented on #1005
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:53] pavansai1 commented on #1003
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:54] pavansai1 commented on #905
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:54] pavansai1 commented on #851
I would like to pick up this as a part of GSScC'20

[2020-02-27 18:06] eaglewarrior commented on #1572
@asha15  can you please assign me this issue

[2020-02-27 18:08] eaglewarrior commented on #1573
@raghav-dalmia  I can write code on both left and right rotation Please assign me this issue

[2020-02-27 18:19] satvikchachra opened #1617 "BFS for Disconnected Graph in Java"
@singh-shreya6 @raghav-dalmia I am a GSSoC 2020 participant.
Implemented using HashMap.
Please assign me with this issue.

[2020-02-27 18:19] SaranshDawra opened #1618 "Infix to Postfix in JAVA"
Implement using stack.
@raghav-dalmia @asha15 @singh-shreya6 I am a GSSoC20 participant. Please assign me with this issue.

[2020-02-27 18:26] yuktirapartiwar opened #1619 "Simpsons rule implementation in c++ and java"
I want to work on this issue for GSSOC 2020

[2020-02-27 19:08] RiaJha02 commented on #1597
Hello, I would like to try this!

[2020-02-27 19:42] RiaJha02 commented on #1597
The N-Queen problem can be solved using backtracking and bit masking, this is an optimised approach than the normal backtracking approach. In this case, we don’t need to write a function which works in linear time for finding the correct placing of the queen in each case basically the safe place, instead we use bitsets which work in O(1) time. For rows and columns a simple array can be maintained

[2020-02-27 19:55] RiaJha02 commented on #1610
Approach1: Take the number as the string and then split it. Now, we will create an array wherein we'll be getting the digits since we need to use the reduce() method which will further execute a reducer function to provide an answer in a single value.
Approach2: Take the number and a result variable (initialised it with zero) to store the answer. Now take the remainder of 10 with the number and ad

[2020-02-27 20:34] Angshuman032001 commented on #1613
I have already started working on this issue. So it would be better if you start working on some other issue.

[2020-02-27 21:05] Angshuman032001 opened #1621 "Add Balanced parentheses problem to the project in c, c++ and java"
I would like to add the balanced parentheses problem to this project in c and c++ .

[2020-02-27 21:06] Angshuman032001 commented on #1621
Please assign this issue to me as a part of GSSoC 2020

[2020-02-28 04:58] Nandini9634 commented on #1575
I would like to work on this issue.

[2020-02-28 05:57] biekymahato opened #1622 "In Dynamic Programming Implementation of Optimal Strategy for a game."
**Very important! Dynamic programming is a basic algorithm design technique, mostly used in optimization problems. You may need it whenever there is a problem asking you to calculate the optimal value or to count a number of ways to do a particular task etc.
Dynamic Programming divided into Several parts one of it is -
----Optimal Strategy for a Game-----
it's having many sets in this repo we are

[2020-02-28 05:59] biekymahato commented on #1622
As Part of Gssoc'20, I want to work on it.
it is a unique algorithm in Dynamic programming.
So Assign to me
@jainaman224 @asha15

[2020-02-28 06:10] asha15 commented on #1622
@biekymahato  which language you are using to implement this ?

[2020-02-28 06:12] asha15 commented on #1562
@biekymahato  start to work on the issue. All the best

[2020-02-28 06:15] biekymahato commented on #1622
@asha15 I know in c++ and java also.

[2020-02-28 06:16] asha15 commented on #1622
@biekymahato  ok, go for it

[2020-02-28 06:21] asha15 opened #1623 "AVL Tree class in Javascript"
Add your implementation for  AVL Tree in JavaScript

[2020-02-28 06:25] asha15 opened #1624 "Armstrong number in Golang"
Add your implementation for Armstrong number in Golang

[2020-02-28 06:32] asha15 opened #1625 "Add README.md for Array_Rotation"
The file should contain the following:

 - Explanation
 -  Algorithm
  - Pseudocode
  - Example
  -  Time Complexity

Also add images/GIFs to explain if possible.

[2020-02-28 06:46] biekymahato commented on #1625
@asha15 I want to work on it as a part of Gssoc20

[2020-02-28 09:30] SimranMakhija7 commented on #1625
@asha15
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-28 09:37] SimranMakhija7 opened #1626 "Add code for GCD using Euclidian algorithm in JavaScript"
I would like to add the code for GCD in other languages as it is only present in python right now.

[2020-02-28 09:40] Angshuman032001 commented on #1624
I want to work on this issue. Can you please assign it to me.

[2020-02-28 09:40] singh-shreya6 commented on #1604
Sure @chanpreet1999. Go ahead.

[2020-02-28 09:42] singh-shreya6 commented on #1604
@Manas2520 It is already implemented in C++. Please select some other language or issue.

[2020-02-28 09:42] SimranMakhija7 commented on #1626
I would like to do this as a part of GSSoC 2020

[2020-02-28 09:46] SimranMakhija7 opened #1627 "Add Readme.md for Tree Traversals"
I would like to add Readme.md for the 4 tree traversal algorithms as a part of GSSoC 2020

[2020-02-28 09:46] Neelaksh-Singh commented on #1625
I would also like to work on it as a part of GGSoC ' 20.

[2020-02-28 09:48] SimranMakhija7 commented on #1626
Just realized code is present under Euclidian Algorithm

[2020-02-28 09:48] raksha009 opened #1628 "2D Array in java, python, C,C++"
Hi! I want to add code for matrix operations as a participant of GSSOC'20. Plz assign me this issue.
@SakshiShreya @asha15 @singh-shreya6

[2020-02-28 09:48] #1626 closed

[2020-02-28 09:50] Yashank18 opened #1629 "Quick Sort implementation using C# language."
As QuickSort is not available in C#, I will like to work on it under GSSoc'20
@singh-shreya6

[2020-02-28 09:54] singh-shreya6 commented on #736
@suyashgautam Go ahead.

[2020-02-28 09:54] Yashank18 opened #1630 "Merge Sort implementation in C#"
I would like to add Merge Sort in C# under GSSoc'20

[2020-02-28 09:56] goyalmuskan opened #1631 "Implementation of Fibonacci Numbers in PHP"
The code for Fibonacci Series is not available in PHP. I would like to work on it! (Under GSSoC'20)

[2020-02-28 09:57] singh-shreya6 commented on #1615
@Manish-cloud Go ahead

[2020-02-28 09:58] goyalmuskan opened #1632 "Implementation of Merge Sort in PHP"
The program for Merge Sort is not available in PHP. I would like to work on it! (GSSoC'20)
@singh-shreya6

[2020-02-28 10:01] singh-shreya6 commented on #1628
@raksha009 Please specify the operations you are going to add in Java.

[2020-02-28 10:02] raksha009 commented on #1628
Like addition, subtraction, multiplication and finding transpose of a matrix.
@singh-shreya6

[2020-02-28 10:03] singh-shreya6 commented on #1603
@chanpreet1999 It is requested that you should open two issues at a time. Please work on the ones assigned to you and close other issues.

[2020-02-28 10:05] singh-shreya6 commented on #1628
@raksha009 Go ahead.

[2020-02-28 10:07] singh-shreya6 commented on #1631
@goyalmuskan Go ahead

[2020-02-28 10:08] Angshuman032001 commented on #1613
just realized that this code is already present under Euclidean Algorithm

[2020-02-28 10:08] #1613 closed

[2020-02-28 10:09] singh-shreya6 commented on #1604
@chanpreet1999 I see you already have two issues assigned. So closing this one. Please raise PR of the other two and then take up new ones.

[2020-02-28 10:09] #1604 closed

[2020-02-28 10:11] raksha009 commented on #1628
Okk thanks. I have a doubt - I should create different pull requests na for each operation !? Otherwise i think, the file would look a bit messy and long.
@singh-shreya6

[2020-02-28 10:15] satvikchachra commented on #1623
@asha15
I am a GSSoC 20 participant.
Please assign me with this issue.
I would really like to work on it.

[2020-02-28 10:22] singh-shreya6 commented on #1628
You can put it inside a folder and create one PR. Please note, you can submit PR from March 1

[2020-02-28 10:24] singh-shreya6 commented on #1624
@Angshuman032001 Go ahead.

[2020-02-28 11:00] asha15 commented on #1623
@satvikchachra go ahead

[2020-02-28 11:02] chanpreet1999 commented on #1604
Okay no problems.
Thankyou for acknowledging

[2020-02-28 11:02] #1603 closed

[2020-02-28 11:02] chanpreet1999 commented on #1603
Got it!

[2020-02-28 11:03] #1600 closed

[2020-02-28 11:03] #1602 closed

[2020-02-28 11:15] singh-shreya6 commented on #1627
More than 7 types of tree traversals are present in repository. Please specify which 4 you want to take.

[2020-02-28 11:22] singh-shreya6 commented on #1609
Please change the issue title to be more specific like Adding Fibonacci Number in JS.
Will assign it to you.

[2020-02-28 11:30] SaranshDawra opened #1633 "Doubly Linked List in JAVA"
The implementation for Doubly Linked List is not available in Java. I would like to work on this issue under GSSoC20. @singh-shreya6 @asha15 @raghav-dalmia please assign me with this issue.

[2020-02-28 11:34] singh-shreya6 commented on #1621
Go ahead. Also please make sure. You have only two open issues at a time.

[2020-02-28 11:46] asha15 commented on #1625
@SimranMakhija7 Go for it

[2020-02-28 12:09] ishaan2908 opened #1634 "No. of times Sorted Array is Rotated in JAVA"
This will be done in O(Log n) Time Complexity using Binary Search.

[2020-02-28 12:42] Angshuman032001 commented on #1621
I ok

ok thank you.

[2020-02-28 13:10] #1612 closed

[2020-02-28 13:12] Harikrishnan6336 opened #1635 "Add Z_algorithm in C#"
The code for Z_algorithm is not available in C#. I would like to work on it! (Under GSSoC'20)

[2020-02-28 13:14] Harikrishnan6336 commented on #1611
There is no folder for Stooge sort. I would like to create one and contribute algorithms into it

[2020-02-28 14:32] chandrikadeb7 opened #1637 "Add PHP and C# code for Arithmetic Progression"
I would like to contribute to this issue as a part of GSSoc'20

[2020-02-28 14:34] chandrikadeb7 opened #1638 "Eliminate left recursion in C++"
I would like to work on this under GSSoc'20.

[2020-02-28 15:23] chandrikadeb7 commented on #1627
I would like to add Readme.md for Preorder and Postorder Tree traversal folders as part of GSSoc'20

[2020-02-28 15:37] mehmehul commented on #1638
I would like to work on it under GSSoc'2020

[2020-02-28 15:48] arghac14 opened #1640 "Implementation of KNN Algorithm using C"
Would like to add K-Nearest Neighbors Algorithm using C. Please assign me this
@raghav-dalmia @asha15 @singh-shreya6
This can be labelled as GSSOC20

[2020-02-28 15:51] Nandini9634 commented on #1619
I want to work on this issue for GSSOC 2020.

[2020-02-28 15:56] Nandini9634 commented on #1552
I want to work on this issue for GSSOC 2020.

[2020-02-28 15:57] Harikrishnan6336 commented on #1635
Please assign this to me . I am interested in doing this

[2020-02-28 15:57] Nandini9634 commented on #1638
I want to work on this issue for GSSOC 2020.

[2020-02-28 15:58] Nandini9634 commented on #1590
I want to work on this issue for GSSOC 2020.

[2020-02-28 16:10] Nandini9634 commented on #1584
I want to work on this for GSSOC 2020. Please assign me this.

[2020-02-28 16:55] DawoodBhai420 opened #1641 "Implementation of Jump search in C and C++."
I want to work on this issue as a part of GSSoC'20.
Please assign me to this issue.

[2020-02-28 17:01] DawoodBhai420 opened #1642 "Implementation of Basic Euclidean Algorithm to find GCD in C and C++."
I want to work on this issue as a part of GSSoC'20.
Please assign me to this issue.

[2020-02-28 17:41] yuktirapartiwar opened #1643 "Implementation of regula falsi in c++ and java"
I want to work on this issue for GSSoC 2020

[2020-02-28 18:18] Angshuman032001 commented on #1642
This code is already present in the Euclidean Algorithm section

[2020-02-28 18:32] #1642 closed

[2020-02-28 18:45] agnes-sharan commented on #1599
Hi I'd like ti take up this issue in C++ or Python if possible, but I am also open to implementing it in Java.

[2020-02-28 19:07] chanpreet1999 commented on #1599
Hi @agnes-sharan  if you don't mind I can solve this in c and c++ too. You can try in python of you like.

[2020-02-28 19:18] agnes-sharan commented on #1599
Hey @chanpreet1999 sounds good!

[2020-02-28 19:21] Nik-09 commented on #1598
I would like to contribute in gssoc 2020  to the project Algo_Ds_Notes regarding this issue.

[2020-02-28 19:24] Nik-09 commented on #1590
Want to contribute in GSSOC 2020 by working on M way tree.

[2020-02-28 19:29] Nik-09 commented on #1641
Want to contribute  in GSSOC 2020 by fixing this issue of Algo_Ds_Notes ....
please assign me to this project

[2020-02-28 19:32] Nik-09 commented on #1640
Want to contribute in GSSOC 2020 by fixing this issue of Algo_Ds_Notes...

[2020-02-28 19:33] Nik-09 commented on #1638
Want to contribute in GSSOC 2020 by fixing this issue of Algo_Ds_Notes.

[2020-02-28 19:36] Nik-09 commented on #1478
Want to contribute in GSSOC 2020 by fixing this issue of Algo_Ds_Notes.

[2020-02-28 19:39] ravireddy07 commented on #1634
Hello sir, I would like to work on this..!!

[2020-02-28 19:40] SubhradeepSS opened #1644 "Gray Code Generation of any input length"
Would like to implement for GSSOC'20.Please assign me this issue.

[2020-02-28 21:40] chanpreet1999 commented on #1599
@raghav-dalmia  please acknowledge.

[2020-02-29 00:45] SimranMakhija7 commented on #1627
I would like to add Readme.md for Level order, In order, Preorder and Postorder Tree traversals

[2020-02-29 01:14] SimranMakhija7 opened #1645 "Add code for loop detection and removal in Linked List in python and Java"

[2020-02-29 01:31] PranshuPanwar commented on #1634
Hello @ishaan2908 , I would love to solve this issue .
Thank you.

[2020-02-29 01:36] PranshuPanwar commented on #1645
Hello @SimranMakhija7  , I would love to work on this , can I take this up?
Thank you.

[2020-02-29 01:54] SimranMakhija7 commented on #1645
I would like to work on this as a part of GSSoC 2020.
I had added a comment that might not have uploaded due to network issues. Apologies.
@PranshuPanwar

[2020-02-29 02:33] anujji1999 commented on #1621
I would like to implement this in Java.
Please assign it to me @asha15 @jainaman224 @singh-shreya6 @KaushalSahu .

[2020-02-29 04:05] Angshuman032001 commented on #1621
I am already working on this issue as it has been assigned to me.
You can implement in any other language if you want

[2020-02-29 04:10] DawoodBhai420 opened #1646 "code to check if number is palindrome or not in C and C++"
I want to work on this issue as a part of GSSoC'20.
Please assign me to this issue.

[2020-02-29 04:50] satvikchachra commented on #1623
Thankyou! Working on it

[2020-02-29 05:00] shreyasrivastava936 commented on #1607
@raghav-dalmia @singh-shreya6 please assign this issue to me

[2020-02-29 05:01] shreyasrivastava936 commented on #1593
@raghav-dalmia @singh-shreya6 please assign this task to me

[2020-02-29 05:02] shreyasrivastava936 commented on #1591
@raghav-dalmia @singh-shreya6 please assign this task to me

[2020-02-29 05:03] mehmehul commented on #1644
I want to work on this issue as a part of GSSoC'20.
Please assign me to this issue.

[2020-02-29 05:04] mehmehul commented on #1646
Would like to work on the issue in C and C++

[2020-02-29 05:36] SohelRaja commented on #1575
I want to contribute for this issue as a part of **GSSoc'20** using **Python** and **C++** Programming Language. **Please Assign me for this task**.

[2020-02-29 05:45] Sejal30 commented on #1646
Hello Sir,
I would like to work on this issue

[2020-02-29 05:48] Mustafiz04 opened #1647 "BFS and DFS in Graph"
**Implementation of BFS and DFS for a graph in Java.**
I would like to work on this issue under GSSoC20. @singh-shreya6 @asha15 @raghav-dalmia please assign me with this issue.

[2020-02-29 05:52] SohelRaja commented on #1601
Hi! I want to work this Issue as a part of **GSSoC'20**. I would like to add code for **java , c++ and python** if  you give me permission to do. Please assign for this task @chanpreet1999 @Bhavyaa08 @ishaan2908 @raghav-dalmia @chandrikadeb7 .

[2020-02-29 05:55] sonali623 commented on #1646
I would like to work on this issue as a part of GSSoc 2020

[2020-02-29 05:57] Swarnimashukla commented on #464
I want to work on  this issue as a part GSSOC 2020
I would complete the code in python and c++
@singh-shreya6 @jainaman224

[2020-02-29 06:01] sonali623 opened #1648 "Sorting a list using insertion sort in python"

[2020-02-29 06:02] sonali623 commented on #1648
I would like to take this issue gor GSSoc 2020

[2020-02-29 06:18] NVS16 opened #1649 "Longest Common Subsequence in C"
As LCS is not available in C, I would like to work on it as part of GsSoc 2020. @singh-shreya6  @asha15 @raghav-dalmia kindly assign this to me

[2020-02-29 06:26] NVS16 opened #1650 "Huffman Encoding in python"
As huffman coding is not available in python, I would like to work on it. @singh-shreya6 @raghav-dalmia @asha15 kindly assign this to me.

[2020-02-29 06:31] BhavishayGulati commented on #1554
Hi,  I am a Gssoc20 participant and I would like to solve this issue.

[2020-02-29 06:58] sonali623 commented on #1648
I would like to solve it a s a part of GSSoc 2020.

[2020-02-29 07:08] abhishekgupta368 opened #1651 "Linear regression equation using straight line"
Linear regression equation using the straight line is missing, can you please assign this task to me.

[2020-02-29 07:12] abhishekgupta368 opened #1652 "Reverse singly linked list"
The reverse of a single linked list is missing, can you please assign me that

[2020-02-29 07:14] myselfanuj commented on #1633
I would like to work on it please assign me this issue.

[2020-02-29 07:17] abhishekgupta368 opened #1653 "A* Search Algorithm"
A* Search algorithm is missing for generating a path for initial position to the final position. can you please assign me this task.

[2020-02-29 08:29] anujji1999 commented on #1621
Aren't you implementing in C and C++?

[2020-02-29 08:32] asha15 commented on #1640
@arghac14  please specify the language you want to work with

[2020-02-29 08:54] asha15 commented on #1652
@abhishekgupta368 Can you specify the languages you want to work with?

[2020-02-29 08:56] asha15 commented on #1653
@abhishekgupta368 Please specify the language you want to work with

[2020-02-29 09:01] arghac14 commented on #1640
@asha15 Ok so I'll implement it using C

[2020-02-29 09:02] mansikagrawal opened #1654 "Rat in a maze problem-Recursion and backtracking in c++"
Given a M*N matrix with some cells as blocked you have to-
1) Find path from source to dest
2)count number of path from source to dest
3)Print all possible paths

Please assign me the task.

[2020-02-29 09:05] Aakansha99 opened #1655 "Articulation Point"
To find all articulation points in directed graph is missing.
A vertex in an undirected connected graph is an articulation point (or cut vertex) iff removing it (and edges through it) disconnects the graph.
I will make the code in C/C++.
can you please assign me that?

[2020-02-29 09:06] mansikagrawal opened #1656 "Aggressive cows problem- Divide and conquer"
Farmer John has built a new long barn, with N (2 <= N <= 100,000) stalls. The stalls are located along a straight line at positions x1,...,xN (0 <= xi <= 1,000,000,000).

His C (2 <= C <= N) cows don't like this barn layout and become aggressive towards each other once put into a stall. To prevent the cows from hurting each other, FJ wants to assign the cows to the stalls, such that the minimum di

[2020-02-29 09:07] asha15 commented on #1649
@NVS16 Go for it

[2020-02-29 09:09] asha15 commented on #1648
@sonali623 Insertion sort in python is already available in the repo

[2020-02-29 09:09] #1648 closed

[2020-02-29 09:10] Aakansha99 opened #1657 "Johnson's Algorithm"
Using Johnson’s algorithm, we can find all pair shortest paths in O(V2log V + VE) time.
 Johnson’s algorithm uses both Dijkstra and Bellman-Ford as subroutines.
Johnson's algorithm is missing, can you please assign it to me.
I will make the code in C++

[2020-02-29 09:11] mehmehul opened #1658 "LCA in Binary Tree"
Finding the Lowest Common Ancestor of 2 elements in a binary tree is missing. I would like to add to implement it in C++. Please assign me the task

[2020-02-29 09:11] #1658 closed

[2020-02-29 09:13] asha15 commented on #1635
@Harikrishnan6336 GO for it

[2020-02-29 09:13] mehmehul opened #1659 "LCA In Binary Tree"
Finding the Lowest Common Ancestor of 2 elements in a binary tree is missing. I would like to add to implement it in C++. Please assign me the task

[2020-02-29 09:15] Aakansha99 opened #1660 "Shortest Path to win Snakes and Ladders Game-in C++"
Given a snakes and ladders board,
Print-> minimum number of dice thrown to win the game.
        ->complete path that follows shortest distance.
can you please assign this to me.

[2020-02-29 09:20] Aakansha99 opened #1661 "Havel-Hakimi Algorithm"
Find if a degree sequence can form a simple graph.
Can you please assign this to me.

[2020-02-29 09:22] mehmehul opened #1662 "Binary Tree Zig Zag view"
Code for printing Binary Tree is implemented in almost all the ways, one more unique way is to print in Zig zag fashion which is missing. I would like to implement in C++ language

[2020-02-29 09:23] raghav-dalmia commented on #1647
@Mustafiz04 It's already implemented in JAVA. You can choose any other language and reopen it.

[2020-02-29 09:23] #1647 closed

[2020-02-29 09:24] Aakansha99 opened #1663 "Travelling Salesman Problem using Bitsmasking"
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 09:25] raghav-dalmia commented on #1591
Sure, go ahead.

[2020-02-29 09:27] abhishekgupta368 commented on #1653
I will do in python

[2020-02-29 09:27] abhishekgupta368 commented on #1652
I will do in python

[2020-02-29 09:30] Mustafiz04 commented on #1647
can I do it in python??

[2020-02-29 09:30] mansikagrawal opened #1664 "Count inversion in c++ and java."
The code in the repo are given in c and js. Please assgin me this for c++ and java.

[2020-02-29 09:40] Harikrishnan6336 commented on #1635
You didn't label it as GSSoC 20 does that mean solving this issue doesn't count for gssoc ? . Sorry I am new to git .

[2020-02-29 09:41] Harikrishnan6336 commented on #1635
You didn't label it as GSSoC 20 does that mean solving this issue doesn't count for gssoc ? . Sorry I am new to git .

[2020-02-29 09:44] mansikagrawal opened #1665 "Phone Keypad problem in c++ and java."
Given an android phone keypad. Input is a number and you have to print all possible strings generated by the keypad using the given number.

Please assign me this issue.

[2020-02-29 10:08] mansikagrawal commented on #1562
Please assign me this issue for set,map, multimap and multiset.

[2020-02-29 10:16] mansikagrawal commented on #1562
I would also like to add the deque, priority queue.

[2020-02-29 10:20] ravireddy07 commented on #1634
I would like to work on this issue, Please assign this to me.
@adishjain  @ayushin78 @ishaan2908  @nj4710

[2020-02-29 10:21] raghav-dalmia commented on #1588
@akhileshsantoshwar @Angshuman032001 you can choose any other language. For c++, I am assigning it to @vipinmankar.

[2020-02-29 10:24] raghav-dalmia commented on #1598
@chandrikadeb7 go ahead. @Nik-09 you can contribute it in any other language.

[2020-02-29 10:26] raghav-dalmia commented on #1597
@shreyasrivastava936 you have 2 active issues. So, I am assigning it to @RiaJha02.

[2020-02-29 10:29] raghav-dalmia commented on #1573
@eaglewarrior array rotation is already there. You can contribute code for any other transformation.

[2020-02-29 10:29] akhileshsantoshwar commented on #1588
I would like to work on it, in Python language.

[2020-02-29 10:30] raghav-dalmia commented on #1588
@akhileshsantoshwar sure.

[2020-02-29 10:32] akhileshsantoshwar commented on #1588
Yes

[2020-02-29 10:34] sonali623 opened #1666 "Implementation of boyer moore algorithm in java"

[2020-02-29 10:34] sonali623 commented on #1666
I would like to work on it as a part of GSSoc 2020

[2020-02-29 10:39] raghav-dalmia commented on #1666
@sonali623 go with it.

[2020-02-29 10:39] akhileshsantoshwar commented on #1641
I would like to work on this issue as a part of GSSoC. Can you please assign me this issue.

[2020-02-29 10:41] Aman-Codes commented on #1649
As LCS is not available in JavaScript, I would like to work on it as part of GsSoc 2020. @singh-shreya6 @asha15 @raghav-dalmia kindly assign this to me

[2020-02-29 10:49] akhileshsantoshwar commented on #1664
I would like to work on this issue as a part of GSSoC. Can you please assign me this issue.

[2020-02-29 10:49] Aman-Codes commented on #1640
I would like to do the K Nearest Neighbors Algorithm using C++ as a part of GsSOC 2020. Please assign it to me @raghav-dalmia @asha15 @singh-shreya6

[2020-02-29 10:50] biekymahato commented on #1562
@mansikagrawal  I'm covering all this topic.

[2020-02-29 10:51] akhileshsantoshwar commented on #1646
I want to work on this issue as a part of GSSoC'20. Can you please assign me to this issue

[2020-02-29 11:19] akhileshsantoshwar opened #1667 "B AND B+TREE IN PYTHON"

[2020-02-29 11:21] Harikrishnan6336 opened #1668 "Add cocktail sort in C#"
I would like to work on cocktail sort in C#, as part of GSSoC  20 .So Pls assign this to me.

[2020-02-29 11:27] eaglewarrior commented on #1573
@raghav-dalmia  I wanted to implement that in GO

[2020-02-29 11:30] akhileshsantoshwar opened #1669 "Heap Sort in "C""

[2020-02-29 11:30] akhileshsantoshwar commented on #1669
Please assign me this issue as a part of GSSoC'20

[2020-02-29 11:31] abhinashgiri opened #1670 "Contribution Guidelines And Git Commands"
I want work on it so as to help beginner like me with stepwise guide to making first contribution.
Please assign me this

[2020-02-29 11:39] Harikrishnan6336 opened #1671 "Add Comb sort in C#"
I would like to work on comb sort in C#, as part of GSSoC 20 .So Pls assign this to me

[2020-02-29 11:43] Harikrishnan6336 opened #1672 "Add Cycle sort in C#"
I would like to work on cycle sort in C#, as part of GSSoC 20 . So Please assign this to me

[2020-02-29 11:47] raghav-dalmia commented on #1573
Okay, go with it.

[2020-02-29 11:49] Harikrishnan6336 opened #1673 "Add Digit_Count in C#"
I would like to work on the program of counting the number of digits in a number in C#, as part of GSSoC 20 . So Please assign this to me

[2020-02-29 11:50] Harikrishnan6336 opened #1674 "Add Digit_Count in PHP"
I would like to work on digit_count of a number program in PHP, as part of GSSoC 20 . So Please assign this to me

[2020-02-29 11:54] Harikrishnan6336 commented on #1672
@raghav-dalmia  Does the issues with the label of GSSoC 20 only get counted for gssoc?? In other issue I was assigned ,but the issue was not labelled.

[2020-02-29 11:58] Harikrishnan6336 opened #1675 "Add Digit_Count program for Ruby"
I would like to work on digit_count of a number program in Ruby, as part of GSSoC 20 . So Please assign this to me

[2020-02-29 12:04] pratu098 commented on #1669
Hey , I want to work on this project as a part of gssoc '20 . Please assign me this.

[2020-02-29 12:06] pratu098 commented on #1646
I want to work on this issue as a part of GSSoC'20.  please assign me to this issue

[2020-02-29 12:09] pratu098 commented on #1578
I want to implement this project in java. Please assign me this as a part of gssoc'20

[2020-02-29 12:17] raghav-dalmia opened #1676 "Jump Search"
Implementation of jump search in any language.

[2020-02-29 12:18] insane4u00 commented on #1676
I would like to implement in c++ and python.

[2020-02-29 12:20] sonali623 commented on #807
Currently Gold mine problem is only in java. I would like to do it in python and cpp as a part of gssoc 2020.
@singh-shreya6 @raghav-dalmia please assign it to me.

[2020-02-29 12:28] Bhavyaa08 commented on #1665
I can implement this in java

[2020-02-29 12:28] Bhavyaa08 commented on #1656
I can implement this in java

[2020-02-29 12:30] Bhavyaa08 opened #1677 "ASCII SUBSEQUENCES PROBLEM."
I can implement this in java.

[2020-02-29 12:30] raghav-dalmia commented on #1672
Issue number?

[2020-02-29 12:36] Bhavyaa08 opened #1678 "Is_Binary_Search_Tree"
I can implement this in java.

[2020-02-29 12:48] Harikrishnan6336 commented on #1672
@raghav-dalmia  #1635

[2020-02-29 13:04] DawoodBhai420 commented on #1676
@raghav-dalmia  refer issue #1641  .
I have created this issue earlier, I don't know why people are creating issues which are already created earlier.
I am ready with the code file just waiting for 1st March.

[2020-02-29 13:11] DawoodBhai420 commented on #1676
@raghav-dalmia  please refer issue #1641
I have already created the issue earlier.
Please let me work on this issue as I am ready with the code just waiting for 1st march.

[2020-02-29 13:44] aryasoni98 opened #1681 "Add 1-D Array in Python/C++"
I would like to work on 1-D Array of a number program in Python/C++, as part of GSSoC 20 . So Please assign this to me

[2020-02-29 13:49] aryasoni98 opened #1682 "Add Bitonic_Array"
I would like to work on Bitonic Array of a number program , as part of GSSoC 20 . So Please assign this to me

[2020-02-29 13:54] Sejal30 commented on #1565
I want work on this issue in  C  and Java. Please asssign me.

[2020-02-29 14:01] Sejal30 commented on #1567
I want to work on this  issue as a part of GSSoC's 2020. Please assign me.

[2020-02-29 14:17] Mustafiz04 opened #1684 "Karatsuba_multiplication_algo"
**Implementation of Karatsuba algorithm for fast multiplication in Java.**
I would like to work on this issue under GSSoC20. @singh-shreya6 @asha15 @raghav-dalmia please assign me with this issue.

[2020-02-29 14:20] j-shreya commented on #1656
I can implement this in java. Pls assign this to me

[2020-02-29 14:21] j-shreya commented on #1654
I can implement this in java. Pls assign this to me

[2020-02-29 14:24] anjali142 opened #1685 "Automorphic number code in python"

[2020-02-29 14:28] j-shreya commented on #1652
I can implement this in java. Pls assign this to me

[2020-02-29 14:28] Sejal30 commented on #1525
I would like to work on this issue.

[2020-02-29 14:31] Sejal30 commented on #1678
I want to work on this issue.

[2020-02-29 14:32] asha15 commented on #1652
@abhishekgupta368 Go for it.
@j-shreya Please create a new issue for it

[2020-02-29 14:33] abhishekgupta368 commented on #1652
thank you

[2020-02-29 14:35] #1676 closed

[2020-02-29 14:35] abhishekgupta368 commented on #1652
I have to create a new issue by the same name?

[2020-02-29 14:35] shubhigupta991 opened #1686 "Add 2-D Array in C/C++"
I want to create a new folder namely 2-D array using C and C++
1. Addition of two matrices
2. Difference of two matrices
3. Multiplication of two matrices
4.Individual row sum
5.Individual column sum
6.Diagonal sum
etc...

[2020-02-29 14:36] asha15 commented on #1547
@RedEye00  Covering all the Fibonacci serious in one issue is not a good thing. please specify one particular algorithm

[2020-02-29 14:36] insane4u00 opened #1687 "Jump search in python"

[2020-02-29 14:38] insane4u00 commented on #1687
I would like to contribute it in python.

[2020-02-29 14:39] asha15 commented on #1619
@yuktirapartiwar Start to work on it

[2020-02-29 14:43] insane4u00 commented on #1453
I would like to contribute it in c++.

[2020-02-29 14:43] asha15 commented on #1652
@abhishekgupta368 no. @j-shreya like to implement this algo using java,that's why i asked her to create a new issue for it. you don't need to create a new one, start to work on this.
All the best

[2020-02-29 14:43] abhishekgupta368 commented on #1652
thank you

[2020-02-29 14:49] insane4u00 commented on #675
I would like to contribute it in c++.

[2020-02-29 14:51] j-shreya opened #1688 "Level order traversal of a generic tree"
I can implement this in java.

[2020-02-29 14:52] asha15 commented on #1640
@Aman-Codes please create a issue for it

[2020-02-29 14:53] j-shreya commented on #1688
I can implement this in java

[2020-02-29 14:59] asha15 commented on #1611
@Harikrishnan6336  great.Please specify the language you want to work with

[2020-02-29 15:03] Harikrishnan6336 commented on #1611
I would like to work with C++

[2020-02-29 15:16] aryasoni98 commented on #1686
I would like to work on it .

[2020-02-29 15:19] asha15 commented on #1611
@Harikrishnan6336 ok. How many open tickets you have so far?

[2020-02-29 15:22] Harikrishnan6336 commented on #1611
@asha15  Tickets?? Do you mean the number of issues I am already assigned?? I am assigned with two issues

[2020-02-29 15:22] Garimagupta85 opened #1690 "Python Implementation of Circular Queue"
I would like to contribute this as a part of GSSoC 2020. Please assign me the same.

[2020-02-29 15:25] asha15 commented on #1611
@Harikrishnan6336  yes.You can have only two issues at a time.
So I'll assign this issue for you after the other two issues were closed

[2020-02-29 15:27] shubhigupta991 opened #1691 "Palindrome Number in C/C++/python"

[2020-02-29 15:50] mehmehul commented on #1691
I would like to work on the issue in C++ and python pas part GSSoc student

[2020-02-29 15:51] CipherGirl commented on #1686
As GSSoC 20 participant I would like to work on this.

[2020-02-29 15:55] UddeshJain opened #1693 "JavaScript implementation of Tree Postorder Traversal."
I would like to implement Postorder Tree Traversal algorithm in JavaScript. I'm a Participant in `GSSOC 2020`. Please assign me this one.

[2020-02-29 16:01] RedEye00 opened #1694 "Last Digit of nth Fibonacci number by c++"
I will give optimised code for finding last digit of nth fibonacci number

[2020-02-29 16:02] mehmehul commented on #1686
I would like to work on the issue.

Codes I would like to implement in addition to what is mentioned in the issue
1) number of square matrices with all 1s
2) maximum sum path in the matrix
3) largest row wise and column wise matrix
4) minimum cost to reach from one corner of matrix to other corner

[2020-02-29 16:03] JanaSabuj opened #1695 "Implement Depth_First_Search DFS in JavaScript properly."
I want to take up this implementation as part of GSSoC 20.

[2020-02-29 16:05] RedEye00 opened #1696 "Finding last digit of nth term in squares of fibonacci number by c++"
I will give optimised code for finding last digit square of nth fibonaaci number

[2020-02-29 16:11] raksha009 commented on #1691
I want to work on this issue in C as a GSSOC participant.
@shubhigupta991

[2020-02-29 16:14] RedEye00 commented on #1547
hey @asha15  I have raised issues #1696 and#1694 on specific algorithms plz see them and assign so that i can start working on it.

[2020-02-29 16:15] somya-kapoor commented on #1664
@mansikagrawal Go ahead.

[2020-02-29 16:35] j-shreya opened #1697 "Conversion of a number from any base to any other base"

[2020-02-29 16:36] j-shreya commented on #1697
I can implement this in java

[2020-02-29 16:46] CipherGirl commented on #1697
as GSSoC 20 participant, I can work on this in C++.

[2020-02-29 16:47] DawoodBhai420 commented on #1646
@raghav-dalmia  can you please assign me to this issue?

[2020-02-29 16:51] DawoodBhai420 commented on #1691
@shubhigupta991  I have already created this issue #1646 .
still you can implement it in python.
I am doing the C and C++ part.

[2020-02-29 16:51] JanaSabuj commented on #1697
I want to work on the JavaScript version of this problem (GSSoC' 20)

[2020-02-29 16:52] JanaSabuj commented on #1646
I want to work on the JavaScript version of this issue. (GSSoC' 20)

[2020-02-29 16:53] chandrikadeb7 opened #1698 "Add Strassen's algorithm in C#"
I would like to work on Strassen's algorithm implementation in C# under GSSoc'20.

[2020-02-29 16:54] asaw4 commented on #1696
i can do this in a very optimized manner. please assign me this

[2020-02-29 16:55] asaw4 commented on #1690
i would like yo contribute in this . please assign me this

[2020-02-29 16:57] JanaSabuj commented on #1678
I want to implement this in JS. (GSSoC' 20)

[2020-02-29 16:58] JanaSabuj commented on #1672
@raghav-dalmia I want to implement this in JavaScript (GSSoC' 20)

[2020-02-29 16:59] asaw4 commented on #1644
i want to work on this. please assign me this task.

[2020-02-29 16:59] asaw4 commented on #1643
i want to work on this as a part of GSSOC. please assign me this task .

[2020-02-29 17:00] Harikrishnan6336 commented on #1672
@JanaSabuj  I  think then you would have to give an issue

[2020-02-29 17:00] asaw4 commented on #1698
I want to contribute to this problem. kindly assign this to me

[2020-02-29 17:02] JanaSabuj commented on #1672
@Harikrishnan6336 will do that

[2020-02-29 17:03] JanaSabuj opened #1699 "Add Cycle sort in JavaScript."
@raghav-dalmia I want to implement Cycle Sort in JS (GSSoC' 20)

[2020-02-29 17:05] asaw4 commented on #1595
i want to contribute to this problem under GSSoC'20. please assign this problem to me

[2020-02-29 17:08] mruna7 opened #1700 "binary insertion sort"
binary insertion sort is missing in java !! i want to work on it under GSSOC'20
please assign it to me  @Asha  @Sakshi Shreya  @Abhinav  @Shlok @Vaibhav  @Raghav Dalmia  @Shreya
@jainaman224 @somya-kapoor mam

[2020-02-29 17:10] asaw4 commented on #1700
i would like to work on this problem under GSSoC'20. please assign me this problem

[2020-02-29 17:10] aggarwal19 commented on #1697
I want to work on this in python (GSSoC 20)

[2020-02-29 17:11] asaw4 commented on #1694
please assign me this problem. i can give a very optimized solution

[2020-02-29 17:13] mruna7 opened #1701 "GCD using Euclidien algorithm"
i want to implement it in java . @Asha  @Sakshi Shreya  @Abhinav  @Shlok @Vaibhav  @Raghav Dalmia  @Shreya  .please assign it to me.
@jainaman224 @somya-kapoor

[2020-02-29 17:15] UddeshJain commented on #1693
@prakharcode ?

[2020-02-29 17:20] asaw4 opened #1702 "Digit count in C, C++, Java and python in constant time O(1)"
i want to work on this problem under GSSoC'20. Please assign me this

[2020-02-29 17:23] asaw4 commented on #1701
i can implement it in c, c++ and python . please assign me this task.

[2020-02-29 17:46] Aman-Codes opened #1703 "Adding ASCII Subsequence in C,Python and JavaScript"
I would love to contribute to this project. I am a GSSOC'20 participant and I am very excited to work upon this issue. Please assign me this issue.

[2020-02-29 17:47] Aman-Codes commented on #1703
I would like to add the ASCII Subsequence Code in C, Python and JavaScript.

[2020-02-29 17:51] Kuljeet-123 commented on #1666
I would like to work on it ...can you please assign me this

[2020-02-29 17:53] Kuljeet-123 commented on #1623
@asha15  I would like to work on it ..can you please assign me this

[2020-02-29 18:07] Aman-Codes opened #1704 "Add Chinese Remainder Theorem in C and JavaScript"
@singh-shreya6 @asha15 @raghav-dalmia . I am a GSSOC'20 participant and would love to contribute to this issue by adding code of Chinese Remainder Theorem in C and JavaScript. Please assign this issue to me.

[2020-02-29 18:07] abhinav580 opened #1705 "test"

[2020-02-29 18:10] MdAkdas commented on #1678
I can implement this is C++.
Assign me this issue.
Thanks. :)

[2020-02-29 18:16] MdAkdas opened #1706 "code to check if a string is palindrome or not in C and C++ ."
I can do this.
Assign me this issue. :)

[2020-02-29 18:18] pragyajaiswa05l opened #1707 "heap sort in c"
please assign it to me as a part of gssoc 2020 really wanted to contribute in it.

[2020-02-29 18:22] ranjal007 commented on #1686
I would like to work on this issue
please assign it to me

[2020-02-29 18:23] pragyajaiswa05l opened #1708 "kadane_algorithm in c++"
please assign this issue to me as  a part of gssoc 2020

[2020-02-29 18:24] ranjal007 commented on #1594
I would like to work on this issue
please assign it to me.

[2020-02-29 18:25] vedangi163 opened #1709 "Kruskals algorithm"
Kruskals algorithm for minimum spanning tree using adjacency matrix in C++.

[2020-02-29 18:25] utkarshanehe opened #1710 "Add prims algorithm"
Add prims algorithm for minimal spanning tree using adjacency matrix in C++.

[2020-02-29 18:25] ranjal007 commented on #996
I would like to work on this issue
please assign it to me

[2020-02-29 18:26] ranjal007 commented on #984
I would like to work on this issue
please assign it to me for Gssoc20

[2020-02-29 18:32] asha15 commented on #1666
@Kuljeet-123  It's already assigned. Please create a new issue

[2020-02-29 18:35] eaglewarrior commented on #1572
Hey @asha15 I have opened a PR #1712 please review and merge.Thanks

[2020-02-29 18:48] Rukmini-Meda commented on #1710
Please assign this to me as part of GSSoC '20

[2020-02-29 18:49] Rukmini-Meda commented on #1693
I would like to work on this issue. Please assign me as part of GSSoC '20

[2020-02-29 18:50] Rukmini-Meda commented on #1709
Please assign this to me as part of GSSoC '20

[2020-02-29 18:52] raksha009 opened #1718 "Pallindromes in Java/Python"
Hi! I want to contribute by writing code for this program. It will:
1. Check if a number is palindrome or not
2.Check if a name/word is palindrome or not
Plz assign me this as a participant of GSSOC20.
@SakshiShreya @singh-shreya6 @asha15 @raghav-dalmia

[2020-02-29 18:55] chandrikadeb7 opened #1720 "Add Huffman_Encoding in C"
I want to work on this issue under GSSoC'20

[2020-02-29 18:59] abhu-A-J commented on #1568
@raghav-dalmia  @asha15 I have addressed this [here](https://github.com/jainaman224/Algo_Ds_Notes/pull/1719). Kindly revert back if changes are required.

[2020-02-29 19:04] ashishnagpal2498 opened #1722 "Subsequence of string using bitmasking"
I would like to contribute to the code in C++
Subsequence of a string are always the left shift of length of the string.
if the string is "abc" the number of subsequences will be 8.
a ab abc b bc c ac "" . 1<<n (where n is the length of the string)
Please assign me this issue as participant of GSSOC 20.
@SakshiShreya  @singh-shreya6  @asha15  @raghav-dalmia

[2020-02-29 19:10] abhu-A-J commented on #1567
@asha15 @raghav-dalmia  this issue is addressed [here](https://github.com/jainaman224/Algo_Ds_Notes/pull/1723). Kindly revert back for changes. Thanks.

[2020-02-29 19:17] Kuljeet-123 commented on #1565
@HardevKhandhar  I am a GSSOC'20 participant ..can you please assign me this .

[2020-02-29 19:19] pragyajaiswa05l opened #1726 "Array_Rotation in cpp"
please assign this issue to me as a part of gssoc 2020.

[2020-02-29 19:19] Kuljeet-123 commented on #1590
I am a GSSOC'20 participant I would like to work on it.can you please assign me this.

[2020-02-29 19:21] Kuljeet-123 commented on #1584
I am a GSSOC'20 participant ,I would like to work on it.Can you please assign me this.

[2020-02-29 19:24] Kuljeet-123 commented on #1578
I would like to do it in C/C++..Please assign me this.

[2020-02-29 19:25] Kuljeet-123 commented on #1577
@raghav-dalmia I would love to implement this in Python...can you please assign me this.

[2020-02-29 19:26] goyalmuskan commented on #1691
I would like to work on the Implementation of Palindromes in Python. Please assign me this issue.

[2020-02-29 19:32] MdAkdas opened #1728 "Maximum circular subarray sum in C and C++."
I would like to work on this.
Assign me this issue. :)

[2020-02-29 19:39] JanaSabuj opened #1730 "Dijkstra_Algorithm in JavaScript."
I want to implement this graph algorithm in JS.(GSSoC ' 20)

[2020-02-29 19:40] Kuljeet-123 commented on #1605
I would love to do it in C++.

[2020-02-29 19:43] Kuljeet-123 commented on #1601
I would love to do it in PHP.

[2020-02-29 19:44] JanaSabuj commented on #1730
@raghav-dalmia @SakshiShreya @singh-shreya6 @asha15 @MastersAbh please review it.

[2020-02-29 19:48] JanaSabuj opened #1732 "Topological Sort in JS."
I want to implement this algorithm in JS . (GSSoC ' 20)
@raghav-dalmia @SakshiShreya @singh-shreya6 @asha15 @MastersAbh please review it.

[2020-02-29 19:51] JanaSabuj opened #1733 "Kruskal's MST in JS."
I want to implement this graph algorithm in JS.(GSSoC ' 20)
@raghav-dalmia @SakshiShreya @singh-shreya6 @asha15 @MastersAbh please do review and assign it.

[2020-02-29 19:54] p-bucky commented on #1718
Hey, I want to contribute on this issue by writing program.
It will Include: NAME and NUMBER check

Please assign this to me I've already messaged on slack @SakshiShreya @singh-shreya6 @asha15 @raghav-dalmia

[2020-02-29 19:55] JanaSabuj opened #1736 "Bellman-Ford(Graph Algorithm) in JS."
I want to implement this graph algorithm in JS.(GSSoC ' 20)
@raghav-dalmia @SakshiShreya @singh-shreya6 @asha15 @MastersAbh
 please do review and assign it.

[2020-02-29 19:58] JanaSabuj opened #1737 "Modular Exponentiation in JS."
I want to implement this algorithm in JS.(GSSoC ' 20)
@raghav-dalmia @SakshiShreya @singh-shreya6 @asha15 @MastersAbh please do review and assign it.

[2020-02-29 20:10] divyake opened #1738 "Hybrid Inheritance (c++)"
Hybrid Inheritance hasn't been applied. Assign me to work on this isuue.

[2020-02-29 20:15] HardevKhandhar commented on #1565
Dear @Kuljeet-123
I am also a GSSoC'2020 participant & not a mentor. @asha15 Ma'am is the mentor.
For your kind information, this task was assigned to me & a Pull Request has also been initiated.

Thank you

[2020-02-29 20:16] eKta37 commented on #1691
I would like to work on this, please assign this task to me

[2020-02-29 20:19] eKta37 commented on #1621
I would like to work on this code in Java, please assign this task to me

[2020-02-29 20:26] eKta37 opened #1739 "Find max subarray in Java"
@adishjain @nj4710 @ayushin78  @singh-shreya6
As a participant of GSSoC, I would like to work on this in Java. Please assign this task to me.

[2020-02-29 20:27] eKta37 opened #1740 "Binary tree in Java"
@singh-shreya6
As a participant of GSSoC, I would love to work on this. Please assign this task to me.

[2020-02-29 20:29] eKta37 commented on #1710
As a participant of GSSoC, I would like to work on this in Java, @utkarshanehe please assign this task to me.

[2020-02-29 20:33] eKta37 commented on #1625
@asha15 as a participant of GSSoC, I would like to work on this issue, please assign this task to me.

[2020-02-29 20:35] eKta37 commented on #1625
@asha15 as a participant of GSSoC, I would like to work on this in issue, please assign this task to me.

[2020-02-29 20:40] Angshuman032001 commented on #1621
I am already implementing this code in C,C++,Java as i have already been assigned this issue. So maybe you should look for some other issues

[2020-02-29 20:49] chanpreet1999 opened #1745 "Chocolate Distribution Problem Java"
I want to add the implementation of chocolate distribution problem in Java.

As per the previous instructions by @singh-shreya6 on issue #1604  , **I have made the PRs for both my issues.** May I start working on this one now?

[2020-02-29 20:56] chanpreet1999 opened #1746 "Majority Element in an array Java Improvement"
I would like to improve the existing code for finding majority element in an array.
Reopening issue #1602
I have **completed my previously assigned PRs**.

Current solution
Time complexity - O(n)
Auxiliary Space - O(n)

Proposed Solution's
Time Complexity - O(n)
Auxiliary Space - **O(1)**

[2020-03-01 01:19] Jahnavi-Jonnalagadda commented on #1718
Hi There! I would like to contribute on this issue.                                                                                        It will include Name and Number.                                                                                                                Kindly assign this to me @SakshiShreya @singh-shreya6 @asha15 @raghav-dalmia

[2020-03-01 01:28] Jahnavi-Jonnalagadda commented on #1652
Hi There! I would like to work on this issue in Python. Could you please assign this to me @asha15

[2020-03-01 01:33] Jahnavi-Jonnalagadda commented on #1697
Hi There! I would like to work on this issue. Could you please assign this to me.

[2020-03-01 01:35] Jahnavi-Jonnalagadda commented on #1690
Hi There! I would like to work on this issue. Could you please assign this to me.

[2020-03-01 01:51] lakshyajit165 opened #1749 "Window Sliding technique"
This is a very interesting technique used in many different applications to enhance the time complexity of the solutions. I would like to work on this, and add problems related to this in different programming languages along with an explanation. Please assign it to me.

[2020-03-01 01:53] lakshyajit165 opened #1750 "Two Pointer approach"
It's a tricky technique and happens to have some unique applications in problem solving. I would like to work on this technique's documentation along with some problems associated with it. Please assign it to me.

[2020-03-01 02:30] sparkingdark opened #1751 "Implementation of bead sort in c++ and ruby"
I want to implement the bead sort in c++  and ruby.
And also modify the documentation.There is also no documentation about bead sort.
There is no implementation of them.

[2020-03-01 02:53] kmrakash opened #1752 "Implementation of Bead Sort using Dart"
I would like to work on this issue

[2020-03-01 03:18] richabh456 commented on #1478
i would like to contribute on this as a part of Gssoc'20

[2020-03-01 03:35] suyashgautam commented on #1389
@singh-shreya6 @jainaman224

[2020-03-01 03:35] suyashgautam commented on #1388
@singh-shreya6 @jainaman224

[2020-03-01 03:37] sonali623 opened #1757 "The Knight’s tour problem by Backtracking"
A knight's tour is a sequence of moves of a knight on a chessboard such that the knight visits every square exactly once. If the knight ends on a square that is one knight's move from the beginning square (so that it could tour the board again immediately, following the same path), the tour is closed; otherwise, it is open.

The knight's tour problem is the mathematical problem of finding a knight

[2020-03-01 03:38] sonali623 commented on #1757
I would like to work on it as a part of GSSoc 2020.
@singh-shreya6 @raghav-dalmia  @asha15  please assign this to me.

[2020-03-01 03:39] diksha-dutt08 commented on #1718
I have good command in python. So it would be great if you assign me this issue.

[2020-03-01 03:41] diksha-dutt08 commented on #1690
I would like to work on this issue. I have good command on python.

[2020-03-01 03:42] topcoder69 commented on #1637
I would like to work on it as a part of GSSoc 2020. Please assign it to me!

[2020-03-01 03:43] diksha-dutt08 commented on #1628
I would love to do it on python. Please assign me this issue.

[2020-03-01 03:47] diksha-dutt08 commented on #1605
I would love to contribute to this issue in python.

[2020-03-01 03:47] topcoder69 opened #1758 "Gaussian Elimination Program"
Algorithm: Gaussian Elimination Program Algorithm

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Gaussian Elimination is a method which reduces a system of given linear equations to upper triangular matrix and then uses backward substitution to find the roots.
I would like to develop an algorithm for it in Cpp and Java.
I'm pr

[2020-03-01 03:51] sonali623 opened #1759 "Water-Jug Problem in cpp"
Problem : Given a m litre jug and a n litre jug . Both the jugs are initially empty. The jugs don’t have markings to allow measuring smaller quantities. You have to use the jugs to measure d litres of water where d is less than n.

[2020-03-01 03:52] topcoder69 opened #1760 "Aho-Corasick Algorithm"
I'm proficient in Data structures and algorithms. I would love to contribute it as a part of GSSoc '20. Please assign it to me!

[2020-03-01 03:52] sonali623 commented on #1759
I would like to work on this as a part of GSSoc 2020.
@raghav-dalmia @asha15 @singh-shreya6 @SakshiShreya please assign this issue to me.

[2020-03-01 04:23] TheDangerD0802 commented on #1656
This Problem is Based on Binary Search . I can implement this problem in C++ with complement Explanation of Approach .

[2020-03-01 04:26] JasleenRandhawa opened #1762 "Array_Rotation"
I would like to contribute to the java file by adding other types of rotations. Please assign this issue to me.

[2020-03-01 04:30] JasleenRandhawa opened #1763 "Ascii_Subsequences"
I would like to create a java file to solve this problem. Please assign this issue to me for GSSoC 2020.

[2020-03-01 04:44] TheDangerD0802 commented on #1654
I can implement this problem based on backtracking in C++. Please assign this to me.

[2020-03-01 04:47] JasleenRandhawa opened #1764 "Anagram in java"
I would like to update the java file by contributing another function to do the same job.

[2020-03-01 04:51] hritikpapa commented on #1718
I am a competitive coder in Python I have completed my gold badge on HACKER RANK, I would really appreciate if I am assigned to this issue.

[2020-03-01 05:09] abhinashgiri commented on #1696
Fibonacci series a unique pattern last digit repeats after every 60th term. I would use this logic to provide efficient code. Please, assign me this.

[2020-03-01 05:13] shreyasrivastava936 commented on #1591
@raghav-dalmia ,I've made pull request for the same . please have a look on that . Pull request no. #1765

[2020-03-01 05:15] sandhyabhan opened #1766 "Array Rotation In C"
I want to work on this issue. Please assign this to me.

[2020-03-01 05:17] HarshCasper opened #1767 "Add Burkhard-Keller Tree Implementation"
As a participant of Girlscript Summer of Code 2020 Participant, I would like to work on implementing the Burkhard-Keller Tree Implementation in various Programming Language. I would like to be assigned this issue @singh-shreya6

[2020-03-01 05:22] HarshCasper opened #1768 "Add "Bridge and torch problem" Implementation"
Bridge and torch problem is a popular puzzle where four people need to cross a faulty bridge in minimum time with only two people able to cross at a time. They have one torch and every time a pair crosses the bridge, one needs to come back. Given the time taken by the four people to cross the bridge, we have to compute the minimum time taken to cross the bridge. I would like to be assigned this pr

[2020-03-01 05:23] HariniJeyaraman commented on #1726
I'm interested to work on this issue as a participant of GSSoC 2020

[2020-03-01 05:24] HariniJeyaraman commented on #1766
Interested to work on this issue as a participant of GSSoC 2020. Please assign this to me

[2020-03-01 05:26] HardevKhandhar commented on #1718
I would like to contribute to this issue for GSSoC' 2020. Kindly assign this issue to me

[2020-03-01 05:31] HariniJeyaraman commented on #1552
@raghav-dalmia  and @jainaman224  @asha15 please assign this issue to me.
[Postfix _Evaluation.zip](https://github.com/jainaman224/Algo_Ds_Notes/files/4271392/Postfix._Evaluation.zip)

[2020-03-01 05:33] HariniJeyaraman commented on #1161
I would like to work on this. I am a GSSoC 2020 Participant. I can implement this in C, C++, Java and Python.  Please @jainaman224 @asha15 assign this issue to me.

[2020-03-01 05:34] HardevKhandhar opened #1769 "[1-D_Array/C++] Deletion of Prime numbers from 1-D Array"
I would like to contribute to GSSoC' 2020 by writing a C++ program for deletion of prime numbers from a 1-D Array

[2020-03-01 05:35] HariniJeyaraman commented on #1004
I am a first- time contributor , participant of GSSoC 2020 and have not been assigned any issues yet. I would love to work on this issue. Please @marwahmanbir assign me this issue.

[2020-03-01 05:36] abhinashgiri commented on #1670
I think in the readme file it's enough to get started.

[2020-03-01 05:36] #1670 closed

[2020-03-01 05:40] SohelRaja opened #1770 "Implementation of KNN Algorithm using Python"
I would like to add KNN algorithm using python. Please assign me for the task as part of GSSoC20 @raghav-dalmia @asha15 @singh-shreya6

[2020-03-01 05:42] HardevKhandhar opened #1771 "[Doubly_Linked_List] Make the C++ program Menu-driven & Dynamic"
@asha15

I would like to contribute to this issue for GSSoC'2020 by making the doubly linked list program menu driven in C++ with more function implementations

[2020-03-01 05:47] abhinashgiri opened #1772 "Infix to Postfix in Python3"
Please assign me this  and add the label GSSoC 20.

[2020-03-01 05:57] HardevKhandhar opened #1773 "[Matrix_Operations] Add Matrix Addition in C"
I would like to contribute to this issue for GSSoC'2020
By contributing a matrix addition program in C

[2020-03-01 06:07] apoorvam25 opened #1774 "Iterative approach of Traversals Of Binary Tree [C++]"

[2020-03-01 06:10] simran2104 commented on #1772
I would like toresolve this issue for GSSoC'2020

[2020-03-01 06:11] simran2104 commented on #1769
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:11] simran2104 commented on #1762
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:12] simran2104 commented on #1718
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:13] simran2104 commented on #1710
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:14] chandrikadeb7 opened #1775 "Add Bisection_Method in C++ and C#"
I want to work on this issue under GSSoC'20.

[2020-03-01 06:14] apoorvam25 opened #1776 "Minimum Absolute Difference in Array [C and C++]"
I am interested in working on this issue. Kindly assign it to me.

[2020-03-01 06:15] SohelRaja opened #1777 "Circular Doubly Linked List Using C"
I would like to add Circular Doubly Linked List Code in C language. Please assign me for the task as a part of GSSoC20. @mrwonko @poush @sapanshah @alculquicondor @norvinyecla

[2020-03-01 06:15] simran2104 commented on #1706
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:17] simran2104 commented on #1696
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:17] Himan1999 commented on #1775
I would like to work on this issue

[2020-03-01 06:20] simran2104 commented on #1691
I would like to resolve this issue for GSSoC'2020

[2020-03-01 06:26] apoorvam25 opened #1778 "Backtracking Crossword Problem [C++]"
The problem statement is as follows:
Given a 10*10 grid(character array) with '+' or '-' as its cell values. Also, a word list is given that needs to be placed accurately in the grid. Cells marked with '-' are to be filled with word list.

I am interested in working on this issue. Kindly assign it to me.

[2020-03-01 06:33] apoorvam25 opened #1779 "Dynamic Programming - Adjacent Bit Count Problem [C++]"
Problem Statement:
For a string of n bits x1,x2,x3,...,Xn the adjacent bit count of the string (AdjBC(x)) is given by:
X1*X2 + X2*X3 + X3*X4 + ... + Xn-1 * Xn
which counts the number of times a 1 bit is adjacent to another 1 bit. A program that takes as input integers n and k and returns the number of bit strings x of n bits (out of 2ⁿ) that satisfy AdjBC(x) = k.

[2020-03-01 06:37] apoorvam25 opened #1780 "Graphs - Rotten Oranges Problem [C++]"
I am interested to work on this issue. Kindly assign it to me.

[2020-03-01 07:01] Shiv1202 commented on #1576
Thanks Sir

[2020-03-01 07:05] eKta37 opened #1781 "Depth first search in Java"
@singh-shreya6
As a participant of GSSoC I would like to work on this issue, as no one has solved this till now.
Please assign this task to me.

[2020-03-01 07:05] asaw4 commented on #1777
i would like to work on this problem please assign me this

[2020-03-01 07:06] eKta37 opened #1782 "Depth first search in Java"
@ayushin78 @adishjain @nj4710
As a participant of GSSoC I would like to work on this issue, as no one has solved this till now.
Please assign this task to me.

[2020-03-01 07:11] #1781 closed

[2020-03-01 07:14] eKta37 opened #1784 "Matrix chain multiplication in Java"
@adishjain @nj4710 @ayushin78
As a GSSoC participant, I would like to work on this, please assign this task to me.

[2020-03-01 07:15] eKta37 opened #1785 "Strassen's algorithm in Java"
@adishjain @nj4710 @ayushin78
As a GSSoC participant, I would like to work on this, please assign this task to me.

[2020-03-01 07:24] SohelRaja opened #1788 "Implementation of Stack and Queue using Linked List in C language"
I would like to add the implementation of **Stack and Queue** using **Linked List in C** language. Please Assign me for this @raghav-dalmia @asha15 @singh-shreya6. This can labelled as **GSSoC20**

[2020-03-01 07:27] Aman-Codes opened #1789 "Add KNN Algorithm in C++"
I am a GSSOC 2020 participant and I would love to implement the K Nearest Neighbors Algorithm using C++ as a part of GSSOC 2020. Please assign it to me @raghav-dalmia @asha15 @singh-shreya6

[2020-03-01 07:29] SohelRaja commented on #1701
I would like to add GCD using Euclidean algorithm using c, c++, python. Please assign me for this @raghav-dalmia @SakshiShreya

[2020-03-01 07:35] ritish099 commented on #1766
I Want to work on this issue please assign it to me

[2020-03-01 07:36] Bhavyaa08 commented on #1763
I had already opened an issue for this a day ago. Please assign me this

[2020-03-01 07:38] ritish099 commented on #1708
I want to work on this issue please assign it to me

[2020-03-01 07:45] ritish099 commented on #1739
I am a participant of **GSSoC** and I would like to work on this in Java.

[2020-03-01 07:46] ritish099 commented on #1707
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 07:46] ritish099 commented on #1718
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 07:46] vishakha2108 opened #1790 "Shortest remaining time first cpu scheduler"
Being a participant of gssoc 2020  I would like to work on this issue.I would like to implement srtf(preemptive) in java.

-Vishakha Narang

[2020-03-01 07:47] ritish099 commented on #1706
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 07:48] ritish099 commented on #1701
As a participant of GSSoC, I would like to work on this. Please assign this task to me. I can implement it in java,c,c++,python

[2020-03-01 07:49] ritish099 commented on #1700
As a participant of GSSoC, I would like to work on this. Please assign this task to me. I can implement it in java,c,c++,python,.

[2020-03-01 07:50] JasbirCodeSpace opened #1791 "KNN Algorithm in R language"
@adishjain @nj4710 @ayushin78
As a GSSoC participant, I would like to work on this, please assign this task to me.

[2020-03-01 07:50] JanaSabuj commented on #1695
@raghav-dalmia @SakshiShreya @singh-shreya6 @asha15 @MastersAbh please assign me.

[2020-03-01 07:51] ritish099 commented on #1687
As a participant of GSSoC, I would like to work on this. Please assign the task to me

[2020-03-01 07:51] ritish099 commented on #1686
As a participant of GSSoC, I would like to work on this. Please assign this task to me. I can implement it ,c,c++.

[2020-03-01 07:52] ritish099 commented on #1681
As a participant of GSSoC, I would like to work on this. Please assign this task to me. I can implement it in c++, python

[2020-03-01 07:53] ritish099 commented on #1652
As a participant of GSSoC, I would like to work on this. Please assign this task to me. I can implement it in c,c++;

[2020-03-01 07:55] JasbirCodeSpace opened #1792 "KNN Algorithm in JS"
@adishjain @nj4710 @ayushin78
As a GSSoC participant, I would like to work on this, please assign this task to me.

[2020-03-01 07:56] ritish099 commented on #1584
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 07:59] NVS16 opened #1793 "Matrix Chain Multiplication in python"
I want to add Matrix chain multiplication in python as it is not available for gssoc 2020 @singh-shreya6 @asha15 @raghav-dalmia Kindly assign this to me

[2020-03-01 07:59] ritish099 commented on #1483
As a participant of GSSoC, I would like to work on this. Please assign this task to me. I can implement it in kotlin

[2020-03-01 08:01] NVS16 opened #1794 "Matrix Chain Multiplication in C"
I want to add matrix chain multiplication in C as it is not available, for gssoc 2020. @asha15 @singh-shreya6 @raghav-dalmia kindly assign it to me.

[2020-03-01 08:04] ritish099 commented on #1788
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 08:04] ritish099 commented on #1777
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 08:04] ritish099 commented on #1773
As a participant of GSSoC, I would like to work on this. Please assign this task to me.

[2020-03-01 08:06] arghac14 opened #1795 "Implementation of K-means clustering algorithm using C"
Would like to add the K-means clustering algorithm implemented in C.
@asha15 @singh-shreya6 @jainaman224 @raghav-dalmia please assign me this

[2020-03-01 08:15] jhasaurabh312 commented on #1412
@jainaman224 @rishabhgarg25699 I would love to work on this issue. Can you assign this to me?

[2020-03-01 08:19] nitashadhingra commented on #1696
i would like to contribute under GSSoC'20 @singh-shreya6 @MastersAbh @SakshiShreya

[2020-03-01 08:21] nitashadhingra commented on #1641
i would like to contribute under GSSoC'20 @SakshiShreya @singh-shreya6 @MastersAbh

[2020-03-01 08:51] #1696 closed

[2020-03-01 09:00] sandy9999 opened #1796 "Add Pollard Rho and Pollard P-1 factorization methods"

[2020-03-01 09:21] singh-shreya6 commented on #1782
It already exists. https://github.com/jainaman224/Algo_Ds_Notes/blob/master/Depth_First_Search/Depth_First_Search.java

[2020-03-01 09:29] singh-shreya6 commented on #1760
Please specify the languages you want to add.

[2020-03-01 09:32] singh-shreya6 commented on #1708
Already exists in repo.

[2020-03-01 10:34] #1782 closed

[2020-03-01 10:37] rashish15 commented on #1596
I would like to implement the solution in c++ language.

[2020-03-01 10:53] KanakalathaVemuru opened #1803 "AVL Tree in C#"
As a GSSoC 2020 participant, I would like to work on this, kindly assign this task to me.
@adishjain @nj4710 @ayushin78

[2020-03-01 11:03] Anushka-Rajvanshi commented on #1788
I want to work on this issue for GSSoC20. Kindly assign it to me. @MastersAbh @raghav-dalmia @asha15 @SakshiShreya @singh-shreya6

[2020-03-01 11:09] Anushka-Rajvanshi commented on #1777
I would like to work on this issue.Kindly assign this to me.

[2020-03-01 11:10] Anushka-Rajvanshi commented on #1773
I would like to work on this issue for GSSoC2020. Kindly this to me. @singh-shreya6  @asha15 @raghav-dalmia

[2020-03-01 11:11] Anushka-Rajvanshi commented on #1769
I would like to work on this issue. Kindly assign this to me. @raghav-dalmia @asha15 @singh-shreya6

[2020-03-01 11:12] rashish15 opened #1805 "Minimum inversions required in an array so that no two elements are same in C++ ."
Given a binary array arr[] of size N. The task is to find the minimum number of inversions required so that no two adjacent elements are same.
Would like to  implement the solution in C++.@asha15 @singh-shreya6 @jainaman224 @raghav-dalmia please assign me this
--

[2020-03-01 11:24] Yashank18 opened #1806 "Binary Insertion Sort in C#"
@singh-shreya6
This code isn't available in the repo. I would like to add this using C#.
Please assign me the same under GSSoC'20.

[2020-03-01 11:36] abhishekgupta368 commented on #1779
Can you please assign this problem to me?

[2020-03-01 11:36] Anushka-Rajvanshi commented on #1718
I would like to work on this issue using java. Kindly assign this issue to me.

[2020-03-01 11:38] Anushka-Rajvanshi commented on #1706
I would like to work on this issue. Kindly assign me.

[2020-03-01 11:45] Anushka-Rajvanshi commented on #1691
i would like to work on this issue. Kindly assign this to me.

[2020-03-01 11:58] SakshiShreya commented on #1695
Go ahead

[2020-03-01 12:04] SakshiShreya commented on #1686
@shubhigupta991 You can go ahead with the imlementation.
@mehmehul Please create a new issue for that.

[2020-03-01 12:04] pragyajaiswa05l commented on #1708
wanted to modify the code by creating a dynamic array in it .please assign it to me

[2020-03-01 12:05] Angshuman032001 opened #1809 "add karatsuba multiplication algorithm in c,java."
Please allow me to contribute to this issue @singh-shreya6 @jainaman224 @asha15 @uday1201

[2020-03-01 12:06] SohelRaja opened #1810 "Implementation of Kadane's Algorithm using Java"
I would like to contribute for this. Please assign me for this.

[2020-03-01 12:07] SakshiShreya commented on #1691
@shubhigupta991 do you want to implement this in C, C++ or some other language? It is a duplicate issue if you want to do it in C, C++

[2020-03-01 12:14] SakshiShreya commented on #1709
@vedangi163 is it not already present?

[2020-03-01 12:15] SakshiShreya commented on #1710
@utkarshanehe is this not already present?

[2020-03-01 12:29] Anushka-Rajvanshi commented on #1467
I would like to work on this issue using C++ and Java. Kindly assign this to me.

[2020-03-01 12:35] sakshijainn commented on #1774
Please assign me to this issue .

[2020-03-01 12:38] sakshijainn commented on #1671
I would like to work on it   @singh-shreya6 @asha15 @raghav-dalmia

[2020-03-01 12:40] topcoder69 commented on #1760
I will do it in C++ and Java.

[2020-03-01 12:41] sakshijainn commented on #1553
I would like to work on this issue  @singh-shreya6 @asha15 @raghav-dalmia

[2020-03-01 12:41] Swarnimashukla opened #1812 "Implementation of Hamiltonian Cycle"
In Language

- C++

[2020-03-01 12:47] SakshiShreya commented on #1810
@SohelRaja is this not already present?

[2020-03-01 12:50] CSElonewolf commented on #1691
I would like to work on this using `Java`

[2020-03-01 13:03] SakshiShreya commented on #1796
Please mention the language you'll work on.

[2020-03-01 13:07] CSElonewolf commented on #1628
I would like to contribute for this issue in `C`.The operation that I would like to add are Addition,Multiplication,Subtraction,Printing the 2D Array in Spiral order,Transposing the elements,Printing the top-left-right-bottom and top-right to bottom-left digonal elements and many others opeartions like that.Please Assign me for this issue.Thank You
@singh-shreya6

[2020-03-01 13:13] CSElonewolf opened #1813 "Polymorphism(Method Overloading && Method Overridding in Java)"
Hello Mam(@SakshiShreya) I found examples of Inheritance in Java and C but didn't find examples/codes for Polymorphism in Java.Therefore I raised this issue.I would like to contribute for this issue using JAVA.It would great if you assign me this task.

[2020-03-01 13:20] #1810 closed

[2020-03-01 13:21] SohelRaja opened #1814 "Implementation of DDA Algorithm in C"
I would like to contribute for this. Please assign me for this.

[2020-03-01 13:22] #1814 closed

[2020-03-01 13:23] CSElonewolf opened #1815 "#1425 algorithm for left rotation is available but algorithm for right rotation is missing in C,Java,C++,Python"
The algorithm for left rotation thats `1234 ---> 4123` is available but the algorithm for right rotation is missing example `1234 --> 2341 --->3412 ---> 4123` is not available I would not only like to add the algorithm and I  would also like to add a Readme.Md for the same.Please assign me this issue as a part of GSSoC 2020 @SakshiShreya and @jainaman224

[2020-03-01 13:29] SohelRaja opened #1816 "Implementation of Magic Square Algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

I would like to contribute for this in c, c++, python, java. Please assign me for this.

[2020-03-01 13:33] ritish099 commented on #1816
I would like to contribute to this as a part of GSSoC 2k20. I can implement it in c,c++,java,python.

[2020-03-01 13:35] Sejal30 opened #1817 "Count Sort in "C""
I would like to work on this issue as a part of GSSoC'20. Please assign me this issue.

[2020-03-01 13:40] sheetalssr commented on #1817
I am interested in this issue . Kindly assign me .

[2020-03-01 13:44] ritish099 commented on #1817
I would like to contribute to this as a part of GSSoC 2k20. I can implement it in c,c++,java,python.

[2020-03-01 13:45] Sejal30 commented on #1817
As I already started working on this. You can try this in any other language.

[2020-03-01 13:45] SohelRaja opened #1818 "Implementation of Pascal's Triangle"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm with another programming languages
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to add Pascal's Triangle Algorithm with python and Java. Please assign me for this.

[2020-03-01 13:47] sheetalssr commented on #1769
I would like to work on this .kindly assign to me

[2020-03-01 13:50] ritish099 opened #1819 "Finding factorial of numbers like 100! (C,C++,JAVA)"
Factorial of 100 is too large for a variable to store. I can contribute for this problem. please assign the task to me @singh-shreya6

[2020-03-01 13:50] SakshiShreya commented on #1817
@Sejal30 please mention the languages you'll work on.
Others can create a new issue for other languages.

[2020-03-01 13:57] goyalmuskan commented on #1819
I want to work on this issue in Java. Please assign the same to me.

[2020-03-01 13:58] ritish099 opened #1821 "LCM of an given array of element in C,C++,Java"
please give the issue to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-01 14:02] goyalmuskan opened #1822 "Implementation of Quick Sort using PHP"
I want to add the code for Quick Sort in PHP as it is missing. Please assign me the same. @singh-shreya6

[2020-03-01 14:07] goyalmuskan opened #1824 "Implementation of Circular Queue using Java"
Code for Circular Queue is missing in Java. Please assign me to add the same. @singh-shreya6

[2020-03-01 14:13] p-bucky commented on #1819
I want to work on this  issue in java. Please assign this to me @singh-shreya6

[2020-03-01 14:15] p-bucky commented on #1821
I want to work on java. Pleasse assign this issue to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-01 14:17] abhishekgupta368 commented on #1651
thank you

[2020-03-01 14:35] nikipr1999 opened #1826 "Implementing 1_D_Array in Ruby"
Add basic functions of 1 dimensional array in Ruby
1. Finding frequency of an element in the array.
2. Finding the maximum and the second maximum number in the array.
3. Find the mean, variance and standard deviation of the elements of array.
4. Merge two sorted arrays.

[2020-03-01 14:36] nikipr1999 commented on #1826
I would like to work on this for gssoc20 . Please assign this issue to me.

[2020-03-01 14:41] nikipr1999 commented on #1826
I had made a pull request #1546 . Please check and merge it if no issues are there. Looking for your guidance.

[2020-03-01 14:48] Jahnavi-Jonnalagadda commented on #1750
Hi There! I would like to work on this issue. Could you please assign this issue to me.

[2020-03-01 14:51] Jahnavi-Jonnalagadda commented on #1678
Hi There! I would like to work on this issue in Python. Could you please assign this to me?

[2020-03-01 14:56] Jahnavi-Jonnalagadda commented on #1607
Hi There! I would like to work on this issue in Python. Could you please assign this to me.

[2020-03-01 15:00] p-bucky opened #1827 "Diagonal Difference in Java"
Diagonal Difference in Java

1. Add left-to-right diagonal
2. Add right to left diagonal
3. Find absolute difference

[2020-03-01 15:01] p-bucky commented on #1827
I would like to work on this for GSSoC 20. Please assign this to me.

[2020-03-01 15:38] ajaynair710 opened #1829 "Boyer Moore Algorithm in JAVA"
GSSoc'20

[2020-03-01 15:41] ajaynair710 opened #1830 "AVL Tree in Cpp"
GSSoc'20

[2020-03-01 15:44] internetlake98 commented on #1819
I want to work on this issue in C , C++. Pls assign this to me @singh-shreya6

[2020-03-01 15:49] PratilipiAich commented on #1824
I would like to work on this issue.

[2020-03-01 15:53] MastersAbh commented on #1681
Can you please elaborate the problem statement ?

[2020-03-01 15:54] MastersAbh commented on #1682
Bitonic Array already exists in the repo. Can you elaborate what do you want to implement?

[2020-03-01 15:56] singh-shreya6 commented on #1817
@Sejal30 Count Sort in C already exists

[2020-03-01 15:57] MastersAbh commented on #1830
Go ahead @ajaynair710

[2020-03-01 16:00] VibavariG commented on #1829
Please assign me this issue

[2020-03-01 16:01] VibavariG commented on #1827
Please assign me this issue

[2020-03-01 16:01] VibavariG commented on #1824
Please assign me this issue

[2020-03-01 16:05] singh-shreya6 commented on #1827
@p-bucky Please elaborate the problem statement more. If possible please add a sample to help us understand the problem statement better.

[2020-03-01 16:05] srimani-programmer opened #1831 "Implementation of Gnome Sort"
I want to work on it in C, C++, Java, and Python. Please assign this issue to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-01 16:06] singh-shreya6 commented on #1827
@VibavariG Please open another issue with some different language.

[2020-03-01 16:07] MastersAbh commented on #1829
@VibavariG Can you create a separate issue mentioning the language you want to work on for this problem statement.

[2020-03-01 16:07] MastersAbh commented on #1829
@ajaynair710 Go ahead in Java

[2020-03-01 16:15] BhanujaAggarwal commented on #1819
I want to work on this issue in C++. Please assign this to me.

[2020-03-01 16:20] ritish099 commented on #1819
i am working on c,c++,java. U guys can try on python etc

[2020-03-01 16:22] BhanujaAggarwal commented on #1819
I want to work on this issue in Python. Please assign this to me.

[2020-03-01 16:47] BhanujaAggarwal commented on #1790
I would like to work on this issue in C++ and python

[2020-03-01 16:48] BhanujaAggarwal commented on #1789
I would like to work on this issue in C++

[2020-03-01 16:48] BhanujaAggarwal commented on #1788
I would like to work on this issue in C

[2020-03-01 16:48] BhanujaAggarwal commented on #1780
I would like to work on this issue in C++

[2020-03-01 16:48] BhanujaAggarwal commented on #1779
I would like to work on this issue in C++

[2020-03-01 16:48] BhanujaAggarwal commented on #1778
I would like to work on this issue in C++

[2020-03-01 16:48] BhanujaAggarwal commented on #1777
I would like to work on this issue in C

[2020-03-01 16:49] BhanujaAggarwal commented on #1775
I would like to work on this issue in C++ and C

[2020-03-01 16:49] BhanujaAggarwal commented on #1774
I would like to work on this issue in C++

[2020-03-01 16:49] BhanujaAggarwal commented on #1773
I would like to work on this issue in C++

[2020-03-01 16:49] BhanujaAggarwal commented on #1771
I would like to work on this issue in C++

[2020-03-01 16:50] BhanujaAggarwal commented on #1770
I would like to work on this issue in python

[2020-03-01 16:50] BhanujaAggarwal commented on #1769
I would like to work on this issue in C++

[2020-03-01 16:50] manisinghasd commented on #1803
I am interested to solve this problem , please assign this task to me..

[2020-03-01 16:51] BhanujaAggarwal commented on #1831
I would like to work on this issue in C++,python,C#,PHP

[2020-03-01 16:52] manisinghasd commented on #1830
Sir i am interested , assign this to me

[2020-03-01 16:52] BhanujaAggarwal commented on #1816
I would like to work on this issue in C++,python,C#

[2020-03-01 16:53] BhanujaAggarwal commented on #1793
I would like to work on this issue in python

[2020-03-01 16:53] BhanujaAggarwal commented on #1764
I would like to work on this issue

[2020-03-01 16:53] BhanujaAggarwal commented on #1767
I would like to work on this issue in C++, python,java

[2020-03-01 16:54] BhanujaAggarwal commented on #1768
I would like to work on this issue in C++,python,java

[2020-03-01 16:56] BhanujaAggarwal commented on #1766
I would like to work on this issue in C

[2020-03-01 16:56] BhanujaAggarwal commented on #1760
I would like to work on this issue in C++,python,C

[2020-03-01 16:57] BhanujaAggarwal commented on #1762
I would like to work on this issue in C++,python,java,C

[2020-03-01 16:57] BhanujaAggarwal commented on #1759
I would like to work on this issue in C++

[2020-03-01 16:57] BhanujaAggarwal commented on #1757
I would like to work on this issue in C++,C

[2020-03-01 16:57] VibavariG opened #1835 "Diagonal difference in Java"
GSSoC '20

[2020-03-01 16:58] BhanujaAggarwal commented on #1750
I would like to work on this issue in C++

[2020-03-01 16:59] BhanujaAggarwal commented on #1749
I would like to work on this issue in C++,Java,python,C#

[2020-03-01 17:00] BhanujaAggarwal commented on #1738
I would like to work on this issue in C++

[2020-03-01 17:06] PranshuPanwar opened #1837 "AVL Tree in Java"
GSSoc'20

[2020-03-01 17:09] DawoodBhai420 opened #1838 "bitwise addition of two numbers in C and C++.(GSSoC'20)"

[2020-03-01 17:10] DawoodBhai420 commented on #1838
I want to work on this issue as a part of GSSoC'20.
@MastersAbh  @asha15  @raghav-dalmia
can someone please assign me to this issue??

[2020-03-01 17:13] PranshuPanwar commented on #1837
I would love to work on this issue . @MastersAbh @asha15 @raghav-dalmia  please someone assign this issue to me
Thank you.

[2020-03-01 17:25] abhishekgupta368 opened #1839 "Merge K-Sorted Linked List"
this program is missing and I would like to contribute to it.

[2020-03-01 17:26] abhishekgupta368 opened #1840 "Detection of cycle in linked list"
this program is missing and i would like to contribute in it.

[2020-03-01 17:27] abhishekgupta368 opened #1841 "Cycle removal in linked list"
this program is missing and i would like to contribute in it.

[2020-03-01 17:28] abhishekgupta368 opened #1842 "Intersection of two linked list"
this program is missing and i would like to contribiute in it.

[2020-03-01 17:28] abhishekgupta368 opened #1843 "print k-th node from back in linked list"
this program is missing and i would like to contribiute in it.

[2020-03-01 17:38] abhishekgupta368 commented on #1653
can I proceed with it?

[2020-03-01 17:53] chandrikadeb7 opened #1846 "Add Palindromic array in C#"
I want to work on this issue under GSSoC'20.

[2020-03-01 18:09] JanaSabuj opened #1848 "Boyer Moore Algorithm in JavaScript."
I want to add the JS implementation as part of GSSoC ' 20.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-01 18:10] JanaSabuj opened #1849 "Longest_Increasing_Subsequence (DP) in JavaScript."
I want to add the JS implementation as part of GSSoC ' 20.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-01 18:12] JanaSabuj opened #1850 "Longest_Common_Subsequence (DP) in JavaScript."
I want to add the JS implementation as part of GSSoC ' 20.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-01 18:13] JanaSabuj opened #1851 "Longest_Increasing_Subarray (DP) in JavaScript."
I want to add the JS implementation as part of GSSoC ' 20.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-01 18:14] JanaSabuj opened #1852 "Prims_Algorithm (Graph) in JavaScript."
I want to add the JS implementation as part of GSSoC ' 20.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-01 18:29] asha15 commented on #1718
palindrome for number is already implemented but not for checking issues.
@raksha009  Can i know how many open issues you have ?

[2020-03-01 18:34] anujji1999 opened #1853 "Implement Kahn's Algorithm for Topological Sort"
Implement Kahn's Algorithm for Topological Sort in C, C++ and Java

[2020-03-01 18:36] BhanujaAggarwal commented on #1005
I would like to work on this issue in C++

[2020-03-01 18:37] chandrikadeb7 commented on #1758
I would like to do the same in C under GSSoC'20

[2020-03-01 18:38] anujji1999 commented on #1853
Please assign this issue to me @asha15 @singh-shreya6 @MastersAbh @SakshiShreya .

[2020-03-01 18:38] BhanujaAggarwal commented on #1006
I would like to work on this issue in Python

[2020-03-01 18:40] BhanujaAggarwal commented on #807
I would like to work on this issue in C++,Python

[2020-03-01 18:40] BhanujaAggarwal commented on #488
I would like to work on this issue in C++

[2020-03-01 18:40] BhanujaAggarwal commented on #464
I would like to work on this issue in C++,python

[2020-03-01 18:40] BhanujaAggarwal commented on #159
I would like to work on this issue in C++

[2020-03-01 18:41] asha15 commented on #1652
@Jahnavi-Jonnalagadda  please create a new issue for it
@ritish099  the issue is already taken

[2020-03-01 18:41] p-bucky commented on #1827
Check Now Please

[2020-03-01 18:43] asha15 commented on #1757
@sonali623 please specify the language the language you want to work with

[2020-03-01 18:44] BhanujaAggarwal commented on #1005
I would like to work on this issue in C++ @raghav-dalmia

[2020-03-01 18:44] BhanujaAggarwal commented on #1006
I would like to work on this issue in Python @raghav-dalmia

[2020-03-01 18:44] BhanujaAggarwal commented on #807
I would like to work on this issue in C++ @raghav-dalmia

[2020-03-01 18:44] BhanujaAggarwal commented on #488
I would like to work on this issue in C++ @raghav-dalmia

[2020-03-01 18:45] BhanujaAggarwal commented on #464
I would like to work on this issue in C++ @raghav-dalmia

[2020-03-01 18:45] BhanujaAggarwal commented on #159
I would like to work on this issue in C++ @raghav-dalmia

[2020-03-01 18:45] BhanujaAggarwal commented on #1757
I would like to work on this issue in C++ @raghav-dalmia  @sonali623

[2020-03-01 18:50] asha15 commented on #1552
@starwiz-7  are you GSSOC participant ?

[2020-03-01 18:57] asha15 commented on #1788
@SohelRaja  This is already implemented

[2020-03-01 18:57] #1788 closed

[2020-03-01 18:57] ritish099 commented on #1819
@singh-shreya6  mam I have created a pull request please review it.

[2020-03-01 19:07] HariniJeyaraman commented on #1843
I am a participant of GSSoC 2020 and am interested to contribute to this issue. @asha15 @jainaman224 @abhishekgupta368 please assign me to this issue

[2020-03-01 19:08] HariniJeyaraman commented on #1842
I am a GSSoC 2020 Participant and would love to contribute to this issue. Please assign me to this issue @jainaman224 @asha15

[2020-03-01 19:15] HariniJeyaraman commented on #1718
I am a participant of GSSoC 2020 and would love to contribute to this issue. @asha15 @SakshiShreya @jainaman224 please assign me to this issue. I can implement :
1. Finding if a given number/string is a palindrome
2. Minimum number of insertions to make a string/number a palindrome
in C/C++, Java and Python languages.

[2020-03-01 19:17] HariniJeyaraman commented on #1840
I am a participant of GSSoC 2020 and want to contribute to this issue. @jainaman224 @Ash-D23 @asha15 @SakshiShreya please assign me this issue.
I can implement this program in C, C++, Java and Python.

[2020-03-01 19:21] HariniJeyaraman commented on #152
Hi, I am a participant of GSSoC 2020 and want to contribute to this issue. I can implement this in C , C++, Java and Python. @jainaman224 @asha15 @shreyasrivastava936 @SakshiShreya please assign me this issue

[2020-03-01 19:27] Garimagupta85 commented on #1690
@asha15 Thanks! Working on it

[2020-03-01 19:29] ravireddy07 opened #1857 "ASCII_SUBSEQUENCES in java"
I would like to implement this in java programming, please assign this to me.

[2020-03-01 19:32] abhishekgupta368 commented on #1840
Harini, you can create your own issue then ask them

[2020-03-01 19:40] manisinghasd commented on #1843
Sir, I have solved this problem and sent the pull request, please review it.

[2020-03-01 19:46] asha15 commented on #1837
@PranshuPanwar I'm soory, it's already implemented

[2020-03-01 19:46] #1837 closed

[2020-03-01 19:55] asha15 commented on #1843
@manisinghasd  please don't create a PR before we assign it to you

[2020-03-01 19:56] raksha009 commented on #1718
@asha15  i have a single open issue for this project.
Also palindrome implemented is for an array. Also plz give it gssoc label. Thanks

[2020-03-01 20:18] Vaibhavraj10 commented on #1822
@goyalmuskan  go ahead!

[2020-03-01 20:22] Vaibhavraj10 commented on #1826
@nikipr1999 Make sure you make a pull request for the referenced issue only once you have been assigned.

[2020-03-01 20:25] shwhite17 commented on #1842
i want to do this please assign it to me, i'll try my best.

[2020-03-01 20:27] abhishekgupta368 commented on #1842
Shwhite17, You need to create your own issue then ask them to assign you

[2020-03-01 20:29] Vaibhavraj10 commented on #1835
Hey! @VibavariG  , make sure you give proper description to your issue before getting assigned. It's ambiguous from the title.

[2020-03-01 20:58] Vaibhavraj10 commented on #1767
@HarshCasper Please mention which language you want to work in. I am assigning this to you for now.

[2020-03-01 21:01] Vaibhavraj10 commented on #1767
@BhanujaAggarwal You can create another issue for this topic other than the languages @HarshCasper is using.

[2020-03-01 21:04] BhanujaAggarwal commented on #1767
@Vaibhavraj10 Which languages can I work on then?

[2020-03-01 21:18] HarshCasper commented on #1767
@Vaibhavraj10 I will work on C++ and Python Implementation.

[2020-03-01 21:19] #1857 closed

[2020-03-02 02:23] Aju100 opened #1861 "Armstrong Number in Js"
I want to add the JS implementation as part of GSSoC ' 20.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-02 03:03] sonali623 commented on #1757
@asha15 @raghav-dalmia  I would like to work on this problem in C, Java and python

[2020-03-02 03:35] AkanshaKamboj commented on #1784
@singh-shreya6 I want to contribute it in C and Python. Please assign it to me

[2020-03-02 03:47] p-bucky opened #1862 "Merge Sort in Java"
![Merge-Sort-Tutorial](https://user-images.githubusercontent.com/59308744/75643172-27a79300-5c64-11ea-9f5e-b914adf832fe.png)

[2020-03-02 03:48] p-bucky commented on #1862
Please assign this issue to me @SakshiShreya

[2020-03-02 04:18] AkanshaKamboj commented on #1780
I would like to contribute it in JAVA and Python

[2020-03-02 04:54] Angshuman032001 opened #1867 "Implement Leap Year code in JavaScript"
Please assign me this issue @SakshiShreya @singh-shreya6 @jainaman224 @asha15 @somya-kapoor  @Vaibhavraj10 @raghav-dalmia

[2020-03-02 05:02] Angshuman032001 opened #1868 "Add code for Harmonic Progression in JavaScript"
Please assign me this issue @singh-shreya6 @asha15 @jainaman224 @SakshiShreya @somya-kapoor @Vaibhavraj10 @raghav-dalmia

[2020-03-02 05:16] Vaibhavraj10 commented on #1767
@BhanujaAggarwal You can do it in python then. But make a separate issue for that.

[2020-03-02 05:27] Angshuman032001 commented on #1838
I can work on this issue on Java.
Please assign me this @SakshiShreya @asha15 @raghav-dalmia @MastersAbh @singh-shreya6

[2020-03-02 05:31] Angshuman032001 opened #1870 "calculate the absolute difference between the sums of diagonals of a matrix in C++,Java"
Please assign me this issue for GSSoC  @SakshiShreya @singh-shreya6 @asha15 @raghav-dalmia @somya-kapoor @Vaibhavraj10

[2020-03-02 05:43] Shiv1202 opened #1871 "Count all possible paths in m * n matrix to move a robot from top left cell to bottom right cell in python."
`Input: m = 2, n = 3`
`Output: 3`
`Explanation: There are 3 Paths
(0 ,0)-->(0, 1)-->(0, 2)-->(1, 2)
(0 ,0)-->(0, 1)-->(1, 1)-->(1, 2)
(0 ,0)-->(1, 0)-->(1, 1)-->(1, 2)`

[2020-03-02 05:50] Shiv1202 commented on #1871
@singh-shreya6 ma'am please assign it to me For GSsoc-2020

[2020-03-02 06:21] raksha009 commented on #1718
@asha15 I have only a single open issue. Also plz assign it gssoc label. Thanks

[2020-03-02 06:46] Xxoliaxx opened #1872 "Add code for implementing Quick Sort using threads"
I want to add the cpp implementation of this code. Please assign this issue.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-02 06:51] Xxoliaxx opened #1873 "Add code for Round Robin CPU Scheduling"
I would like to add the implementation of this in cpp. Please assign this.
@raghav-dalmia  @MastersAbh  @asha15  @singh-shreya6  @SakshiShreya @somya-kapoor

[2020-03-02 06:59] Xxoliaxx opened #1874 "Add code for readers-writer problem using semaphore."
I would like to add the cpp implementation of this code. Please assign this.
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-02 07:04] mugdhajoshi opened #1875 "Logistic Regression in Python"
Can I implement logistic regression under machine learning in Python for GSSoC 2020.

[2020-03-02 07:13] ravireddy07 commented on #371
Hello @arpit1997 , I would like to work on this issue in Java and C++, C. Please assign this to me. Change the Badge too.

[2020-03-02 07:16] Xxoliaxx opened #1876 "Add code for Memory Allocation - Best Fit, First Fit and Worst Fit"
I would like to add the implementation of this in cpp. Please assign this.
@raghav-dalmia  @MastersAbh  @asha15  @singh-shreya6  @SakshiShreya

[2020-03-02 07:18] Neelaksh-Singh commented on #1838
I can work on this issue in C  for GSSoC 2020,please assign it to me @SakshiShreya @asha15 @raghav-dalmia @MastersAbh @singh-shreya6.

[2020-03-02 07:20] Neelaksh-Singh commented on #1821
I would like to work on it in python and c

[2020-03-02 07:21] ravireddy07 commented on #213
Hello @ayushin78  @jainaman224 , I would like work on this in C and Java. Please assign this to me.

[2020-03-02 07:28] Maxz2136 commented on #675
Can I work on this issue under Gssoc'20 ?

[2020-03-02 07:31] Maxz2136 commented on #1876
I would like to work on this issue

[2020-03-02 07:32] mugdhajoshi commented on #1838
I want to work on this issue in Python under GSSoC 2020. Please assign it to me for Python

[2020-03-02 07:37] Maxz2136 opened #1877 "Add code for solving Travelling salesman problem using A* search algorithm in C++"
I would like to add the implementation of this in Cpp.
Please assign this @jainaman224 @singh-shreya6 @MastersAbh @asha15

[2020-03-02 07:48] abhu-A-J opened #1878 "Implementation of CRT (Chinese Remainder Theorem in JS)"
@asha15 can I take this up , there is no implementation in JavaScript.

[2020-03-02 07:59] harshlohia11 opened #1879 "Printing a spiral matrix using C and C++."
It will take a input and it will print a square array accordingly.
I am working on this program.
![spiral](https://user-images.githubusercontent.com/59775144/75656259-99460800-5c89-11ea-8eaf-5d898e3e6c35.JPG)

I am attaching an sample output of the program.

[2020-03-02 08:00] mehmehul opened #1880 "Missing programs in 2D-array"
A new folder for 2D array has been created in C++. The following programs are missing in it.

1. - number of square matrices with all 1s
2. - maximum sum path in the matrix
3. - largest row wise and column wise matrix
4. - minimum cost to reach from one corner of matrix to other corner

I would like to add these programs under this this issue. Please assign me this.

[2020-03-02 08:02] mehmehul commented on #1880
@SakshiShreya  Please assign me the issue

[2020-03-02 08:29] somya-kapoor commented on #1879
It is already present in C but you can work it on C++.
@harshlohia11 Go ahead in C++.

[2020-03-02 08:42] abhu-A-J opened #1881 "Implementation Of Dijkstra Algorithm in JS"
@somya-kapoor can I take this up, there is no implementation in JS.

[2020-03-02 08:44] somya-kapoor commented on #1881
@abhu-A-J Go ahead.

[2020-03-02 08:48] harshlohia11 commented on #1879
Yes but my program is a tad different from what is already present . I am
attaching a copy of what my output will look like.Please tell me if I can
do go ahead with this in C and C++.

On Mon, Mar 2, 2020 at 2:00 PM somya-kapoor <notifications@github.com>
wrote:

[2020-03-02 09:12] ka1shi opened #1883 "Dijkstra Algorithm in Python"
I want to add the code of Dijkstra Algorithm in Python. Please Assign it to me. @raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-02 09:19] ka1shi opened #1884 "Machine Learning - Implementation of Support Vector Machine in Python"
I want to add an implementation of the Support Vector Machine in Python. Kindly assign it to me. Thank You! @raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-02 09:21] kmrakash opened #1885 "README flie for Flyod's Cycle Detection"
I Have completed this

[2020-03-02 10:11] simrankoul opened #1887 "Balance Paranthesis using Stack"
Please assign me the balance parenthesis question to be implemented using a stack for GSSOC'20.

[2020-03-02 10:43] Angshuman032001 commented on #1887
I have already opened this issue and submitted a PR
Issue #1761

[2020-03-02 10:45] #1887 closed

[2020-03-02 10:48] manildayma opened #1888 "BFS on matrix in c"
please assign me this.

[2020-03-02 10:55] simrankoul opened #1889 "Implementing Collections in Java"
I would like to implement collections (List, Stack, Queue and all the implementations of these interfaces) in Java. Please assign me this issue.

[2020-03-02 10:56] BhanujaAggarwal opened #1890 "Add Burkhard-Keller Tree Implementation in Python"

[2020-03-02 10:56] BhanujaAggarwal commented on #1890
I would like to work on this issue. @Vaibhavraj10

[2020-03-02 11:02] Angshuman032001 commented on #1732
I want to work on this issue.
Please assign me this @SakshiShreya @singh-shreya6 @jainaman224 @MastersAbh @somya-kapoor

[2020-03-02 11:02] manildayma opened #1892 "Simpson's rule"

[2020-03-02 11:06] afroz23 opened #1893 "Banker's Algorithm Deadlock Avoidence in C"
I wanted to implement it Assing it to me.

[2020-03-02 11:11] hritik5102 commented on #1893
Please refer PR number #1639. This algorithm has been added

[2020-03-02 11:14] abhishekgupta368 commented on #1842
Can I proceed ahead? I have completed my last assigned issue.

[2020-03-02 11:14] abhishekgupta368 commented on #1840
can proceed ahead? I have completed my last issue.

[2020-03-02 11:15] hritik5102 commented on #1873
Please refer PR number #1639. This algorithm has been added.

[2020-03-02 11:16] abhishekgupta368 commented on #1839
I have completed my last assigned task. can you please assign this issue to me?

[2020-03-02 11:20] hritik5102 commented on #1653
@abhishekgupta368 Please refer PR number #1639. This algorithm has been added

[2020-03-02 11:27] Nikhil-Patro commented on #1870
Please assign this issue to me @Angshuman032001
I can implement a linear time complexity algorithm for this problem with constant amount of auxiliary space.

[2020-03-02 11:28] arghac14 commented on #1795
@asha15 @raghav-dalmia @MastersAbh @SakshiShreya @singh-shreya6 it's been really long,  please assign ne this.

[2020-03-02 11:31] hritik5102 opened #1895 "Added A_Star algorithm"

[2020-03-02 11:31] hritik5102 opened #1896 "Added Bankers algorithm for deadlock avoidance"

[2020-03-02 11:32] #1896 closed

[2020-03-02 11:32] hritik5102 opened #1897 "Added Infix2Postfix ReadME"

[2020-03-02 11:33] hritik5102 opened #1898 "Added Jarvis march algorithm + ReadME"

[2020-03-02 11:33] hritik5102 opened #1899 "Added LRU algorithm"

[2020-03-02 11:33] hritik5102 opened #1900 "Added Round robin cpu scheduling algorithm"

[2020-03-02 11:33] hritik5102 opened #1901 "Added Computer graphics algorithm"

[2020-03-02 11:34] #1895 closed

[2020-03-02 11:41] #1900 closed

[2020-03-02 11:49] Vaibhavraj10 commented on #1873
@Xxoliaxx go ahead.

[2020-03-02 11:50] Vaibhavraj10 commented on #1873
@hritik5102 Donot make a PR before you claim that issue.

[2020-03-02 11:51] Vaibhavraj10 commented on #1874
@Xxoliaxx Go ahead.

[2020-03-02 11:56] Vaibhavraj10 commented on #1883
@ka1shi Dijkstra Algorithm implementation in Python is already there in our Repo. Please create another issue. I am closing this for now.

[2020-03-02 11:56] #1883 closed

[2020-03-02 11:57] Vaibhavraj10 commented on #1884
@ka1shi Kindly give some description about your topic.

[2020-03-02 11:59] Vaibhavraj10 commented on #1752
@kmrakash Go ahead.

[2020-03-02 12:00] Vaibhavraj10 commented on #1885
@kmrakash Go ahead.

[2020-03-02 12:03] Vaibhavraj10 commented on #1888
@manildayma We do have BFS implementation in C already in our repo. Can you describe a bit more ?

[2020-03-02 12:04] j-shreya opened #1903 "Aggressive cows in java"
Farmer John has built a new long barn, with N (2 <= N <= 100,000) stalls. The stalls are located along a straight line at positions x1,...,xN (0 <= xi <= 1,000,000,000).

His C (2 <= C <= N) cows don't like this barn layout and become aggressive towards each other once put into a stall. To prevent the cows from hurting each other, FJ wants to assign the cows to the stalls, such that the minimum di

[2020-03-02 12:06] Nishtha3512 commented on #159
Can i go with the implementation in c++ ? @raghav-dalmia @SakshiShreya @jainaman224 @singh-shreya6

[2020-03-02 12:06] Vaibhavraj10 commented on #1889
@simrankoul Go ahead.

[2020-03-02 12:07] shwhite17 commented on #1842
Ok

On Mon, 2 Mar 2020, 4:44 pm Abhishek Gupta, <notifications@github.com>
wrote:

[2020-03-02 12:07] Vaibhavraj10 commented on #1890
@BhanujaAggarwal Go ahead.

[2020-03-02 12:08] j-shreya commented on #1903
I can implement this in java

[2020-03-02 12:14] Vaibhavraj10 commented on #1897
@hritik5102 I am assigning you this issue for now. But don't submit the PR before you claim the issue. And create a separate PR for this issue.

[2020-03-02 12:18] Nishtha3512 commented on #1740
Please assign me this issue @SakshiShreya @jainaman224 @asha15 @raghav-dalmia

[2020-03-02 12:23] Nikhil-Patro commented on #1625
@asha15  I would like to work on this issue.

[2020-03-02 12:30] mehmehul commented on #1686
@shubhigupta991 I have created an issue 1880 for that, assign me the issue

[2020-03-02 12:35] mehmehul opened #1905 "Binary Tree Pair Sum"
Finding pairs whose sum is equal to a certain given number in Binary Tree. Implementation for this code in the missing in the project repository. I would like to work on its implementation in C++ in this issue.

[2020-03-02 12:39] mugdhajoshi commented on #1565
I want to work on this in Python. Please assign me this as part of GSSoC 2020

[2020-03-02 12:42] mugdhajoshi commented on #1536
I wouls like to work on this issue. Please provide the description. I will work in Python as part of GSSoC 2020

[2020-03-02 12:46] mugdhajoshi commented on #1281
I want to work on Newton Raphson as part of GSSoC 2020. Please assign me this.

[2020-03-02 12:46] TheDangerD0802 opened #1907 "Minimum Partition"

[2020-03-02 12:47] #1907 closed

[2020-03-02 12:53] TheDangerD0802 opened #1908 "K-Dimension Tree implementation in C++"

[2020-03-02 12:53] mugdhajoshi commented on #905
I would like to work on this issue in Python as part of GSSoC 2020. Please assign it to me for Python code.

[2020-03-02 12:55] mugdhajoshi commented on #852
I would like to work on this issue as part of GSSoC 2020. Please assign it to me.

[2020-03-02 12:57] goyalmuskan commented on #1824
@singh-shreya6 Please assign me this issue!

[2020-03-02 12:59] Aju100 opened #1911 "Optimize Linear Search in C"

[2020-03-02 13:00] mugdhajoshi commented on #728
I would like to work on this issue as part of GSSoC 2020 in Python. Please assign it to me.

[2020-03-02 13:03] shwhite17 commented on #1911
i wanna do this, can i?

[2020-03-02 13:05] mugdhajoshi commented on #640
I want to work on this issue in Python as part of GSSoC 2020. Please assign it to me

[2020-03-02 13:08] mugdhajoshi commented on #639
I want to work on this issue in Python as part of GSSoC 2020. Please assign it to me.

[2020-03-02 13:08] Shadman-Ahmed-Chowdhury commented on #1911
I can to contribute in this issue. How can I be assigned to this issue?

[2020-03-02 13:10] DawoodBhai420 opened #1912 "challenges on competitive coding website(GSSoC'20)"
I am thinking to add solutions to challenges on competitive coding websites such as Hackerank, Codechef, etc.
if it is okay to be added in repository, Mentors please let me know if I should start working on it.
and assign it to me.

[2020-03-02 13:13] shwhite17 opened #1913 "linear search in c"
#include <stdio.h>
int main()
{
  int array[100], search, c, n;
  printf("Enter number of elements in array\n");
  scanf("%d", &n);
  printf("Enter %d integer(s)\n", n);
  for (c = 0; c < n; c++)
    scanf("%d", &array[c]);
  printf("Enter a number to search\n");
  scanf("%d", &search);
  for (c = 0; c < n; c++)
  {
    if (array[c] == search)    /* If required element is found */
    {
      prin

[2020-03-02 13:14] shwhite17 commented on #1913
is it correct?

[2020-03-02 13:16] DawoodBhai420 commented on #1913
implementation is already there in repo.

[2020-03-02 13:16] simrankoul commented on #1889
@Vaibhavraj10 Do I need to take dynamic values from the user in this case?

[2020-03-02 13:24] Aju100 commented on #1911
@jainaman224 can you please assigned to this issue please ?

[2020-03-02 13:33] Nikhil-Patro opened #1914 "Bisection method in cpp"
I would like to add a solution in cpp to implement root finding method i.e The Bisection method.Please assign me this issue

[2020-03-02 13:42] Nikhil-Patro opened #1916 "Regula_Falsi_Method in C++ implementation"
I would like to implement Regula_Falsi_Method in C++14.Please assign this issue to me.

[2020-03-02 13:56] Xxoliaxx commented on #1874
Please review the PR #1917 for this issue @Vaibhavraj10

[2020-03-02 14:04] ajaynair710 opened #1920 "Add splay tree in python"

[2020-03-02 14:04] ajaynair710 opened #1921 "Add Pairing Heap in python"

[2020-03-02 14:05] ajaynair710 opened #1922 "Add m-ary trees in Python"

[2020-03-02 14:06] mansikagrawal commented on #1625
Can you please assign me the issue as a part of gssoc'20

[2020-03-02 14:13] #1893 closed

[2020-03-02 14:21] mansikagrawal opened #1924 "3-way_merge_sort in cpp"
please assign me  to add code of 3 way merge sort cpp as a part of gssoc'20.

[2020-03-02 14:25] JasleenRandhawa opened #1925 "Pascal_Triangle - Java"
I would like to implement this problem in java.
Please assign this issue to me.
[Pascal_Triangle](Algo_Ds_Notes/Pascal_Triangle/)

[2020-03-02 14:27] JasleenRandhawa opened #1926 "2D Array_Rotation"
I would like to create this program that rotates a 2D array.
Please assign this issue to me.

[2020-03-02 14:28] mugdhajoshi commented on #564
I want to work on this issue in Python as part of GSSoC 2020. Please assign it to me.

[2020-03-02 14:33] mansikagrawal opened #1927 "Find max_subarray in cpp and java."
The code is given in .rb . Please assign me for CPP and Java.

[2020-03-02 14:47] Xxoliaxx commented on #1873
Please review the PR #1928 for this issue. @Vaibhavraj10

[2020-03-02 14:48] Shadman-Ahmed-Chowdhury opened #1929 "Implementing Longest_Increasing_Subsequence in Python and Java."
I would like to implement Longest_Increasing_Subsequence in Python and Java. Please assign me this issue. Thanks in Advance.

[2020-03-02 14:59] ka1shi commented on #1884
Hi @Vaibhavraj10, Support Vector Machine is a Supervised Machine Learning algorithm used to regress or classify the data. Generally, the Scikit-Learn library of python is directly used to work with this algorithm but here I want to implement it from scratch in Python. I will implement it for both regression and classification. Thank You!

[2020-03-02 15:04] ka1shi opened #1930 "Bellman Ford in Java"
Hi, I want to implement Bellman-Ford Graph algorithm in Java. Please review and assign it to me. Thank You! @raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya

[2020-03-02 15:27] shreyakapoor08 commented on #1930
Hey, can I please take up this issue ?

[2020-03-02 15:27] shreyakapoor08 commented on #1929
Hey I want to work on this issue

[2020-03-02 15:28] shreyakapoor08 commented on #1927
Hey I want to work on this issue

[2020-03-02 15:28] shreyakapoor08 commented on #1925
Hey! can I implement pascal triangle problem ?

[2020-03-02 15:29] shreyakapoor08 commented on #1875
Hey, Can I work on this problem ?

[2020-03-02 15:29] shreyakapoor08 commented on #1867
Can I take up this issue ?

[2020-03-02 15:31] shreyakapoor08 commented on #1770
Hey, can I please work on this issue ?

[2020-03-02 15:35] shreyakapoor08 opened #1932 "Getters and Setters in Java"
Hey, I would want to make a documentation along with code to implement the concept of getters and setters in Java. Kindly assign me this issue so that i can put forward my first step of contribution.
Thanks in advance

[2020-03-02 15:39] shreyakapoor08 opened #1933 "Background detection in frequency domain using K-Means Clustering Algorithm in Machine Learning"
Hey,
I have been working on a research paper related to this topic. Traditional approaches use clustering algorithms in spatial domain using clustering algorithms like K-Means.
I would like to implement it in frequency domain.
Kindly assign me this issue @jainaman224

[2020-03-02 15:40] atrip10 opened #1934 "To add hamiltonian cycle using backtracking code in c++"

[2020-03-02 15:55] Anushka-Rajvanshi opened #1935 "find next number divisible by any given number."
I want to add implementation of this program in c,c++and java. For eg.- to find next digit divisible by 7 after 187. Please assign me this issue. @singh-shreya6  @raghav-dalmia  @asha15 @MastersAb

[2020-03-02 16:14] mugdhajoshi commented on #487
I want to work on this issue as part of GSSoC 2020. Please assign it to me.
Only linear regression is implemented till now in the code.
I can implement other machine learning algorithms like multiple linear regression, Support vector regression, Support vector machine, k-nearest neighbour, K means clustering, decision tree, random forest, Naive bayes etc and also deep learning in python like convo

[2020-03-02 16:16] mugdhajoshi commented on #477
I want to work on this issue in Python as part of GSSoC 2020. Please assign it to me.
Reversal of Odd levels in Full Binary Tree is to be implemented, right?

[2020-03-02 16:22] ravireddy07 opened #1938 "ASCII_SUBSEQUENCES in java, C"
I would like implement this in java and c. please assign this t me.
@SakshiShreya @jainaman224 @asha15

[2020-03-02 16:22] #1938 closed

[2020-03-02 16:23] VibavariG commented on #1835
@Vaibhavraj10 I have updated my problem statement. Is this okay or do I have to write the code?

[2020-03-02 16:35] rhythm10 opened #1940 "Unique Number"
There will be different questions based on bitmasking used to find Unique Number.
1.) Single Unique Number
2.) Two Unique Number

[2020-03-02 16:39] JanaSabuj opened #1941 "Implementation of Bead Sort in JavaScript."
@raghav-dalmia @asha15 @SakshiShreya @MastersAbh please assign me for GSSoC ' 20.

[2020-03-02 16:39] ravireddy07 opened #1942 "Problems related to Maze"
I gone through similar issues and didn't find this problems, so i would like to implement this issue in c++ and java.
Count Maze path, Count Maze path diagonally, Rat in Maze, printing Maze Path...etc
i would like implement all this coding challenging problems. Please assign this to me.

@SakshiShreya @asha15 @jainaman224 @MastersAbh @Vaibhavraj10

[2020-03-02 16:41] JanaSabuj opened #1943 "SEGMENT TREE in JavaScript."
@raghav-dalmia @asha15 @SakshiShreya @MastersAbh please assign me this for GSSoC' 20.

[2020-03-02 16:57] raghav-dalmia commented on #1911
It's already implemented there.

[2020-03-02 16:57] #1911 closed

[2020-03-02 16:59] Akansha2202 commented on #1879
Can you please assign me this

[2020-03-02 17:04] jainaman224 commented on #464
@shreyasrivastava936 Go ahead, if it not already implemented.
Specify the language.

[2020-03-02 17:05] jainaman224 commented on #464
Make sure to create a separate PR for each language.

[2020-03-02 17:07] jainaman224 commented on #477
@shreyasrivastava936 Make sure it is not already implemented and select the language.

[2020-03-02 17:08] #1567 closed

[2020-03-02 17:09] jainaman224 commented on #487
@mugdhajoshi  Create separate issue for each of them.

[2020-03-02 17:09] #487 closed

[2020-03-02 17:10] jainaman224 commented on #488
@shreyasrivastava936 2 opened issue at a time has reached.
@BhanujaAggarwal Go ahead.

[2020-03-02 17:11] jainaman224 commented on #521
@aadhar54 Go ahead for java
@abhinashgiri Go ahead with C++

[2020-03-02 17:13] shubhigupta991 commented on #1691
okay i would like to implement this using python

[2020-03-02 17:15] jainaman224 commented on #564
@mugdhajoshi Go ahead.

[2020-03-02 17:16] #638 closed

[2020-03-02 17:17] jainaman224 commented on #639
@aadhar54 Go ahead. Please let us know the language.

[2020-03-02 17:17] ravireddy07 opened #1946 "N Kings problem"
i would like to implement n-kings problems in java. There was n-queens problem, but not n-kings. Please assign this to me.
@SakshiShreya @asha15 @jainaman224 @MastersAbh @Vaibhavraj10

[2020-03-02 17:18] #640 closed

[2020-03-02 17:19] jainaman224 commented on #675
@mansikagrawal Go ahead with Java.
@insane4u00 Go ahead with c++.
@Maxz2136 Go ahead with C.

Please make sure it is not implemented yet.

[2020-03-02 17:20] #728 closed

[2020-03-02 17:22] MdAkdas opened #1947 "priority scheduling (preemptive) in scheduling algorithms C/C++."
I would like to work to on these algorithms in C/C++.
please assign me this issue. :)

[2020-03-02 17:22] #762 closed

[2020-03-02 17:24] MdAkdas commented on #1947
@SakshiShreya @asha15 @jainaman224

[2020-03-02 17:24] jainaman224 commented on #807
@sonali623 Go ahead with Python.
@BhanujaAggarwal Go ahead with C++.

[2020-03-02 17:25] #816 closed

[2020-03-02 17:26] Maxz2136 commented on #675
@jainaman224 I will start working on it ASAP

[2020-03-02 17:26] #820 closed

[2020-03-02 17:27] jainaman224 commented on #851
@mruna7 Go ahead with Java.
@pavansai1 Go ahead with Python.

[2020-03-02 17:28] #852 closed

[2020-03-02 17:28] jainaman224 commented on #865
@mruna7 Go ahead.
Please select a language/

[2020-03-02 17:29] abhishekgupta368 commented on #1842
i have done changes? assign me this

[2020-03-02 17:29] abhishekgupta368 commented on #1653
please review this file

[2020-03-02 17:29] jainaman224 commented on #905
@pavansai1 Go ahead. Please specify the language.

[2020-03-02 17:29] abhishekgupta368 commented on #1839
please assign me this?

[2020-03-02 17:30] #918 closed

[2020-03-02 17:31] #928 closed

[2020-03-02 17:32] #929 closed

[2020-03-02 17:32] #947 closed

[2020-03-02 17:32] #954 closed

[2020-03-02 17:33] #955 closed

[2020-03-02 17:33] #956 closed

[2020-03-02 17:33] #959 closed

[2020-03-02 17:33] jainaman224 commented on #960
@sandhyabhan Go ahead.

[2020-03-02 17:34] jainaman224 commented on #964
@LovepreetSingh12 Go ahead with Java.
@Manas2520 Go ahead with C++.

[2020-03-02 17:35] jainaman224 commented on #970
@VIJAY07102 Go ahead.

[2020-03-02 17:36] jainaman224 commented on #984
@ranjal007 Go ahead

[2020-03-02 17:38] #985 closed

[2020-03-02 17:38] jainaman224 commented on #996
@ranjal007 Go ahead.

[2020-03-02 17:39] #1003 closed

[2020-03-02 17:39] jainaman224 commented on #1004
@HariniJeyaraman Go ahead.

[2020-03-02 17:40] ravireddy07 opened #1948 "Fibonacci using DP Approach"
There is no issue present on Fibonacci. i would to implement the fibonacci using Dynamic Programming Approach. please assign this to me.
@SakshiShreya @asha15 @jainaman224 @MastersAbh @Vaibhavraj10

[2020-03-02 17:40] #1005 closed

[2020-03-02 17:40] #1006 closed

[2020-03-02 17:41] jainaman224 commented on #1017
@VIJAY07102 Go ahead.

[2020-03-02 17:41] #1027 closed

[2020-03-02 17:42] #1030 closed

[2020-03-02 17:43] Xxoliaxx commented on #1947
Hello! Round Robin scheduling issue was already raised by me and I have been assigned to work on it.
So only ask for the other two please 😊

[2020-03-02 17:44] #1038 closed

[2020-03-02 17:44] #1039 closed

[2020-03-02 17:44] #1041 closed

[2020-03-02 17:45] #1052 closed

[2020-03-02 17:45] #1056 closed

[2020-03-02 17:45] #1057 closed

[2020-03-02 17:45] #1074 closed

[2020-03-02 17:45] #1128 closed

[2020-03-02 17:45] #1139 closed

[2020-03-02 17:45] #1160 closed

[2020-03-02 17:47] MdAkdas commented on #1947
Ohh. I've not noticed.🙄
 I can do the rest. 🙂

[2020-03-02 17:47] jainaman224 commented on #1161
@HariniJeyaraman Go ahead.

[2020-03-02 17:48] #1206 closed

[2020-03-02 17:48] #1234 closed

[2020-03-02 17:48] #1246 closed

[2020-03-02 17:48] #1281 closed

[2020-03-02 17:48] #1282 closed

[2020-03-02 17:48] #1388 closed

[2020-03-02 17:49] #1411 closed

[2020-03-02 17:49] jainaman224 commented on #1412
@jhasaurabh312 Go ahead.

[2020-03-02 17:50] ravireddy07 opened #1950 "Longest Common Subsequence using Strings"
i would like implement LCS using strings. please assign this to me. Few issues are based on numeric arrays and few are not defined. so, i would like implement LCS using strings in C++.
@SakshiShreya @asha15 @jainaman224 @MastersAbh @Vaibhavraj10

[2020-03-02 17:50] #1455 closed

[2020-03-02 17:51] jainaman224 commented on #1467
raksha009 Go ahead with Python.
aditi-2405 Go ahead with C++.
Anushka-Rajvanshi Go ahead with Java.

[2020-03-02 17:53] #1473 closed

[2020-03-02 17:53] nikkkhil067 commented on #1948
I am willing to work on this . Please assign this to me
@SakshiShreya @asha15 @Vaibhavraj10

[2020-03-02 17:54] jainaman224 commented on #1478
@SubhradeepSS Go ahead with C++.
@Nik-09 Go ahead with C.

[2020-03-02 17:54] raghav-dalmia commented on #1764
It's already there.

[2020-03-02 17:54] #1764 closed

[2020-03-02 17:55] nikkkhil067 commented on #1935
I can easily implement this in C, C++, Python, Matlab.
Please assign this to me.

[2020-03-02 17:56] nikkkhil067 commented on #1926
I would like to develop this algorithm.
Please assign this task to me.

[2020-03-02 17:57] jainaman224 commented on #1479
@lakshyajit165 Go ahead.

[2020-03-02 17:57] #1481 closed

[2020-03-02 17:58] #1483 closed

[2020-03-02 17:59] #1485 closed

[2020-03-02 17:59] #1487 closed

[2020-03-02 18:00] #1502 closed

[2020-03-02 18:00] #1503 closed

[2020-03-02 18:00] #1504 closed

[2020-03-02 18:00] nikkkhil067 commented on #1875
I can work on this problem.
Please assign this to me.

[2020-03-02 18:01] #1505 closed

[2020-03-02 18:01] #1522 closed

[2020-03-02 18:02] jainaman224 commented on #1525
@eKta37 Go ahead.
Please create PR only after issue is assigned to you.

[2020-03-02 18:03] jainaman224 commented on #1535
@amandhamija98 Go ahead.

[2020-03-02 18:09] amandhamija98 commented on #1535
Kindly assign someone else, I won't be able to do this in time

[2020-03-02 18:15] eKta37 commented on #1525
#1551 I have made a pull request for the same. Please check it once.
@jainaman224

[2020-03-02 18:17] jainaman224 commented on #1536
@Tawishi Go ahead with C++.

[2020-03-02 18:19] #1547 closed

[2020-03-02 18:19] BishalKrChanda opened #1954 "Armstrong Number using C#"
I would like implement the program to check if a number is an Armstrong number or not using C# as a part of GSSoC ' 20. Please assign this to me.
@SakshiShreya @asha15 @jainaman224 @MastersAbh @Vaibhavraj10

[2020-03-02 18:19] eKta37 commented on #1784
@singh-shreya6 thank you for assigning this task to me. I'll start implementing it ASAP.

[2020-03-02 18:20] jainaman224 commented on #1694
@RedEye00 Go ahead.

[2020-03-02 18:20] eKta37 commented on #1553
@asha15 thank you for assigning this task to me. I'll start implementing it ASAP.

[2020-03-02 18:22] jainaman224 commented on #1552
@estarwiz-7 Go ahead with C++.

[2020-03-02 18:23] ka1shi commented on #1930
Hi @shreyakapoor08, I created this issue so I will work on it once assigned. Kindly check for other issues. Thank You!

[2020-03-02 18:23] chandrikadeb7 commented on #1552
Can I work on this issue in C language?

[2020-03-02 18:25] jainaman224 commented on #1554
@BhavishayGulati Go ahead.

[2020-03-02 18:26] jainaman224 commented on #1558
Please specify the language.

[2020-03-02 18:27] jainaman224 commented on #1559
You are not assigned yet. So closing your PR and issue.

[2020-03-02 18:27] #1559 closed

[2020-03-02 18:29] shreyasrivastava936 commented on #1591
@singh-shreya6 @Vaibhavraj10 @MastersAbh please check pull request for the same

[2020-03-02 18:31] jainaman224 commented on #1569
@shwetagurnani Go ahead with C++.
@Manish-cloud Go ahead with Python.

[2020-03-02 18:32] BishalKrChanda commented on #1821
I want to work on this issue using Python, C, C++ and Java for GSSOC. Please assign me this issue @singh-shreya6 @raghav-dalmia @asha15

[2020-03-02 18:36] jainaman224 commented on #1575
This is already implemented. Create separate issue with language if there is any implementation left.

[2020-03-02 18:36] #1575 closed

[2020-03-02 18:42] jainaman224 commented on #1584
@biekymahato Will pick it up in future.

[2020-03-02 18:43] BishalKrChanda commented on #1809
I want to work on this issue using languages: C, Python, C++ and Java for GSSOC. Please assign this issue to me @singh-shreya6 @jainaman224 @asha15 @uday1201

[2020-03-02 18:45] ritish099 commented on #1821
@SakshiShreya i created a pull request for it..pls review it

[2020-03-02 18:48] #1592 closed

[2020-03-02 18:48] #1593 closed

[2020-03-02 18:48] #1594 closed

[2020-03-02 18:49] biekymahato commented on #1584
okay.

[2020-03-02 18:55] jainaman224 commented on #1607
@amoghjalan Go ahead with C++.
@Jahnavi-Jonnalagadda  Go ahead with Python.

[2020-03-02 18:56] jainaman224 commented on #1608
@amoghjalan Go only with C.

[2020-03-02 18:57] #1611 closed

[2020-03-02 19:06] nikochiko commented on #1559
@jainaman224 You sure this code is not required in the repo?

[2020-03-02 19:07] srimani-programmer opened #1959 "Implementation Of Pigeon Hole Sort in Java, Python"
I want to work on Pigeon Hole Sorting. Please assign this issue to me @singh-shreya6 @raghav-dalmia @asha15