[2016-10-18 13:47] jainaman224 opened #147 "Dijsktra in Java"
Please add Dijsktra algorithm in java.

[2016-10-18 13:49] adishjain commented on #147
Can I do that if that's not a problem?

[2016-10-18 13:49] jainaman224 opened #148 "Breadth First Search in Java"
Please add Bfs algorithm in java.

[2016-10-18 13:51] adishjain commented on #147
I am working on this

[2016-10-18 13:51] adishjain commented on #148
On it!

[2016-10-18 13:51] jainaman224 commented on #147
@adishjain Thank you. Please proceed

[2016-10-18 13:52] jainaman224 commented on #148
@adishjain Thank you.

[2016-10-18 15:39] #148 closed

[2016-10-18 15:53] #147 closed

[2016-10-19 11:59] jainaman224 opened #152 "Stacks using queues"
Create stack using 2 queues.

[2016-10-19 12:00] jainaman224 opened #153 "Create queue using stacks"
Create queue using stacks.

[2016-10-19 12:01] jainaman224 opened #154 "Reversal of linked list"
Reverse a linked list
- [ ] Iteratively
- [ ] Recursively

[2016-10-19 12:03] jainaman224 opened #155 "Sorting of linked list"
Sort link list using
- [ ] Bubble Sort
- [ ] Selection Sort
- [ ] Insertion Sort

[2016-10-19 12:27] jennifertran commented on #155
Hey can I claim this issue? Does it matter what language I use?

[2016-10-19 12:27] adishjain commented on #152
I'm working on this one.
JAVA

[2016-10-19 12:30] jainaman224 commented on #155
Yes, you can please proceed and please specify the language you want to work in.

[2016-10-19 12:31] jainaman224 commented on #152
Thank you. Please proceed.

[2016-10-19 12:31] adishjain commented on #154
On it!
JAVA

[2016-10-19 12:31] jennifertran commented on #155
Ok I'll be posting my solutions in Java if that's alright with you.

[2016-10-19 12:33] jainaman224 commented on #155
@jennifertran Yes please proceed.

[2016-10-19 12:41] ayushin78 commented on #153
assign me this!

[2016-10-19 12:42] jainaman224 opened #156 "Priority queue using heap"
Implement priority queue using min heap.

[2016-10-19 12:44] jainaman224 opened #157 "Dynamic stack using array"
Implement dynamic stack that is resizeable, So, there is no overflow.

[2016-10-19 12:44] ayushin78 commented on #157
working on this!

[2016-10-19 12:46] jainaman224 opened #158 "Mst algorithms"
Implement
- [ ] Kruskal Algorithm
- [ ] Prims Algorithm

[2016-10-19 12:48] jainaman224 opened #159 "Shortest path algorithm"
Implement
- [ ] Dijsktra Algorithm
- [ ] Floyd Warshall Algorithm
- [ ] Bellman Ford Algorithm

[2016-10-19 12:49] jainaman224 opened #160 "Graph Algorithm"
Implement
- [ ] BFS
- [ ] DFS
- [ ] Topological Sort
- [ ] Strongly Connected Components

[2016-10-19 12:50] adishjain commented on #160
Which one?

[2016-10-19 12:53] jainaman224 opened #161 "Maximum Flow"
Implement
- [ ] Ford Fulkerson method

[2016-10-19 12:55] sapanshah commented on #156
I'd like to give this a shot with Java to start with.

[2016-10-19 13:36] sasha2222 commented on #152
I want to write c++ code for this

[2016-10-19 13:44] jainaman224 commented on #152
@sasha2222 Please proceed. Thank you.

[2016-10-19 13:55] vinitraj10 commented on #155
i want to do this in c++

[2016-10-19 13:56] jainaman224 commented on #155
@vinitraj10 Please proceed.

[2016-10-19 14:00] sahilrider commented on #155
i am working on C

[2016-10-19 14:20] jainaman224 commented on #155
@sahilrider Please proceed.

[2016-10-19 15:23] YashishDua opened #165 "Option for User to do push and pop"
In Stack implemenation using linked list , user must be given a option to perform a push and pop function.

[2016-10-19 15:36] jainaman224 commented on #165
Thank you but we are providing study material. It is not advisable to make programs which take input from users.

[2016-10-19 15:36] #165 closed

[2016-10-19 15:58] monicagangwar commented on #159
Is this done for c++ ?

[2016-10-19 16:00] jainaman224 commented on #159
@monicagangwar Bellman Ford Algorithm is not implemented in c++ yet.

[2016-10-19 16:36] richa-coder commented on #160
hey,Can i do this?

[2016-10-19 16:37] richa-coder commented on #158
Which language?

[2016-10-19 16:38] richa-coder commented on #154
Can i write in python or C?

[2016-10-19 16:41] adishjain commented on #154
@richa-coder Yes! Please proceed with whichever language you feel comfortable in.

[2016-10-19 17:01] jainaman224 commented on #158
@richa-coder any language in which they are not implemented yet.

[2016-10-19 17:02] jainaman224 commented on #160
@richa-coder yes surely but please ensure they are not implemented in language you are willing to write code in.

[2016-10-19 17:03] jainaman224 commented on #158
@richa-coder they are implemented only in cpp by the time.

[2016-10-19 17:05] jainaman224 commented on #160
Last two are new ones. You can code in any language.
Both of first two are implemented in cpp, python.
Bfs is also implemented in java.

[2016-10-19 17:14] sahilrider commented on #154
I pulled a request on this issue using C.

[2016-10-19 17:15] jainaman224 commented on #154
@richa-coder it will be better if you work in python.
If you haven't started yet. Can I merge pull request in C.

[2016-10-19 17:17] sahilrider commented on #154
@jainaman224 Mine PR is accepted? I am a newbie ,so plz help me.

[2016-10-19 17:19] richa-coder commented on #154
My PR is in python.

[image: --]

Richa Singh
[image: https://]about.me/richa-singh
<https://about.me/richa-singh?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On 19 October 2016 at 22:44, Sahil Kumar <notifications@github.com> wrote:

[2016-10-19 17:20] richa-coder commented on #154
hey Aman,My PR is in python.

[image: --]

Richa Singh
[image: https://]about.me/richa-singh
<https://about.me/richa-singh?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On 19 October 2016 at 22:48, Richa <singh.richa123495@gmail.com> wrote:

[2016-10-19 17:20] adishjain commented on #154
@sahilrider Yes! It has been merged

[2016-10-19 17:23] jainaman224 commented on #154
Can you please communicate with us on gitter regarding help. It will be better. https://gitter.im/Algo_Ds_Notes/Algo_Ds_Notes

[2016-10-19 17:27] jainaman224 commented on #154
@richa-coder Thank you. Please file a PR once you are completed with it.

[2016-10-19 17:37] jainaman224 opened #173 "Segment tree"
Implement segment tree
- [ ] Range Minimum Query
- [ ] Sum of given range(naive)
- [ ] Sum of given range(using lazy propagation)

[2016-10-19 17:39] jainaman224 opened #174 "Tree traversal algorithm"
Implement
- [ ] Pre-order Traversal
- [ ] Post-order Traversal
- [ ] In-order Traversal
- [ ] Level-order Traversal

[2016-10-19 17:41] jainaman224 opened #176 "Trie"
Implement Trie
- [ ] words(lower-case alphabets)
- [ ] numbers

[2016-10-19 17:45] varunpurohit76 commented on #174
can i claim it in java and python ?

[2016-10-19 17:48] jainaman224 commented on #174
@varunpurohit76 Already implemented in python. Can you please code in java ?

[2016-10-19 17:48] varunpurohit76 commented on #174
will do in java. thanks

[2016-10-19 18:15] ayushin78 opened #177 "Queue using array"
Functions to be included :
- Enqueue function
-  Dequeue function
-  Size function
-  isEmpty function (checks whether queue is empty or not)

[2016-10-19 18:17] ayushin78 opened #178 "Queue using Linked List"
Functions to be included :
- Enqueue function
- Dequeue function
- Size function
- isEmpty function (checks whether queue is empty or not)

[2016-10-19 19:00] pranayberry commented on #178
I'm on it.

[2016-10-19 19:00] pranayberry commented on #177
I'm on it.

[2016-10-19 20:10] hryniuk commented on #173
I'd like to do this. Could you assign me?

[2016-10-20 01:34] jainaman224 commented on #178
@pranayberry Please specify the language.

[2016-10-20 05:35] hareshkh opened #185 "Chinese Remainder Theorem using Java"

[2016-10-20 07:59] hawksrachit opened #188 "Activity Selection"
I want to work on activity selection in c++.

[2016-10-20 08:32] jainaman224 commented on #185
Thank you.

[2016-10-20 08:32] #185 closed

[2016-10-20 08:38] jainaman224 commented on #188
Thank you.

[2016-10-20 09:31] vaibhavchellani commented on #174
can i implement it in c++

[2016-10-20 09:36] vaibhavchellani commented on #174
I just saw that it is done already

[2016-10-20 09:46] vaibhavchellani commented on #176
on it c++

[2016-10-20 12:54] avijeet95 commented on #178
I could do this in C++ and Java, if necessary.

[2016-10-20 13:00] jainaman224 commented on #178
@avijeet95 please proceed.

[2016-10-20 13:34] #173 closed

[2016-10-20 20:22] pranayberry commented on #178
Is the program needed in any other language?

[2016-10-20 21:03] jinz2014 opened #195 "struct node discussion"
How about the following c++ way to create define a Node class ?

class Node {
   public:
      int data;
      Node *left;
      Node *right;
      Node(int value) : data(value), left(NULL), right(NULL) {}
}

node *root = new Node(1);

[2016-10-20 21:12] jinz2014 opened #196 "missing image"
Could you check if there is an image for showing the multi-level inheritance  ?

OS: centos6

[2016-10-20 21:26] jinz2014 opened #197 "insertion sort"
Is it good to have a generic insert_sort function that is similar to:

insert_sort(int arr[], int start, int end);

The question comes from the function definitions in Insert_Sort.cpp and Merge_Sort.cpp.

[2016-10-21 01:56] prakharcode commented on #196
![download](https://cloud.githubusercontent.com/assets/13493237/19584104/985efd40-975f-11e6-9f96-126f9fd19a24.jpg)

[2016-10-21 02:11] jainaman224 commented on #178
Yes you can work on other languages.

[2016-10-21 02:18] jainaman224 commented on #197
If you want to create a program for generic function. Lets start a new concept of adding features of language, and add this under c++ section.

[2016-10-21 02:18] #197 closed

[2016-10-21 02:20] jainaman224 commented on #195
There are many ways to do so. It looks better way though. Can you please provide link to show which program you are referring to.

[2016-10-21 02:20] #196 closed

[2016-10-21 02:20] #188 closed

[2016-10-21 03:45] jainaman224 opened #199 "Sleep Sort"
Implement Sleep Sort

[2016-10-21 04:19] HackersSpirit commented on #199
@jainaman224: can i work on the following

[2016-10-21 04:24] jainaman224 commented on #199
@HackersSpirit Yes please proceed and specify language.

[2016-10-21 04:43] jainaman224 opened #202 "Documentation"
Add documentation to the folders where there is no README.md file.

[2016-10-21 05:19] judeosbert commented on #199
@jainaman224 Working on sleep sort in python. Please notify if the language is to be changed to anything else.

[2016-10-21 05:40] jainaman224 commented on #199
@judeosbert Java is not assigned please proceed. If you want you can code in multiple languages.

[2016-10-21 05:41] oanarosca commented on #202
I want to work on this :smile:

[2016-10-21 06:07] jainaman224 commented on #202
@oanarosca Thank you. It will be better if you open new pull request for each README else you can add upto 5 README in one PR.

[2016-10-21 06:12] judeosbert commented on #199
@jainaman224 pull request has been created for the java code

[2016-10-21 10:06] HackersSpirit commented on #199
@jainaman224: I am working on python.

Please let me know in case of any query.

[2016-10-21 10:10] jainaman224 commented on #199
@HackersSpirit Work in any language you like and want to contribute. Just comment here about language you are using. Thank you

[2016-10-21 10:26] seancyw commented on #202
Hi, I would like to work on this too :)

[2016-10-21 10:29] jainaman224 commented on #202
@seancyw @oanarosca  Please specify the topic you want to work on and proceed.

[2016-10-21 19:12] jainaman224 commented on #199
@MahipaulTak already implemented in c++. Please check out other issues or create new one if you find something to added.

[2016-10-21 19:37] MahipaulTak commented on #158
can i work on it in python

[2016-10-21 20:09] ayushin78 commented on #158
@MahipaulTak Yes! you may proceed in any language in which the algorithms are still unimplemented.

[2016-10-21 20:35] ayushin78 opened #213 "Length of a Linked List"
Include the following two functions for determining the length of a linked list in these codes (https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Linked_List)
- lengthIterative - This function should be implemented iteratively.
- lengthRecursive - This function should be implemented recursively.

Note : please specify the language in which you are interested before proceeding.

[2016-10-21 21:33] HackersSpirit commented on #199
#130 Implemented sleep sort in erlang

[2016-10-21 21:43] michael-sloma commented on #176
I will do python

[2016-10-21 22:46] vjon commented on #213
I'm interested in implementing this in C++, if it hasn't been already.

[2016-10-22 01:49] itsdegan commented on #213
I could give it a try in Java

[2016-10-22 01:49] jeremychen0127 commented on #213
I have created a PR for Python in #218

[2016-10-22 03:37] itsdegan commented on #213
I created a PR for Java #220

[2016-10-22 06:37] jainaman224 commented on #199
@HackersSpirit Thank you.

[2016-10-22 07:23] sahilrider commented on #213
I am going to do it in C.

[2016-10-22 07:24] sahilrider commented on #213
But there is no linked list in C. Should I make one?

[2016-10-22 07:24] jainaman224 commented on #213
@sahilrider please proceed

[2016-10-22 13:25] mastash3ff commented on #154
#227

[2016-10-22 14:32] gps08 commented on #199
Can i implement this using shell script??

[2016-10-22 15:13] gps08 commented on #199
#231

[2016-10-22 15:17] michael-sloma opened #232 "Duplicate queue implementations"
There are two separate folders with queue implementations for linked links and arrays. Could these be collated?

[2016-10-22 21:08] hm98 opened #235 "No sparse table implementation so far"
#234 - Opened a PR for the same.

[2016-10-23 03:31] jainaman224 commented on #232
Ohh yes, I will try to make one file out of those two. Thank you.

[2016-10-23 10:44] mrwonko commented on #154
I'm interested in implementing this in C++. However I'm not exactly clear on the requirements - if it's just "implement a linked list & reversing it in C++", the C implementation technically already fulfills that. (Well, it's only an iterative implementation, no recursive one.)

I'll do an implementation showcasing in what I consider "modern C++" showcasing the differences to C. I'll put particula

[2016-10-23 22:20] Kazakuri commented on #199
I'll do this up in Ruby.

[2016-10-24 04:55] paliitr commented on #155
Can I do this in python?

[2016-10-24 05:09] paliitr commented on #152
Can I work on python for this?

[2016-10-24 05:10] paliitr commented on #157
Can I work on C++/Python for this?

[2016-10-24 05:11] paliitr commented on #152
Can I work on Python for this?

[2016-10-24 09:23] LauraLaureus commented on #213
@jainaman224 does it already implemented in c++?

[2016-10-24 09:26] LauraLaureus commented on #158
@jainaman224 I have already programmed  Kruskal in Java for a university task. Do you want me to put a copy in your folder?

[2016-10-24 15:41] jainaman224 commented on #155
@paliitr Already implemented. Please checkout other issues.

[2016-10-24 15:42] jainaman224 commented on #157
@paliitr Please proceed.

[2016-10-24 15:42] jainaman224 commented on #152
@paliitr Please proceed

[2016-10-24 15:44] jainaman224 commented on #213
@LauraLaureus yes, please check out other issues or create new one.

[2016-10-24 15:46] jainaman224 commented on #158
@LauraLaureus you can put that here include output and take example as input instead getting it from user. Thanks

[2016-10-25 00:33] bhaveshgoyal commented on #153
Working on implementing in C

[2016-10-25 02:30] mohit4 commented on #153
I'd like to work on this in C++

[2016-10-25 16:55] aaronraff commented on #177
Is it acceptable to just translate the C++ code into Java to keep the code consistent over the different languages?

[2016-10-26 08:34] jainaman224 commented on #177
It will be better if you use java style, java for loop, java collections etc but you can translate that if you want to. Thank you

[2016-10-26 08:39] MayankTripathi01 commented on #161
hey can i do this in c++

[2016-10-26 08:41] jainaman224 commented on #161
Try to do it in c, already implemented in c++

[2016-10-26 08:51] MayankTripathi01 commented on #161
how to reference this issue

[2016-10-26 09:05] MayankTripathi01 commented on #199
@jainaman224  can i work on c# or julia

[2016-10-26 09:10] MayankTripathi01 commented on #160
can i do topological sort in c @jainaman224

[2016-10-26 11:41] jainaman224 commented on #161
just use #161 that the issue number in comment or description of your pull request

[2016-10-26 12:55] paliitr commented on #202
Working on documentation for stack implementations.

[2016-10-26 13:13] saksham0037 opened #268 "No implemenation of Binary Search in C"

[2016-10-26 13:16] jainaman224 commented on #268
Do you want to work, then please proceed.

[2016-10-26 13:16] sahilkhurana19 commented on #268
I am willing to take a go at it

[2016-10-26 13:17] saksham0037 commented on #268
I am up

[2016-10-26 13:18] jainaman224 commented on #268
@sahilkhurana19 Please work on other issues.

[2016-10-26 18:16] arpit1997 opened #278 "Minimum spanning tree problem"
Given an undirected and connected graph G = (V, E)
G=(V,E), a spanning tree of the graph G is a tree that spans G, it includes every vertex of
and is a subgraph of every edge in the tree belongs to G The cost of the spanning tree is the sum of the weights of all the edges in the tree. There can be many spanning trees. Minimum spanning tree is the spanning tree where the cost is minimum among all t

[2016-10-26 18:34] arpit1997 opened #280 "Balanced tree problem Red Black Tree"
**How to balance a given tree**
A red-black tree is a binary search tree with one extra bit of storage per node: its
color, which can be either RED or BLACK. By constraining the node colors on any
simple path from the root to a leaf, red-black trees ensure that no such path is more
than twice as long as any other, so that the tree is approximately balanced.

[2016-10-26 18:44] arpit1997 opened #282 "Boyer moore Algorithm"
Boyer moore pattern searching algorithm is used for efficient string searching. It is used for practical implementation and research. The key to efficiency is that it does not use brute force instead of that it skips some patterns based on information available. You may find more information [here](computing.dcu.ie/~humphrys/Notes/String/bm.html)
Tell me if anyone is willing to solve this with me

[2016-10-26 18:54] arpit1997 opened #288 "Balanced tree problem AVL tree"
This issue is in reference to #280 which is the same kind of problem of balancing trees. **Adelson-Velskii and Landis trees** are called to be more robust than red black trees. The good thing about avl is that it can contain difference og height 1 between two branches.
ping me if anyone wants to contribute to this issue.
:smile:
:smile:

[2016-10-26 19:04] arpit1997 opened #290 "Huffman coding problem"
Huffman coding is a lossless data compression algorithm. The idea is to assign variable-legth codes to input characters, lengths of the assigned codes are based on the frequencies of corresponding characters. The most frequent character gets the smallest code and the least frequent character gets the largest code

It is somehow a bit complex to understand as it requires many other concepts to impl

[2016-10-26 19:56] ashivliving commented on #268
I have added bubble_sort.c

[2016-10-26 19:56] shiva1208 commented on #155
I want to claim on C.

[2016-10-27 02:44] paliitr commented on #282
I have the code in C++. Will also do it in python.

[2016-10-27 06:54] faraaz98 commented on #268
I have a PULL REQUEST for [binary_Search.c](https://github.com/jainaman224/Algo_Ds_Notes/pull/303)

[2016-10-27 06:57] faraaz98 commented on #268
I have added [binary_search.c](https://github.com/jainaman224/Algo_Ds_Notes/pull/303)

[2016-10-27 07:03] PiyushGoyal443 opened #304 "No delete in Linked List C++"
I can work on it.

[2016-10-27 07:35] PiyushGoyal443 commented on #154
can i work in c++ for this?

[2016-10-27 07:37] PiyushGoyal443 commented on #174
can i implement it in c?

[2016-10-27 07:43] PiyushGoyal443 commented on #202
Can i also work for following
1.Stack_using_lists
2. Stack_using_array
3. Breadth First Search

[2016-10-27 11:07] sourabhjagtap95 commented on #268
Made a pull request #307

[2016-10-27 11:18] sourabhjagtap95 commented on #152
Made a pull request #308 .
Stack Using 2 Queues in C

[2016-10-27 11:26] sourabhjagtap95 commented on #153
Queue using Stack in C PR #310

[2016-10-27 11:31] sourabhjagtap95 commented on #199
Done in Scala

[2016-10-27 12:22] paliitr commented on #202
@PiyushGoyal443 I was working on 1. and 2. Please see previous messages before starting work as it saves time for both. Anyways good job on the readme.

[2016-10-27 16:06] sashafierce commented on #155
Added Insertion Sort on Linked List in C #315

[2016-10-27 16:26] jainaman224 commented on #278
I think issue for this already exist. Hence closing this issue for now.

[2016-10-27 16:26] #278 closed

[2016-10-27 16:52] jainaman224 commented on #174
@PiyushGoyal443 Already implemented please work on other issues.

[2016-10-27 16:54] #268 closed

[2016-10-27 17:04] #202 closed

[2016-10-27 17:20] sahilkhurana19 opened #318 "Insertion_Sort in C"
The program for Insertion sorting in C is not there. I have made the program. Can I submit a PR regarding it?

[2016-10-27 17:29] abhisekssp4025 opened #320 "add AKS_primality test"

[2016-10-27 19:53] patniharshit commented on #158
I would like to contribute prims in C.

[2016-10-27 21:29] pranayberry opened #326 "Bubble Sort in C"
Bubble sort is missing in C and I have made a program for it. Can I proceed with the PR?

[2016-10-27 21:38] #326 closed

[2016-10-27 21:40] pranayberry opened #327 "Circular linked list in C"
I am up for it.

[2016-10-28 02:30] jainaman224 commented on #158
Please check, it should not be implemented yet

[2016-10-28 02:31] jainaman224 commented on #318
Yes

[2016-10-28 02:31] jainaman224 commented on #327
Ok

[2016-10-28 05:40] patniharshit commented on #158
yes it is not implemented, I have sent a pull request.

[2016-10-28 13:37] arpit1997 opened #341 "Travelling Salesman Problem NP complete"
Travelling salesman problem TSP is considered as NP-hard problem.It is a classical problem of [optimisation](https://simple.wikipedia.org/wiki/Optimization_%28computer_science%29). Most easy and trivial solution is to go for all permutation and find the best solution but factorial n is a very large complexity for a problem. This problem comes in the domain of [Graph Theory](https://en.wikipedia.or

[2016-10-29 03:17] yash-iiith commented on #156
I am implementing this in cpp.

[2016-10-29 07:32] sahilkhurana19 opened #350 "Selection_Sort in C"
I am working on it

[2016-10-29 10:11] AyushRai09 commented on #157
Can I implement this in C?

[2016-10-29 10:21] AyushRai09 commented on #156
i will be implementing this in c

[2016-10-29 10:44] AyushRai09 commented on #280
I would like to work on the problem of creating a red black tree in c. Can you assign this work to me?

[2016-10-29 11:21] AyushRai09 commented on #161
I would like to give a try to this problem in C

[2016-10-29 14:39] arpit1997 commented on #280
@AyushRai09 Well Thank you for you for your interest and go for it if you can do it. There is no need to assign the issue #280  You may refer these links to boost your work
[eeks for geeks](www.geeksforgeeks.org/red-black-tree-set-1-introduction-2/)
[wikipedia](https://en.wikipedia.org/wiki/Red–black_tree)
Hope this helps
:smile_cat: :smiley_cat:

[2016-10-29 16:18] #318 closed

[2016-10-29 16:20] #350 closed

[2016-10-29 16:22] jainaman224 commented on #280
Thank you @arpit1997 .

[2016-10-29 16:49] sahilkhurana19 opened #352 "Quick Sort in C"
I am working on it

[2016-10-30 21:37] arpit1997 commented on #282
Many Many Thanks for this contribution @paliitr  and solving the problem

Thanks :smile_cat: :smile_cat:

[2016-10-30 21:38] #282 closed

[2016-10-31 02:42] aaronraff commented on #177
Can I work on this in Javascript?

[2016-10-31 08:52] arpit1997 opened #371 "Longest Increasing Subsequence"
LIS is a dynamic programming problem and here is a description

:cheese: :smile_cat: :smiley_cat:

[2016-10-31 10:43] pranayberry opened #372 "Linear Search in C"
I have implemented it in C.

[2016-10-31 11:04] DylanGuedes commented on #371
Hi. The PR #375 adds the code to solve the size of the LIS.

[2016-10-31 14:24] pranayberry opened #382 "Linked list selection sort in C"
I have implemented it.

[2016-10-31 20:10] igormp opened #391 "Index not being updated"
Although I made a PR to update it in #390, I fear it won't take too long for it to be outdated again, so it would be nice if for every new commit we ask for an update to the index for every new algorithm or a new implementation to an existing one.
Maybe we could make it a requirement for future PRs and make it clear in the README.

[2016-11-01 04:56] #372 closed

[2016-11-01 05:11] jainaman224 commented on #391
Actually, I have asked them to do so, but due to inability of many to resolve conflicts, I have chosen this approach.
It would be better if you recommend any better idea than mine. It will be a great help.
Thank you.

[2016-11-01 06:17] igormp commented on #391
What if we update the README so it makes clear the need to update the index? We could put it somewhere along with [part 6](https://github.com/jainaman224/Algo_Ds_Notes#6-create-a-new-branch-bangbang)

[2016-11-01 08:47] nandukalidindi opened #393 "Two redundant folders for Queues using linked list"
Both `Queue_Linked_List.c` and `Queue_using_linked_list.c` seem to be implementing the same Queue logic.

Reason I am pointing this is I wanted to push a C++ template implementation for Queue which supports int, double, float, short etc. (all number datatypes) with header(**.h**) and implementation(**.cpp**) in different files.

[2016-11-01 09:51] jainaman224 commented on #391
Actually how to tell them how to resolve conflicts. Otherwise it will be great.

[2016-11-01 09:52] jainaman224 commented on #393
I will consult my team and get back to you. Thank you for pointing out.

[2016-11-01 09:53] #382 closed

[2016-11-01 09:53] #352 closed

[2016-11-01 09:53] #327 closed

[2016-11-01 09:53] #304 closed

[2016-11-02 03:54] igormp commented on #391
Hmm, I'm not that good with git to solve conflicts (had some myself and spent more time trying to solve then than doing the actual commit). Would be nice if someone more experienced could hand us some help.

[2016-11-02 05:27] jainaman224 commented on #391
We need to merge changes in a file where 2 or more person are working together. This is easy thing but for beginners, it is tough and I have also started contributing from this repository only. Hence I understand their state of mind.

[2016-11-02 06:16] jainaman224 commented on #393
Done

[2016-11-02 06:16] #393 closed

[2016-11-02 06:17] #199 closed

[2017-01-03 05:02] fnaith opened #399 "Could we add unit test?"
I found this project is far more useful than just notes, it contains so many data structure that some language's standard library do not even have. If it provides some test case to guarantee the stability, then more real application will consider to use this project. In that case, test should not be contained as main function in source. But now, the structure of this project seems only consider co

[2017-01-03 08:09] jainaman224 commented on #399
I always promote creation of separate function instead of writing inside main function. For that specific purpose we can have commented main function.
If you have any better solution, please suggest.
Thanks

[2017-01-03 15:57] fnaith commented on #399
Using simple strategy for managing multiple language library maybe a solution. I just want to check how test works on this project.

[2017-01-03 15:57] #399 closed

[2017-01-04 15:37] Aniket965 opened #400 "change the list name from arrays to list in python (python don't have arrays)"

[2017-01-04 16:03] jainaman224 commented on #400
Please proceed

[2017-01-04 16:13] Aniket965 commented on #400
can i do this?

[2017-01-04 16:53] Aniket965 commented on #400
if yes than solved

[2017-01-05 15:42] #400 closed

[2017-01-28 13:59] Aniket965 opened #405 "Heap_sort.java need some fixes in names of the functions"

[2017-01-28 14:00] Aniket965 commented on #405
Heapify should be maxheapify...

[2017-01-28 14:03] Aniket965 commented on #405
and Build_Heap should be Build_Max_Heap

[2017-02-24 13:51] gps08 commented on #405
#408 resolved

[2017-02-25 17:21] #405 closed

[2017-03-12 04:00] samsondstl commented on #288
I could contribute C++ and Java, if desired.

[2017-03-12 04:54] Aniket965 commented on #288
create pr

[2017-03-18 15:47] #288 closed

[2017-04-03 19:10] Ankit-Dhankhar opened #413 "There is difficulty in adding Strassen's Algorithm to INDEX.md"

[2017-10-07 16:20] akhil117 commented on #213
I like to work on this. Could I work on this by using java?

[2017-10-09 07:51] jainaman224 commented on #213
Go on

[2018-10-04 18:24] ojas1234 opened #441 "Adding Binary heap"
I'm taking it

[2018-10-07 10:50] jainaman224 commented on #441
Thanks for your contribution. Your PR is merged.

[2018-10-07 10:50] #441 closed

[2019-02-12 14:43] RashiG27 commented on #371
hey, I would like to work on this one.

[2019-02-17 13:42] jainaman224 commented on #371
@RashiG27 Go on but keep in mind it is already implemented for C++ and ruby.

[2019-02-17 20:01] NirmalKumarJoshi commented on #155
Hello admin, I would like to work on this issue under GSSoC'19. I would like to do it in C++ language. Please assign me this issue.

[2019-02-18 16:03] jay1499 commented on #174
Can I implement the diagonal traversal of a tree? I can do it in cpp

[2019-02-18 19:07] jainaman224 commented on #155
@NirmalKumarJoshi Go ahead but it is already implemented for bubble and selection sort. You can implement insertion and merge sort.

[2019-02-18 19:09] jainaman224 commented on #174
@jay1499 Go ahead. Please mention me in the PR. I am excited to learn this.

[2019-02-19 09:38] Ifyokoh opened #448 "Easy Accessibility"
I think since these algorithms are written in different languages, I suggest the repo be arranged in folders, each folder containing algorithms of a particular language. This will help for easy accessibility

[2019-02-19 18:23] jainaman224 commented on #448
Hi @Ifyokoh, what about making the platform for searching them?

[2019-02-19 19:20] infiniteoverflow commented on #448
I would like to help in this task.

[2019-02-19 20:17] NirmalKumarJoshi commented on #155
Yeah sure @jainaman224.

[2019-02-20 01:05] Rita-Okonkwo commented on #213
Hi is it still possible to work on this using Java?

[2019-02-20 16:21] jainaman224 commented on #213
It is already implemented in Java.

[2019-02-20 16:32] NirmalKumarJoshi opened #450 "Adding matrix folder"
This folder will contain all the programs related to matrix in different languages.
The few programs that can be added are-
- [x] Matrix Addition
- [x] Matrix Subtraction
- [x] Matrix Multiplication
- [ ] Matrix Multiplication | Recursive
- [x] Sort a given matrix
- [x] Program for scalar multiplication of a matrix
- [ ] Sum of middle row and column in Matrix
- [x] Mirror of matrix across diagonal

[2019-02-20 16:34] NirmalKumarJoshi commented on #450
@jainaman224 I want to work on this issue. Please assign me.

[2019-02-20 22:08] Rita-Okonkwo commented on #155
Hi @jainaman224 can I implement insertion sort algorithm using java?

[2019-02-21 17:07] jainaman224 commented on #450
@NirmalKumarJoshi Please go ahead.

[2019-02-21 17:56] jainaman224 commented on #155
@Rita-Okonkwo Go ahead.

[2019-02-21 18:13] Rita-Okonkwo commented on #155
Thanks alot

[2019-02-21 18:13] Rita-Okonkwo commented on #155
I'd send a PR by March 1st for GSSoC

[2019-02-24 04:22] vidyabhandary opened #452 "Python Implementations for AVL_Tree, Treap, Red_Black_Tree, Huffman-Encoding , Doubly_Linked_List and Circular_Linked_List"
Hi jainaman224,
I would like to work on the python implementations of the following items
1. AVL_Tree at https://github.com/jainaman224/Algo_Ds_Notes/tree/master/AVL_Tree
2. Treap at https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Treap
3. Red_Black_Tree at https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Red_Black_Tree
4. Huffman-Encoding at https://github.com/jainaman224/Algo_Ds

[2019-02-25 15:45] jainaman224 commented on #452
@vidyabhandary Go ahead.

[2019-02-25 18:36] quicksilver28 commented on #450
Hello! I am a gssoc participant and interested in contributing to this issue. I'll work on providing, C, C++ and Java solutions!

[2019-02-26 18:55] Ask149 commented on #371
@jainaman224  I would like to implement the Longest Increasing Subsequence in python.

[2019-02-27 19:26] prabhjyot28 commented on #290
Hello @jainaman224 , I would like to build this algorithm in Python.

[2019-02-28 18:08] InfiniteVerma opened #457 "Add readme.md for linkedlist."
Hi. I would like to work on README.md for linkedlist. I am a GSSOC participant.

[2019-02-28 18:30] anusreesaji commented on #178
can I work on it using python?

[2019-02-28 18:36] anusreesaji commented on #213
can I work on it in python?

[2019-03-01 05:02] Soumya0803 opened #458 "Working on README.md for Binary Search Trees"
I would like to add a readme.md for Binary Search Trees.
I am a Gssoc participant.

[2019-03-01 06:14] Saranya-jena commented on #458
I am interested in adding a readme.md for Binary Search Trees.
I am a GSSoC particpant.

[2019-03-01 06:16] Saranya-jena commented on #457
I am a GSSoC participant and I would like to add a readme.md for linkedlist.

[2019-03-01 06:42] Saranya-jena commented on #156
hi, I would like to add implementation of Priority queue using min heap in C++.
I am a GSSoC participant.

[2019-03-01 06:47] tusharsabhani commented on #195
I would like to do this task(in C++).
Also one query I have to give the full working program right or just the struct node definition?

[2019-03-01 09:31] jainaman224 commented on #290
Go ahead.

[2019-03-01 09:32] jainaman224 commented on #450
@quicksilver28 Go ahead. Just look at the repo, as there are algorithms already implemented in c++.

[2019-03-01 09:34] jainaman224 commented on #371
@RashiG27 In which language are you working?

[2019-03-01 09:36] Ash-D23 opened #460 "Insertion Sort, Quick Sort, Selection Sort, Radix Sort in js"
I am a GSSOC Participant
I would like to work on these sorting algorithms in js

[2019-03-01 09:38] jainaman224 commented on #178
Unfortunately, It is already implemented.

[2019-03-01 09:46] jainaman224 commented on #213
@anusreesaji It is already implemented in python.

[2019-03-01 09:47] jainaman224 commented on #458
@Soumya0803 Please go ahead.

[2019-03-01 09:50] jainaman224 commented on #458
@Saranya-jena What about documenting Trie ?
If you are interested please create an issue.

[2019-03-01 09:50] jainaman224 commented on #457
@InfiniteVerma Go ahead.

[2019-03-01 09:51] jainaman224 commented on #156
@Saranya-jena Go ahead.

[2019-03-01 10:05] jainaman224 commented on #195
Hey @tusharsabhani, Actually the question here is to use struct or class in c++. Like in linked list or tree programs. I am still not sure, whether to go for struct or class.

What are your thoughts. and to clarify this task needs to fix existing programs.

[2019-03-01 10:07] jainaman224 commented on #460
Go ahead.

[2019-03-01 11:25] tusharsabhani opened #461 "Josephus Problem"
In this problem n people are standing in a circle and n-1 are executed. In each step a certain number of people  are skipped and the next person in the circle is executed. This certain number is denoted by k, so after every execution k-1 people are skipped and the next person is executed. By Josephus method we need to find the place where the person will not be executed.

[2019-03-01 13:17] Saranya-jena commented on #458
Okay sir , I will do that.

[2019-03-01 13:26] Saranya-jena opened #464 "Implementation of Trie"

[2019-03-01 13:51] InfiniteVerma commented on #457
I sent a pull request. Number #465

[2019-03-01 14:34] #457 closed

[2019-03-01 14:55] KanchanThareja commented on #460
@jainaman224 I want to work on the above algorithms in C, C++ and Java

[2019-03-01 15:01] anusreesaji commented on #156
As part of GSSoc can I implement it in python

[2019-03-01 15:05] anusreesaji commented on #280
can I work on it in python

[2019-03-01 15:09] DeepankarAcharyya commented on #461
@tusharsabhani   I am a GsSoc participant and would like to work on it.

[2019-03-01 15:30] tusharsabhani commented on #461
I already did for C & C++

[2019-03-01 16:14] gauravburjwal opened #466 "Working on README.md for Stacks using Linked Lists"
Hello,
I am a GSSoC participant.
I would like to add a README.md for Stacks using Linked Lists.

[2019-03-01 18:11] DeepankarAcharyya commented on #461
I have done the program for python3

[2019-03-01 18:16] InfiniteVerma opened #469 "Add readme.md for binary heap"
@jainaman224 Hi. I would like to work on README.md for Binary Heap. I am a GSSOC participant.

[2019-03-02 06:26] Chaitanyasuma commented on #156
I'm a participant of GSSoc, can I implement this in C++ or Java

[2019-03-02 06:55] jainaman224 commented on #460
@KanchanThareja Sorry but it is already implemented.

[2019-03-02 06:55] #460 closed

[2019-03-02 06:57] jainaman224 commented on #464
@Saranya-jena Go ahead.

[2019-03-02 07:16] KanchanThareja commented on #160
I want to work on topological sort in Java.

[2019-03-02 07:33] jainaman224 commented on #280
@anusreesaji Go ahead.

[2019-03-02 07:41] jainaman224 commented on #461
Great.
@DeepankarAcharyya Please claim issue first from next time.

[2019-03-02 07:43] jainaman224 commented on #469
@InfiniteVerma Go ahead.

[2019-03-02 07:44] jainaman224 commented on #156
@Chaitanyasuma Go ahead with Java.

[2019-03-02 07:46] jainaman224 commented on #156
@Chaitanyasuma sorry, it is already implemented.

[2019-03-02 07:46] jainaman224 commented on #156
@anusreesaji Go ahead.

[2019-03-02 07:50] jainaman224 commented on #160
@KanchanThareja Go ahead.

[2019-03-02 14:13] Jayashree-panda opened #473 "Add readme.md for depth-fitst-search"

[2019-03-02 15:37] prasty commented on #280
Can I work on it sir.

[2019-03-02 15:38] prasty commented on #341
Can I work on it.

[2019-03-02 16:24] harsha-iiiv commented on #473
@Jayashree-panda  please assign to me.

[2019-03-02 16:27] NirmalKumarJoshi opened #474 "Adding strings folder"
This folder will contain all programs related to strings in different languages
The few programs that can be added are:

- [ ] String length
- [ ] Anagram Strings
- [ ] Vowels and consonants in a string
- [ ] String Pattern
- [ ] Substring within a string

[2019-03-02 16:31] Jayashree-panda commented on #473
@harsha-iiv actually I have solved it and I am about to make the PR. You can view other topic and create an issue. I believe you will get better.

[2019-03-02 16:35] NirmalKumarJoshi commented on #474
@jainaman224 Please assign me this issue

[2019-03-02 20:02] helios1101 opened #475 "MoreTraversal On Tree"
I'm submitting a feature request :

Description :
The few programs that can be added are-
- [x] Mirror Image Of Tree
- [x] Top View Of Tree
- [x] Left View Of Tree

Current behaviour:
      Currently there is no solutions in any language.

Expected behaviour:
      There should be codes in each language.

Would you like to work on the issue?
      Yes

@jainaman224 I want to work on this issue. Pl

[2019-03-02 23:51] MastersAbh opened #476 "Restructuring codebase and adding classical problems and solutions for related topics."
Currently, the codebase is getting extended with no structure. Also, different folders are needed for different languages. Please assign me this issue so that i could work on it.

[2019-03-03 05:13] Jayashree-panda commented on #473
@jainaman224 Can you please help me saying for adding the compile online option. I don't get that.

[2019-03-03 05:20] r3trd opened #477 "Binary Tree Problems"
I'm submitting a feature request :

Description :
The few programs that can be added are-
- [ ] Reversal of Odd levels in Full Binary Tree

Current behaviour:
Currently, there are no solutions in any language.

Expected behaviour:
There should be codes in each language.

Would you like to work on the issue?
Yes. Please assign me.

@jainaman224 I want to work on this issue.

[2019-03-03 08:12] thakurutkarsh22 commented on #464
I would like to work on this issue (GSSOC)

[2019-03-03 10:05] prasty commented on #159
Can I work on it.

[2019-03-03 10:37] Chaitanyasuma opened #480 "Topological Sort using Java"

[2019-03-03 10:38] Chaitanyasuma commented on #480
Can I implement this using Java?

[2019-03-03 11:08] kaustubh-pandey opened #481 "Disjoint Sets in Python"
I would like to add an implementation of Disjoint Sets in Python. Can I work on this?

[2019-03-03 12:04] Jayashree-panda opened #482 "Adding code for hybrid inheritence(c++)"

[2019-03-03 13:48] dshahid380 opened #483 "Image uploading"
I want to write README.md with some graphical images. @jainaman224 please tell me, can i add a new folder to images only?

[2019-03-04 06:36] joel-razor1 opened #486 "0-1 Knapsack Problem in python (GSSoC Participant)"
I've noticed that 0-1 Knapsack Program is available in c++ and java only. I would like to work on this problem.

[2019-03-04 13:00] souka1 commented on #486
I would like to work on this problem

[2019-03-04 13:55] mani1soni opened #487 "Machine Learning Algorithms using python"
Hey, @jainaman224 I want to add some Machine Learning algorithms like Decision Tree, Linear Regression, K-means clustering etc. using python.

[2019-03-04 13:56] mani1soni commented on #487
I would like to work on it.

[2019-03-04 16:52] diptinayan commented on #486
I am highly interested to work on this problem.

[2019-03-04 16:53] diptinayan commented on #487
I would like to contribute some algorithms in this.

[2019-03-04 17:02] diptinayan opened #488 "Kasuraja Algorithm in C++"
Hi, I would like to add Kasuraja algorithm for strongly connected components in a graph using c++.

[2019-03-04 18:04] KanchanThareja commented on #157
I want to work on this in C++.

[2019-03-05 12:43] piedcipher opened #490 "Adding Algorithms in Dart & Kotlin & Rust"
I would like to propose 2 new languages in which Algorithms can added.
- Dart
- Kotlin
- Rust

I'm GSSoC 19 Participant, since there was no issue for it, I created this one. Let me know your thoughts.

[2019-03-05 13:55] jainaman224 commented on #280
Yes @prasty go ahead. But make sure either it is not implemented or not claimed for any language by anyone.

[2019-03-05 13:57] jainaman224 commented on #341
@prasty go ahead.

[2019-03-05 14:07] jainaman224 commented on #474
Be specific about substring within a string.
Go ahead with anagram strings, others are not relevant.

[2019-03-05 14:08] jainaman224 commented on #475
Go ahead.

[2019-03-05 14:09] jainaman224 commented on #476
Sorry, but currently not looking to restructure the folder structure.

[2019-03-05 14:09] #476 closed

[2019-03-05 14:09] jainaman224 commented on #473
@Jayashree-panda Go ahead.

[2019-03-05 14:20] khushal87 commented on #466
could i add stack using linked list implementation is javascript??

[2019-03-05 14:47] Jaseemck commented on #481
i would like to contribute some programs to this session. Please assign me on this @jainaman224 .

[2019-03-05 14:52] Jaseemck commented on #486
I can code the program in python and c. I have done it in c++ and quite strong in its concept. I can close this issue within the deadline. So please assign me on this @jainaman224 .

[2019-03-05 14:56] khushal87 opened #495 "javascript codes for stack using linkedlist,stack using array,linkedlist implementation, and a proof for euclidean algorithm"

[2019-03-05 17:56] Vaibhavraj10 commented on #477
I want to work on this issue.

[2019-03-06 04:17] shadow989 commented on #486
I'm interested in this issue and can do this within the time provided .I have worked on this algorithm in c language and can do it in python for sure..

[2019-03-06 04:33] jainaman224 commented on #464
Go ahead. But make sure no one is working in that language or there is no existing code.

[2019-03-06 04:33] jainaman224 commented on #159
Go ahead.

[2019-03-06 04:35] jainaman224 commented on #477
Go ahead.

[2019-03-06 04:37] jainaman224 commented on #480
If there is no solution in java and no one is working. Go ahead.

[2019-03-06 04:38] jainaman224 commented on #482
I don't think this is relevant enough.

[2019-03-06 04:39] jainaman224 commented on #483
Add images to Readme using links by uploading it to some sources.

[2019-03-06 04:45] jainaman224 commented on #487
@mani1soni Go ahead, tell me what algorithms are you going to be working on.
@diptinayan you can choose any other algorithm than him.

[2019-03-06 04:46] jainaman224 commented on #488
@diptinayan Go ahead.

[2019-03-06 04:48] jainaman224 commented on #157
@KanchanThareja Go ahead if it is already not implemented.

[2019-03-06 04:51] jainaman224 commented on #490
Yes, you can code in any of the language. Go ahead. But make sure to specify algorithms you are going to work on.

[2019-03-06 05:00] jainaman224 commented on #466
Go ahead.

[2019-03-06 05:00] jainaman224 commented on #466
@gauravburjwal Go ahead.

[2019-03-06 05:05] jainaman224 commented on #481
@kaustubh-pandey Go ahead.

[2019-03-06 05:05] jainaman224 commented on #481
@Jaseemck Find or create an issue and claim it.

[2019-03-06 05:06] jainaman224 commented on #495
Create issue again. Not a right way. Create a checkbox list if there are multiple programs.

[2019-03-06 05:06] #495 closed

[2019-03-06 05:09] jainaman224 commented on #486
@Jaseemck Go ahead if it is not implemented in any of those language.

[2019-03-06 05:09] jainaman224 commented on #486
@shadow989 Please have a look at other issues.

[2019-03-06 05:24] singh-shreya6 opened #501 "Adding Algorithms in Go"
I have noticed that very few implementation of algorithms are available in Go. I'm GSSoC 19 Participant, since there was no issue for it so I created this one. Let me know if I can proceed.

[2019-03-06 05:31] khushal87 opened #502 "programs in JavaScript of different ds and algorithms."
Can i start working on it? #502

[2019-03-06 05:32] shadow989 commented on #487
I'd like to contribute some Algorithm in this...

[2019-03-06 08:02] dshahid380 opened #503 "Adding c and cpp programs in Extended Euclidean Algorithm"
I want to c and cpp codes for Extended Euclidean Algorithm.

[2019-03-06 08:46] khushal87 commented on #502
- [ ] stack using linked list in js

- [ ] stack using array in js

- [ ] binary tree and its operations in js

- [ ] array operations in js

- [ ] queue using stack in js
this are some preliminary programs i want to work on can I ?

[2019-03-06 10:55] MastersAbh opened #505 "Activity Selection algo in Python"
I want to add activity selection algorithm in Python.

[2019-03-06 10:57] MastersAbh opened #506 "Adding Modular Exponentiation Algorithm in C++,Python, Java"

[2019-03-06 13:23] khushal87 opened #508 "Linked list implementation Javascript"
### Objective

Linked list implementation Javascript

#### Assigned to (if any)
I am working on it.

[2019-03-06 13:24] khushal87 commented on #508
Refer to #492

Ping @jainaman224

[2019-03-06 13:35] Chaitanyasuma opened #510 "Add readme.md for Topological Sort"
@jainaman224 There's no readme.md file for the Topological Sort algorithms. Can I go ahead and add one?

[2019-03-06 13:48] Arunkumar0258 commented on #505
I can write an Activity selection algorithm in python.

[2019-03-06 13:59] helios1101 commented on #475
Do I need to update the index page also? Do I need to change something or everything is fine?
Please review the PR #509

@jainaman224

[2019-03-06 15:18] mani1soni commented on #487
@jainaman224 i'll work on  Decision Tree, Linear Regression, K-means clustering and Cnn.

[2019-03-07 05:16] r3trd commented on #477
I will be working in C++.

[2019-03-07 08:53] singh-shreya6 opened #512 "Adding Coin Change Problem in C++, Python, Java"

[2019-03-07 09:52] joel-razor1 commented on #480
@jainaman224 , can I implement this sorting algorithm in **C**? I can complete this in less time.

[2019-03-07 17:39] somya-kapoor opened #513 "Adding Algorithms for constructing Tree from given Inorder and Preorder traversals"
I would like to work on constructing a tree from given inorder and preorder traversals in c++.
I am a GSSoC participant.

[2019-03-07 18:01] somya-kapoor opened #514 "Manacher’s Algorithm in c++"
Hi, I would like to add Manacher’s Algorithm( for finding longest palindromic substring) using c++.

[2019-03-07 18:18] geekyNehal opened #515 "Convex Hull Problem"
Adding Quick Hull Algorithm for solving convex hull which is the smallest convex polygon containing all given points in Java.

[2019-03-08 09:15] Rashmirana commented on #512
I like to implement this problem in java.
I'm a GSSoC participant.

[2019-03-09 15:07] GayathriVenkatesh commented on #506
Can I work on this in Python?

[2019-03-09 15:10] GayathriVenkatesh commented on #452
Can I implement Huffman Encoding in Python?

[2019-03-09 15:23] GayathriVenkatesh commented on #159
Can I work on Dijkstra's algorithm in Python?

[2019-03-09 17:16] jainaman224 commented on #501
Go ahead.

[2019-03-09 17:25] #473 closed

[2019-03-09 17:27] jainaman224 commented on #502
Go ahead.

[2019-03-09 17:28] #160 closed

[2019-03-09 17:29] jainaman224 commented on #508
You have assigned to many issues.
Please take up to 2 issues at a time.

[2019-03-09 17:30] jainaman224 commented on #510
Go Ahead.

[2019-03-09 17:30] jainaman224 commented on #505
@MastersAbh Go ahead.

[2019-03-09 17:33] khushal87 commented on #508
Sorry I thought it is okay to add it.It wont happen again

[2019-03-09 17:34] jainaman224 commented on #487
Ok

[2019-03-09 17:40] jainaman224 commented on #480
@joel-razor1 It is not about time. Go ahead

[2019-03-09 17:42] jainaman224 commented on #513
@somya-kapoor Go ahead.

[2019-03-09 17:43] jainaman224 commented on #514
@somya-kapoor Go ahead.

[2019-03-09 17:43] jainaman224 commented on #515
@geekyNehal Go ahead.

[2019-03-09 18:33] saumyashrm2802 opened #520 "Linked List Trickiest Questions in C++"
Hey...I want to add trickiest and mind boggling questions on linked list in C++.
For example - Converting singly linked list into circular linked list.
                       Removing loop from a linked list
                       Partitioning linked list around a given value
and lots more.

[2019-03-09 19:23] raghav-dalmia commented on #512
I want to implement this in C++. I am also a GSSoC-19 participant.

[2019-03-10 04:01] geekyNehal commented on #515
Thank You!

[2019-03-10 06:12] KavithaVarughese opened #521 "3 Way Merge Sort"
3 Way merge sort designed in c language

[2019-03-10 06:13] KavithaVarughese commented on #521
Can I take this up ?

[2019-03-10 07:54] dshahid380 opened #523 "Adding README.md with updated python code in Dynamic Programming Rod Cutting"
### This issue is related to Dynamic Programming Rod Cutting Algorithm
**Issues**
 - No README.md are there in the respective folder.
 - Steps are not written very well in the respective code.

Need to improve this.

[2019-03-10 09:11] KanchanThareja commented on #159
Can I work on Bellman Ford in java and C#?

[2019-03-10 15:54] isha-gautam commented on #477
I'd like to work on this issue in Java.

[2019-03-10 16:00] isha-gautam commented on #174
Is this issue still open? I'd like to take this issue up in Java

[2019-03-10 17:04] divya7shahi commented on #474
hello @jainaman224 I am a newbie at opensource and I want to work on this issue as well,I please assign me this issue ,if there is anyscope

[2019-03-10 17:06] divya7shahi commented on #482
hello @jainaman224  I can add  code for hybrid inheritance like the cases where it is used and it's properties
if it's still in the issue list,please may I get this issue

[2019-03-10 17:08] divya7shahi commented on #506
hello @jainaman224 may I work on this in c++,please assign me this issue I would like to work on it

[2019-03-10 17:18] rashmi3105 commented on #521
I would like to implement this. Can I take this up? I am a GSSoC participant.

[2019-03-10 17:20] rashmi3105 commented on #513
I would like to work on it. Can I take this up? I am a GSSoC participant.

[2019-03-11 14:08] AnshitaVishwa opened #531 "activity_selection in ruby"
it would be good to have activity selection in ruby too.

[2019-03-11 14:09] AnshitaVishwa commented on #531
i would like you to assign this issue to me.

[2019-03-11 15:23] isha-gautam commented on #513
@jainaman224 can I work on it in Java?

[2019-03-11 15:24] isha-gautam commented on #371
@jainaman224 Can I work on this issue in Java?

[2019-03-11 16:30] AnshitaVishwa commented on #531
sir i would like to add the algorithms in ruby .
kindly assign me this issue.

[2019-03-12 12:04] somya-kapoor commented on #513
I would like to work on constructing a tree from given inorder and postorder traversals in c++.

[2019-03-12 13:17] somya-kapoor opened #537 "Program for Tower of Hanoi in C++"
I would like to work on it

[2019-03-12 13:22] somya-kapoor opened #538 "Cocktail sort in c++"
I would like to on with it. (it is a variation of Bubble sort)

[2019-03-12 16:49] MastersAbh opened #539 "Adding Unbounded Knapsack problem in C++,Java,Python"
I want to add Unbounded Knapsack Algorithm code in C++,Java,Python

[2019-03-12 16:52] Jaseemck commented on #539
check issue #486

[2019-03-12 16:56] MastersAbh commented on #539
Not similar now @Jaseemck

[2019-03-12 17:49] singh-shreya6 opened #540 "Adding Floyd's Cycle Detection Algorithm in C++, Java, Python"
I want to add cycle detection in Linked List

[2019-03-14 03:12] AkshitAggarwal commented on #537
If this issue hasn't been assigned to anyone yet, I would like to work on it. I am yet to make my first contribution in this project.

[2019-03-15 03:05] jainaman224 commented on #452
@GayathriVenkatesh Go ahead.

[2019-03-15 03:08] jainaman224 commented on #508
@khushal87 Now you can work on it.

[2019-03-15 03:10] jainaman224 commented on #520
@saumyashrm2802 Go ahead. Just suggest the folder name you are going to use.

[2019-03-15 03:11] jainaman224 commented on #512
@singh-shreya6 Go ahead.

[2019-03-15 03:11] jainaman224 commented on #512
@Rashmirana and @raghav-dalmia Let's wait for @singh-shreya6 or you can choose any other language.

[2019-03-15 03:12] jainaman224 commented on #523
@dshahid380 Go ahead.

[2019-03-15 03:13] jainaman224 commented on #159
@KanchanThareja Go ahead. Just create a new issue.

[2019-03-15 03:14] jainaman224 commented on #159
@GayathriVenkatesh There is already implemented code for Djikstra's algorithm in Python.

[2019-03-15 03:27] jainaman224 commented on #477
@isha-gautam Go ahead.

[2019-03-15 03:28] jainaman224 commented on #174
@isha-gautam Yes it is open. Go ahead.

[2019-03-15 03:32] jainaman224 commented on #474
@divya7shahi Go ahead for anagram of strings.

[2019-03-15 03:32] jainaman224 commented on #482
@divya7shahi Hybrid Inheritance is correct to implement. It is not anything specific.

[2019-03-15 03:32] #482 closed

[2019-03-15 03:33] jainaman224 commented on #506
@MastersAbh Please tell me what is modular exponentation.

[2019-03-15 03:33] jainaman224 commented on #506
@GayathriVenkatesh Please have a look at other issue.

[2019-03-15 03:34] jainaman224 commented on #506
@divya7shahi Can you work in c?

[2019-03-15 03:35] jainaman224 commented on #521
@KavithaVarughese Please mention the language.
@rashmi3105 You can take other language. Ones Kavitha decides.

[2019-03-15 03:40] jainaman224 commented on #371
@isha-gautam Go ahead.

[2019-03-15 03:41] jainaman224 commented on #371
@Ask149 Go ahead.

[2019-03-15 03:42] jainaman224 commented on #531
@AnshitaVishwa Go ahead.

[2019-03-15 03:44] #515 closed

[2019-03-15 03:45] jainaman224 commented on #513
@rashmi3105 Go ahead for other language than c++ or java.

[2019-03-15 03:45] jainaman224 commented on #513
@isha-gautam Go ahead for java.

[2019-03-15 03:45] jainaman224 commented on #513
@pankajpoply45 Go ahead for python.

[2019-03-15 03:46] jainaman224 commented on #513
@somya-kapoor It is assigned to you for c++.

[2019-03-15 03:47] jainaman224 commented on #538
@somya-kapoor Go ahead.

[2019-03-15 03:48] jainaman224 commented on #539
@MastersAbh Please throw some light on this algorithm.

[2019-03-15 03:48] jainaman224 commented on #540
@singh-shreya6 Go ahead.

[2019-03-15 03:49] jainaman224 commented on #537
@somya-kapoor Go ahead. But don't take too many issues.

[2019-03-15 03:49] jainaman224 commented on #537
@AkshitAggarwal Implement in other language than c++ but mention it here first.

[2019-03-15 03:49] dshahid380 commented on #523
@jainaman224  sir, i have already created a pull request for the same.
Here is the link
https://github.com/jainaman224/Algo_Ds_Notes/pull/532

[2019-03-15 04:00] KanchanThareja opened #544 "Bellman Ford algorithm in shortest path algorithm"

[2019-03-15 04:01] KanchanThareja commented on #544
I want to work on Bellman Ford algorithm in java and c#.

[2019-03-15 04:46] KanchanThareja opened #547 "Bellmanford algorithm in c"
I want to implement Bellman ford algorithm in C.

[2019-03-15 05:33] MastersAbh commented on #539
Unbounded Knapsack is a variation of knapsack problem where elements can be chosen multiple times, instead of once in general knapsack.

[2019-03-15 05:38] MastersAbh commented on #506
For computing (x^y)%p for large numbers, we use modular exponentiation, where p is generally a prime number. It can be implemented both, recursively and iteratively.

[2019-03-15 06:00] KanchanThareja opened #548 "cocktail sort in java"
I wish to implement cocktail sort in java.

[2019-03-15 10:06] raghav-dalmia opened #551 "circle sort in c,c++,java and python"

[2019-03-15 15:03] Anshuvats opened #552 "Adding bucket-sort in java language."
i wish to implement bucket sort in java

[2019-03-15 15:44] AkshitAggarwal commented on #537
@jainaman224 I'm sorry but as of now, I can only program in C and C++

[2019-03-15 16:21] jainaman224 commented on #544
Go ahead.

[2019-03-15 16:29] khushal87 opened #553 "Queue Implementation in Javascript"
Can i start working on it ??

[2019-03-15 16:35] jainaman224 commented on #547
Go ahead.

[2019-03-15 16:36] jainaman224 commented on #539
@MastersAbh Go ahead.

[2019-03-15 16:36] jainaman224 commented on #506
@MastersAbh Go ahead.

[2019-03-15 16:37] jainaman224 commented on #548
@KanchanThareja Go ahead.

[2019-03-15 16:40] jainaman224 commented on #551
@raghav-dalmia Please throw some light on circle sort.

[2019-03-15 16:42] jainaman224 commented on #552
@Anshuvats Go ahead.

[2019-03-15 16:43] jainaman224 commented on #537
@AkshitAggarwal Go ahead with c.

[2019-03-15 16:48] jainaman224 commented on #553
How many active issues are you handling currently?

[2019-03-15 16:48] #544 closed

[2019-03-15 16:54] AkshitAggarwal commented on #537
Alright!

[2019-03-15 16:58] khushal87 commented on #553
There were two form my side yet now its completed so i created a new one.You may close the redundant once .I am sorry for it.

[2019-03-15 19:31] shahkv95 commented on #551
@raghav-dalmia Heyy, I would like to code circle sort. I can work in C, C++ and python. May I proceed for the same? If yes, which language should I pick up ?

[2019-03-15 19:38] shahkv95 commented on #537
@jainaman224 Heyy, I would like to take up this task. Can I take up the task in python, as contributors are already working in C and C++?

[2019-03-15 20:18] Anshuvats commented on #552
thank you,sir

[2019-03-15 21:40] MastersAbh opened #558 "Adding Job Sequencing algorithm in C++, Python"
I want to add Job sequencing algo in C++ & Python. Please assign this to me.

[2019-03-16 02:52] Jaseemck opened #559 "Adding Max-Array sum solution using dynamic programming in cpp,python,c and php"
Can i work on this? @jainaman224

[2019-03-16 08:13] singh-shreya6 opened #560 "Adding Comb Sort in C++, Java, Python and Go"
Comb Sort is an improvement over Bubble Sort which solves the problem of small values at the end of the list which decreases performance in Bubble Sort. Its best case time complexity is O(n log n) and worst case O(n^2)

[2019-03-16 10:03] Ask149 commented on #371
Thanks, @jainaman224, I'll make a PR and notify you soon.

[2019-03-16 10:53] kaustubh-pandey opened #562 "Square Root Decomposition"
I wanted to add square root decomposition algorithm example for finding sum of numbers in a given range in C++ and Python. Can I work on this?

[2019-03-16 15:01] itnug987 opened #564 "Finding Convex Hull problem"
I want to add Jarvis's algorithm and the Graham Scan algorithm to find the smallest convex polygon containing all the given points in Java.

[2019-03-16 15:10] KavithaVarughese commented on #521
I will do it in c language

[2019-03-16 15:47] rashmi3105 commented on #521
I will do it in Java

[2019-03-16 16:55] rishabhgarg25699 commented on #564
Yes, You can go ahead with the Jarvis's algorithm and the Graham Scan algorithm. These are the good algorithms for finding the smallest convex polygon that contains all the points . But please comment the code carefully so that the reader of the code can easily understand the code as these algos are typical to understand fully.

[2019-03-16 17:01] rishabhgarg25699 commented on #562
@kaustubh-pandey  Square Root Decomposition is the important topic and hard topic and is very famous for competitive programming competitions and it is achieved by more than 1 method. Please specify by which method you have to do and also please comment your code so that reader can easily understand your code.
I have a suggestion If you have any doubt in this topic you can refer the video from Anu

[2019-03-16 17:07] rishabhgarg25699 commented on #560
@singh-shreya6 Yes Go ahead . And I have a suggestion also Please write the code in the good manner with good commenting in all 4 language.

[2019-03-16 17:10] rishabhgarg25699 commented on #558
@MastersAbh Yes you can go ahead but please tell me one thing Job Sequencing Problem can be achieved by greedy algorithm as well as disjoint set. Please specify which algorithm you use. And also in your code please first tell the what is the Job Sequencing Problem and after then tell the solution with input and output.

[2019-03-16 17:25] jainaman224 commented on #553
Ok
Go ahead.

[2019-03-16 17:29] itnug987 commented on #564
Yeah sure. Thank you.

[2019-03-16 17:29] #502 closed

[2019-03-16 17:29] #508 closed

[2019-03-16 17:30] jainaman224 commented on #551
What is circle sort?

[2019-03-16 17:33] jainaman224 commented on #537
@shahkv95 Go ahead.

[2019-03-16 18:31] MastersAbh commented on #558
Sure. I will take care of that. Thanks. I'll use greedy approach.

[2019-03-16 18:43] jainaman224 commented on #559
Go ahead.
Please try to find name of algorithm if exists.

[2019-03-16 18:44] #481 closed

[2019-03-16 18:49] #512 closed

[2019-03-16 18:50] #501 closed

[2019-03-16 19:14] #155 closed

[2019-03-16 19:38] #553 closed

[2019-03-16 19:41] rishabhgarg25699 commented on #558
@jainaman224 why you assigned this issue to me . I am the mentor not the participant .

[2019-03-16 19:43] jainaman224 commented on #558
Sorry, I thought it was PR.

[2019-03-16 20:21] Vaibhavraj10 opened #569 "Adding Z algorithm in Java"
Z algorithm is a linear time string matching algorithm which runs in O(N) complexity. It is used to find all occurrence of a pattern P in a string S, which is common string searching problem.

[2019-03-16 20:27] Vaibhavraj10 commented on #569
I want to work on this issue.

[2019-03-16 20:40] shahkv95 commented on #538
Heyy @jainaman224, I would like to take up this task.
May I proceed?

[2019-03-16 20:41] shahkv95 commented on #538
If @somya-kapoor is working in C++, I can take up python.

[2019-03-17 04:18] Jaseemck commented on #559
Looks like Kadane's Algorithm is already implemented

[2019-03-17 04:39] Jaseemck commented on #569
Can i implement it in other programming languages python, cpp, c and php? @jainaman224

[2019-03-17 04:40] rishabhgarg25699 commented on #569
I appreciate your work and your PR but it is good if you first open the issue and not submit PR until we pass your issue . It is the good practise in open source .

[2019-03-17 07:20] jainaman224 commented on #538
@shahkv95 Go ahead with python.

[2019-03-17 07:41] jainaman224 commented on #559
@Jaseemck Yes. You can either add comments, documentation or improve variable names. If required.

[2019-03-17 07:41] #559 closed

[2019-03-17 07:44] #547 closed

[2019-03-17 09:41] raghav-dalmia commented on #551
Hey aman, i don't know the exact logic/math behind circle sort, but know
the algorithm. In this sort we will compare 1st and last, 2nd and second
last and so on elements of array, and swap the elements if first is greater
than rearer one ,then split the array in two half and repeat the same
procedure for those two half array. If there is any swaping in the above
procedure then repeat the whole pro

[2019-03-17 09:54] raghav-dalmia commented on #551
Hey shahkv95, I am writing this algo in all four mention language, you can choose any other.

[2019-03-17 11:52] shahkv95 commented on #538
I have sent the PR for python code for Cocktail Sort. Do check it out @jainaman224 .

[2019-03-17 13:07] somya-kapoor opened #575 "bucket-sort in c++"

[2019-03-17 13:11] somya-kapoor commented on #569
can I work on it in c++?

[2019-03-17 13:33] somya-kapoor opened #576 "sparse table in c++"

[2019-03-17 13:38] khushal87 opened #577 "Double Linked List in Javascript"
Can I start working on it ??

[2019-03-17 13:59] AvinashDhillor commented on #537
can i implement in java

[2019-03-17 15:32] Vaibhavraj10 opened #581 "AVL Trees in Java"
AVL Tree can be defined as height balanced binary search tree in which each node is associated with a balance factor which is calculated by subtracting the height of its right sub-tree from that of its left sub-tree.

[2019-03-17 15:33] Vaibhavraj10 commented on #581
I want to work on this issue!

[2019-03-17 15:37] #539 closed

[2019-03-17 15:37] #505 closed

[2019-03-17 16:25] #548 closed

[2019-03-17 16:32] KanchanThareja opened #584 "Cocktail Sort in javascript"
I want to implement cocktail sort in JavaScript.

[2019-03-17 20:23] shahkv95 commented on #575
Should I I take up this task?

[2019-03-17 22:24] MastersAbh opened #586 "Adding nCr%p using Dynamic Programming in C++,Java & Python"
I want to work on this issue. please assign it to me.

[2019-03-18 04:06] rishabhgarg25699 commented on #586
Assigned. But please comment your code and write input and output of the code.

[2019-03-18 04:07] rishabhgarg25699 commented on #584
Go on . But please comment your code and write input and output of the code.

[2019-03-18 04:07] rishabhgarg25699 commented on #581
@Vaibhavraj10 Please go ahead .  But please comment your code and write input and output of the code.

[2019-03-18 04:09] rishabhgarg25699 commented on #577
@khushal87  Yes you can .  But please comment your code and write input and output of the code.

[2019-03-18 04:11] rishabhgarg25699 commented on #575
If @somya-kapoor not want to work to in this issue then @shahkv95 you can take this issue . Now it is assigned to @somya-kapoor .

[2019-03-18 04:12] rishabhgarg25699 commented on #569
@somya-kapoor  In cpp @Jaseemck  is doing . You can take another issue

[2019-03-18 05:32] #540 closed

[2019-03-18 05:40] singh-shreya6 opened #587 "Adding Fractional Knapsack in C++, Python and Java"
Fractional knapsack is a variation of knapsack where it is possible to break items while selecting. Only 0-1 and unbounded variations of knapsack are available in this repo, so creating an issue for it.

[2019-03-18 08:14] shahkv95 commented on #575
Heyy @somya-kapoor are you working on this issue. If not please pass it to me.
Please reply asap.
Thank you.

[2019-03-18 08:20] shahkv95 commented on #521
Is it similar to merge 3 sorted array ? @rashmi3105 @KavithaVarughese
If so, I will take it for python.

[2019-03-18 08:24] shahkv95 commented on #514
Heyy @somya-kapoor  are you actively working on it?

[2019-03-18 08:36] somya-kapoor commented on #575
I am working on it.

[2019-03-18 08:44] shahkv95 opened #591 "Largest Sum Contiguous Subarray"
The program code is to find the largest sum of continuous sub array.
Languages : C++ , Python

[2019-03-18 08:48] shahkv95 commented on #591
Heyy @jainaman224 may I proceed for the same?

[2019-03-18 09:15] #558 closed

[2019-03-18 09:15] #506 closed

[2019-03-18 09:27] Ishneet09 commented on #157
Hi
Can I work on this in C++ ?

[2019-03-18 09:33] Ishneet09 commented on #159
Is Dijkstra's implemented in C++ ?
Can I go on with it?

[2019-03-18 10:08] khushal87 commented on #577
@rishabhgarg25699  added .Please do review it

[2019-03-18 11:20] somya-kapoor commented on #514
Yes, I have submitted PR.

[2019-03-18 12:59] Ash-D23 commented on #474
hello @jainaman224 can i work in js or python for this issue anagrams ? if there is any scope

[2019-03-18 13:04] Ash-D23 commented on #537
@jainaman224 can i implement this in js

[2019-03-18 13:47] rishabhgarg25699 commented on #587
@singh-shreya6  Go for it .

[2019-03-18 13:51] khushal87 opened #593 "Binary Search tree in Javascript"
Can i start working on it ??

[2019-03-18 14:57] divs30 opened #595 "Shell sort and Heap sort and in cpp ."
May I work on this and add relevant codes in cpp and python as these are one of the most important sorting technique.

[2019-03-18 14:58] divs30 commented on #595
May I work on it.

[2019-03-18 15:18] divs30 opened #596 "pancake sort in c++"
Pancake sort is a way of sorting an unsorted array  by performing as many few reversals as it is possible unlike traditional sorting algorithm which work on comparisons.

[2019-03-18 15:19] divs30 commented on #596
may I work on it.

[2019-03-18 15:30] divs30 commented on #591
may I work on it in c @rishabhgarg25699

[2019-03-18 15:44] #560 closed

[2019-03-18 15:59] ananya-deka commented on #596
Can I work on it in C?

[2019-03-18 16:08] poush opened #597 "Create Travis based syntax checker"
A Travis config file has to be created with several bash files for checking syntax of the code submitted in PRs

1. A travis.yml file will be created in root. The purpose of this file would be to set up a basic Linux node on Travis and fetch all files that have been changed/created in the specific PR

2. Further, a directory "build_scripts" will be created that will contain a bash file for each la

[2019-03-18 16:20] shahkv95 commented on #591
Heyy @rishabhgarg25699 , we received a message in slack from one of our GS from GSSoC to submit PRs for those issues which are labelled as 'gssoc19' . Other labels includes 'beginner' , 'easy' , 'medium' , 'hard' as you are aware about it.
I request you @rishabhgarg25699 to please label the issue with the required label so that I can send you the PR immediately.
Thank you so much.

[2019-03-18 16:43] KanchanThareja opened #599 "Heap Sort in C"
I want to implement heap sort in C.

[2019-03-18 17:35] KanchanThareja opened #600 "Kadane's Algorithm in C and JavaScript"
i want to take up kadane algorithm in C and JavaScript.

[2019-03-18 17:35] jainaman224 commented on #157
@Ishneet09 It is already implemented in C++. You can take up another issue.

[2019-03-18 17:36] jainaman224 commented on #159
@Ishneet09 Already implemented.

[2019-03-18 17:36] #577 closed

[2019-03-18 17:37] jainaman224 commented on #474
@Ash-D23 Go ahead.

[2019-03-18 17:37] jainaman224 commented on #537
@Ash-D23 Go ahead.

[2019-03-18 17:39] jainaman224 commented on #593
@khushal87 Go ahead.

[2019-03-18 17:45] jainaman224 commented on #595
@divs30 You can implement heap sort in c.

[2019-03-18 17:45] jainaman224 commented on #596
@divs30 Go ahead.
@ananya-deka Go ahead.

[2019-03-18 17:46] khushal87 commented on #593
Added

[2019-03-18 17:46] jainaman224 commented on #597
I would love to see this feature and it will carry good weightage.

[2019-03-18 17:48] jainaman224 commented on #591
@shahkv95 Is kadane algorithm different?
@divs30 Go ahead for C.

[2019-03-18 17:49] pankajpoply45 commented on #513
#602

[2019-03-18 17:50] piedcipher commented on #597
I would like to work on this issue. I've never configured Travis for my projects. This sounds like a good opportunity to learn it.

[2019-03-18 17:50] #584 closed

[2019-03-18 17:50] jainaman224 commented on #599
@KanchanThareja Go ahead.

[2019-03-18 17:51] jainaman224 commented on #595
It is already implemented.

[2019-03-18 17:51] #595 closed

[2019-03-18 17:56] jainaman224 commented on #600
Go ahead with Java script.

[2019-03-18 17:57] jainaman224 commented on #597
@piedcipher Go ahead.

[2019-03-18 18:10] MastersAbh opened #603 "Adding Modular Inverse of a Number in C++,Java,Python"
I want to write the program of finding modular inverse of a number under modulo prime number. Please assign it to me.

[2019-03-18 18:11] GOVINDDIXIT opened #604 "Optimal Binary Search Tree"
Make separate PR for each language

[2019-03-18 18:22] pankajpoply45 commented on #586
I want to work in it in java @rishabhgarg25699

[2019-03-18 18:43] Vaibhavraj10 commented on #600
@jainaman224 Can I do it in C?

[2019-03-18 18:55] poush commented on #597
@piedcipher thanks for taking up this. I believe the best source to learn Travis would be the documentation of it.
You can check other projects for the travis file implementation like one of my projects, github.com/poush/h2

Start with a basic travis file, feel free to create a PR with a WIP prefix and we will review it.

[2019-03-18 21:09] singh-shreya6 opened #610 "Adding Longest Common Subsequence problem in C++, Java, Python, Go"
I want to implement it using Dynamic Programming Approach.

[2019-03-18 21:53] shahkv95 commented on #591
@jainaman224 No both are same. Kadane algorithm itself is Largest Sum Contiguous Subarray.

[2019-03-18 21:58] shahkv95 commented on #591
I think after I opened this issue,mistakenly @KanchanThareja opened it with synonymous name, i.e. Kadane's Algorithm. I think still there's no problem as she is working in C and Javascript and I am working in C++ and Python. If you want then I can change the name to Kadane as well.
@jainaman224  is it possible for you to merge both the PR in one folder?

[2019-03-19 03:47] pankajpoply45 commented on #591
@jainaman224 can I work on it in java?

[2019-03-19 04:09] rishabhgarg25699 commented on #610
@singh-shreya6  Please go ahead

[2019-03-19 04:32] #599 closed

[2019-03-19 05:32] KanchanThareja opened #613 "Edit distance algorithm in c++, java, python, js"
Edit distance is one of the prominent approach to convert one string to another following minimum operations possible , demonstrating dynamic programming. I would like to work on it.

[2019-03-19 06:59] khushal87 opened #614 "TimSort In JavaScript"
Can is start working on it ??

[2019-03-19 08:19] Manik-59 opened #615 "Multiplication of binary number"
i want to work on this issue please assign me

[2019-03-19 09:05] uemarica commented on #569
Hey, i've added a java implementation without asking, will take care from next time.

[2019-03-19 09:07] uemarica commented on #604
I can implement it in java and python

[2019-03-19 09:08] rishabhgarg25699 commented on #613
@KanchanThareja  Yes Go ahead

[2019-03-19 09:09] rishabhgarg25699 commented on #615
@Manik-59  Ok Go ahead

[2019-03-19 09:12] khushal87 commented on #614
Done

[2019-03-19 09:12] khushal87 commented on #614
Done

[2019-03-19 12:50] khushal87 opened #619 "Queues Using stacks in javascript and CPP"
can i start working on it ??

[2019-03-19 13:08] GOVINDDIXIT commented on #604
@uemarica Pls go ahead 👍

[2019-03-19 13:10] Anshuvats opened #621 "Mo's algorithm in java programming language"

[2019-03-19 14:39] vaishali614 commented on #596
can i work on it in c++?

[2019-03-19 15:54] divs30 commented on #596
hello mentors I have added code of pancake sort in c++ please look into it @jainaman224, @rishabhgarg25699

[2019-03-19 15:56] divs30 commented on #596
I would like to work on it in python as well may I

[2019-03-19 16:07] Vaibhavraj10 opened #624 "Aho-Corasick Algorithm in C++"
It is a kind of dictionary-matching algorithm that locates elements of a finite set of strings (the "dictionary") within an input text.

[2019-03-19 16:07] Vaibhavraj10 commented on #624
Can I work on this?

[2019-03-19 16:28] gupta2140 commented on #596
Hi @vaishali614 someone is already assigned this issue. You are welcome to look at other open tasks :)

[2019-03-19 16:38] somya-kapoor opened #626 "MO’s Algorithm in C++"

[2019-03-19 16:55] somya-kapoor commented on #604
Can I implement it in C++?

[2019-03-19 17:35] #603 closed

[2019-03-19 17:36] p-rit opened #630 "Add algorithm for floating point arithmetic in python"

[2019-03-19 17:40] jainaman224 commented on #586
@pankajpoply45 It is already done in java.

[2019-03-19 17:42] jainaman224 commented on #600
@vaibhav4595 It is already done.

[2019-03-19 17:42] #600 closed

[2019-03-19 17:45] jainaman224 commented on #591
@shahkv95 Change name to Kadane algorithm.

[2019-03-19 17:46] jainaman224 commented on #591
@pankajpoply45 It is already implemented in java.
@shahkv95 It is already implemented in cpp and python.

[2019-03-19 18:09] #615 closed

[2019-03-19 18:09] #614 closed

[2019-03-19 18:22] shahkv95 opened #633 "Graph coloring algorithm"
It is an algorithm used for coloring certain elements in a graph based on the constraints provided.
Languages to be included : **C++ , Java**
I request @jainaman224 or other mentors to label it under the label '**difficult**'(if you feel so) along with '**gssoc19**'.
Thank you so much.

[2019-03-19 18:22] jainaman224 commented on #624
@Vaibhavraj10 Go ahead.

[2019-03-19 18:28] shahkv95 opened #634 "Reverse Delete Algorithm"
The main feature of the Reverse Delete ALgorithm is to delete an edge if on doing so, it doesn't leads to disconnection of graph.
I request @jainaman224 to label it as 'difficult'(if you feel so) along with 'gssoc'.
Thank you so much.

[2019-03-19 18:28] shahkv95 commented on #634
The language I will work on will be C++. @jainaman224

[2019-03-19 18:34] agarwalprashasti commented on #604
I want to work on this, Kindly assign me this issue

[2019-03-19 18:36] jainaman224 commented on #604
@somya-kapoor Go ahead.

[2019-03-19 18:37] jainaman224 commented on #604
@agarwalprashasti Choose language that is not already assigned.

[2019-03-19 18:39] gupta2140 opened #635 "Implement Lazy propogation segmentation tree in C++"
Implement Lazy propogation segmentation tree to support range update and queries on sum, maximum and minimum in a single code.

[2019-03-19 18:42] jainaman224 commented on #630
@p-rit Go ahead.

[2019-03-19 18:46] vaishali614 commented on #596
Okayy @gupta2140

[2019-03-19 18:47] jainaman224 commented on #634
@shahkv95 We are unable to label the issue before hand. As we see the code and learn the algorithm ourselves as well. On that basis we mark that PR.

I would suggest you to code in C as well. As it is similar to C++ for all issues you take up. If you looking to gain more points.

[2019-03-19 18:51] gupta2140 opened #636 "Add binary walk segment tree"
Implement a binary walk segment tree for the offline approach which will accept a stream of queries in the following format:

1. An input '1' means exit taking input and no more queries will be given.
2. An input '2' means now input an integer 'x', where (0 <= x <= 100000) and insert it into the tree.
3. An input '3' means now input an integer 'n', where (1 <= n <= number of elements already inser

[2019-03-19 18:52] gupta2140 opened #638 "Add Kosaraju's algorithm for finding number of SCC in a directed graph"

[2019-03-19 18:55] gupta2140 opened #639 "Add rolling hash for matching two strings in C++"
Add rolling hash algorithm which will take 2 strings and check if string A is a substring of string B.

[2019-03-19 18:58] gupta2140 opened #640 "Add Digit DP"
Input 2 numbers L and R (where 0 <= L <= R <= 10^10) and find the number of integers in this range which have at max 7 non-zero digits in it.

[2019-03-19 19:01] KanchanThareja commented on #633
I want to work on this one in Python and JavaScript.

[2019-03-19 19:11] gupta2140 opened #642 "Implement multiplicative inverse using Fermat's little theorem in C++"
Given two numbers 'a' and 'p', where 'a' is any positive non-zero integer and 'p' is a prime number, find the multiplicative inverse of 'a' (mod p) using Fermat's little theorem.

[2019-03-19 19:56] #514 closed

[2019-03-19 20:01] somya-kapoor commented on #575
My Branch #623

[2019-03-19 20:02] somya-kapoor commented on #575
#623

[2019-03-19 21:19] MastersAbh commented on #642
Isn't it already done #606 ?

[2019-03-19 21:28] MastersAbh opened #645 "Prime Factorization in C++, Python, Java"
I want to add the programs for prime factorization of a number. Please assign it to me.

[2019-03-19 21:30] MastersAbh opened #646 "Euler's Totient Function in C++, Python, Java"
Please assign it to me.

[2019-03-19 21:31] #586 closed

[2019-03-19 21:42] #576 closed

[2019-03-19 21:49] #575 closed

[2019-03-19 21:59] somya-kapoor opened #647 "Binary Insertion Sort in c and c++"
Binary Insertion Sort uses binary search to find the proper location to insert the selected item at each iteration

[2019-03-19 22:07] somya-kapoor opened #648 "Exponential Search in c and c++"
Time Complexity : O(Log n)

[2019-03-19 22:11] somya-kapoor opened #649 "Pigeonhole Sort in c and c++"

[2019-03-20 02:00] p-rit commented on #649
I want to work on this

[2019-03-20 03:05] gupta2140 commented on #642
Oops, yeah I didn't see that. Thanks.

[2019-03-20 03:05] #642 closed

[2019-03-20 05:28] tusharsabhani opened #652 "LinkedList using class in C++"
I would like to implement LinkedList in C++ with the help of class

[2019-03-20 05:28] tusharsabhani commented on #652
I would like to work on it

[2019-03-20 05:36] tusharsabhani opened #653 "Mo's Algorithm in C"

[2019-03-20 05:36] tusharsabhani commented on #653
I would like to take this task

[2019-03-20 05:47] jainaman224 commented on #633
@KanchanThareja Go ahead.

[2019-03-20 06:07] jainaman224 commented on #645
@MastersAbh Please try to find the name for prime factorisation algorithm first. Go ahead.

[2019-03-20 06:07] jainaman224 commented on #646
@MastersAbh Go ahead.

[2019-03-20 06:11] jainaman224 commented on #647
Go ahead.

[2019-03-20 06:11] jainaman224 commented on #648
@somya-kapoor Go ahead.

[2019-03-20 06:12] jainaman224 commented on #649
@somya-kapoor You can't claim too many issues at the same time.

[2019-03-20 06:12] jainaman224 commented on #649
@p-rit Please choose languages other than c and c++.

[2019-03-20 06:19] p-rit commented on #649
Python would work?

[2019-03-20 06:28] jainaman224 commented on #653
Go ahead.

[2019-03-20 06:30] jainaman224 commented on #652
It is still not clear. Please pick up another issue.
It is exact issue you commented some time back.

[2019-03-20 06:30] #652 closed

[2019-03-20 06:36] jainaman224 commented on #649
@p-rit Go ahead.

[2019-03-20 06:54] jainaman224 opened #655 "Rust program"
I find that there is huge scope for rust programs.

[2019-03-20 07:22] #503 closed

[2019-03-20 07:24] khushal87 opened #657 "create a PR template"
Can i start working on it ?? @jainaman224

[2019-03-20 09:35] helios1101 opened #661 "Creating code of conduct.md"
Every repo has a code of conduct which is necessary as all individuals need to follow the same and abide by it.
@jainaman224 can I start working on it?

[2019-03-20 09:53] jainaman224 commented on #597
@piedcipher What is the status?

[2019-03-20 10:12] piedcipher commented on #597
Hi! I tried my best understand Travis but couldn't figure out how to work on this issue. So, please make this issue `up-for-grabs` by anyone.

I would contribute by adding problems in Rust / Dart / Kotlin. (Issue #490)

[2019-03-20 10:26] p-rit opened #663 "Bisection method( root finding technique) in Python and C"

[2019-03-20 10:41] rashmi3105 commented on #610
I want to implement this in c++.

[2019-03-20 11:13] singh-shreya6 opened #664 "Finding connected components in an undirected graph"
In C++

[2019-03-20 11:21] singh-shreya6 opened #665 "Adding Fibonacci numbers in log n using Matrix Exponentiation in C++, Java, Python, Go"

[2019-03-20 11:26] prashant-mahanta opened #666 "Matrix Exponential"
I wanted to add **matrix exponential** algorithm which is a most used technique in competitive programming to solve linear recursive equations like:
`f(n) = a*F(n-1) + b*F(n-2) + c*F(n-3) for n>=3`
`where a, b, c are constants.`

Can I go ahead with this?

[2019-03-20 11:46] prashant-mahanta opened #667 "Longest common Substring in C++, Java and Python."
I want to add the Longest common substring algorithm which is commonly known as LCS in C++, Java, and Python.
The Time complexity of the algorithm `O(n*m)`  and Space complexity `O(n)` using DP
Link: [Longest Common Substring_Wikipedia](https://en.wikipedia.org/wiki/Longest_common_substring_problem)
Can I go ahead with this?

[2019-03-20 11:50] helios1101 commented on #661
Made a pr #668. Please have a look !

[2019-03-20 12:21] khushal87 commented on #657
How about it ??

----------------------
Fixes #

#### Checklist

- [] I have read the [Contribution & Best practices Guide of Algo_Ds_Notes ] and my PR follows them.
- [] My branch is up-to-date with the Upstream branch.
- [] I have added necessary documentation (if appropriate)

#### Changes proposed in this pull request:

-
-

[2019-03-20 12:22] khushal87 commented on #657
ping @jainaman224

[2019-03-20 12:26] #593 closed

[2019-03-20 14:02] kaustubh-pandey commented on #562
I want to apply this method for finding sum of numbers in a given range(the same shown in video of Anudeep Nekkanti)

[2019-03-20 14:45] #666 closed

[2019-03-20 17:23] shahkv95 commented on #634
Ohk @jainaman224 .

[2019-03-20 19:11] jainaman224 commented on #597
Ok

[2019-03-20 19:31] dldisha opened #675 "Travelling Salesman Problem (TSP)"

[2019-03-20 19:32] #610 closed

[2019-03-20 19:43] dldisha commented on #675
Travelling salesman #676

[2019-03-20 19:45] jainaman224 commented on #663
@p-rit Go ahead.

[2019-03-20 19:51] jainaman224 commented on #664
@singh-shreya6 Go ahead but make sure it is not present already.

[2019-03-20 19:51] jainaman224 commented on #665
@singh-shreya6 Go ahead.

[2019-03-20 19:53] jainaman224 commented on #610
@rashmi3105 Please have a look at other issue. It is already assigned.

[2019-03-20 19:54] jainaman224 commented on #667
It is already assigned.
https://github.com/jainaman224/Algo_Ds_Notes/issues/610

[2019-03-20 19:56] jainaman224 commented on #657
Please think of improved version of this template if possible.

[2019-03-20 19:56] jainaman224 commented on #657
I appreciate the idea of PR template.

[2019-03-20 20:20] jainaman224 commented on #675
Is it master issue?

[2019-03-20 20:24] #551 closed

[2019-03-20 20:33] gauravburjwal opened #678 "Working on README.md for Tower of Hanoi"
I am GSSoC'19 participant.
I would like to add README.md for Tower of Hanoi.

[2019-03-21 03:36] pankajpoply45 commented on #663
May I proceed for the same in java @jainaman224 ?

[2019-03-21 04:41] jainaman224 commented on #678
@gauravburjwal Go ahead.

[2019-03-21 05:06] jainaman224 commented on #663
@pankajpoply45 Go ahead.

[2019-03-21 05:06] kunal-kushwaha commented on #537
@jainaman224 I would like to implement this in Java

[2019-03-21 05:10] kunal-kushwaha commented on #664
@jainaman224 I would like to implement this in Java.

[2019-03-21 05:11] jainaman224 commented on #537
@kunal-kushwaha Go ahead.

[2019-03-21 05:13] jainaman224 commented on #664
@kunal-kushwaha Go ahead.

[2019-03-21 06:22] raghav-dalmia opened #685 "Sudoku Solver in c,c++,java,python"

[2019-03-21 06:49] jainaman224 commented on #685
Go ahead.

[2019-03-21 07:15] Karna98 commented on #448
What's the status of this issue? I would like to work on it.

[2019-03-21 07:59] pankajpoply45 commented on #663
Done with adding code in java. Please review #689

[2019-03-21 08:18] khushal87 commented on #657
okay

[2019-03-21 09:16] Priyankasaggu11929 opened #690 "Burrows-Wheeler Data Transform Algorithm"
@jainaman224 can I implement this?

[2019-03-21 09:24] Priyankasaggu11929 commented on #320
@jainaman224 Can I implement this in Python?

[2019-03-21 09:35] jainaman224 commented on #448
@Karna98 Take another issue. I will setup a basic project after GSSoC then we can discuss about web portal.

[2019-03-21 09:42] #613 closed

[2019-03-21 10:06] AnshitaVishwa opened #694 "Counting_Sort algo in ruby"
it would be good to have counting sort algorithm in ruby language too.
sir i would like you` to assign this issue to me.

[2019-03-21 10:27] Karna98 commented on #450
I would like to implement all the above Matrix Operation in Python

[2019-03-21 11:08] Jaseemck opened #695 "Adding Strassen's matrix multiplication Algorithm in c,python and java"
Strassen's algorithm is used to find product of two matrix with more efficiency than the conventional one.

[2019-03-21 11:08] Jaseemck commented on #695
Can i work on this to implement in java,c and python

[2019-03-21 13:26] khushal87 opened #697 "Program for Jump_Search in JS,cpp,Java,python"
can i start working on it ??

[2019-03-21 15:11] #661 closed

[2019-03-21 15:13] helios1101 commented on #657
Can i propose my template style if in case needed urgently ? Or should i wait for some time.

[2019-03-21 15:39] #480 closed

[2019-03-21 15:42] jainaman224 commented on #690
@Priyankasaggu11929 Go ahead. Please mention languages you are handling.

[2019-03-21 15:44] jainaman224 commented on #320
@Priyankasaggu11929 Go ahead.

[2019-03-21 15:52] jainaman224 commented on #694
@AnshitaVishwa Go ahead.

[2019-03-21 15:53] jainaman224 commented on #450
@Karna98 Go ahead.
Add 5 files at most in a commit. If you are GSSoC participant.

[2019-03-21 16:05] jainaman224 commented on #695
@Jaseemck Go ahead.

[2019-03-21 16:11] jainaman224 commented on #697
@khushal87 Go ahead.

[2019-03-21 16:21] jainaman224 commented on #657
@helios1101 Not urgent. Let @khushal87 have a go.

[2019-03-21 16:32] khushal87 commented on #657
@jainaman224 what changes do you want me to implement in this PR .Do suggest me ..For now i kept it as simple as possible so that it would be easy for users too ?? what changes can i implement??

[2019-03-21 16:32] somya-kapoor commented on #649
@jainaman224  Please assign me this issue as I have completed all the other assigned issue.

[2019-03-21 16:36] somya-kapoor commented on #604
Can I implement it in C?

[2019-03-21 16:37] jainaman224 commented on #657
@helios1101 Can you also suggest your template.

[2019-03-21 16:38] jainaman224 commented on #657
Let's take best features from both templates.

[2019-03-21 16:39] sez98 commented on #290
i have added a pull request for the .java for this algorithm

[2019-03-21 16:39] jainaman224 commented on #649
@somya-kapoor Go ahead.

[2019-03-21 16:41] jainaman224 commented on #604
@somya-kapoor Go ahead.

[2019-03-21 16:42] jainaman224 commented on #290
@sez98 Go ahead. From next time wait for the issue to be assigned before working on it.

[2019-03-21 16:43] sez98 commented on #158
i have created a pull request of the .java file for this algorithm

[2019-03-21 16:44] sez98 commented on #290
@jainaman224 sure i ll keep that in mind.

[2019-03-21 16:53] sez98 opened #706 "Knuth_Morris_Pratt_Algorithm in java is not available"
I would like to complete code for this in java

[2019-03-21 16:59] sez98 commented on #158
i would like to complete the prim's algo for MST in java?

[2019-03-21 17:14] sez98 opened #708 "Job sequencing problem in Java"
I would like to add this

[2019-03-21 17:18] sez98 commented on #158
I have completed the Kruskal_MST in Java format using disjoint sets... Please assist the pull request

[2019-03-21 17:27] tusharsabhani commented on #653
I am having some problem in implementing it so you can assign this issue to someone else or close it.

[2019-03-21 18:16] MastersAbh opened #713 "Nim Game Problem in C++,Java, Python"
Please assign it to me.

[2019-03-21 18:44] #664 closed

[2019-03-21 19:44] Anshuvats opened #715 "Adding Graham_scan_algorithm in cpp"

[2019-03-21 20:20] zenithexpo commented on #597
I would like to give it a try.

[2019-03-22 05:44] Priyankasaggu11929 commented on #690
@jainaman224 I will implement this in javascript.

[2019-03-22 07:07] gauravburjwal opened #717 "Bug in Tower of Hanoi JS Code"
I'm GSSoC participant
There is a bug in Tower of Hanoi JS code
https://github.com/jainaman224/Algo_Ds_Notes/blob/master/Tower_Of_Hanoi/Tower_Of_Hanoi.js
I would like to fix it.

[2019-03-22 07:21] gauravburjwal opened #718 "Doubly Linked List in C"
I'm am GSSoC participant.
I would like to work on Doubly Linked List in C

[2019-03-22 07:47] singh-shreya6 opened #720 "Adding Bucket Sort in Python"

[2019-03-22 07:50] singh-shreya6 commented on #158
I want to add Prims Algorithm in Java.

[2019-03-22 07:55] p-rit commented on #720
I want to do it for c and java.

[2019-03-22 07:57] singh-shreya6 commented on #720
@p-rit Those are already implemented

[2019-03-22 08:24] zenithexpo commented on #158
Can I implement Kruskal_algorithm in C and Python?

[2019-03-22 08:29] helios1101 opened #722 "Adding Issue/Feature request submitting Template"
I'll like to work on this issue @jainaman224

[2019-03-22 08:30] helios1101 commented on #722
This is my template if you can review it once.

### I'm submitting a :
 - [ ] feature request
 - [ ] bug request
- - -
### Description :
* Any description is support of your request.
- - -
### Current behaviour:
* Currently how it's behaving
- - -
### Expected behaviour:
* After your request goes approves what will be the behaviour
- - -
### Would you like to work on the issue, or should we assign

[2019-03-22 08:44] helios1101 commented on #657
This PR reference issue #

### Branch Name:
 This will directly make us know which folder he is working
### Programming Files Added :
- [ ] Cpp
- [ ] C
- [ ] C#
- [ ] Python
  _This will help admin to put their handles after every checkbox of different languages like ._
- [ ] Cpp @jainaman224

### I have read and by PR abide by :
- [ ] Code Of Conduct And Contributing.md

[2019-03-22 10:46] mr-pandey opened #725 "Adding Prefix Sum for one dimensional array"
I want to add the prefix sum trick to find sum of a contiguous block of elements of an array in constant time

[2019-03-22 11:20] marwahmanbir opened #726 "Readme for QuickSort"
@jainaman224 I would like to add readme for quick sort algorithm.

[2019-03-22 15:03] p-rit opened #727 "Readme for Bellman Ford algorithm"

[2019-03-22 15:08] p-rit opened #728 "Mo's algorithm in python"

[2019-03-22 15:33] somya-kapoor opened #730 "Topological Sort in c"

[2019-03-22 15:39] somya-kapoor opened #731 "Pascal’s Triangle in c and c++"

[2019-03-22 15:44] somya-kapoor opened #732 "Comb Sort in c"

[2019-03-22 15:53] somya-kapoor commented on #538
@jainaman224  can I implement it in c?

[2019-03-22 16:06] jainaman224 commented on #158
@singh-shreya6 Go ahead.

[2019-03-22 16:06] jainaman224 commented on #158
@zenithexpo Go ahead.

[2019-03-22 16:07] jainaman224 commented on #706
Don't rush find complete all other issues. We have a policy of assigning max 2 unfinished issues.

[2019-03-22 16:08] jainaman224 commented on #706
Once you are done with other issues. Comment here and we will assign it you.

[2019-03-22 16:10] jainaman224 commented on #708
Don't rush and finish your current issues.

[2019-03-22 16:17] sez98 commented on #706
I have completed all the other issues that I referenced. All the three issues have been done with the pull requests pending.

[2019-03-22 16:19] jainaman224 commented on #653
Ok

[2019-03-22 16:28] jainaman224 commented on #713
@MastersAbh Go ahead.

[2019-03-22 16:31] jainaman224 commented on #715
@Anshuvats Go ahead.

[2019-03-22 16:31] jainaman224 commented on #597
@zenithexpo Go ahead.

[2019-03-22 16:31] jainaman224 commented on #597
You can start with basic travis file.

[2019-03-22 16:34] jainaman224 commented on #690
Ok

[2019-03-22 16:39] #619 closed

[2019-03-22 16:41] #717 closed

[2019-03-22 16:41] khushal87 commented on #657
So basically a language field can be merged too

[2019-03-22 16:43] khushal87 commented on #657
How about it ??

----------------------
Fixes #

#### Checklist

- [] I have read the [Contribution & Best practices Guide of Algo_Ds_Notes ] and my PR follows them.
- [] My branch is up-to-date with the Upstream branch.
- [] I have added necessary documentation (if appropriate)

#### Changes proposed in this pull request:

-
-

Languages Used :--

-
-
-
-

[2019-03-22 16:43] jainaman224 commented on #718
Go ahead. If there is no implementation.

[2019-03-22 16:46] khushal87 opened #733 "Priority Queue in Javascript"
Can i start working on it??

[2019-03-22 16:47] jainaman224 commented on #720
@singh-shreya6 Try to wait for issue to assigned.

[2019-03-22 16:51] jainaman224 commented on #722
Please remind me on Sunday.

[2019-03-22 16:52] #678 closed

[2019-03-22 16:57] jainaman224 commented on #725
Please wait for issue to be assigned.

[2019-03-22 16:59] jainaman224 commented on #726
@marwahmanbir Go ahead.

[2019-03-22 17:03] jainaman224 commented on #633
@KanchanThareja Are you working on this?

[2019-03-22 17:04] jainaman224 commented on #727
@p-rit Go ahead.

[2019-03-22 17:04] jainaman224 commented on #728
@p-rit Go ahead.

[2019-03-22 17:06] jainaman224 commented on #730
@somya-kapoor Go ahead.

[2019-03-22 17:07] jainaman224 commented on #732
Once you are done with other issues. I will assign you this.
There is a 2 issue policy.

[2019-03-22 17:09] jainaman224 commented on #538
Please don't take up too many issues.
If this issue remains unassigned. I will assign you but first complete assigned issues.

[2019-03-22 17:11] jainaman224 commented on #706
@sez98 Go ahead.

[2019-03-22 17:12] KanchanThareja commented on #633
@jainaman224 Yes I am.

[2019-03-22 17:14] jainaman224 commented on #657
Please remind me on Sunday.
Let's have a discussion.

[2019-03-22 17:15] #708 closed

[2019-03-22 17:20] sez98 opened #736 "Quick hull algo in c++ and python"
I would like to add these

[2019-03-22 17:22] sez98 commented on #564
i would like to do the same in c++ and python? please assign me

[2019-03-22 17:32] jainaman224 commented on #564
@itnug987 Are you working on it. If yes then please specify language and algorithm.

[2019-03-22 17:33] jainaman224 commented on #564
@sez98 I will update you once @itnug987 replies.

[2019-03-22 17:33] jainaman224 commented on #736
Go ahead.

[2019-03-22 17:45] singh-shreya6 commented on #720
yes, sorry, I will.

[2019-03-22 17:45] #720 closed

[2019-03-22 17:56] prashant-mahanta commented on #667
@jainaman224 my approach is for strings not array and with a space complexity of O(n). The PR which is merged for **longest common subsequence** is for integer array with a space complexity of O(m*n).

[2019-03-22 18:32] prashant-mahanta opened #740 "Connected Components in Python"
I want to implement connected components in an undirected graph in python.

[2019-03-22 18:36] marwahmanbir commented on #726
I've added the readme. Also, I'm a GSSoC participant, mentioning as I can't add the label by myself.

[2019-03-22 18:39] prashant-mahanta opened #741 "Z algorithm in Java"
Can I work on Z algorithm in Java?

[2019-03-23 02:33] #630 closed

[2019-03-23 03:44] shadow989 commented on #732
can i work on this issue ?

[2019-03-23 03:57] shadow989 opened #745 "Counting sort Algo in python and c"
@jainaman224  I want to work on this issue.

[2019-03-23 05:07] #726 closed

[2019-03-23 05:10] rishabhgarg25699 commented on #745
@shadow989  Go ahead

[2019-03-23 05:11] rishabhgarg25699 commented on #741
@prashant-mahanta Yes you can .

[2019-03-23 05:11] rishabhgarg25699 commented on #740
@prashant-mahanta Go ahead

[2019-03-23 05:31] Karna98 commented on #732
Is this issue available? I want to work on it.

[2019-03-23 06:04] itnug987 commented on #564
@jainaman224 Yes I am working on it. Algorithms: Jarvis's algorithm and the Graham Scan algorithm. Language: Java

[2019-03-23 06:29] sez98 commented on #564
@jainaman224 can do the same in language: c++ and python?

[2019-03-23 06:42] sez98 commented on #596
@ananya-deka if ur not doing it in c.. may I work on it? @jainaman224 please let me know

[2019-03-23 06:43] sez98 commented on #596
@jainaman224 can i work on pancake sort in java? no one has taken that

[2019-03-23 07:03] dishantsethi opened #750 "Array Rotation in c, c++, java, python"
Rotate an array of n elements by m elements using a temporary array.

[2019-03-23 07:04] Priyankasaggu11929 opened #751 "Miller–Rabin Primality Test"
@jainaman224 Can I implement this in Python?

[2019-03-23 07:04] dishantsethi commented on #750
@jainaman224 Can I start working on this issue?

[2019-03-23 09:02] Anshuvats commented on #715
Thank You ,sir

[2019-03-23 09:05] marwahmanbir opened #753 "README for Bucket Sort"
I would like to prepare an explanation/readme for Bucket Sort.
Also, there are two directories for this algorithm. One has implementation in C only & the other one has implementation in other languages. I'll merge the content of both into a single directory.

[2019-03-23 09:52] gauravburjwal opened #755 "Breadth First Search in C"
I'm GSSoC participant.
I would like to work on Breadth First Search in C

[2019-03-23 12:20] tusharsabhani opened #756 "DDA line drawing algo"
This algo is used to draw straight lines

[2019-03-23 12:20] tusharsabhani commented on #756
I would like to implement in C,C++ and Java

[2019-03-23 12:34] poush commented on #597
Feel free to break this issue into multiple sub-issues. For starting, you can send us a travis.yml basic setup which do nothing except booting up a bare Linux machine.

[2019-03-23 15:05] marwahmanbir opened #757 "N-Queens Problem"
I would like to add N-Queens Problem that uses backtracking technique, in the following languages:
- C/C++
- Java
- Python

[2019-03-23 15:17] robotjellyzone opened #758 "Radix Sort - Program in C, C++, python with Readme"

[2019-03-23 15:18] robotjellyzone opened #759 "I would like to add this new issue --> Radix Sort - Program in C, C++, python with Readme"

[2019-03-23 15:18] #758 closed

[2019-03-23 15:18] #759 closed

[2019-03-23 15:19] robotjellyzone opened #760 "Radix Sort"
Readme for radix sort

[2019-03-23 15:20] robotjellyzone commented on #760
I would like to write read me with program in c, c++ and python

[2019-03-23 15:44] zenithexpo commented on #597
Okay, I will do that.

[2019-03-23 15:46] robotjellyzone opened #761 "Shell Sort - sorting algorithm"

[2019-03-23 15:47] robotjellyzone commented on #761
I would like to add read me , program in c/c++, java, python

[2019-03-23 15:55] #761 closed

[2019-03-23 15:56] robotjellyzone opened #762 "Bresenham Line Drawing algorithm"
this generates a line

[2019-03-23 16:00] robotjellyzone commented on #762
Would like to write program in C , python & java

[2019-03-23 16:53] pankajpoply45 commented on #690
I want to work in java. @jainaman224

[2019-03-23 17:04] Maxz2136 commented on #718
I am a Gssoc participant. I would like to work on this issue.

[2019-03-23 17:35] devRD commented on #760
can I work on it using JavaScript?

[2019-03-23 18:15] jainaman224 commented on #667
@prashant-mahanta Is there any specific name to the algorithm?

[2019-03-23 19:05] jainaman224 commented on #732
@shadow989 @Karna98 You can work on this issue instead of c.
First priority is given to @shadow989 among you.

[2019-03-23 19:05] jainaman224 commented on #564
@sez98 Go ahead.

[2019-03-23 19:06] jainaman224 commented on #596
@sez98 Go ahead.

[2019-03-23 19:06] jainaman224 commented on #751
@Priyankasaggu11929 Go ahead.

[2019-03-23 19:06] jainaman224 commented on #750
@dishantsethi Go ahead.

[2019-03-23 19:09] jainaman224 commented on #755
@gauravburjwal Go ahead.

[2019-03-23 19:09] jainaman224 commented on #753
@marwahmanbir Go ahead.

[2019-03-23 19:10] jainaman224 commented on #756
@tusharsabhani Go ahead.

[2019-03-23 19:10] jainaman224 commented on #757
@marwahmanbir Go ahead.

[2019-03-23 19:11] jainaman224 commented on #762
@robotjellyzone Go ahead.

[2019-03-23 19:11] jainaman224 commented on #690
@pankajpoply45 Go ahead.

[2019-03-23 19:12] jainaman224 commented on #718
@Maxz2136 Please specify the language.

[2019-03-23 19:43] Maxz2136 commented on #718
Language:C++ or C

[2019-03-23 19:45] marwahmanbir commented on #753
Fixed.

[2019-03-23 19:57] zenithexpo commented on #597
I have made a PR, basic setup.

[2019-03-23 20:02] Karna98 commented on #486
is this issue open? I want to work on it.

[2019-03-23 20:51] aneesh98 opened #768 "Red_Black_Tree in java"
Would like to write java implementation of Red Black Trees

[2019-03-24 05:58] jainaman224 commented on #718
Sorry it is already implemented for C++ and claimed for C.

[2019-03-24 06:01] #753 closed

[2019-03-24 06:01] jainaman224 commented on #753
Please close issue after PR getting merged.

[2019-03-24 06:08] #731 closed

[2019-03-24 06:30] pankajpoply45 commented on #690
@jainaman224  created pull request #770

[2019-03-24 06:34] jainaman224 commented on #486
@Karna98 Please specify the language.

[2019-03-24 06:37] jainaman224 commented on #768
@aneesh98 Go ahead.

[2019-03-24 07:17] marwahmanbir opened #771 "README for Merge Sort"
I would like to add a README for Merge Sort.

[2019-03-24 07:25] jainaman224 commented on #771
@marwahmanbir Go ahead.

[2019-03-24 08:15] Jaseemck opened #773 "Add Timsort algorithm in c,c++,python and java"

[2019-03-24 08:15] Jaseemck commented on #773
Can i work on this? @jainaman224

[2019-03-24 08:50] devRD commented on #757
can I work on this?

[2019-03-24 08:58] Karna98 commented on #486
@jainaman224 Renaming of the issue is required as it has been already implemented.
or Close the issue.

[2019-03-24 08:58] pankajpoply45 commented on #751
Can I implement it in java @jainaman224

[2019-03-24 10:01] Karna98 opened #774 "Assembly Line Scheduling"
Language Implementation:
- [x] C
- [x] C++
- [x] Python
- [x] Java
- [x] Php
- [x] C#

[2019-03-24 10:02] Karna98 commented on #774
I would like to work on it.

[2019-03-24 12:18] Karna98 commented on #732
I am implementing Comb Sort in php.

[2019-03-24 14:35] ayanujju commented on #727
Can I work on this @jainaman224

[2019-03-24 15:06] AnshitaVishwa opened #782 "shaker sort algorithm in ruby"
sir i would like to implement shaker_sort algorithm in ruby language.

[2019-03-24 15:30] ayanujju commented on #653
Can I work on this?

[2019-03-24 15:49] divs30 commented on #782
Sir may I implement in c,cpp and python.

[2019-03-24 15:51] divs30 commented on #768
May I work on it in C and cpp

[2019-03-24 15:52] divs30 commented on #768
and python as well

[2019-03-24 15:53] divs30 commented on #755
May I work on it in cpp and python

[2019-03-24 15:54] prashant-mahanta commented on #667
@jainaman224 No, the **Longest Common Substring** is usually the problem called. It's the implementation difference, instead of a m*n matrix we can keep a 2*n matrix to reduce the space complexity(as we only need the adjacent rows only) from O(m*n) to O(n).
Should I go ahead?

[2019-03-24 15:54] ayanujju commented on #450
Can I implement this in C language ?

[2019-03-24 16:55] jainaman224 commented on #773
@Jaseemck Go ahead.

[2019-03-24 16:56] jainaman224 commented on #757
@devRD Please specify the language.

[2019-03-24 17:00] devRD commented on #757
@jainaman224 I would like to work on it with JavaScript.

[2019-03-24 17:16] jainaman224 commented on #486
Ok

[2019-03-24 17:16] #486 closed

[2019-03-24 18:05] jainaman224 commented on #751
@pankajpoply45 Go ahead.

[2019-03-24 18:05] jainaman224 commented on #774
@Karna98 Go ahead.

[2019-03-24 18:06] #466 closed

[2019-03-24 18:08] jainaman224 commented on #727
@p-rit Are you working on this?

[2019-03-24 18:09] jainaman224 commented on #727
@ayanujju If Ritul is not working on it. I will assign you.

[2019-03-24 18:09] jainaman224 commented on #653
@ayanujju Go ahead.

[2019-03-24 18:13] jainaman224 commented on #782
@divs30 It is already implemented in c, cpp and python.
@AnshitaVishwa Go ahead.

[2019-03-24 18:14] jainaman224 commented on #768
@divs30 It is already implemented in C, cpp and python.

[2019-03-24 18:15] jainaman224 commented on #755
@divs30 It is already implemented.

[2019-03-24 18:16] jainaman224 commented on #450
@ayanujju Go ahead.

[2019-03-24 18:34] helios1101 commented on #722
@jainaman224

[2019-03-24 18:36] marwahmanbir commented on #757
@devRD You can go for it in JavaScript.

[2019-03-24 19:21] #771 closed

[2019-03-24 19:30] #587 closed

[2019-03-24 19:43] jainaman224 commented on #657
Things are really important for us.

1. Sample input/output.
2. Some guidelines regarding file name and check box.
3.  Branch Name guidelines.

What are your thoughts as guidelines, upstream and documentation seems to be less useful.
For documentation we can say update the folder Readme. If there is no Readme add one with links.

[2019-03-24 19:44] jainaman224 commented on #722
Let's first think about PR template. I am thinking and reading about ways to organise issues. Something like master issue and then sub issues.

[2019-03-24 19:45] jainaman224 commented on #722
Once I get clarity, we will discuss. Thanks a lot for reminding.

[2019-03-24 19:45] kritigoyal commented on #757
@jainaman224  I would like to work on it with Python

[2019-03-24 19:46] jainaman224 commented on #757
@kritigoyal Manbir is already working on it. Please have a look at other issues.

[2019-03-24 19:50] kritigoyal commented on #757
Okay

[2019-03-24 19:55] jainaman224 commented on #657
Something around code convention and squashing will be a great plus.

[2019-03-24 19:57] kritigoyal commented on #760
Has this issue been resolved or can I work on it?

[2019-03-24 19:58] jainaman224 commented on #657
Add some convention on commit message etc etc. These small things can impact drastically.
I need to your suggestions and a coordinated template. Both of you will get marks for it.

[2019-03-24 20:02] jainaman224 commented on #760
@robotjellyzone Go ahead with Readme.
@kritigoyal It is already done.

[2019-03-24 20:08] marwahmanbir opened #787 "TimSort in Python"
I would like to add TimSort in Python.

[2019-03-24 20:09] marwahmanbir commented on #787
Just saw that it's been assigned to someone already, so closing this issue.

[2019-03-24 20:09] #787 closed

[2019-03-24 20:14] kritigoyal commented on #640
I would like to work on it if this issue hasn't  been resolved yet. And can we code this in any programming language? And are there any more constraints or just the problem stated : (Input 2 numbers L and R (where 0 <= L <= R <= 10^10) and find the number of integers in this range which have at max 7 non-zero digits in it.)

[2019-03-24 20:38] Anshuvats opened #789 "Rabin_karp Algorithm in java"
the Rabin–Karp algorithm or Karp–Rabin algorithm is a string-searching algorithm that uses hashing to find any one of a set of pattern strings in a text. For text of length n and p patterns of combined length m, its average and best case running time is O(n+m) in space O(p), but its worst-case time is O(nm).

[2019-03-24 21:16] divs30 commented on #715
may I work on it in python and C

[2019-03-24 21:26] divs30 opened #790 "Chocolate distribution problem in C,C++,python ,java issue"
The problem statement states that
Given an array of k integers where each value represents number of chocolates in a packet. Each packet can have variable number of chocolates. There are p students, the task is to distribute chocolate packets such that:

Each student gets one packet.
The difference between the number of chocolates in packet with maximum chocolates and packet with minimum chocolate

[2019-03-24 21:26] divs30 commented on #790
I would like to work on it C,C++,java ,python

[2019-03-24 21:29] divs30 commented on #741
can I work on it in c,cpp and python

[2019-03-24 21:52] Anshuvats commented on #715
@divs30 sure

[2019-03-24 22:22] somya-kapoor commented on #450
I would like to implement the following matrix operation in C++.
Matrix operation: Matrix Multiplication | Recursive, Sum of middle row and column in Matrix, print Lower triangular, print  Upper triangular and check idempotent matrix.

[2019-03-25 01:53] tusharsabhani opened #792 "Breseham circle drawing algo"
It is used to draw circle

[2019-03-25 01:53] tusharsabhani commented on #792
I would like to implement this is C & C++

[2019-03-25 02:35] KanchanThareja opened #793 "Exponential Search in java, python, javascript and C#"
I wish to implement exponential search in above languages.

[2019-03-25 02:55] p-rit commented on #727
Yes ,I am working

[2019-03-25 05:56] singh-shreya6 commented on #174
@jainaman224 I want to take up Spiral order traversal of a Binary tree in C++

[2019-03-25 06:21] gupta2140 commented on #789
Please correct the issue title "Rabin_carp" --> "Rabin_karp"

[2019-03-25 06:22] gupta2140 commented on #757
Is it the N-Queen problem? If yes, kindly rename the issue to include full name of the problem.

[2019-03-25 06:25] gupta2140 commented on #640
1. Sure, you can work on this, it hasn't been resolved yet.
2. You can code in any language, but preferably C++ first (most commonly understood by everyone), then you can implement it in other languages as well.
3. There are no more constraints other than the mentioned one. However, if you need more information/help, feel free to ask.

[2019-03-25 06:58] khushal87 commented on #657
I think the name would suffice may it be of the code of the ds/algo or the documentation of it
Input/Output is a nice idea though

[2019-03-25 07:00] khushal87 commented on #657
Like we can have a checkbox that says (I have followed the standard code convention and my code contains the necessary documentation ,comments,input and output).
This could direct the user to have it on there code before submitting

[2019-03-25 07:02] kunal-kushwaha commented on #757
@jainaman224 I would like to implement this in Java.

[2019-03-25 07:10] kunal-kushwaha opened #794 "EggDrop problem in Java"
@jainaman224 I would like to work on this.

[2019-03-25 07:23] #665 closed

[2019-03-25 07:31] singh-shreya6 opened #798 "BFS on a matrix in C++, Java and Python"
Computing Shortest path between two cells in a matrix

[2019-03-25 07:39] singh-shreya6 opened #799 "Vertical Order Traversal of Binary tree in C++, Java and Python"
#174

[2019-03-25 09:20] ayanujju commented on #450
I think you have assigned it to Nirmal by mistake @jainaman224 .Please assign it to me.

[2019-03-25 09:56] jainaman224 commented on #790
@divs30 Go ahead.

[2019-03-25 09:57] jainaman224 commented on #741
@divs30 It is already implemented.

[2019-03-25 09:58] jainaman224 commented on #715
@divs30 Go ahead.

[2019-03-25 09:58] jainaman224 commented on #792
@tusharsabhani Go ahead.

[2019-03-25 10:05] jainaman224 commented on #793
@KanchanThareja Go ahead. Just fix issue name.

[2019-03-25 10:06] jainaman224 commented on #174
@singh-shreya6 Create a new issue and refer this issue and Go ahead.

[2019-03-25 10:19] jainaman224 commented on #657
Great.

[2019-03-25 10:20] jainaman224 commented on #794
Wait for issue to be assigned before working on it.
Please give some information about this problem.

[2019-03-25 10:21] jainaman224 commented on #799
Please refer traversal issue here.

[2019-03-25 10:22] jainaman224 commented on #798
@singh-shreya6 Go ahead. Just make sure current program is written for graph or tree.

[2019-03-25 10:23] jainaman224 commented on #450
@somya-kapoor Go ahead.

[2019-03-25 10:23] jainaman224 commented on #450
@ayanujju There are multiple people working on this.
You can work on it. Don't worry about assigning issues.

[2019-03-25 10:25] ayanujju commented on #450
okay, sorry for my wrong assumption

[2019-03-25 10:26] singh-shreya6 opened #800 "Adding Spiral Order Traversal of Binary Tree in C++"
Issue reference #174

[2019-03-25 14:17] kunal-kushwaha commented on #794
@jainaman224 Alright.
The problem is that there is an N-Storey building and you are given e eggs. When you drop an egg from any floor of the building, the egg will either break or survive the fall. If the egg survives, then it would have survived any lesser fall. If the egg breaks, then any greater fall would have broken it as well. The eggs are all identical and interchangeable. You’d like to fin

[2019-03-25 14:54] khushal87 commented on #657
okay. Let me make it and soon i will share it

[2019-03-25 15:12] jainaman224 commented on #800
Go ahead.

[2019-03-25 16:37] jainaman224 commented on #657
@helios1101 Your feedback will be great.

[2019-03-25 16:43] kunal-kushwaha opened #803 "Dynamic Queue in Java"
@jainaman224 I would like to implement this in Java.

[2019-03-25 16:57] Anshuvats commented on #789
okay,sir

[2019-03-25 17:00] tusharsabhani commented on #756
Having problem in java implementation.
You may assign to someone else

[2019-03-25 17:01] kunal-kushwaha commented on #756
@jainaman224 I would like to implement this in Java.

[2019-03-25 17:37] jainaman224 commented on #756
@kunal-kushwaha Go ahead.

[2019-03-25 18:24] divs30 opened #807 "Goldmine problem in c,cpp,python java"
Gold Mine Problem
Given a gold mine of n*m dimensions. Each field in this mine contains a positive integer which is the amount of gold in tons. Initially the miner is at first column but can be at any row. He can move only (right->,right up /,right down\) that is from a given cell, the miner can move to the cell diagonally up towards the right or right or diagonally down towards the right. Find ou

[2019-03-25 18:25] divs30 commented on #807
I would like to work on it in c,cpp,python java

[2019-03-25 18:36] #741 closed

[2019-03-25 18:47] divs30 opened #808 "Trapping rain water between tower problem in c,cpp,java,python"
this problems states to find out maximum water trapped in between buildings of different height s

i.e.We have an array where each element represents height of a tower. If it starts raining, what is the amount of water that can be collected between the towers

[2019-03-25 18:48] divs30 commented on #808
I would like to work on it in c,cpp,java,python

[2019-03-25 19:07] jainaman224 commented on #807
@divs30 Go ahead.

[2019-03-25 19:07] jainaman224 commented on #808
@divs30 Go ahead.

[2019-03-25 19:18] prashant-mahanta opened #810 "Sparse Table Implementation in Python and Java"
I want to implement Sparse Table in Python and Java. It is available only in C and C++.

[2019-03-25 19:23] jainaman224 commented on #810
@prashant-mahanta Go ahead.

[2019-03-25 19:33] helios1101 commented on #657
Yeah, i too think that giving sample input output will be great. Also people sometimes uses logic which are nice but not enough to get the core concept, so a helpful documentation in support of explaination.

[2019-03-25 19:35] helios1101 commented on #657
Also, sometimes their are contribution of a particular priogramme file to existing folders. For eg. in Binary Tree folder person1 made 4 programme files, and person 2 made 2 files, so to distinguish such commits we need a checkbox as in support to folder or new folder.

[2019-03-25 19:46] jainaman224 commented on #657
Nice. I feel you two will come up with great template.

[2019-03-25 19:54] jainaman224 commented on #657
@helios1101 mention khushal in that feature template issue as well.
All 3 of us try to make good templates.

[2019-03-26 05:23] #800 closed

[2019-03-26 07:14] singh-shreya6 opened #814 "Spiral Order Traversal in Binary tree in Java and Python"
Referencing #174

[2019-03-26 09:53] ayanujju opened #815 "Number of Islands Problem in C/C++, Java, Python, C#, PHP and JavaScript"
In the problem, a matrix is given in which only O's and 1's. We have to find total number of clusters formed by elements with value 1.  For example, in the below shown matrix there are total four such clusters.

matrix[M][N] =  {{'**1**', 'O', 'O', 'O', 'O', 'O'},
                           {'**1**', 'O', '**1**', '**1**', '**1**', '**1**'},
                           {'O', 'O', 'O', 'O', 'O', 'O'

[2019-03-26 10:22] ayanujju opened #816 "Length of Longest Bitonic Subsequence for a given array in C/C++, Java, Python, PHP and JavaScript"
Problem Statement:
Given an array arr[0 … n-1] containing n positive integers, a subsequence of arr[ ] is called Bitonic if it is first increasing first and then decreasing.
For example:
  Input arr[ ] = {1, 11, 2, 10, 4, 5, 2, 1}
  Output: 6
A Longest Bitonic Subsequence of length 6 is {1, 2, 10, 4, 2, 1}.

[2019-03-26 11:47] ayanujju commented on #815
I would like to work on this in C/C++ and Python

[2019-03-26 11:48] ayanujju commented on #816
I want to work on this issue in C/C++ and Python. Please assign it to me.

[2019-03-26 11:55] ayanujju commented on #814
Can I work on this issue in Python Language?

[2019-03-26 12:13] kaustubh-pandey opened #817 "Count Inversions in an array using Merge Sort method"
I wanted to add an implementation of counting inversions in an array using Merge sort method in C++. Can I work on this?

[2019-03-26 12:37] khushal87 commented on #657
How about it ??

----------------------
Fixes #

#### Checklist

- [ ] I have read the [Contribution & Best practices Guide of Algo_Ds_Notes ] and my PR follows them.
- [ ] My branch is up-to-date with the Upstream branch.
- [ ] I have followed the standard code convention and my code contains the necessary documentation ,comments,input and output

#### Changes proposed in this pull request:

-
-

[2019-03-26 12:41] khushal87 opened #818 "Graphs in Javascript"
Can i start working on it ??

[2019-03-26 14:39] marwahmanbir opened #819 "Bead Sort Algorithm"
I would like to add Bead Sort algorithm (also called Gravity Sort) in the following languages:
- C/C++
- Java
- Python

[2019-03-26 14:57] marwahmanbir opened #820 "Hamiltonian Cycle"
Add an algorithm to find Hamiltonian Cycle, in the following languages:
- C/C++
- Python
- Java

[2019-03-26 17:28] helios1101 commented on #657
This looks great to me. But additionally, just wanted to edit the sample input, output and necessary document part by putting few more checkboxes of like...

* Neccesary Documents provided
- [ ] Sample Input/Output
- [ ] Logic Documentation
- [ ] None

Any reviews @jainaman224 ?

[2019-03-26 17:29] helios1101 commented on #657
Sure !

[2019-03-26 17:30] helios1101 commented on #722
@khushal87 This was an issue which @jainaman224 was talking about.

[2019-03-26 17:39] khushal87 commented on #722
Okay

[2019-03-26 18:22] jainaman224 commented on #814
@ayanujju It is assigned to Shreya.

[2019-03-26 18:22] jainaman224 commented on #818
@khushal87 Go ahead.

[2019-03-26 18:23] jainaman224 commented on #819
@marwahmanbir Go ahead.

[2019-03-26 19:16] jainaman224 commented on #657
Great I am adding PR template now.
Awesome work.

[2019-03-26 20:00] prashant-mahanta opened #823 "Largest Sum Contiguous Subarray"
I want to implement this problem of finding the maximum/largest sum contiguous subarray in C++, Java, and Python.

Can I go ahead?

[2019-03-26 21:19] #648 closed

[2019-03-26 21:19] #647 closed

[2019-03-26 21:19] #626 closed

[2019-03-26 21:21] somya-kapoor commented on #538
@jainaman224 Please assign me this issue in c.

[2019-03-26 21:23] #715 closed

[2019-03-26 22:08] somya-kapoor commented on #450
I would like to implement the following matrix operation in C.
Matrix operation: Matrix Multiplication | Recursive, Sum of middle row and column in Matrix, print Lower triangular, print Upper triangular and check idempotent matrix.

[2019-03-27 04:44] ayanujju commented on #814
Okay, no problem.

[2019-03-27 07:36] khushal87 commented on #657
Thanks alot😊

[2019-03-27 07:48] jainaman224 commented on #823
This algorithm is also known as Kadane's algorithm. It is already implemented.

[2019-03-27 07:48] #823 closed

[2019-03-27 07:49] jainaman224 commented on #538
@somya-kapoor Go ahead.

[2019-03-27 07:50] jainaman224 commented on #450
@somya-kapoor It is already assigned.

[2019-03-27 11:46] MastersAbh opened #830 "Longest Palindromic Substring in C++, Java, Python"
Please assign this issue to me.

[2019-03-27 11:47] MastersAbh opened #831 "Longest Palindromic Subsequence in C++, Java, Python"
Please assign this issue to me.

[2019-03-27 16:32] #757 closed

[2019-03-27 17:00] jainaman224 commented on #657
I am leaving this issue open for further discussion.

[2019-03-27 17:18] jainaman224 commented on #722
@khushal87 Any inputs?

[2019-03-27 17:58] KaushalSahu opened #837 "RSA algorithm in C, C++, Python, Java"
I would like to work on this issue.

[2019-03-27 18:24] KanchanThareja opened #840 "Matrix Rotation by 90 degrees"
I want to implement this algorithm in C,C++, python, java. please assign this to me

[2019-03-27 18:27] jainaman224 commented on #837
@KaushalSahu Go ahead.

[2019-03-27 18:27] jainaman224 commented on #840
@KanchanThareja Go ahead. Add it to matrix operation folder.

[2019-03-27 19:03] #452 closed

[2019-03-27 19:46] susiejojo commented on #755
I have written the code but when I try to push the file it shows this error:
![Error](https://user-images.githubusercontent.com/42820001/55107311-099dee00-50f7-11e9-9c63-20eb7948a69b.png)

[2019-03-27 20:10] susiejojo commented on #755
I'm an RGSoC participant. Here's my profile link: https://teams.railsgirlssummerofcode.org/users/4080
I have created a pull request with the required code uploaded in C.
Eagerly waiting for your response!

[2019-03-27 20:15] #667 closed

[2019-03-27 20:52] prashant-mahanta opened #844 "Longest Repeating Subsequence in C++, Java and Python"
To find the longest repeating subsequence in C++, Java, and Python

Can I work on this?

[2019-03-27 21:32] dldisha opened #845 "Adding Cycle Sort in C++, Java"

[2019-03-28 05:52] #799 closed

[2019-03-28 06:55] jainaman224 commented on #755
@gauravburjwal Are you working on it?

[2019-03-28 06:55] jainaman224 commented on #755
@susiejojo It is already assigned to Gaurav. If he is not working on it then I will look into your PR.

[2019-03-28 06:56] jainaman224 commented on #844
@prashant-mahanta Go ahead.
And throw some light on it.

[2019-03-28 06:56] jainaman224 commented on #845
@dldisha Go ahead.

[2019-03-28 07:18] dldisha commented on #845
Made the commits, please review

[2019-03-28 07:38] susiejojo commented on #755
Oh sorry I didn't notice... But I created a pull request with the code I wrote in C already... So what do I do next?

[2019-03-28 07:51] susiejojo opened #849 "Prefix_sum in C"
Hey this is Dipanwita. I am an RGSoC participant this year. I'd like to implement prefix sum in C.

[2019-03-28 11:36] gauravburjwal commented on #755
@jainaman224  Yes I'm working on it and I will send PR as soon as possible. Currently busy with my sessional test.

[2019-03-28 12:50] p-rit opened #851 "A* algorithm in python and java"

[2019-03-28 14:05] khushal87 commented on #657
okay @jainaman224

[2019-03-28 14:06] khushal87 commented on #722
Like the template would be more easier than the one which you uploaded if it would had predefined language selector according to my opinion

[2019-03-28 17:12] jainaman224 commented on #849
@susiejojo Go ahead.

[2019-03-28 17:12] jainaman224 commented on #755
@susiejojo Please close that PR.

[2019-03-28 17:12] jainaman224 commented on #851
@p-rit Go ahead.

[2019-03-28 17:16] sagar-sehgal opened #852 "Adding TF-IDF based search and ranking"
I would like to add a TF-IDF based search to the `Machine Learning` section.
It would include:-
1. Defining the set of documents.
2. Defining the query.
3. Making a TF-IDF from a given set of documents.
4. Getting the relevance of a word in a document.
5. Getting top n most important words in that document.
6. Query Searching and Ranking using TF-IDF

Can you please assign me to work on this.

[2019-03-28 17:42] #814 closed

[2019-03-28 18:29] jainaman224 commented on #852
@sagar-sehgal Go ahead.

[2019-03-28 18:51] #837 closed

[2019-03-28 18:57] #740 closed

[2019-03-28 19:04] jainaman224 commented on #722
But there so many languages. So, it will becomes difficult which ones are selected.

[2019-03-28 19:11] singh-shreya6 opened #853 "Fix bug in Activity Selection quoted example in all languages"
start[] = {1, 3, 1, 5, 8, 6}
finish[] = {2, 6, 6, 7, 10, 8}
In all the 6 languages implemented, the example quoted is wrong, as the array should be sorted by its finish time to implement activity selection.

[2019-03-28 19:12] #818 closed

[2019-03-28 19:18] jainaman224 commented on #853
Please fix it. I have made blunder.

[2019-03-28 19:20] #819 closed

[2019-03-28 19:40] MastersAbh commented on #853
Correct. Must be fixed.

[2019-03-29 00:42] Bhairavi-shah commented on #697
Can I start working on the Python code for this ??

[2019-03-29 06:22] jainaman224 commented on #697
@Bhairavi-shah It is already assigned to Khushal.

[2019-03-29 06:27] khushal87 commented on #697
@Bhairavi-shah I have already done it

[2019-03-29 06:27] #733 closed

[2019-03-29 06:29] khushal87 commented on #722
Yeah . But there can be standard languages like c,c++,java,javascript etc and then a section to mention other languages if not in checkbox @jainaman224

[2019-03-29 06:33] khushal87 opened #857 "Radix_sort in JavaScript"
can i start working on it ??

[2019-03-29 07:40] marwahmanbir opened #858 "Cohen Sutherland Line Clipping Algorithm"
I would like to add the Cohen Sutherland algorithm in C/C++

[2019-03-29 08:48] prekshajagetiya123 commented on #798
could you please assign this issue to me?

[2019-03-29 08:51] prekshajagetiya123 commented on #858
Could you please assign this to me? I would like to work on this issue.

[2019-03-29 08:53] prekshajagetiya123 commented on #844
As no one is assigned to this issue, can I also contribute to the same?

[2019-03-29 09:46] marwahmanbir commented on #858
Hey @prekshajagetiya123 I will be working on C/C++ and Java implementations. You can work on other languages like JavaScript, if @jainaman224 allows.

[2019-03-29 09:53] prekshajagetiya123 commented on #858
Hi! Actually I am comfortable wth C++, so if you say can I please work on that!

[2019-03-29 10:14] prekshajagetiya123 commented on #858
ok, I would also like to implement it in Python. Should I proceed?

[2019-03-29 10:41] susiejojo commented on #849
Sir I've created a pull request with the required code in C. Looking forward to your review on it.

[2019-03-29 10:42] susiejojo commented on #849
Commit id 2ee4f43

[2019-03-29 10:55] susiejojo commented on #849
Commit 66a73c8

[2019-03-29 12:53] jnikita356 opened #862 "K-map minimization"
Can I start working on it? (language used- python)

[2019-03-29 13:17] vidyabhandary opened #863 "Bloom filter and Doubly Circular Linked List implementation in python"
Add python implementations for Bloom filter and Doubly Circular Linked List.

[2019-03-29 14:28] khushal87 opened #864 "N-Queen Problem in cpp,java,go,python and js"
Can i start working on it? I know someone is already doing but he may be working on JS implementation so please confirm and say whether i can work on the other one ?

[2019-03-29 14:40] khushal87 opened #865 "Number Convertions in different languages"
Can i work on it ??

[2019-03-29 16:54] shadow989 commented on #745
@jainaman224 @rishabhgarg25699  Sir i have made a pull request for this issue in c language please go through it.

[2019-03-29 17:12] imabhishek17 opened #867 "Lucas Theorem"
Hello @rishabhgarg25699  I want to implement this algorithm . Please give me this issue.

[2019-03-29 17:22] amanword opened #868 "Russian-Peasant-Multiplication"
@rishabhgarg25699  I want to implement this algorithm in c language. Please allow me to implement this algorithm .

[2019-03-29 17:42] jainaman224 commented on #722
For the time being let this to be this way.

[2019-03-29 17:44] jainaman224 commented on #844
@prekshajagetiya123 It is already assigned to Prashant. Please have a look at other issues.

[2019-03-29 17:45] jainaman224 commented on #858
@marwahmanbir @prekshajagetiya123 Go ahead.

[2019-03-29 17:46] jainaman224 commented on #862
@jnikita356 Go ahead.

[2019-03-29 17:49] jainaman224 commented on #864
It is already implemented in some languages. Have a look at https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Queens_Problem.

[2019-03-29 17:49] jainaman224 commented on #865
Please specify the language.

[2019-03-29 17:50] khushal87 commented on #865
c,c++,java,python,js

[2019-03-29 17:53] khushal87 commented on #864
can i go with go lang and if possible JS??

[2019-03-29 17:57] khushal87 commented on #722
Okay @jainaman224

[2019-03-29 18:45] jainaman224 commented on #864
Go ahead with go, js and cpp.

[2019-03-29 20:05] MastersAbh opened #870 "Adding Prefix Sum in Java, Python, Go"
Please assign it to me.

[2019-03-29 20:13] jainaman224 commented on #870
Go ahead. Just make sure it is not implemented in these languages.

[2019-03-29 20:14] MastersAbh commented on #870
Thanks. It is only implemented in C++ right now.

[2019-03-30 03:35] #718 closed

[2019-03-30 08:31] #853 closed

[2019-03-30 08:35] singh-shreya6 commented on #853
@rishabhgarg25699 I was asked to split the PR into two PRs. Why did you close this issue after merging only C, C++ and Go implementations. The implementations in Java, Javascript and Python are not yet merged. Please look into it.

[2019-03-30 08:40] #870 closed

[2019-03-30 09:03] MastersAbh opened #874 "Painter's Partition Problem in C++, Java, Python"
Please assign in to me.

[2019-03-30 09:19] raghav-dalmia opened #875 "quick sort on linked list in c++, python"

[2019-03-30 09:20] raghav-dalmia commented on #875
@jainaman224 can I proceed?

[2019-03-30 09:55] somya-kapoor opened #876 "Scheduling Algorithm in c++"
I want to implement following algorithm in c++ :
1. first come, first served (FCFS)
2.Shortest Remaining Time First (SRTF);Non-Preemptive
3.Shortest Remaining Time First (SRTF);Preemptive
4.Priority Scheduling

[2019-03-30 11:41] Bhairavi-shah commented on #845
Can I do it in Python ?

[2019-03-30 11:51] Bhairavi-shah opened #878 "KMP Algorithm in C++, Python, Java"
I would like to work on this issue

[2019-03-30 11:52] ayushin78 commented on #878
It is already implemented in c++ and python. You can go with java.

[2019-03-30 11:55] Bhairavi-shah opened #880 "Birthday Paradox in C++, Java, Python"
I would like to work on this issue.

[2019-03-30 14:19] #864 closed

[2019-03-30 17:25] jainaman224 commented on #845
@Bhairavi-shah Go ahead.

[2019-03-30 17:46] susiejojo commented on #849
Commit fa06829

[2019-03-30 17:54] #713 closed

[2019-03-30 18:27] #793 closed

[2019-03-30 18:37] #830 closed

[2019-03-30 19:20] #685 closed

[2019-03-30 19:32] #857 closed

[2019-03-30 19:38] #849 closed

[2019-03-30 19:50] #745 closed

[2019-03-31 05:41] KanchanThareja opened #886 "Next Smallest Palindrome"
Eg: Next smallest palindrome of 123 is 131

I want to implement this in c++, java, python and C#.

[2019-03-31 05:43] jainaman224 commented on #886
Go ahead

[2019-03-31 05:44] prekshajagetiya123 commented on #886
can I implement the same in C?

[2019-03-31 06:17] jainaman224 commented on #886
@prekshajagetiya123 Go ahead.

[2019-03-31 06:36] #798 closed

[2019-03-31 07:10] #513 closed

[2019-03-31 07:10] #448 closed

[2019-03-31 07:11] jainaman224 commented on #458
@Saranya-jena Are you working on it?

[2019-03-31 07:12] #458 closed

[2019-03-31 07:12] #461 closed

[2019-03-31 07:13] jainaman224 commented on #464
@Saranya-jena Are you working on it?

[2019-03-31 07:14] jainaman224 commented on #469
@InfiniteVerma Are you working on it?

[2019-03-31 07:16] #474 closed

[2019-03-31 07:17] #475 closed

[2019-03-31 07:17] jainaman224 commented on #477
@r3trd Are you working on it?

[2019-03-31 07:18] #483 closed

[2019-03-31 07:19] jainaman224 commented on #487
@mani1soni Are you still working on it?

[2019-03-31 07:19] jainaman224 commented on #488
@diptinayan Are you still working on it?

[2019-03-31 07:20] #490 closed

[2019-03-31 07:21] jainaman224 commented on #510
@Chaitanyasuma Are you still working on it?

[2019-03-31 07:21] jainaman224 commented on #520
@saumyashrm2802 Are you still working on it?

[2019-03-31 07:23] jainaman224 commented on #521
@KavithaVarughese Are you still working on it?

[2019-03-31 07:23] jainaman224 commented on #521
@shahkv95 Are you still working on it?

[2019-03-31 07:30] diptinayan commented on #488
Yes sir. I will be adding it soon.

[2019-03-31 07:41] #537 closed

[2019-03-31 07:48] mani1soni commented on #487
@jainaman224 yes, i am working...but i'm able to contribute in this by 3rd april because of college's internals.

[2019-03-31 07:49] jainaman224 commented on #538
@somya-kapoor Are you working on it?

[2019-03-31 07:49] #552 closed

[2019-03-31 07:50] jainaman224 commented on #564
@sez98 Are you working on it?

[2019-03-31 07:52] jainaman224 commented on #564
@itnug987 Are you working on it?

[2019-03-31 07:52] jainaman224 commented on #487
No issues.

[2019-03-31 07:54] #320 closed

[2019-03-31 07:56] jainaman224 commented on #569
@Jaseemck Are you working on Php?

[2019-03-31 07:56] #581 closed

[2019-03-31 07:57] #591 closed

[2019-03-31 07:58] jainaman224 commented on #596
@sez98 Are you working on it?

[2019-03-31 07:59] jainaman224 commented on #596
@vaishali614 Would you like to work in Java?

[2019-03-31 08:00] jainaman224 commented on #597
@zenithexpo Please go ahead. It is good add more to it.
@poush Have a look.

[2019-03-31 08:01] jainaman224 commented on #604
@uemarica Are you still working on it?

[2019-03-31 08:01] #621 closed

[2019-03-31 08:02] jainaman224 commented on #624
@Vaibhavraj10 Are you working on it?

[2019-03-31 08:02] jainaman224 commented on #633
@shahkv95 Are you working on it?

[2019-03-31 08:04] jainaman224 commented on #634
@shahkv95 Are you working in it?

[2019-03-31 08:14] #655 closed

[2019-03-31 09:22] Vaibhavraj10 commented on #624
@jainaman224 yes, I was actually busy with the college work. I will soon submit the PR within a day or two.

[2019-03-31 09:34] InfiniteVerma commented on #469
Yeah. Need time till 4th. Sorry for the delay.

[2019-03-31 10:18] jainaman224 commented on #469
@InfiniteVerma No issues.

[2019-03-31 16:44] singh-shreya6 opened #889 "Adding Subset Sum problem using DP in C++, Java and Python"

[2019-03-31 16:51] rishabhgarg25699 commented on #889
@singh-shreya6  Go ahead

[2019-03-31 17:16] #867 closed

[2019-03-31 17:19] #868 closed

[2019-03-31 17:25] #645 closed

[2019-03-31 17:25] #646 closed

[2019-03-31 17:26] #649 closed

[2019-03-31 17:26] jainaman224 commented on #653
@ayanujju Are you working on it?

[2019-03-31 17:26] #663 closed

[2019-03-31 17:27] #690 closed

[2019-03-31 17:58] #732 closed

[2019-03-31 17:59] #725 closed

[2019-03-31 18:00] jainaman224 commented on #706
@sez98 Are you still working on it?

[2019-03-31 18:05] jainaman224 commented on #695
@Jaseemck Are you working in python?

[2019-03-31 18:05] jainaman224 commented on #694
@AnshitaVishwa Are you working on it?

[2019-03-31 18:14] jainaman224 commented on #750
@dishantsethi Are you still working on it?

[2019-03-31 18:15] jainaman224 commented on #751
@pankajpoply45 Are you still working on it?

[2019-03-31 18:15] jainaman224 commented on #756
@tusharsabhani Are you working on it?

[2019-03-31 18:16] jainaman224 commented on #760
@robotjellyzone Are you working on it?

[2019-03-31 18:17] jainaman224 commented on #768
@aneesh98 Are you working on it?

[2019-03-31 18:17] #773 closed

[2019-03-31 18:18] jainaman224 commented on #774
@Karna98 Are you working on it?

[2019-03-31 18:18] robotjellyzone commented on #760
Yes, @jainaman224 I'll complete it soon!!

[2019-03-31 18:18] jainaman224 commented on #782
@AnshitaVishwa Are you working on it?

[2019-03-31 18:18] jainaman224 commented on #789
@Anshuvats Are you working on it?

[2019-03-31 18:20] jainaman224 commented on #790
@divs30 Are you working on it?

[2019-03-31 18:21] jainaman224 commented on #792
@tusharsabhani Are you working on it?

[2019-03-31 18:21] #794 closed

[2019-03-31 18:22] aneesh98 commented on #768
Yes I am.

[2019-03-31 18:25] #803 closed

[2019-03-31 18:26] jainaman224 commented on #807
@divs30 Are you working on it?

[2019-03-31 18:26] jainaman224 commented on #808
@divs30 Are you working on it?

[2019-03-31 18:27] jainaman224 commented on #810
@prashant-mahanta Are you working on it?

[2019-03-31 18:28] jainaman224 commented on #815
@ayanujju Are you working on it?

[2019-03-31 18:28] jainaman224 commented on #816
@ayanujju Are you working on it?

[2019-03-31 18:28] jainaman224 commented on #817
@kaustubh-pandey Are you working on it?

[2019-03-31 18:28] jainaman224 commented on #831
@MastersAbh Are you working on it?

[2019-03-31 18:29] jainaman224 commented on #844
@prashant-mahanta Are you working on it?

[2019-03-31 18:48] divs30 commented on #808
yes

[2019-03-31 18:49] divs30 commented on #807
yes

[2019-03-31 18:49] divs30 commented on #790
yes

[2019-03-31 19:43] MastersAbh commented on #831
Yes. I am working on it.

[2019-03-31 21:59] Karna98 commented on #774
I'm going to take some time but will try to implement it ASAP.

[2019-04-01 00:19] somya-kapoor opened #896 "Ugly number in c and c++"

[2019-04-01 02:11] ayanujju commented on #653
Yes Sir. Please give me two more days.

On Sun, Mar 31, 2019, 22:56 Aman Jain <notifications@github.com> wrote:

[2019-04-01 02:12] ayanujju commented on #815
Yes Sir.

On Sun, Mar 31, 2019, 23:58 Aman Jain <notifications@github.com> wrote:

[2019-04-01 02:12] ayanujju commented on #816
Yes Sir.

On Sun, Mar 31, 2019, 23:58 Aman Jain <notifications@github.com> wrote:

[2019-04-01 05:45] Anshuvats commented on #789
yes, sir

[2019-04-01 11:02] prashant-mahanta commented on #844
@jainaman224 Yes I am. I had some medical issues so it got delayed soon be sending the PR.

[2019-04-01 11:41] kaustubh-pandey commented on #817
Yes , I am working on it

[2019-04-01 12:19] tusharsabhani commented on #756
Yes

[2019-04-01 12:20] tusharsabhani commented on #792
Yes

[2019-04-01 12:53] prashant-mahanta commented on #810
@jainaman224  Yes I am.

[2019-04-01 13:42] itnug987 commented on #564
@jainaman224 Yes, will make PR in next few days.

[2019-04-01 14:09] shahkv95 commented on #633
I already completed it and sent the PR. I don't know where have I stucked. Please guide me.

[2019-04-01 14:10] shahkv95 commented on #634
I have already sent the PR for the same.

[2019-04-01 14:38] sez98 commented on #564
yes ... i am.. i ll complete it by Wednesday.

[2019-04-01 14:40] sez98 commented on #706
yes... i am... i ll complete it in a few days.

[2019-04-01 14:42] sez98 commented on #596
yes .. i am... i ll complete it in a few days.

[2019-04-01 14:46] #633 closed

[2019-04-01 14:49] jainaman224 commented on #634
I am unable to find the PR. Can you please refer this issue in PR.

[2019-04-01 17:15] AkshitAggarwal commented on #896
I'd like to work on this issue, using C++

[2019-04-01 18:25] jainaman224 commented on #896
@AkshitAggarwal Please take another issue or language. It is already assigned.

[2019-04-01 18:36] #523 closed

[2019-04-01 18:52] vaishali614 commented on #596
@jainaman224 no aman, i code in c++!

[2019-04-01 21:15] AnshitaVishwa opened #901 "Pancake sort in ruby"
sir i would like to implement the pancake sort algorithm in ruby language .

[2019-04-02 03:16] Chaitanyasuma commented on #510
Yes, Sir. Will update asap

[2019-04-02 03:16] Chaitanyasuma commented on #510
@jainaman224 Yes Sir, will update asap.

[2019-04-02 04:04] Chaitanyasuma opened #902 "Add readme.md for Heap Sort"
@jainaman224 Can I work on this issue? Thank you.

[2019-04-02 04:46] jainaman224 commented on #901
Go ahead.

[2019-04-02 04:47] jainaman224 commented on #902
Go ahead.

[2019-04-02 12:34] AkshitAggarwal commented on #896
If someone is doing it in C++, maybe I can do it in C?

[2019-04-02 14:49] susiejojo opened #905 "LIS using segment tree"
The current implementation of segment tree in cpp using dynamic programming has complexity O(n^2). I would like to implement it using segment tree in O(nlog n).

[2019-04-02 15:01] susiejojo opened #906 "0 1 BFS in cpp"
Given a graph where every edge has weight as either 0 or 1. A source vertex is also given in the graph. Find the shortest path from source vertex to every other vertex.

[2019-04-02 16:24] jainaman224 commented on #896
It is assigned in both languages to somya.

[2019-04-02 16:24] jainaman224 commented on #905
Please first have a look at assigned issues.

[2019-04-02 16:25] jainaman224 commented on #906
Please first have a look at issues already assigned to you.

[2019-04-02 17:04] susiejojo commented on #905
The issue assigned to me was solved and the PR was merged #861

[2019-04-02 17:05] susiejojo commented on #906
The issue assigned to me was solved and the PR was merged #861

[2019-04-02 17:07] susiejojo commented on #906
Also, I'm an RGSoC participant sir, but the tag says gssoc19

[2019-04-02 17:56] #810 closed

[2019-04-02 18:15] jainaman224 commented on #905
@susiejojo If that's case. Sorry for misunderstanding. Go ahead.

[2019-04-02 18:15] jainaman224 commented on #906
@susiejojo I apologise for misunderstanding. Go ahead.

[2019-04-03 07:39] dshahid380 commented on #635
Are you still working on this?

[2019-04-03 10:39] AkshitAggarwal commented on #750
If this issue is now free, I can work on it in C and C++.

[2019-04-03 10:43] AkshitAggarwal commented on #639
I can take up this issue, I will provide the code in C and C++.

[2019-04-03 10:45] AkshitAggarwal commented on #653
If this issue is still open, or if the C++ code is required I can implement it.

[2019-04-03 15:11] somya-kapoor commented on #876
Can I implement it in C also?

[2019-04-03 16:37] dshahid380 opened #911 "Implement Segment Tree with Lazy Propagation in python"
Segment Tree with Lazy Propagation implementation in python.

[2019-04-03 17:27] somya-kapoor opened #915 "Babylonian method in c and c++"
Babylonian method is used for finding the square root of a number.

[2019-04-03 17:27] jainaman224 commented on #639
@AkshitAggarwal Go ahead.

[2019-04-03 17:28] jainaman224 commented on #750
@AkshitAggarwal It is already implemented.

[2019-04-03 17:29] jainaman224 commented on #653
@AkshitAggarwal It is already implemented.

[2019-04-03 17:29] jainaman224 commented on #876
@somya-kapoor Go ahead. If it is not implemented yet.

[2019-04-04 10:07] riya-17 commented on #597
Hey @jainaman224 @zenithexpo is this issue open and unassigned, May I work on it?

[2019-04-04 16:14] #727 closed

[2019-04-04 17:40] #768 closed

[2019-04-04 18:13] kritigoyal opened #918 "2 pass algorithm for macro"
I would like to add a two pass algorithm for macro in C language. Please assign me this task.

[2019-04-04 19:03] jainaman224 commented on #918
It would be great if you can let us a bit about this.

[2019-04-05 03:55] kritigoyal commented on #918
This algorithm is used for identifying macro name and performing expansion.
Pass 1 of the 2 pass algorithm is used to recognize macro definition and
save it while Pass 2 of 2 pass algorithm is used to recognize macro call
and perform macro expansion.

On Fri, Apr 5, 2019, 12:33 AM Aman Jain <notifications@github.com> wrote:

[2019-04-05 04:52] mark-nakachon commented on #831
@jainaman224 if you assign this issue to me I will fix this in less than an hour

[2019-04-05 04:59] mark-nakachon commented on #880
if u assign this issue to me I can fix this issue in less than an hour

[2019-04-05 05:02] mark-nakachon commented on #902
if you assign this issue to me I can fix it in less than an hour

[2019-04-05 05:06] mark-nakachon commented on #817
if u assign this issue to me i can fix it in less than an hour

[2019-04-05 09:40] sridharjajoo commented on #915
@somya-kapoor Status?

[2019-04-05 11:49] harshitagupta11 opened #921 "count inversion algorithm in javascript"
i want to add a count inversion in an array using merge sort in javascript. please assign me this task.

[2019-04-05 15:40] #844 closed

[2019-04-05 17:41] somya-kapoor commented on #915
@sridharjajoo I am working on it.

[2019-04-05 17:48] dshahid380 opened #922 "Implement Fenwick Tree in Java and JavaScript"
I want to add Fenwick Tree code in Two languages one Java and another JavaScript.
@jainaman224 please assign this issue.

## Files to be added
- Fenwick_Tree.java
- Fenwick_Tree.js

[2019-04-05 17:49] jainaman224 commented on #831
@mark-nakachon Hey, It is not about being quick. It is about learning. Please have a look at other issue.

[2019-04-05 17:49] jainaman224 commented on #880
@mark-nakachon Please have a look at other issue.

[2019-04-05 17:49] jainaman224 commented on #902
@mark-nakachon Please have a look at other issue.

[2019-04-05 17:50] jainaman224 commented on #817
@mark-nakachon Please have a look at other issue.

[2019-04-05 17:53] #538 closed

[2019-04-05 18:18] #911 closed

[2019-04-06 05:15] poush commented on #597
@riya-17 till the basic Travis file get merged, you can start with the bash scripts, for eg start with a new file build_scripts/cpp.sh which is responsible for testing CPP based files. It will receive the path of the file as one of the argument, then will check of all necessary CPP compilers are installed or install them of not present then execute the file passed as an argument.

[2019-04-06 08:05] vishnu0179 opened #928 "Add readme.md for Insertion sort"
@jainaman224 can i work on this issue??

[2019-04-06 08:45] riya-17 commented on #597
@poush ok i will work on this thanks :)

[2019-04-06 09:04] riya-17 opened #929 "Making Search easier"
@jainaman224 I think it is quite difficult to search throughout the repository which algorithm is implemented and which is not. We can arrange them in sub folders like. we can create a Sorting folder and plane all sorting algorithms inside this folder.

[2019-04-06 11:02] harshitagupta11 opened #931 "Array_Rotation in javascript"
I want to add code for Array_Rotation algorithm in javascript . Please assign me for this.

[2019-04-06 18:15] vishnu0179 opened #932 "New algorithm for spiral array printing"
@jainaman224  Can i add the code for the spiral array algorithm?

[2019-04-07 15:19] Ibragim97 opened #936 "Depth First Search in Ruby"
Hello!
I want to implement Depth First Search in Ruby.

[2019-04-07 15:21] Ibragim97 opened #937 "Dijkstra Algorithm in Ruby"
Hello!
I want to implement the Dijkstra Algorithm in Ruby with N^2 time complexity.

[2019-04-07 15:24] Ibragim97 opened #938 "Binary Tree in Ruby"
Hello!
I want to implement a Binary Tree in Ruby

[2019-04-07 15:25] Ibragim97 opened #939 "LinkedList in Ruby"
Hello!
I want to implement LinkedList in Ruby

[2019-04-07 15:27] Ibragim97 opened #940 "Z-Algorithm in Ruby"
Hello!
I want to implement Z-Algorithm in Ruby

[2019-04-07 15:48] #792 closed

[2019-04-07 15:51] geekyNehal opened #941 "Code Correction: Quick Sort"
Quick Sort program written in c language requires some modification like swap function. With due permission, I can work on that.

[2019-04-07 15:58] jainaman224 commented on #929
I am thinking around it. We can definitely do this.

[2019-04-07 16:48] #876 closed

[2019-04-07 17:30] #510 closed

[2019-04-07 18:18] #858 closed

[2019-04-08 05:49] sakshichahal53 opened #946 "Lowest Common Ancestor of a Binary Search Tree"
According to the definition of LCA on Wikipedia: “The lowest common ancestor is defined between two nodes p and q as the lowest node in T that has both p and q as descendants (where we allow a node to be a descendant of itself)."

![lca](https://user-images.githubusercontent.com/25123590/55701212-effe7f80-59ef-11e9-821f-ad031f2903a5.png)

I'd like to contribute to this issue in C++, Java and Pytho

[2019-04-08 06:28] sakshichahal53 opened #947 "Connect nodes at same level in a Binary Tree"
Hi @jainaman224, I'd like to make a feature request for the problem:
Connect all the adjacent nodes at the same level in a binary tree.

I'd like to contribute to this issue for C++ .

[2019-04-08 06:33] sakshichahal53 opened #948 "is binary search tree"
An efficient and correct algorithm to check if a tree is a binary search tree or not.
I'd like to contribute to this issue in C++.

[2019-04-08 06:36] sakshichahal53 commented on #948
I'd like to contribute to this issue in C++.

[2019-04-08 07:13] riya-17 commented on #929
@jainaman224 I am working on Travis I am halfway through it, Should I start working on this as well?

[2019-04-08 20:12] somya-kapoor opened #951 "N-Queen Problem in c++"

[2019-04-08 20:17] somya-kapoor opened #952 "Lucus Theorem in c"

[2019-04-09 05:56] jainaman224 commented on #951
Go ahead

[2019-04-09 05:56] jainaman224 commented on #952
Go ahead

[2019-04-09 09:59] p-rit commented on #851
@jainaman224
 I am facing problems with this issue. Please assign it to someone else.

[2019-04-09 18:08] mark-nakachon opened #954 "Implementation of Trie for words in javascript"
I am assigning this issue this issue to myself to implement a trie for words in javascript
please add the GSSOC label

[2019-04-09 18:09] mark-nakachon opened #955 "Implementation of Trie for Natural Numbers in javascript"
I am assigning this issue to myself and I will implement a trie for natural numbers in javascript

[2019-04-09 18:14] mark-nakachon opened #956 "Square root decomposition in javascript"
I am assigning this issue to myself I will add pull request very soon

[2019-04-09 18:17] mark-nakachon commented on #955
Please add the GSSOC label

[2019-04-09 18:18] mark-nakachon commented on #956
Please add the Gssoc label

[2019-04-09 19:20] riya-17 commented on #597
@poush @jainaman224 I have build Travis for C language there is just one problem it is checking files only with name main.c if it is add.c than it is not able to. I am using gcc compiler and added "gcc main.c" as script. Do you know which command I can use in Script that can help build with any file name.

[2019-04-09 19:56] riya-17 commented on #929
Hey @jainaman224

[2019-04-10 08:04] mark-nakachon opened #959 "Implementation of Quick Hull in python,cpp,javascript"
I am assigning this issue to myself, please add the Gssoc label and i will soon add the PR

[2019-04-10 08:26] #878 closed

[2019-04-10 08:32] #932 closed

[2019-04-10 13:03] marwahmanbir commented on #959
Hey @mark-nakachon, you can take only two issues at a time. Close the other ones and keep open only the two that you'll work on. Once you resolve the two you can go for the other two. Also, issues are approved by @jainaman224 first and then only you can start working on it.

[2019-04-10 18:06] Just-A-Visitor opened #960 "Incorrect Code for Spiral Array"
The code for spiral array fails basic test cases, such as

| 1 | 2  | 3  | 4  |
|---|----|----|----|
| 5 | 6  | 7  | 8  |
| 9 | 10 | 11 | 12 |

**The expected output**
`1  2  3  4  8  12  11  10  9  5  6  7`

**The Actual output**
`1  2  3  4  8  12  11  10  9  5  6  7  6 `

It's like the code hasn't been proofread at all. This brings me to the purpose of this repository? Is it just a place for du

[2019-04-11 09:34] #915 closed

[2019-04-11 11:05] khushal87 opened #964 "Number Conversion (Decimal To Binary)"
can i start working on it ?

[2019-04-11 16:18] susiejojo commented on #906
Commit : 77eb663

[2019-04-11 16:19] susiejojo commented on #906
Commit 7eb6633

[2019-04-11 20:53] raghav-dalmia opened #969 "infix expression to postfix expression"

[2019-04-11 20:53] raghav-dalmia commented on #969
@jainaman224  can I proceed?

[2019-04-12 04:54] susiejojo opened #970 "Priority queue in Python"
I am an RGSoC participant and would like to implement priority queue in python.

[2019-04-12 18:19] jainaman224 commented on #929
Go ahead.

[2019-04-12 18:19] jainaman224 commented on #929
Please fix naming as well.

[2019-04-12 18:26] jainaman224 commented on #960
Thanks a lot. Yes, due to lack of time the code quality has declined significantly but the purpose of the repository is to get code for multiple language contributed by people at one place. We will try to work the points.

[2019-04-12 18:34] Just-A-Visitor commented on #960
@vishnu0179 It'd be great if you could resolve the above issue, since you are the contributor of this code and are well versed with it.

[2019-04-12 18:40] riya-17 commented on #929
@jainaman224 sure. Thanks :)

[2019-04-12 18:56] robotjellyzone opened #971 "Bresenham Circle Algorithm in Python"
This algo generates  circle .

[2019-04-12 18:57] robotjellyzone commented on #971
Please , assign it to me !!

[2019-04-12 18:58] jainaman224 commented on #929
@riya-17 Let's discuss on gitter. I have something else in mind.

[2019-04-12 19:03] jainaman224 commented on #960
We can work on it. No issues.

[2019-04-12 19:15] #845 closed

[2019-04-12 19:19] #902 closed

[2019-04-12 19:50] #880 closed

[2019-04-13 08:33] somya-kapoor opened #978 "Postfix to Infix expression in C and c++"

[2019-04-13 11:17] Bhairavi-shah opened #979 "Cycle Sort in Python"

[2019-04-13 12:17] vhawk19 commented on #979
Could i take this up?

also more details would be helpful :)

[2019-04-13 12:18] vhawk19 commented on #978
I would love to take this up, but i would need more details :)

[2019-04-13 17:20] mark-nakachon opened #983 "Dijkstra algorithm in javascript"
implementation of the Dijkstra algorithm in javascript
please add the gsoc label

[2019-04-13 17:25] mark-nakachon opened #984 "Sudoku solver in javascript"
implementation of sudoku solver in javascript
please add the Gssoc label and assign this issue to me

[2019-04-13 17:29] mark-nakachon opened #985 "Longest common substring (DP) in javascript"
implementation of the longest common substring in javascript,
please add the Gssoc label and assign this issue to me

[2019-04-13 20:14] susiejojo commented on #970
Commit id: #986

[2019-04-14 10:35] jainaman224 commented on #979
@vhawk19 Sorry, It was claimed by Bhairavi first. You can look at other issues.

[2019-04-14 10:36] jainaman224 commented on #978
@vhawk19 Please look at other issue.

[2019-04-14 10:48] #840 closed

[2019-04-14 12:31] #730 closed

[2019-04-14 13:08] #931 closed

[2019-04-14 13:12] #979 closed

[2019-04-14 13:35] #760 closed

[2019-04-14 15:51] robotjellyzone opened #990 "Infix to prefix conversion in java and c++ using two stacks"
This will convert any infix to prefix expression using two stacks

[2019-04-14 15:51] robotjellyzone commented on #990
Please assign it to me!!

[2019-04-14 18:54] #896 closed

[2019-04-14 18:55] #694 closed

[2019-04-14 19:05] #939 closed

[2019-04-14 21:45] raghav-dalmia commented on #990
@jainaman224 I want to work on this issue, that's why I open this issue.

[2019-04-14 21:49] raghav-dalmia commented on #990
sorry for that comment, I miss interpret this issue.

[2019-04-14 22:04] somya-kapoor opened #994 "Egg Drop Problem in C and C++"

[2019-04-15 15:24] #862 closed

[2019-04-15 16:45] marwahmanbir opened #996 "README for Bead Sort Algorithm"
Add a README.md file to explain Bead Sort Algorithm. The file should contain the following:
- Explanation
- Algorithm
- Pseudocode
- Example
- Time Complexity
Also add images/GIFs to explain if possible.

[2019-04-15 16:47] marwahmanbir opened #997 "README for Cocktail Sort"
Add a README.md file to explain Cocktail Sort Algorithm. The file should contain the following:
- Explanation
- Algorithm
- Pseudocode
- Example
- Time Complexity

Also add images/GIFs to explain if possible.

[2019-04-15 16:48] marwahmanbir opened #998 "README for Comb Sort Algorithm"
Add a README.md file to explain Comb Sort Algorithm. The file should contain the following:
- Explanation
- Algorithm
- Pseudocode
- Example
- Time Complexity

Also add images/GIFs to explain if possible.

[2019-04-15 16:49] marwahmanbir opened #999 "README for Shell Sort Algorithm"
Add a README.md file to explain Shell Sort Algorithm. The file should contain the following:
- Explanation
- Algorithm
- Pseudocode
- Example
- Time Complexity

Also add images/GIFs to explain if possible.

[2019-04-15 16:50] marwahmanbir opened #1000 "README for Prims Algorithm"
Add a README.md file to explain Prims Algorithm. The file should contain the following:
- Explanation
- Algorithm
- Pseudocode
- Example
- Time Complexity

Also add images/GIFs to explain if possible.

[2019-04-15 16:51] marwahmanbir opened #1001 "README for Queen's Algorithm"
Add a README.md file to explain Queen's Algorithm. The file should contain the following:
- Explanation
- Algorithm
- Pseudocode
- Example
- Time Complexity

Also add images/GIFs to explain if possible.

[2019-04-15 16:55] marwahmanbir opened #1002 "Bead Sort in C++"
Add your implementation of Bead Sort Algorithm in C++.

[2019-04-15 16:57] marwahmanbir opened #1003 "Bucket Sort in JavaScript"
Add your implementation for Bucket Sort Algorithm in JavaScript.

[2019-04-15 16:59] marwahmanbir opened #1004 "Circle Sort in JavaScript"
Add your implementation of Circle Sort Algorithm in JavaScript.

[2019-04-15 17:03] marwahmanbir opened #1005 "A* Algorithm in C++"
Add your implementation for A* Search Algorithm in C++.

[2019-04-15 17:05] marwahmanbir opened #1006 "A* Algorithm in Python"
Add your implementation for A* Search Algorithm in Python.

[2019-04-15 17:52] mark-nakachon commented on #1004
I am taking up this issue

[2019-04-15 17:58] mark-nakachon commented on #1006
I am taking up this issue

[2019-04-15 17:59] marwahmanbir commented on #1004
@mark-nakachon I see that you have multiple issues already. Please take new issues only once you resolve the previously taken ones.

[2019-04-15 18:00] marwahmanbir commented on #1006
@mark-nakachon I see that you have multiple issues already. Please take new issues only once you resolve the previously taken ones so that other people also get the chance to contribute.

[2019-04-15 18:02] marwahmanbir commented on #1002
@Arunkumar0258 go ahead.

[2019-04-15 18:34] raibove commented on #999
Can I work on this issue
Slack Username - Shweta

[2019-04-15 18:53] marwahmanbir commented on #999
@raibove go for it.

[2019-04-15 19:25] devRD commented on #1004
can I work on this?

[2019-04-16 02:12] mark-nakachon commented on #1006
I am ready with my pr

[2019-04-16 06:15] marwahmanbir commented on #1004
@devRD this one is for first-time contributors. You can take one of the issues labeled with **hard**

[2019-04-16 06:16] devRD commented on #1004
Alright!

[2019-04-16 06:27] marwahmanbir commented on #1006
@mark-nakachon no need to mention here. We'll review it. :)
Also, you'll be assigned issues further on completion of all previously opened issues by you.

[2019-04-16 07:44] asha15 commented on #998
@marwahmanbir shall work on this issue ?

[2019-04-16 08:05] #889 closed

[2019-04-16 10:15] riya-17 commented on #929
@jainaman224 I have proposed a pull request. Sorry, I haven't seen this comment earlier. I will connect with you on gitter

[2019-04-16 10:47] marwahmanbir commented on #998
@asha15 go for it.

[2019-04-17 07:14] #695 closed

[2019-04-17 07:17] sakshichahal53 commented on #948
Hi @jainaman224 , should issues like these not be opened since they are not proper algorithms or could we work on them. Please let us know.

[2019-04-17 07:22] #941 closed

[2019-04-17 11:42] sakshichahal53 commented on #948
Please add rgsoc label too.

[2019-04-17 16:57] mark-nakachon opened #1010 "breadth first search in Javascript"
i am assigning this issue to myself

[2019-04-18 10:24] #952 closed

[2019-04-18 13:01] ahegde3 opened #1014 "Pangram checking in string"
pangram is a sentence containing all the alphabhet in english language.

[2019-04-18 13:01] ahegde3 commented on #1014
please assign it to me

[2019-04-18 13:04] ahegde3 commented on #946
Can i take this issue?

[2019-04-18 13:06] ahegde3 commented on #675
can I take this issue

[2019-04-18 14:34] sakshichahal53 commented on #946
I'd work on it.

[2019-04-18 14:34] sakshichahal53 commented on #947
May I work on it?

[2019-04-18 18:19] jainaman224 commented on #675
@dldisha Are you working on it?

[2019-04-18 18:46] #940 closed

[2019-04-18 18:48] #937 closed

[2019-04-18 18:52] #831 closed

[2019-04-18 18:56] #875 closed

[2019-04-18 19:32] dldisha commented on #675
Yeah, I'll do this asap

[2019-04-19 08:33] jnikita356 opened #1017 "Binary Insertion Sort in python"
Your repository already have this algorithm in C and C++. I want to do it in python.

[2019-04-19 10:23] divya1999ann opened #1018 "Stack using linkedlist in c"
Your repository already has stack using linked list in cpp,python and java. I want to do it in C.

[2019-04-19 19:09] #994 closed

[2019-04-19 19:30] somya-kapoor opened #1019 "Scheduling Algorithm in c"
I want to implement following algorithm in c :

1.first come, first served (FCFS)
2.Shortest Remaining Time First (SRTF);Non-Preemptive
3.Shortest Remaining Time First (SRTF);Preemptive
4.Priority Scheduling

[2019-04-19 19:51] somya-kapoor opened #1020 "Nth ugly number in c and c++"
To find nth ugly number.

[2019-04-20 04:14] #1002 closed

[2019-04-20 04:19] #978 closed

[2019-04-20 04:21] #951 closed

[2019-04-20 04:23] #782 closed

[2019-04-20 04:23] #948 closed

[2019-04-20 04:23] #946 closed

[2019-04-20 12:54] #1020 closed

[2019-04-20 12:54] #1019 closed

[2019-04-20 12:58] #1010 closed

[2019-04-20 20:34] py93 commented on #750
@jainaman224 Hi, could you please assign this issue to me if this is available?

[2019-04-20 22:37] somya-kapoor opened #1023 "Stacks Using Arrays in C"

[2019-04-20 22:38] somya-kapoor opened #1024 "Ternary Search in C and pancake sort in C++"

[2019-04-20 23:00] py93 commented on #1005
@marwahmanbir Hi, could you please assign this issue to me if it's available?

[2019-04-20 23:08] py93 opened #1025 "Graph implementation using C++, Python"
I wanted to contribute by adding simple graph implementation using C++, Python and Java for the Javascript version which exists.

[2019-04-21 06:45] marwahmanbir commented on #1005
@py93 Go for it.

[2019-04-21 08:17] khushal87 opened #1026 "Babylonian_method in Js and python."
Can i start working on it ??

[2019-04-21 08:22] khushal87 opened #1027 "Hamming numbers in c,c++,js with readme.md"
Can i start working on it ??

[2019-04-21 10:43] tusharsabhani opened #1028 "Beizer curve"
Implementation of beizer curve

[2019-04-21 10:43] tusharsabhani commented on #1028
Would like to implement this in C & C++

[2019-04-21 12:21] tusharsabhani opened #1030 "Cohen Sutherland"
Implementation of cohen sutherland algo

[2019-04-21 12:21] tusharsabhani commented on #1030
I would like to implement this in C

[2019-04-21 14:59] HarshitaSahai commented on #1028
Would like to contribute if no one else is working on this issue in C/C++.

[2019-04-21 15:27] tusharsabhani commented on #1028
I asked for it first HarshitSahai 😅

[2019-04-21 16:08] jainaman224 commented on #750
@AkshitAggarwal Will you work on it?
@py93 If Akshit doesn't respond in a day. You can work on it. Please mention me as well.

[2019-04-21 16:09] vsharma20v commented on #1001
@marwahmanbir   can I take this issue ?

[2019-04-21 16:11] jainaman224 commented on #1001
@vsharma20v Go ahead.

[2019-04-21 16:23] AkshitAggarwal commented on #750
Yes, absolutely, I can provide the code in both C and C++, @py93 can work on it in Python and Java.

[2019-04-21 16:28] jainaman224 commented on #750
@py93 Are you interested in implementing it in java and python?

[2019-04-21 16:29] #450 closed

[2019-04-21 16:34] #562 closed

[2019-04-21 16:37] #569 closed

[2019-04-21 16:38] #596 closed

[2019-04-21 16:38] #604 closed

[2019-04-21 16:40] #634 closed

[2019-04-21 16:40] py93 commented on #750
@jainaman224 Yea, I'll implement it in Java and Python

[2019-04-21 17:44] #697 closed

[2019-04-21 17:46] #751 closed

[2019-04-21 17:47] jainaman224 commented on #755
@susiejojo You can reopen your PR.

[2019-04-21 17:47] #756 closed

[2019-04-21 17:59] #817 closed

[2019-04-21 18:07] #901 closed

[2019-04-21 18:11] jainaman224 commented on #918
@kritigoyal Are you still working on it?

[2019-04-21 19:03] Arunkumar0258 commented on #1006
Can I work on this if it's still available?

[2019-04-21 19:03] kritigoyal commented on #918
I have created the file but unfortunately i did'nt use git branching. I
wrote the code but was facing slight issue regarding committing. Due to
some prior work i was'nt able to figure out that issue and solve it.

On Sun, Apr 21, 2019 at 11:41 PM Aman Jain <notifications@github.com> wrote:

[2019-04-21 19:08] jainaman224 commented on #918
Will you be working on it?

[2019-04-21 19:08] jainaman224 commented on #1006
@Arunkumar0258 Go ahead.

[2019-04-21 19:11] AnshitaVishwa opened #1036 "Nth Ugly Number in ruby"
Sir i would like to implement nth ugly numbers in ruby language.

[2019-04-21 19:18] marwahmanbir commented on #999
@raibove are you working on it?

[2019-04-21 19:18] marwahmanbir commented on #998
@asha15 are you working on it?

[2019-04-21 19:21] KanchanThareja commented on #886
@jainaman224 i am working on this issue

[2019-04-21 19:41] raibove commented on #999
Yes Will try to submit it by tomorrow .

[2019-04-21 20:33] somya-kapoor commented on #653
@jainaman224 I would like to work on it. Please assign this to me.

[2019-04-22 02:31] mark-nakachon commented on #1006
No I am too close with my PR I will submit it in 2 days

[2019-04-22 02:56] mark-nakachon commented on #983
Please close this issue as a PR is already made by someone

[2019-04-22 02:56] #983 closed

[2019-04-22 02:57] mark-nakachon commented on #1006
I suggest @Arunkumar0258 to work on other issues

[2019-04-22 03:03] Chaitanyasuma opened #1038 "Add Scheduling Algorithm in Java"
I am a GSSoC participant. Can I proceed with this?

[2019-04-22 03:11] Chaitanyasuma commented on #1000
Can I work on this?

[2019-04-22 03:14] Chaitanyasuma opened #1039 "Closed Hashing Techniques using Java"
Can you assign this issue to me?

[2019-04-22 05:41] marwahmanbir commented on #1000
@Chaitanyasuma go for it.

[2019-04-22 08:19] jnikita356 opened #1041 "Adding Prime Factorization in C."
You have this algorithm in C++, python and java. I want to do it in C.

[2019-04-22 09:03] kritigoyal commented on #918
Yes I have written the full code it's only about committing the file that's
an issue. Currently I am a bit busy that's why I am unable to fix it

On Mon, Apr 22, 2019, 12:38 AM Aman Jain <notifications@github.com> wrote:

[2019-04-22 09:53] asha15 commented on #998
@marwahmanbir yes ,i'll send a PR very soon

[2019-04-22 10:05] archi14 commented on #997
@marwahmanbir I would like to work on this.

[2019-04-22 10:26] marwahmanbir commented on #997
@archi14 Go for it :+1:

[2019-04-22 13:40] somya-kapoor commented on #635
@jainaman224 I would like to work on it . Please assign this to me.

[2019-04-22 16:33] divya1999ann commented on #1023
Can I fix this issue.

[2019-04-22 17:39] jainaman224 commented on #886
@KanchanThareja Try to show some activity within a week.

[2019-04-22 17:40] jainaman224 commented on #653
@somya-kapoor Go ahead.

[2019-04-22 17:47] jainaman224 commented on #635
@somya-kapoor Go ahead.

[2019-04-22 17:48] jainaman224 commented on #1023
@divya1999ann Somya is working on it.

[2019-04-22 17:53] #921 closed

[2019-04-22 18:01] #790 closed

[2019-04-22 21:16] py93 commented on #750
@jainaman224 The python implementation exists - https://github.com/jainaman224/Algo_Ds_Notes/blob/master/Array_Rotation/Array_Rotation.py

I'll continue with Java only then?

[2019-04-23 01:18] pankajpoply45 commented on #1027
Can I implement it in java? @jainaman224

[2019-04-23 04:59] KanchanThareja commented on #886
@jainaman okay.

[2019-04-23 09:32] piyush26c commented on #1030
I would like to implement this in c++

[2019-04-23 09:42] marwahmanbir commented on #1030
@piyush26c go for it :+1:

[2019-04-23 11:04] MastersAbh commented on #874
Please assign it to me

[2019-04-23 11:08] MastersAbh opened #1046 "Adding FCFS (First Come First Served) Scheduling Algorithm in C++, Python, Java, Golang"
Please assign it to me.

[2019-04-23 15:41] #1024 closed

[2019-04-23 16:46] jainaman224 commented on #1027
Go ahead.

[2019-04-23 16:55] #1026 closed

[2019-04-23 19:06] #922 closed

[2019-04-23 19:07] #1023 closed

[2019-04-23 20:20] KanchanThareja commented on #820
@jainaman224 I want to work on it.

[2019-04-23 22:20] AnshitaVishwa opened #1051 "Array Rotation in ruby"
i would like to add array rotation in ruby.

[2019-04-24 03:26] dshahid380 opened #1052 "Implement Segment Tree with Lazy Propagation in Java and JavaScript"
I want to implement Segment Tree with Lazy Propagation in Java and JavaScript.
@jainaman224 please assign me this issue.

[2019-04-24 03:47] gourabk121 commented on #807
I would like to do that. gssoc19

[2019-04-24 07:03] singh-shreya6 opened #1053 "Adding Quick Select Algorithm in C++, Java and Python"

[2019-04-24 07:11] singh-shreya6 opened #1054 "Adding Catalan Numbers in C++, Java and Python"

[2019-04-24 07:41] archi14 commented on #1041
@jnikita356 I would like to do this.

[2019-04-24 10:23] singh-shreya6 commented on #815
@jainaman224 I would like to do his in C++, Java and Python

[2019-04-24 18:02] ShivangiSingh17 commented on #996
@marwahmanbir I would like to work on this issue. Shall I begin?

[2019-04-24 18:10] ShivangiSingh17 commented on #1003
@marwahmanbir  I would like to work on this issue. Shall I begin?

[2019-04-24 18:23] Anshuvats commented on #1003
@marwahmanbir, can I work on this issue?

[2019-04-24 18:24] ShivangiSingh17 opened #1056 "Adding README.md file for Haversine formula with example in Java"
Haversine formula is used to find the distance between two points on a sphere. I would like to create a readme file containing example in Java for the same.

I would like to work on this issue.

[2019-04-24 18:41] ShivangiSingh17 opened #1057 "Insertion sort using PHP"
Adding the code for insertion sort using PHP. Right now the code for insertion sort using C, C++, Java, javascript, python and ruby is there so adding this will add more to it.

[2019-04-24 18:43] ShivangiSingh17 commented on #1057
@Aman Jain, @Piyush Aggarwal, I would like to work on this issue. Shall I proceed?

[2019-04-24 19:23] Anshuvats opened #1060 "Adding Taylor series using Horner Rule in C language."
This is an algorithm of Taylor series using Horner rule, Time complexity is O(n).

[2019-04-24 19:31] jainaman224 commented on #820
Go ahead.

[2019-04-24 19:32] jainaman224 commented on #807
@gourabk121 Go ahead.

[2019-04-24 19:35] jainaman224 commented on #1041
@archi14 Please take another issue.

[2019-04-24 19:35] jainaman224 commented on #815
Go ahead.

[2019-04-24 19:35] jainaman224 commented on #996
Go ahead.

[2019-04-24 19:36] jainaman224 commented on #1003
@ShivangiSingh17 Go ahead.

[2019-04-24 19:36] jainaman224 commented on #1003
@Anshuvats Please pick up another issue.

[2019-04-24 19:37] jainaman224 commented on #1057
Please complete some of the already assigned issues first.
We have max 3 issues policy.

[2019-04-24 20:28] KanchanThareja commented on #1004
@marwahmanbir i want to work on this.

[2019-04-24 21:19] KanchanThareja opened #1061 "Array Rotation in java"
Please assign this issue to me.

[2019-04-25 00:20] MastersAbh opened #1063 "Adding Babylonian method in Java and Go"
Please assign it to me. It is not implemented in these languages.

[2019-04-25 01:07] Anshuvats commented on #1003
@jainaman224 okay

[2019-04-25 06:00] marwahmanbir commented on #1004
@KanchanThareja If you're not working on any other issues then you can take this.

[2019-04-25 07:09] archi14 commented on #1041
@jainaman224 oaky

[2019-04-25 09:02] #1054 closed

[2019-04-25 09:37] ShivangiSingh17 commented on #1057
@jainaman224 can you please review all the PR's made.

[2019-04-25 16:47] #653 closed

[2019-04-25 16:53] #1036 closed

[2019-04-25 16:55] #1001 closed

[2019-04-25 17:05] #886 closed

[2019-04-25 18:39] singh-shreya6 opened #1071 "Adding Insertion Sort and Selection Sort in Go"

[2019-04-25 19:20] gourabk121 opened #1074 "knapsack fractional in c"
I want to do that. I am a gssoc19 participant

[2019-04-25 19:27] MastersAbh opened #1075 "Ugly number in Python, Java and Go"
Please assign it to me.

[2019-04-26 04:54] gourabk121 commented on #1075
I can do that in java. I am gssoc19 participant

[2019-04-26 06:45] marwahmanbir commented on #1006
@mark-nakachon, you were not assigned this issue, so why did you start working on this? You won't get marked for your work if you do it this way, you know that right?

[2019-04-26 12:18] Vaibhavraj10 opened #1078 "Cycle detection problem in Linked list in C,C++"

[2019-04-26 12:18] Vaibhavraj10 commented on #1078
@jainaman224 Can I work on this issue?

[2019-04-26 16:35] jainaman224 commented on #1075
@gourabk121 It is already taken by Abhinav. Please have a look at other issues.

[2019-04-26 16:37] jainaman224 commented on #1078
I think you are talking about Floyd's cycle detection algorithm.

[2019-04-26 16:38] jainaman224 commented on #1078
Go ahead with C.

[2019-04-26 16:42] #874 closed

[2019-04-26 18:19] #815 closed

[2019-04-26 18:45] somya-kapoor opened #1079 "Count Inversions in C"

[2019-04-26 18:50] somya-kapoor opened #1080 "Interpolation Search in C and C++"

[2019-04-26 19:02] prashant-mahanta opened #1081 "Lucas Theorem in Python and Java"
I see Lucas Theorem is available in c and c++. Can I start working on Python and Java?
Link to the folder: [Lucas Algo](https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Lucas%20Theorem)

[2019-04-26 20:03] Vaibhavraj10 commented on #1078
Yes!

[2019-04-27 07:28] shubhammantri1 commented on #490
I am a participant of ggsoc and I want to write Bubble sort algorithm in Kotlin can I do That.

[2019-04-27 07:57] shubhammantri1 opened #1087 "Bubble_Sort Algorithm in Kotlin"
I want to write an algorithm for Bubble sort in kotlin.

[2019-04-27 08:35] Vaibhavraj10 opened #1088 "Breadth First Search algorithm in C"
It is an algorithm for traversing or searching tree or graph data structures.

[2019-04-27 08:35] Vaibhavraj10 commented on #1088
@jainaman224 Please assign it to me.

[2019-04-27 08:50] shubhammantri1 commented on #1087
Please @jainaman224 assign it to me and reviewed it.

[2019-04-27 09:01] Vaibhavraj10 opened #1089 "Modular Exponentiation using recursive and iterative method in C"

[2019-04-27 09:02] Vaibhavraj10 commented on #1089
@jainaman224 I want to work on this.

[2019-04-27 09:31] #1071 closed

[2019-04-27 10:08] singh-shreya6 commented on #774
I would like to work on it in C++, Java and Python

[2019-04-27 11:05] Karna98 commented on #774
I'm currently working on it.

[2019-04-27 12:21] somya-kapoor commented on #1046
@jainaman224 Sir ,FCFS is already implemented in c++(https://github.com/jainaman224/Algo_Ds_Notes/blob/master/Scheduling_Algorithm/C%2B%2B/Non_Preemptive/First_Come_First_Served.cpp) .

[2019-04-27 12:28] MastersAbh commented on #1046
@jainaman224 , Yes, I found out that it is already implemented in C++, whereas I have implemented it in C++, Java, Python and Go.
Also, may I request you to accept this C++ code too, because the last one is copied from GFG. you can see it here https://www.geeksforgeeks.org/program-fcfs-scheduling-set-1/

[2019-04-27 13:40] gourabk121 opened #1093 "regular falsi in c"
I would like to do that problem. gssoc19

[2019-04-27 14:16] #1046 closed

[2019-04-27 14:21] #1061 closed

[2019-04-27 15:05] jainaman224 commented on #490
Create a new issue and go ahead.

[2019-04-27 15:07] jainaman224 commented on #1088
Please look at existing issues before creating new one.

[2019-04-27 15:07] #1088 closed

[2019-04-27 15:08] jainaman224 commented on #1089
It is already done.

[2019-04-27 15:08] #1089 closed

[2019-04-27 15:13] jainaman224 commented on #774
@singh-shreya6 It would be great if you can another issue. I leave this decision upto you.
@Karna98 It was unassigned due to inactivity. I hope Shreya will let you work. Please show some activity from next time.

[2019-04-27 15:29] #1051 closed

[2019-04-27 15:34] Vaibhavraj10 commented on #1088
@jainaman224 There was no file in C language.

[2019-04-27 15:35] Vaibhavraj10 commented on #1089
@jainaman224 It's already done using recursion but not using iterative method.

[2019-04-27 15:50] #1053 closed

[2019-04-27 15:53] #1063 closed

[2019-04-27 15:54] #750 closed

[2019-04-27 16:03] jainaman224 commented on #1088
But there is an issue for this.

[2019-04-27 16:03] jainaman224 commented on #1089
There is an issue and PR for this

[2019-04-27 19:36] Vaibhavraj10 opened #1098 "Euler Totient Function in C"

[2019-04-27 19:37] Vaibhavraj10 commented on #1098
There is no pending PR and previous issue for this function in C.

[2019-04-27 19:37] Vaibhavraj10 commented on #1098
@jainaman224 Please assign it to me.

[2019-04-28 05:13] #863 closed

[2019-04-28 05:16] rishabhgarg25699 commented on #1098
@Vaibhavraj10 Go ahead

[2019-04-28 07:25] shubhammantri1 commented on #1087
Please review my algorithm. @jainaman224
And I also want to write more algorithms in Kotlin. So, For that shall i create a new PR.

[2019-04-28 09:28] singh-shreya6 opened #1099 "Adding Coin Change, Subset Sum and Rod Cutting in Go"

[2019-04-28 09:49] singh-shreya6 opened #1100 "Next Greater Element using Stacks in C++, Java and Python"

[2019-04-28 09:51] singh-shreya6 opened #1101 "Adding Binary Tree Bottom View in C++, Java and Python"

[2019-04-28 09:54] singh-shreya6 commented on #774
Yes sure, continue if you are working on it.
I thought of taking it up due to inactivity.

[2019-04-28 10:15] piyush26c commented on #1030
I had an implementation, but a bit confused about how to pull request for this like should I add the issue number and issue name in the description of a pull request? what else I have to add?

[2019-04-28 11:21] MastersAbh opened #1103 "Minimum Product Subset of an Array in C, C++, Java, Python, Golang"

[2019-04-28 11:22] MastersAbh opened #1104 "Maximum Product Subset of an Array in C++, Java, Python, Golang"

[2019-04-28 12:36] somya-kapoor opened #1105 "Armstrong number in C,C++, python,java"

[2019-04-28 12:38] somya-kapoor opened #1106 "Automorphic Number in C,C++, python and java"

[2019-04-28 14:47] jainaman224 commented on #1087
Yes please create new PR and issues.

[2019-04-28 14:48] jainaman224 commented on #774
Thanks @singh-shreya6.

[2019-04-28 14:50] jainaman224 commented on #1030
You will be have PR template. Just fill that with issue number and basic information required.

[2019-04-28 14:52] #1078 closed

[2019-04-28 14:55] #1000 closed

[2019-04-28 15:04] #1075 closed

[2019-04-28 18:26] #1099 closed

[2019-04-28 22:26] somya-kapoor opened #1112 "Triangular Numbers in C,C++,Java and python"

[2019-04-29 03:03] shubhammantri1 opened #1113 "Algorithms of Linear_Search, Selection_Sort, Insertion_Sort and Binary_Search in Kotlin."
I want to write linear search, selection sort, insertion sort and binary search in kotlin.
@jainaman224 please assign it to me.

[2019-04-29 05:20] Vaibhavraj10 opened #1114 "Sieve of Eratosthenes in C and README.md"
There is currently no file in C for this, in the repository. Neither any pending PR or Issue.

[2019-04-29 05:20] Vaibhavraj10 commented on #1114
@jainaman224 Please assign it to me.

[2019-04-29 05:30] Vaibhavraj10 opened #1115 "Segmented Sieve method in C, C++"

[2019-04-29 05:30] Vaibhavraj10 commented on #1115
@jainaman224  Please assign it to me.

[2019-04-29 08:34] #1106 closed

[2019-04-29 08:36] #1105 closed

[2019-04-29 08:39] rishabhgarg25699 commented on #1115
@Vaibhavraj10  Assigned Go ahead .

[2019-04-29 08:40] rishabhgarg25699 commented on #1114
@Vaibhavraj10  Assigned but please send PR as soon as possible .

[2019-04-29 08:41] rishabhgarg25699 commented on #1113
@shubhammantri1 Assigned . Go ahead .

[2019-04-29 08:41] rishabhgarg25699 commented on #1112
@somya-kapoor  Go Ahead

[2019-04-29 08:47] #1098 closed

[2019-04-29 08:56] #1080 closed

[2019-04-29 09:09] Vaibhavraj10 commented on #1114
Yes @rishabhgarg25699 ! Sure!

[2019-04-29 11:15] #635 closed

[2019-04-29 11:16] vidyabhandary opened #1117 "Add Python Implementation of Binary Heap"
I would like to work on this along with Issue #469

[2019-04-29 17:58] Anshuvats commented on #1003
@jainaman224 @marwahmanbir , I want to work on this issue.

[2019-04-29 18:03] ShivangiSingh17 commented on #1003
@marwahmanbir I am already working on it and making the suggested changes, will send a PR soon.

[2019-04-29 19:04] Anshuvats opened #1119 "ASCII SUBSEQUENCES in C++ and README.md"
Ascii_subsequensces in c++ using recursion and all description in readme file.

[2019-04-29 19:58] somya-kapoor opened #1122 "Matrix operation in C"
1.Matrix_Lower_triangular
2.Matrix_Upper_triangular
3.Matrix_Sort
4.Matrix_Multiplication

[2019-04-30 00:13] #1087 closed

[2019-04-30 16:43] ayanujju commented on #816
Sir, please assign this issue to me.

[2019-04-30 17:00] jainaman224 commented on #1119
Please explain the problem.

[2019-04-30 17:06] #969 closed

[2019-04-30 17:09] #1114 closed

[2019-04-30 17:14] #998 closed

[2019-04-30 17:18] #1112 closed

[2019-04-30 17:20] #1060 closed

[2019-04-30 17:38] GOVINDDIXIT opened #1128 "Algorithm for Chromatic no and Chromatic index"

[2019-04-30 18:29] Anshuvats opened #1129 "Taylor series in c++, java and README.md"

[2019-04-30 18:31] Anshuvats commented on #1129
@jainaman224 please assign to me.

[2019-04-30 18:48] Anshuvats commented on #1119
@jainaman224   This is ASCII SUBSEQUENCE PROBLEM using Recursion. This question is the same as the "Subsequences" question just instead of two function calls, three function calls, three function calls will be made:-
1. One with the same string.
2. One with a letter added.
3. One with the ASCII code of the letter added to the string.

 Here, We take as input str, a string. We are concerned with al

[2019-04-30 18:59] Anshuvats opened #1130 "Rabin Karp String Matching algorithm in C++"

[2019-04-30 19:00] Anshuvats commented on #1130
@jainaman224 please assign to me.

[2019-04-30 20:47] raghav-dalmia opened #1132 "expression tree in c++ and python"

[2019-05-01 11:47] raghav-dalmia commented on #1132
@jainaman224 please label this issue with `GSSoC19` and review the PR.

[2019-05-01 13:44] shubhammantri1 opened #1136 "Armstrong Number and Automorphic Number in Kotlin"
Please Assign it to me.

[2019-05-01 14:29] #1104 closed

[2019-05-01 15:38] hiteshsubnani0128 commented on #1130
@jainaman224 Hello sir, please assign this to me I have an idea how this Algo work

[2019-05-01 16:06] hiteshsubnani0128 opened #1137 "Dijkstra Algorithm using JS"
I want to add Dijkstra Algorithm using JavaScript

[2019-05-01 16:58] jainaman224 commented on #1132
From next time, please wait for issue to be assigned before working on it.

[2019-05-01 17:02] jainaman224 commented on #1130
@hiteshsubnani0128 Would you like to work in C?

[2019-05-01 17:03] hiteshsubnani0128 commented on #1130
Yes sure even you can assign me for Python and JavaScript.

[2019-05-01 17:04] #936 closed

[2019-05-01 17:07] hiteshsubnani0128 opened #1139 "Rabin Karp String Matching algorithm in C, Python and JavaScript"
Please assign me this issue

[2019-05-01 17:09] #1101 closed

[2019-05-01 17:12] #906 closed

[2019-05-01 17:16] jainaman224 commented on #1130
Can you create a new issue?

[2019-05-01 17:55] raghav-dalmia commented on #1132
ok @jainaman224, sorry for that

[2019-05-02 12:23] gourabk121 opened #1145 "SIMPSON’S RULE in c"
I would like to do that. GSSOC19

[2019-05-03 08:26] MastersAbh opened #1148 "Check if a number is a Mystery Number in C++, Java, Python, Go"

[2019-05-03 09:09] archi14 commented on #789
@jainaman224 please assign this to me.

[2019-05-03 13:48] MastersAbh opened #1149 "Longest Increasing Subarray in C, C++, Java, Python & Go"

[2019-05-03 14:55] asha15 opened #1150 "README for Circle Sort Algorithm"
Adding a README.md file to explain Circle Sort Algorithm.
@jainaman224 shall i work on this issue ?

[2019-05-03 16:21] jainaman224 commented on #789
@archi14 Go ahead.

[2019-05-03 17:16] #1115 closed

[2019-05-03 17:17] #1113 closed

[2019-05-03 17:21] #1103 closed

[2019-05-03 18:33] singh-shreya6 opened #1152 "Adding Binary Tree Left View in C++, Java and Python"

[2019-05-03 18:36] singh-shreya6 opened #1153 "Adding Binary Tree Right View in C++, Java and Python"

[2019-05-03 23:14] somya-kapoor opened #1158 "1-D array folder in C and C++"
1) Finding Mean, Variance and Standard Deviation
2) Finding the largest and second largest element
3) To find Frequency of a element
4) Merging two sorted arrays in ascending order

[2019-05-03 23:20] somya-kapoor opened #1159 "Perfect number in c , c++ , python , go and java"
Perfect number is a positive integer that is equal to the sum of its proper divisors.

[2019-05-04 11:00] GOVINDDIXIT opened #1160 "Update files to take input at runtime"
This is a parent issue. Contributors can select a file and do the changes to take input at runtime.

### Additional Info
While submitting a PR, Mention partial solving to this issue in your PR description. for ex: `Partly solves #123`.

[2019-05-04 12:21] komalsingh1 opened #1161 "Adding Sort an array of 0s, 1s and 2s in C++"

[2019-05-04 14:26] somya-kapoor commented on #1160
@GOVINDDIXIT I would like to work on it.

[2019-05-05 04:58] shubhammantri1 opened #1168 "Babylonian_method in kotlin"
Please assign it to me. @jainaman224

[2019-05-05 05:55] shubhammantri1 opened #1170 "Bubble sort in kotlin"
Sorry, But can you please Re-assign it to me. Last time i Don't  know how to use git and this messed up things in first submission. But now I learned a lot and i want to submit it again.

[2019-05-05 06:33] #1119 closed

[2019-05-05 06:36] #1100 closed

[2019-05-05 06:41] #1018 closed

[2019-05-05 06:49] MastersAbh opened #1172 "Perfect Array in C, C++, Java, Go & Python"

[2019-05-05 06:52] MastersAbh opened #1173 "Nonagonal number in C, C++, Java, Python, Golang"

[2019-05-05 06:52] #1152 closed

[2019-05-05 06:54] singh-shreya6 opened #1174 "Length of Longest Alternating Subarray of an array in C, C++, Java, Python, Go."

[2019-05-05 07:00] singh-shreya6 opened #1175 "Find divisible pairs of an array in C, C++, Java, Python, Go"

[2019-05-05 07:51] #1136 closed

[2019-05-05 07:52] #1148 closed

[2019-05-05 07:53] #971 closed

[2019-05-05 07:55] #1149 closed

[2019-05-05 09:59] shubhammantri1 opened #1178 "Binary Search in Kotlin"
Please Assign it to me.@jainaman224

[2019-05-05 11:21] somya-kapoor opened #1179 "Updating files to take input at runtime (#1160)"
Files updating:
1.Bubble_Sort.c
2.Bubble_Sort.cpp
3.Counting_Sort.c
4.Counting_Sort.cpp
5.Heap_Sort.c
6.Heap_Sort.cpp

[2019-05-05 11:53] somya-kapoor opened #1182 "Prime number using recursion in c , c++ , python , go and java"
To check a number is prime or not using recursion

[2019-05-05 14:54] somya-kapoor opened #1183 "Updating files to take input at runtime (#1160)"
Files updating:
1)Tim_Sort.c
2)Tim_Sort.cpp
3)Merge_Sort.cpp
4)Array_Rotation.cpp
5)Array_Rotation.c

[2019-05-05 18:39] MastersAbh commented on #1160
Hi @GOVINDDIXIT , Even I'd like to work for the same so that it is done quicker.

[2019-05-05 19:23] MastersAbh opened #1184 "Updating files to take input at runtime (#1160)"
Files Updating :

Mystery_Number.c
Mystery_Number.cpp
Mystery_Number.py
Mystery_Number.java
Mystery_Number.go

[2019-05-06 04:41] shubhammantri1 opened #1188 "Sieve of Eratosthenes in kotlin"
Please Assign it to me. @jainaman224

[2019-05-06 04:49] shubhammantri1 opened #1189 "Euclidean Algorithm in kotlin"

[2019-05-06 04:50] shubhammantri1 commented on #1189
Please assign it to me.

[2019-05-06 08:11] komalsingh1 commented on #1161
Added the code of Sort an array of 0s, 1s and 2s in C++

[2019-05-06 15:01] #1175 closed

[2019-05-06 15:03] #1158 closed

[2019-05-06 15:52] jainaman224 commented on #1160
@MastersAbh Please create issue and start working on it.

[2019-05-06 15:53] jainaman224 commented on #1161
Please refer this issue in your PR.

[2019-05-06 15:59] #1153 closed

[2019-05-06 16:01] #1079 closed

[2019-05-06 16:08] #1159 closed

[2019-05-06 16:11] #1122 closed

[2019-05-06 16:12] #1173 closed

[2019-05-06 16:44] somya-kapoor opened #1192 "Bubble Sort using recursion in c , c++ , python , go and java"

[2019-05-06 17:00] somya-kapoor opened #1195 "Insertion Sort using recursion in c , c++ , python , go and java"

[2019-05-06 19:06] MastersAbh opened #1197 "Sum of all subarrays in C, C++, Java, Python & Go"

[2019-05-06 19:42] MastersAbh opened #1198 "Sum of all subsequences of an array in C, C++, Java, Python & Go"

[2019-05-06 19:53] singh-shreya6 opened #1199 "Arithmetic Progression in C, C++, Java, Python, Golang"

[2019-05-06 19:53] singh-shreya6 opened #1200 "Geometric Progression in C, C++, Java, Python, Golang"

[2019-05-06 20:07] MastersAbh opened #1201 "Find leaders in an array in C, C++, Java, Python, Go"
An array element is a leader if it is greater than all the elements to its right side

[2019-05-06 21:17] MastersAbh opened #1202 "Updating files to take input at runtime (#1160)"
Files to Update :
Longest_Increasing_Subarray/Longest_Increasing_Subarray.py
Longest_Increasing_Subarray/Longest_Increasing_Subarray.c
Longest_Increasing_Subarray/Longest_Increasing_Subarray.cpp
Longest_Increasing_Subarray/Longest_Increasing_Subarray.java
Longest_Increasing_Subarray/Longest_Increasing_Subarray.go

[2019-05-06 21:23] singh-shreya6 opened #1203 "Updating files to take input at runtime (#1160)"
I want to update following codes for dynamic input :
Prefix_Sum/Prefix_Sum.c
Prefix_Sum/Prefix_Sum.cpp
Prefix_Sum/Prefix_Sum.py
Prefix_Sum/Prefix_Sum.java
Prefix_Sum/Prefix_Sum.go

[2019-05-07 14:50] shubhammantri1 opened #1205 "nCr mod P in C and kotlin"
Please assign it to me. @jainaman224

[2019-05-07 14:56] shubhammantri1 opened #1206 "Nth Ugly number in kotlin"

[2019-05-07 14:56] shubhammantri1 commented on #1206
Please assign it to me. @jainaman224

[2019-05-07 17:36] somya-kapoor opened #1207 "Linear search using recursion in c , c++ , python , go and java"

[2019-05-07 18:04] singh-shreya6 opened #1208 "Find Equilibrium index in an array in C, C++, Python, Java & Go"

[2019-05-07 18:18] #1174 closed

[2019-05-07 18:33] megha070 commented on #1207
Hey, @somya-kapoor I would like to implement this in java.

[2019-05-07 20:35] #789 closed

[2019-05-08 17:37] #1184 closed

[2019-05-09 17:27] #1189 closed

[2019-05-09 17:37] jainaman224 commented on #1192
It is not required.

[2019-05-09 17:37] #1192 closed

[2019-05-09 17:37] jainaman224 commented on #1195
It is not required.

[2019-05-09 17:37] #1195 closed

[2019-05-09 17:43] jainaman224 commented on #1207
I don't think it is required.

[2019-05-09 17:43] #1207 closed

[2019-05-09 17:49] #1170 closed

[2019-05-09 17:52] #1183 closed

[2019-05-09 17:54] #1188 closed

[2019-05-09 18:38] somya-kapoor opened #1216 "Finding sum of arithmetic Progression in C, C++, python,Java and go"

[2019-05-09 18:40] somya-kapoor opened #1217 "Finding sum of Geometric Progression in C, C++, Java, Python, Go"

[2019-05-09 19:01] somya-kapoor opened #1218 "Updating files to take input at runtime (#1160)"
Updating files:
Binary_Tree_Bottom_View.cpp
Binary_Tree_Bottom_View.java
Binary_Tree_Bottom_View.py
Binary_Tree_Left_View.cpp
Binary_Tree_Left_View.java
Binary_Tree_Left_View.py

[2019-05-09 21:05] singh-shreya6 opened #1222 "Updating files to take input at runtime (#1160)"
Updating these files :
Selection_Sort.c
Selection_Sort.cpp
Selection_Sort.java
Selection_Sort.go
Selection_Sort.py

[2019-05-09 21:07] singh-shreya6 opened #1223 "Adding Harmonic Progression in C, C++, Python, Java & Go"

[2019-05-09 21:11] singh-shreya6 opened #1224 "Updating files to take input at runtime (#1160)"
Updating these files :
Binary_Search.cpp
Binary_Search.java
Binary_Search.go
Binary_Search.py
searching_a_circularly_sorted_array.cpp

[2019-05-09 21:14] MastersAbh opened #1225 "Updating files to take input at runtime (#1160)"
I want to update these files :
Insertion_sort.c
Insertion_sort.cpp
Insertion_sort.java
Insertion_sort.go
Insertion_sort.py

[2019-05-09 21:16] MastersAbh opened #1226 "Updating files to take input at runtime (#1160)"
I want to update these files :
Linear_Search.c
Linear_Search.cpp
Linear_Search.py
Linear_Search.java
Linear_Search.go

[2019-05-10 04:34] shubhammantri1 opened #1228 "Naive_String_Matching in Kotlin"
Please assign to me.

[2019-05-10 08:32] robotjellyzone opened #1229 "Liang Barskey Line Clipping Algorithm"
This is a new algorithm which uses graphics library to clip any line.

[2019-05-10 08:32] robotjellyzone commented on #1229
Please assign it to me!!

[2019-05-10 08:33] robotjellyzone opened #1230 "Cohen Sutherland Line Clipping Algorithm"
This algorithm uses graphics library to clip the lines.

[2019-05-10 08:34] robotjellyzone commented on #1230
Please assign it to me!!

[2019-05-10 08:50] #1202 closed

[2019-05-10 08:50] #1203 closed

[2019-05-10 08:51] #1208 closed

[2019-05-10 08:53] #1200 closed

[2019-05-10 08:56] hiteshsubnani0128 opened #1231 "Greatest Common Divisor using python"
please assign this issue to me

[2019-05-10 10:13] robotjellyzone opened #1233 "Flood fill algorithm"
This algorithm uses graphics library to fill the polygon with color.

[2019-05-10 10:13] robotjellyzone commented on #1233
Please assign it to me.

[2019-05-10 10:31] shubhammantri1 opened #1234 "Ternary Search in Kotlin"
Please assign to me.

[2019-05-10 14:13] somya-kapoor opened #1235 "Updating files to take input at runtime (#1160)"
1)FCFS_Scheduling.cpp
2)FCFS_Scheduling.java
3)FCFS_Scheduling.go
4)FCFS_Scheduling.py
5)Sleep_Sort.c

[2019-05-10 17:05] jainaman224 commented on #1216
Add function in AP program.

[2019-05-10 17:05] jainaman224 commented on #1217
Add function in GP program.

[2019-05-10 17:08] jainaman224 commented on #1230
It is already implemented.

[2019-05-10 17:08] #1230 closed

[2019-05-10 17:09] jainaman224 commented on #1231
Name the algorithm you going to implement for GCD.

[2019-05-10 17:12] hiteshsubnani0128 commented on #1231
Euclidean Algorithm

[2019-05-10 17:23] #1172 closed

[2019-05-10 17:40] #1130 closed

[2019-05-10 17:41] #1199 closed

[2019-05-10 17:43] #990 closed

[2019-05-10 18:51] #1225 closed

[2019-05-10 18:52] singh-shreya6 opened #1241 "Updating files to take input at runtime (#1160)"
I want to update these files :
Coin_Change.cpp
Coin_Change.java
Coin_Change.go
Coin_Change.py
Also, I want to add :
Coin_Change.c to the repository.

[2019-05-10 18:58] singh-shreya6 opened #1242 "Updating files to take input at runtime (#1160)"
I want to update these files :
Naive_String.cpp
Naive_String.java
Naive_String.py
Pigeonhole_Sort.py
Pigeonhole_Sort.java

[2019-05-10 19:03] MastersAbh opened #1243 "Updating files to take input at runtime (#1160)"
Updating these files :
Dynamic_Programming_Rod_Cutting.cpp
Dynamic_Programming_Rod_Cutting.go
Dynamic_Programming_Rod_Cutting.java
Dynamic_Programming_Rod_Cutting.py
Logarithmic_Exponent.cpp

[2019-05-10 19:05] MastersAbh opened #1244 "Updating files to take input at runtime (#1160)"
Updating these files :
Logarithmic_Exponent.py
Logarithmic_Exponent.c
Modular_Inverse.cpp
Modular_Inverse.java
Modular_Inverse.py

[2019-05-10 23:55] Anshuvats opened #1245 "Adding Selection algorithms in c,c++ and README.md"
Select kth Smallest Element Using QuickSort (nlogk)

[2019-05-11 04:53] #1222 closed

[2019-05-11 05:20] utkarshsharma00 opened #1246 "Linked_List_Merge_Sort"
Will implement Linked List Mergesort as it is currently not available in the repo.

[2019-05-11 08:56] prashant-mahanta opened #1247 "Updating files to take input at runtime (#1160)"
Updating these files :
Longest_Palindromic_Subsequence.cpp
Longest_Palindromic_Subsequence.java
Longest_Palindromic_Subsequence.py
Breadth_First_Search.cpp
Breadth_First_Search.java
Breadth_First_Search.py