[2020-03-27 07:23] rebelfire888 commented on #2479
@jainaman224 TOWER OF HANOI IN C LANGUAGE DONE.....

[2020-03-27 08:19] ritish099 commented on #2201
@jainaman224  assign this to me in C# . I have only one open issue currently

[2020-03-27 13:46] ritish099 commented on #2201
@jainaman224 . Now I have only one open issue. Please assign this issue to me in C#

[2020-03-27 15:50] ishikabansal04 commented on #2246
i want to do this in c++ @jainaman224

[2020-03-27 15:54] ishikabansal04 commented on #2064
can you assign me this issue in c++ please?

[2020-03-27 15:56] ishikabansal04 commented on #1992
i would like to do this issue in c++/java.

[2020-03-27 15:57] ishikabansal04 commented on #1926
i would like to do this issue in java, c++

[2020-03-27 15:58] ishikabansal04 commented on #1842
i can code this program in c++. please assign me this issue

[2020-03-27 18:09] #1954 closed

[2020-03-27 18:11] #1789 closed

[2020-03-27 18:19] manildayma commented on #2143
I have requested a PR. Please review the same.

[2020-03-27 18:19] manildayma commented on #1892
I have requested a PR. Please review the same.

[2020-03-27 18:31] #1577 closed

[2020-03-27 18:41] BishalKrChanda commented on #2248
I want to work on it in C# please assign it to me @jainaman224

[2020-03-27 18:44] ravireddy07 commented on #2480
@raghav-dalmia  @jainaman224  I would like to work on C. Please assign this to me.

[2020-03-27 19:03] AkanshaKamboj commented on #1991
if this issue is open then please assign it to me @jainaman224

[2020-03-27 19:09] AkanshaKamboj commented on #2124
I would like to work on it in GO. @jainaman224 @asha15

[2020-03-27 22:28] Valdermaut commented on #2555
I would like work on dart

[2020-03-27 22:29] Valdermaut commented on #2552
@jainaman224  I would like on dart

[2020-03-28 09:06] meghanagottapu commented on #1992
@shweta0699 @jainaman224 can you please verify my pull request

[2020-03-28 11:24] chandrikadeb7 commented on #2251
I want to work on PHP.

[2020-03-28 11:29] chandrikadeb7 commented on #2246
I want to work on PHP.

[2020-03-28 11:30] chandrikadeb7 commented on #1698
I want to work on this.

[2020-03-29 03:25] sandhyabhan commented on #1688
i can work on this in C and C++. please assign this to me.

[2020-03-29 03:28] sandhyabhan commented on #2553
I want to work on this issue in kotlin language. please assign this to me.

[2020-03-29 03:29] sandhyabhan commented on #2552
I want to work on this issue in kotlin language. Plz assign this to me.

[2020-03-29 05:18] sandhyabhan commented on #2112
i want to work on this using kotlin. plz assign this to me.

[2020-03-29 08:36] heisastark commented on #2176
I can do this in Dart. Please assign it to me. @jainaman224

[2020-03-29 10:26] mahakmandlecha commented on #2632
@adishjain , @ayushin78 Please assign me this in JAVA.

[2020-03-29 10:30] mahakmandlecha commented on #2253
@jainaman224 please review my PR, I have updated README

[2020-03-29 10:45] Akansha2202 opened #2641 "Sum of all proper divisior of a number."

[2020-03-29 10:55] #2632 closed

[2020-03-29 10:55] #2641 closed

[2020-03-29 11:05] jainaman224 commented on #2112
@sandhyabhan You already have 2 open issues
https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/sandhyabhan

Correct me if there is any mistake.

[2020-03-29 11:06] shreyakapoor08 commented on #2201
@jainaman224 can I work on this in C#

[2020-03-29 11:08] shreyakapoor08 commented on #2172
@jainaman224 can I work on this on C#?

[2020-03-29 11:09] jainaman224 commented on #2141
@anshu18107 @kmrakash @ranjal007 @darkdebo Are you working on it?

[2020-03-29 11:10] jainaman224 commented on #2136
@shubhammantri1 Are you working on it?

[2020-03-29 11:10] jainaman224 commented on #2135
@sakshijainn Are you working on it?

[2020-03-29 11:10] darkdebo commented on #2141
Yes , working on it.Too much online assignment and exams by college.So it's take some time.

[2020-03-29 11:11] darkdebo commented on #2141
You can check that,I fix the problems.But pr is in still review.

[2020-03-29 11:13] jainaman224 commented on #2131
@prashansag62 Are you working on it?

[2020-03-29 11:15] jainaman224 commented on #1004
@HariniJeyaraman Are you working on it?

[2020-03-29 11:16] jainaman224 commented on #2125
@VIJAY07102 @Jahnavi-Jonnalagadda Are you working on it?

[2020-03-29 11:18] jainaman224 commented on #2146
@yuktirapartiwar Are you working on it?

[2020-03-29 11:19] jainaman224 commented on #2148
@Raksha25 Are you working on it?

[2020-03-29 11:20] sandhyabhan commented on #2112
Yes...I am done with array rotation. I think there is some issue from your side..
pls check this link
https://github.com/jainaman224/Algo_Ds_Notes/pull/2320

[2020-03-29 11:25] jainaman224 commented on #2157
@MOHITSAHAL Are you working on it?

[2020-03-29 11:27] ranjal007 commented on #2141
@jainaman224  I need to implement the code of Bead sort in Kotlin also. Please also assign it to me.

[2020-03-29 11:28] anmolkaur18 commented on #2179
I can do this in C, C++ and python.
@jainaman224

[2020-03-29 11:29] jainaman224 commented on #2162
@nitin1kumar1 @MOHITSAHAL Are you working on it?

[2020-03-29 11:29] anmolkaur18 commented on #2148
I can do in C and C++
@jainaman224

[2020-03-29 11:29] jainaman224 commented on #2163
@gauravburjwal Are you working on it?

[2020-03-29 11:30] anmolkaur18 commented on #2146
I can implement this in C++ @jainaman224

[2020-03-29 11:32] HariniJeyaraman commented on #1004
@jainaman224 Yes, will make a PR soon

[2020-03-29 11:32] ranjal007 commented on #2141
@jainaman224  I am working on readme file its almost completed. Just need 1 or 2 days more.

[2020-03-29 11:33] jainaman224 commented on #2170
@vaishnaviikv Are you working on it?

[2020-03-29 11:34] jainaman224 commented on #2171
@Aju100 Are you working on it?

[2020-03-29 11:35] jainaman224 commented on #2172
@hitha2000 Are you working on it?

[2020-03-29 11:37] jainaman224 commented on #2173
@goyalmuskan Are you working on it?

[2020-03-29 11:37] jainaman224 commented on #2174
@Basilleaf24 Are you working on it?

[2020-03-29 11:38] jainaman224 commented on #2175
@suchi12j Are you working on it?

[2020-03-29 11:39] jainaman224 commented on #2176
@saloniankita23 Are you working on it?

[2020-03-29 11:41] jainaman224 commented on #2179
@hitha2000 Are you working on it?

[2020-03-29 11:42] jainaman224 commented on #2199
@poorvakhandare3006 @PrachieNaik Are you working on it?

[2020-03-29 11:46] jainaman224 commented on #2200
@prince-09 @darkdebo Are you working on it?

[2020-03-29 11:46] hitha2000 commented on #2172
No

On Sun, 29 Mar 2020, 17:05 Aman Jain, <notifications@github.com> wrote:

[2020-03-29 11:48] jainaman224 commented on #2201
@prince-09 Are you working on it?

[2020-03-29 11:49] jainaman224 commented on #2202
@urbashi123 @BellatrixLestrangee Are you working on it?

[2020-03-29 11:50] jainaman224 commented on #2204
@Basilleaf24 Are you working on it?

[2020-03-29 11:52] jainaman224 commented on #2205
@priyanka2109 Are you working in it?

[2020-03-29 11:54] jainaman224 commented on #2206
@Neelaksh-Singh @JanaSabuj @BishalKrChanda Are you working on it?

[2020-03-29 11:56] jainaman224 commented on #2246
@sngmanish @nitin1kumar1 Are you working on it?

[2020-03-29 12:03] jainaman224 commented on #2249
@Nik-09 @chaithanyarlk @prat31 Are you working on it?

[2020-03-29 12:05] jainaman224 commented on #2251
@shwetagurnani @myselfanuj @bluejay229 @AparnaJuhi Are you working on it?

[2020-03-29 12:06] darkdebo commented on #2200
Yes man

[2020-03-29 12:06] jainaman224 commented on #2252
@rbjoshi1309 @Yashank18 Are you working on it?

[2020-03-29 12:09] jainaman224 commented on #2253
@drishtigehi @p-bucky Are you working on it?

[2020-03-29 12:12] JanaSabuj commented on #2206
@jainaman224 I am having some difficulty implementing this problem in JS. Hence I have unassigned myself. My previous PR was merged just hours ago and now I am free to take up other issues.

[2020-03-29 12:15] myselfanuj commented on #2251
Yes, I am working on it. I will give the PR ASAP.

[2020-03-29 12:17] Yashank18 commented on #2252
Yes, I am on it sir

On Sun, 29 Mar, 2020, 5:36 pm Aman Jain, <notifications@github.com> wrote:

[2020-03-29 12:18] prat31 commented on #2249
Please assign to someone else for GO.

[2020-03-29 12:19] bluejay229 commented on #2251
Yes, I am working on it. I am sorry for the delay. I will give the PR soon.

[2020-03-29 12:23] chaithanyarlk commented on #2249
I will submit my work by tommorow @jainaman224

[2020-03-29 12:26] Nik-09 commented on #2249
Currently I am learning that topic, i will try to complete this within
April.

On Sun 29 Mar, 2020, 5:33 PM Aman Jain, <notifications@github.com> wrote:

[2020-03-29 12:29] jainaman224 commented on #2480
@jaassmine Are you working on it?

[2020-03-29 12:38] rbjoshi1309 commented on #2252
Yes @jainaman224 .

[2020-03-29 12:42] priyanka2109 commented on #2205
yes

[2020-03-29 14:02] ritish099 commented on #2206
Sir, I have only one open issue now. Can I take this issue in PHP @jainaman224

[2020-03-29 14:02] ravireddy07 commented on #2480
@jainaman224  Added the file in C, Please check it.

[2020-03-29 14:13] rbjoshi1309 commented on #2177
@jainaman224 I would like to work on this issue in Php.

[2020-03-29 14:17] rbjoshi1309 commented on #2152
@jainaman224 I would like to work on this issue in Php.

[2020-03-29 14:19] rbjoshi1309 commented on #2158
@jainaman224 I would like to work on this issue in C#.

[2020-03-29 14:25] rbjoshi1309 commented on #2156
@jainaman224 I would like to work on this issue in C#.

[2020-03-29 14:28] rbjoshi1309 commented on #2151
@jainaman224 I would like to work on this issue in Php.

[2020-03-29 14:33] rbjoshi1309 commented on #2125
@jainaman224 I would like to work on this issue in Php.

[2020-03-29 14:35] rbjoshi1309 commented on #2144
@jainaman224 I would like to work on this issue in C#.

[2020-03-29 14:41] Jahnavi-Jonnalagadda commented on #2125
@jainaman224 I raised a PR already.

[2020-03-29 14:55] hritik5102 opened #2647 "Jarvis March Convex hull"
I want to add **Jarvis march convex hull algorithm** in this repository
Work which is done :
* [x] implementation in java
* [x] implementation in javascript
* [x] With Documentation (ReadMe)

please assign it to me.

[2020-03-29 15:23] hritik5102 commented on #2070
@jainaman224 should I implement this algorithm in C, if yes then please assign it to me

[2020-03-29 16:25] JanaSabuj commented on #2164
@jainaman224 @asha15 @SakshiShreya I have no pending issues now. I can implement this in JS.

[2020-03-29 16:26] JanaSabuj commented on #2161
@jainaman224 @SakshiShreya @asha15 Currently I have no pending issues. I can implement this in JS.

[2020-03-29 17:05] goyalmuskan commented on #2173
Yes @jainaman224

[2020-03-29 17:53] afroz23 commented on #2550
@jainaman224 review It sir and let me know if any changes are required.

[2020-03-29 21:31] MdAkdas commented on #2164
@jainaman224  i can implement this in C.

[2020-03-29 23:26] jedicakelord commented on #2555
Can you please assign this to me this for Rust?

[2020-03-29 23:28] jedicakelord commented on #2481
Can you please assign this to me for Go?

[2020-03-29 23:28] jedicakelord commented on #2480
Hi, can you please assign this to me for Go?

[2020-03-30 10:43] gauravburjwal commented on #2163
@jainaman224  Actually I was a bit busy in some work. Now I am on it.

[2020-03-30 14:04] himanshusharma89 commented on #2159
Hey @jainaman224 @asha15 I would like to do it in **C#**

[2020-03-30 14:08] #1784 closed

[2020-03-30 14:15] #970 closed

[2020-03-30 14:39] prashansag62 commented on #2171
@jainaman224 Please review my PR of BFS in C#

[2020-03-30 17:19] anjalisoni3655 opened #2655 "Graph Algorithms"
I want to add the Krushkals , Prims and dijkstra algorithms in C++. With proper comments .
Please assign this to me

[2020-03-30 18:14] yuktirapartiwar commented on #2146
yes

[2020-03-30 18:42] sandhyabhan commented on #2551
I would like to work on this issue in kotlin...plz assign this to me.

[2020-03-30 19:36] Tawishi commented on #2480
I would like to document the Readme for this code. Please assign.

[2020-03-30 19:38] Tawishi commented on #2252
Please assign me the issue's Readme documentation.

[2020-03-30 19:40] Tawishi commented on #2157
I would like to document the Readme.

[2020-03-30 19:42] Tawishi commented on #2151
I would like to do the Readme for the issue @jainaman224.

[2020-03-30 19:48] Tawishi commented on #1536
Please provide a description of the required problems.

[2020-03-30 21:32] nitin1kumar1 commented on #2162
@jainaman224  you can check it and inform if anything's wrong. I will change it. I have PR for both my issues.

[2020-03-31 06:43] anshuman1510 opened #2658 "GCD"
I want to add GCD code in C language to this repository.
Please assign me this issue.

[2020-03-31 09:00] anjalisoni3655 commented on #2655
Should I give a pull request directly or wait for the mentors to approve ?

[2020-03-31 09:04] Valdermaut commented on #2158
@jainaman224  I would like to do it in dart.

[2020-03-31 09:16] Valdermaut commented on #2178
@jainaman224  I would like to do it in dart

[2020-03-31 10:37] amoghjalan commented on #2164
@jainaman224  i can do it in C

[2020-03-31 10:48] #1608 closed

[2020-03-31 12:54] lakshyajit165 commented on #1563
@jainaman224. Can I proceed on this in java and python? I can take up some simple problems first to write unit tests in python and Java (I am familiar with unit testing using JUnit5)

[2020-03-31 12:55] lakshyajit165 commented on #2156
@jainaman224. I would like to work on this issue using Go. Please assign it to me.

[2020-03-31 14:00] rhythm10 opened #2662 "Linked_List_Reversal"
Sir, I would like to make a program for Reverse Single Linked List it in C, C++, and JAVA.

[2020-03-31 14:20] thesrijande commented on #1586
assign me

[2020-03-31 14:21] thesrijande commented on #1652
assign me

[2020-03-31 15:33] pratu098 commented on #2662
I would like to prog.ram for reverse linked list in Python and java as a part og Gssoc

[2020-03-31 15:59] scortier commented on #2662
Hello Sir, I would like to build a program for Linked_List_Reversal in CPP and Python.

[2020-03-31 16:44] iamankitkumar08062001 commented on #2662
Hello Sir, I would like to build a program for Linked List Reversal in C language.

[2020-03-31 16:48] iamankitkumar08062001 commented on #1926
I would like to develop this algorithm in C.
Please assign this task to me.

[2020-03-31 16:50] iamankitkumar08062001 commented on #1777
As a participant of GSSoC, I would like to work on this in C language. Please assign this task to me.

[2020-03-31 16:52] scortier commented on #2658
I want to add GCD code in C and in C++ language to this repository.
Please assign me this issue.
#2663

[2020-03-31 17:05] arp99 commented on #2655
which graph algorithms should be implemented? or can I give any number of algorithms and give a pull request

[2020-03-31 17:12] anjalisoni3655 commented on #2655
@jainaman224 can you please assign this to me   , so that i can proceed further

[2020-03-31 18:07] #2647 closed

[2020-03-31 18:07] #2655 closed

[2020-03-31 18:07] #2658 closed

[2020-03-31 18:07] #2662 closed

[2020-03-31 18:09] jainaman224 commented on #1536
@Tawishi Please pick different issue. Due to unclear requirement.

[2020-03-31 18:09] #1536 closed

[2020-03-31 18:10] jainaman224 commented on #1563
I want a common unit testing framework for all languages.

[2020-03-31 18:15] jainaman224 commented on #2125
@Jahnavi-Jonnalagadda Please link this issue with PR.

[2020-03-31 18:17] jainaman224 commented on #2141
@darkdebo Please link this issue with PR.

[2020-03-31 19:11] ranjal007 commented on #2141
@jainaman224  Please review my PR

https://github.com/jainaman224/Algo_Ds_Notes/pull/2661

[2020-03-31 19:46] jainaman224 commented on #2206
@ritish099 https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/ritish099

You have 2 open issues. Correct me if I am wrong.

[2020-03-31 19:50] jainaman224 commented on #2551
@sandhyabhan You have 3 open issues. Correct me if there is any mistake.

https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/sandhyabhan

[2020-03-31 19:51] ritish099 commented on #2206
Sir @jainaman224 , my postman sort issue  in c# is merged u can check it out. Only prims algorithm is open. I want to take this issue in php as my 2nd issue

[2020-03-31 22:07] rhythm10 opened #2667 "Mean_Median_Mode"
Sir, I would like to implement Mean, Median and Mode of unsorted Array in Language C, C++ and JAVA.
Please assign me this task.

[2020-04-01 01:40] Jahnavi-Jonnalagadda commented on #2125
@jainaman224 It shows that it is already linked with the issue.

[2020-04-01 03:04] VIJAY07102 commented on #2125
@jainaman224 binary insertion sort has already been implemented in python, and also it has been merged, please verify it.

[2020-04-01 03:10] VIJAY07102 commented on #2125
@jainaman224 For readme document, I already made a PR, but by mistake I had unassigned myself,  I didn't know that I unassigned myself. Please check the PR #2645

[2020-04-01 03:34] Tawishi commented on #2151
@jainaman224 I have added the readme file. Please review and suggest changes, if needed.

[2020-04-01 04:58] ranjal007 commented on #2201
@jainaman224  I want to work on Kotlin. Please assign it to me for GSsoc20

[2020-04-01 05:16] ranjal007 commented on #2146
@jainaman224  I can work in kotlin part of cycle sort. Please assign it to me for GSSOC20

[2020-04-01 05:34] sandhyabhan commented on #2551
https://github.com/jainaman224/Algo_Ds_Notes/issues/1766

This is closed. please confirm with @asha15 .

[2020-04-01 06:00] anjalisoni3655 opened #2668 "Maximum Product subarray"
I want to add the code for maximum product subarray in C , C++ , java , python . PLease assign me this issue
@jainaman224

[2020-04-01 06:01] anjalisoni3655 commented on #2668
THis will be extension to the maximum sum subarray that we do using Kadene's algorithm

[2020-04-01 06:01] dibakar95 commented on #2152
@jainaman224 I would like to implement in JS. Please assign it to me.

[2020-04-01 07:00] myselfanuj commented on #2157
I would like to work on this issue for kotlin.  I already have code @jainaman224  please assign me this issue for kotlin.

[2020-04-01 07:02] myselfanuj commented on #2156
I would like to work on this issue for kotlin @jainaman224  please assign me this issue.

[2020-04-01 10:38] SubhradeepSS commented on #1478
@jainaman224 @somya-kapoor Please review the PR #1956 in regards to this issue.I made the PR a long time ago but the PR was closed.

[2020-04-01 15:41] darkmatter18 commented on #2201
@jainaman224 I wanna work on Kotlin. Please assign. I am in GSSOC'20

[2020-04-01 15:43] darkmatter18 commented on #2204
@jainaman224 I can to complete this on PHP. Please assign.

[2020-04-01 16:13] kichloo commented on #2204
@jainaman224 Please assign the Karatsuba algorithm to me.

[2020-04-01 17:02] srimani-programmer commented on #2171
I want to work on this issue in PHP. Please assign it for me @jainaman224

[2020-04-01 17:03] srimani-programmer commented on #2124
I want to work on this issue in PHP. Please assign it for me @jainaman224

[2020-04-01 17:25] PrachieNaik commented on #2551
Hi, please assign this to me in kotlin, as I have worked on preorder traversal, I have this code ready too. Thank you

[2020-04-01 17:48] shreyakapoor08 commented on #2172
@jainaman224 PR raised for DFS in C#

[2020-04-01 17:58] #1903 closed

[2020-04-01 18:12] ranjal007 commented on #1803
@SakshiShreya I need to work in this issue for GSSOC20 . Please assign it to me.

[2020-04-01 18:48] RiaJha02 commented on #2667
Hello, I would like to try this and can implement the solution in C/C++/JAVA/JS/Python.
Thank you!

[2020-04-01 19:21] RaghavAwasthi commented on #2555
Please Assign me Kotlin One

[2020-04-01 19:22] RaghavAwasthi commented on #2667
I would like to work on this in Kotlin

[2020-04-01 19:23] RaghavAwasthi commented on #2481
I would like to work on this in Kotlin

[2020-04-01 19:24] RaghavAwasthi commented on #2206
I would like to work on this in Kotlin

[2020-04-01 19:25] RaghavAwasthi commented on #2200
I would like to work on this in Kotlin

[2020-04-01 19:25] RaghavAwasthi commented on #2248
I would like to work on this in Kotlin

[2020-04-01 19:26] RaghavAwasthi commented on #2162
I would like to work on this in Kotlin

[2020-04-02 04:19] ujjwaltiwari13 commented on #2247
Please assign the issue to me in Rust.

[2020-04-02 04:54] coderprasukj commented on #2251
@jainaman224  I would like to work on this issue in JS. Please assign this issue to me.

[2020-04-02 07:44] PrachieNaik commented on #2199
Yes

[2020-04-02 16:50] lakshyajit165 commented on #1563
@jainaman224, could you be a little more specific as to what you mean? As far as my knowledge goes, each language have their own testing frameworks/methods. Do you mean to say that they have to be automated? Like everytime a piece of code is merged to master, a pipeline is triggered, which runs all the tests?(much like gitlab CI)

[2020-04-02 21:21] ravireddy07 commented on #2480
@asha15  I've added this Algorithm in C and made the PR: #2644 . Please check it.

[2020-04-03 05:45] Aakansha99 commented on #2553
I would like to contribute in C++

[2020-04-03 06:29] chandrikadeb7 commented on #2478
I would like to contribute in php

[2020-04-03 07:02] Aakansha99 opened #2690 "Finding largest square of 1's in a matrix"
Given a matrix of 0's and 1's and we need to find the largest square of 1's in a matrix using dynamic programming.
Kindly assign this issue to me

[2020-04-03 07:05] Aakansha99 opened #2691 "Finding largest rectangle of 1's in a matrix"
Given a matrix of 0's and 1's and we need to find the largest rectangle of 1's by finding maximum rectangle area in a histogram multiple times.
After each row, you calculate the histogram built until that row, and that calculate the maximum area rectangle in that histogram.
Kindly assign this issue to me

[2020-04-03 08:39] payal-98 commented on #2668
In this ,we have to write code for max. product sub array in all these languages?

[2020-04-03 08:55] shivanidalmia1203 opened #2692 "Target Sum"
Problem Statement
Given an array and a target Sum . Assign positive and negative i,e. '+' or '-' to each element of an array such that after assigning the total sum of the array equals the target Sum. Return count of such possible assignment combinations.

I/P    :- An array and a target sum.
O/P  :- Count of possible assignments.
Language Used :- C++

[2020-04-03 08:56] shivanidalmia1203 commented on #2692
Please assign me this issue.

[2020-04-03 09:28] HardevKhandhar commented on #2479
Dear Sir @jainaman224
Please assign this issue to me in RUBY for GSSoC' 2020

[2020-04-03 09:28] HardevKhandhar commented on #2552
Please assign this issue to me for C#

[2020-04-03 11:01] shivanidalmia1203 commented on #1770
Please assign me this issue.

[2020-04-03 12:29] sukritishah15 commented on #2201
@jainaman224 I can work on it in JS. Kindly assign me this. One of my PR's got merged (Chinese Remainder Theorem - PHP) so I can take this up.

[2020-04-03 13:09] afroz23 commented on #2550
@asha15 @jainaman224 @raghav-dalmia  why my PR #2649 Not Merge yet and why issue is closed, please review my PR and let me know if any changes are required.

[2020-04-03 14:37] Manish-cloud opened #2694 "Finding nth fibonacci number using Binet's formula"
Binet's formula : It is efficient method for finding nth fibonacci number
Time Complexity : O(1)                                         //  Constant Time complexity

So, I would like to provide it's implementation in following languages
1 ] C
2 ] C++
3 ] Python
4 ] Java

[2020-04-03 17:05] #1776 closed

[2020-04-03 17:10] #2015 closed

[2020-04-03 17:14] #1829 closed

[2020-04-03 17:28] #1664 closed

[2020-04-03 18:56] garimasingh128 commented on #2555
I want to work on this issue for kotlin please assign me this issue for kotlin. @jainaman224

[2020-04-03 18:58] garimasingh128 commented on #2479
I want to work on this issue for Ruby please assign me this issue for Ruby. @jainaman224

[2020-04-03 19:42] prince-09 commented on #2201
yes sir

[2020-04-03 20:18] Pihu1998 commented on #2205
Hi @jainaman224 . I want to work on this issue for Python. Would love to contribute if you assign me for this. Thanks :)

[2020-04-04 11:01] raghav-dalmia commented on #2667
@rhythm10 - c,c++,java
@RiaJha02  - js,python
@RaghavAwasthi - kotlin

[2020-04-04 11:02] raghav-dalmia commented on #2692
Go ahead.

[2020-04-04 12:54] nancysingh24 commented on #2694
I would like to work on this using C++.

[2020-04-04 14:35] Manish-cloud opened #2698 "Implementation of Fibonacci Number using DP approach in python"
I have checked Algo_Ds_Notes/Fibonacci_Number_Using_DP_Approach/ in which implementation
of fibonacci number was not present in python language.

So, I would like to work on it.

[2020-04-04 14:54] #2667 closed

[2020-04-04 14:54] #2668 closed

[2020-04-04 14:54] #2690 closed

[2020-04-04 14:54] #2691 closed

[2020-04-04 14:54] #2692 closed

[2020-04-04 14:54] #2694 closed

[2020-04-04 14:54] #2698 closed

[2020-04-04 14:55] jainaman224 commented on #2692
Sorry
But creation of issue is not allowed.

[2020-04-04 14:55] jainaman224 commented on #2667
Sorry but creation of issue is not allowed.

[2020-04-04 15:06] shivanidalmia1203 commented on #2253
I would like to implement it in C++.
@jainaman224  Please assign me this issue.

[2020-04-04 15:09] jainaman224 commented on #2146
@ranjal007 You already have 2 open issues https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/ranjal007

[2020-04-04 15:11] jainaman224 commented on #2157
@Tawishi You already have 2 open issues https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/Tawishi

[2020-04-04 15:20] shivanidalmia1203 commented on #2692
Please assign me issue 1770

On Sat, Apr 4, 2020 at 8:25 PM Aman Jain <notifications@github.com> wrote:

[2020-04-04 15:26] #1766 closed

[2020-04-04 15:48] Tawishi commented on #2157
@jainaman224 I have made the PR.

[2020-04-04 15:58] PrachieNaik commented on #2553
I would like to work on this issue for kotlin. Please assign @jainaman224

[2020-04-04 16:22] ravireddy07 commented on #2480
@jainaman224  I've added my assign task 6 days ago. Please check it.

[2020-04-04 16:36] PrachieNaik commented on #2171
Please assign me this for kotlin. @jainaman224

[2020-04-04 17:42] Rukmini-Meda commented on #2551
I would like to work on this issue in Dart. Please assign this to me as part of GSSoC'20

[2020-04-04 17:43] Rukmini-Meda commented on #2550
I would like to work on this issue in Dart. Please assign this to me as part of GSSoC'20

[2020-04-04 17:44] Rukmini-Meda commented on #2481
I would like to work on this in Dart. Please assign this to me as part of GSSoC'20

[2020-04-04 19:19] garimasingh128 commented on #2163
@jainaman224 I want to do this in PHP. Please assign this to me.

[2020-04-05 06:27] iBruceW commented on #2152
Hi, I would like to work on this using python. @jainaman224 please assign me it to me.

[2020-04-05 06:30] iBruceW commented on #1691
I would like to contribute in this issue. Please assign me on this issue @jainaman224

[2020-04-05 11:12] BhuwanChandra commented on #2248
@jainaman224 I would like to work on this in Typescript.

[2020-04-05 11:13] BhuwanChandra commented on #2201
@jainaman224 I would like to do this in Typescript.

[2020-04-05 11:16] BhuwanChandra commented on #2204
@jainaman224 I would like to work on this in Typescript.

[2020-04-05 11:35] Ani1000 commented on #2553
Hi @jainaman224  can we add any algo on our own which are not yet implemented in any language..
i will like to take the javascript one for this tree traversal ..

[2020-04-05 11:46] Ani1000 commented on #1879
would like to do it in python please assign it to me @jainaman224 @somya-kapoor @raghav-dalmia

[2020-04-05 12:01] kichloo commented on #2205
@singh-shreya6 Pl review #2422

[2020-04-05 12:58] Ani1000 commented on #1815
I am comfortable  in python please assign me the work ...

[2020-04-05 17:09] #1879 closed

[2020-04-05 18:15] Nishtha3512 commented on #675
Can i work on it if it is not completed ?

[2020-04-05 18:16] Nishtha3512 commented on #851
Can i work on this ?

[2020-04-05 19:16] saloniankita23 commented on #2176
@jainaman224 Yes, I am.

[2020-04-05 20:28] NikitaMasand commented on #2252
@jainaman224
I can write the readme for LCS. Please assign me.

[2020-04-05 21:49] #964 closed

[2020-04-05 21:51] #1578 closed

[2020-04-06 03:20] Jahnavi-Jonnalagadda commented on #2135
@jainaman224 I would like to work on this issue in Dart. Could you please assign this to me.

[2020-04-06 03:45] Manish-cloud commented on #159
@jainaman224 @raghav-dalmia  I would like to provide Floydwarshall Algorithm in C

[2020-04-06 04:30] Manish-cloud commented on #159
@jainaman224  @raghav-dalmia Sir, I would like to provide Floydwarshall Algorithm implementation in Kotlin

[2020-04-06 06:35] SeanHwangG opened #2708 "Inconsistent Trie Implementation for python and c++"
t.add_word('miss')
t.search('m') -> returns True which should be false
t.remove_word('m')
t.search('miss') -> returns False which should be True

current = current.children[letter] is missing in remove method.
And there is no is_leaf property in a node.

ps. This is the first time creating an issue, so please let me know if there is anything wrong with the format

[2020-04-06 06:43] SeanHwangG commented on #2708
By looking at the code again, it's totally wrong

t.add_word('miss')
t.remove_word('m')
t.search('miss') -> returns False

current = current.children[letter] is missing in remove method.

[2020-04-06 08:31] Ani1000 commented on #1879
Mam please assign me any work I already commented  on some the repo..

[2020-04-06 08:47] harshlohia11 opened #2709 "Making a rock,paper,scissors game using python"
Please assign me this issue

[2020-04-06 10:27] shweta0699 opened #2710 "Finding minimum and maximum elements in singly circular linked list in C++"

[2020-04-06 10:27] shweta0699 commented on #2710
I would like to work on this. Please assign it to me.

[2020-04-06 10:41] JainStuti25 commented on #2477
I would like to work in Kotlin and Dart language for this problem.

[2020-04-06 10:43] JainStuti25 commented on #2253
I want to work on it in Dart language

[2020-04-06 10:44] JainStuti25 commented on #2252
I want to work on it in Dart language

[2020-04-06 10:46] JainStuti25 commented on #2709
I want to work on this issue.

[2020-04-06 10:46] JainStuti25 commented on #2555
I want to work on it in Dart and Kotlin language

[2020-04-06 11:19] priyanka2109 opened #2711 "Maximum sum subarray in java"
I would like to create read me file for this issue and write code for it.

[2020-04-06 11:24] priyanka2109 opened #2712 "Vertical order traversal from left to right of binary tree"
I would like to work on it in cpp. Please assign it to me.

[2020-04-06 16:03] darkmatter18 commented on #2480
@jainaman224 I wanna work in Kotlin. Please assign

[2020-04-06 16:04] darkmatter18 commented on #2478
@jainaman224 I wanna work in Kotlin. Please assign.

[2020-04-06 16:05] darkmatter18 commented on #2477
@jainaman224 I wanna work in Kotlin. Please assign.

[2020-04-06 16:07] darkmatter18 commented on #2246
@jainaman224 I wanna work in Kotlin. Please assign.

[2020-04-06 16:07] darkmatter18 commented on #2202
@jainaman224 I wanna work in Kotlin. Please assign.

[2020-04-06 19:34] jmuskaan72 commented on #2710
Sir, I would like to work on this issue too. Please assign me this.

[2020-04-06 19:36] jmuskaan72 commented on #2199
Sir, can I work on this issue?

[2020-04-06 20:54] GarimaMahajan20 commented on #2712
i would like to provide c code for this level order traversal. assign this to me.

[2020-04-06 20:56] GarimaMahajan20 commented on #2712
i would like to work on this in c language.
please assign this to me.

[2020-04-07 04:55] anirudh-kac opened #2714 "Add Comparison Count Sort"
Add the algorithm for comparison count sort which counts the number of elements greater than a particular element to decide it's position in the sorted array

[2020-04-07 07:53] JasleenRandhawa commented on #2551
@jainaman224 I would like to work on this issue in Java. Please assign this issue to me for GSSoC.

[2020-04-07 12:13] Swarnimashukla commented on #2201
Hi @jainaman224  i would like to implement this in dart . please assign it to me .

[2020-04-07 12:14] Swarnimashukla commented on #2200
Hi @jainaman224  i would like to implement this in dart . please assign it to me .

[2020-04-07 14:28] csharp489 opened #2715 "BRUTE FORCE Algorithm"
It is most general used search algorithm.

Can I work on this algorithm.
Thanks

[2020-04-07 15:13] m-code12 commented on #2710
I am interested to work on this issue.Please assign me .

[2020-04-07 15:18] m-code12 commented on #2712
I would like to work on this in java.Please assign it to me.

[2020-04-07 15:25] m-code12 commented on #159
I am interested to work on Floydwarshall Algorithm in c . Please assign it to me .

[2020-04-07 16:27] HardevKhandhar commented on #2248
Dear Sir @jainaman224
Please assign this issue to me in GO for GSSoC 2020
I would like to work on this in GO language.

[2020-04-07 16:41] janvi-code commented on #2477
i would like to work in java.

[2020-04-07 16:47] m-code12 opened #2717 "15 Puzzle Problem"
15 Puzzle Problem is a sliding puzzle that consists of a frame of numbered square tiles in random order with one tile missing. The objective of this problem is to transform the arrangement of tiles from initial arrangement to a goal arrangement.

[2020-04-07 16:50] m-code12 commented on #2717
I would like to work on this problem in c . Please assign me this issue.

[2020-04-07 16:53] Chanchal1603 commented on #2709
I want to work on this issue . please assign me this issue.

[2020-04-07 17:04] m-code12 opened #2718 "Booth's Algorithm"

[2020-04-07 17:04] m-code12 commented on #2718
I would like to implement Booth's Algorithm in java.Please assign it to me .

[2020-04-07 17:14] pragyajaiswa05l commented on #1762
@jainaman224 please assign me would like to contribute it in c++

[2020-04-07 17:17] pragyajaiswa05l commented on #1688
@jainaman224  @asha15  @raghav-dalmia  please assign me this issue would like to contribute  it in c++

[2020-04-07 17:20] m-code12 commented on #1535
I would like to implement Shortest Job First in java . Please assign this to me.

[2020-04-07 17:23] pragyajaiswa05l commented on #464
@jainaman224  @raghav-dalmia @asha15  would like to contribute in this issue in c++ as a part of GSSoC 2020

[2020-04-07 17:27] #2708 closed

[2020-04-07 17:27] #2709 closed

[2020-04-07 17:27] #2710 closed

[2020-04-07 17:27] #2711 closed

[2020-04-07 17:27] #2712 closed

[2020-04-07 17:27] #2714 closed

[2020-04-07 17:27] #2715 closed

[2020-04-07 17:27] #2717 closed

[2020-04-07 17:27] #2718 closed

[2020-04-07 17:30] pragyajaiswa05l opened #2719 "Aggressive_cow in c++"
@jainaman224 @raghav-dalmia  @asha15  please assign me this issue in c++

[2020-04-07 17:33] #2719 closed

[2020-04-07 17:45] m-code12 commented on #1697
I am interested to work on this in C or Java. Please assign it to me .

[2020-04-07 18:04] jainaman224 commented on #2135
@Jahnavi-Jonnalagadda You are already have 2 open issues. If there is any mistake please correct me. https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/Jahnavi-Jonnalagadda%20

[2020-04-07 18:04] KhyatiSaini commented on #2179
I'm a GSSoC participant and it's for the first time I am working on this project, please assign me an issue, I would like to create a readme file

[2020-04-07 18:06] csharp489 commented on #2555
I want to work on it in python.

[2020-04-07 18:07] jainaman224 commented on #2199
@jmuskaan72 Please select a language from labels.

[2020-04-07 18:09] csharp489 commented on #2481
I want to work on it in python. please assign me @jainaman224

[2020-04-07 18:09] jainaman224 commented on #2202
@darkmatter18 You already have 2 open issues. Please correct me if there is any mistake. https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/darkmatter18

[2020-04-07 18:17] jainaman224 commented on #2553
@Ani1000 For now, you can only work on issues with label `up-for-grabs`. JS is already assigned to someone else please pick another language.

[2020-04-07 18:22] #1552 closed

[2020-04-07 21:17] Satyam3976 commented on #2553
I m GSSOC'20 Participant. Please assign me readme  of this issue

[2020-04-07 21:17] Satyam3976 commented on #2552
I m GSSOC'20 Participant. Please assign me readme  of this issue

[2020-04-07 21:18] Satyam3976 commented on #2551
I m GSSOC'20 Participant. Please assign me readme  of this issue

[2020-04-07 21:18] Satyam3976 commented on #2550
I m GSSOC'20 Participant. Please assign me readme  of this issue

[2020-04-07 21:18] Satyam3976 commented on #2480
I m GSSOC'20 Participant. Please assign me readme  of this issue

[2020-04-08 03:54] Rukmini-Meda commented on #675
I would like to work on this issue using Dart. Please assign this to me as part of GSSoC'20.

[2020-04-08 03:56] Rukmini-Meda commented on #2164
I would like to implement this using Dart. Please assign this to me as part of GSSoC'20

[2020-04-08 07:18] chandrikadeb7 commented on #1775
Can I contribute to this issue?

[2020-04-08 09:35] panktishah62 opened #2722 "Job sequencing not implemented in C"
Hello,
I just went through the repository , there is no implementation of the algorithm in C. I can do the same, please assign me.

[2020-04-08 16:08] darkmatter18 commented on #2204
@jainaman224 I can't do this in PHP. Can I get unassigned?

[2020-04-08 19:16] GarimaMahajan20 opened #2725 "Code for index sequential file handling"
i want to add code for index sequential file handling

[2020-04-08 19:22] GarimaMahajan20 opened #2726 "Construct binary tree from given preorder and inorder"
i want to add c code for this

[2020-04-08 19:28] GarimaMahajan20 opened #2727 "huffman tree code in c"
i want to provide huffman tree  construction code in c language given the frequencies

[2020-04-08 19:52] codermuskanj commented on #2019
@jainaman224 @somya-kapoor @raghav-dalmia This issue is assigned to me and i am working on it and have made a pull request  then why  @Amitsharma45 is working on it and his request has been reviewed?

[2020-04-09 03:43] ravireddy07 commented on #159
I would like to work on this algorithms in C, C++ and Java. Please assign this to if anyone of the languages missing for this algorithms. @jainaman224 @asha15  @SakshiShreya  @singh-shreya6

[2020-04-09 03:45] ravireddy07 commented on #1586
Is this issue is pending..?
If yes, I would like to work on this..! @jainaman224  @asha15  @somya-kapoor  @SakshiShreya

[2020-04-09 03:46] ravireddy07 commented on #1596
Is anyone still working on it..?
If not please assign this to me..!

@jainaman224  @somya-kapoor  @asha15

[2020-04-09 03:48] ravireddy07 commented on #1750
Is anyone still working on it..?
If not please assign this to me..!

@jainaman224 @somya-kapoor @asha15 @singh-shreya6

[2020-04-09 03:48] ravireddy07 commented on #1740
Is anyone still working on it..?
If not please assign this to me..!

@jainaman224 @somya-kapoor @asha15 @singh-shreya6

[2020-04-09 03:48] ravireddy07 commented on #1769
Is anyone still working on it..?
If not please assign this to me..!

@jainaman224 @somya-kapoor @asha15 @singh-shreya6

[2020-04-09 03:49] ravireddy07 commented on #1790
I would like to work on C, C++ and Java. Assign this sto me.

@jainaman224 @somya-kapoor @asha15 @singh-shreya6

[2020-04-09 03:50] ravireddy07 commented on #1853
Is anyone still working on it..?
If not please assign this to me..!

@jainaman224 @somya-kapoor @asha15 @singh-shreya6

[2020-04-09 07:19] Amitsharma45 commented on #2727
i want to work on this issues and i am from girlscript summer of code 2020 please reply

[2020-04-09 07:23] sandhyabhan commented on #1453
I would like to work on this issue in C and C++.

[2020-04-09 08:05] mansikagrawal commented on #1525
@jainaman224  can I implement it in c++

[2020-04-09 08:09] mansikagrawal commented on #1813
@jainaman224   Can I work on it?

[2020-04-09 08:32] nikkkhil067 commented on #2726
Please assign me this problem,
I would like to code for this problem in C, C++, Python and Java.

[2020-04-09 08:33] nikkkhil067 commented on #2727
I want to write code for this in C, C++, Python and Java.
Please assign this to me.

[2020-04-09 08:34] nikkkhil067 commented on #2722
I would also to implement this code in C, C++, Python and Java.
Please assign this to me.

[2020-04-09 10:01] sandhyabhan commented on #2553
I want to work on this in kotlin..plz assign this to me.

[2020-04-09 10:03] sandhyabhan commented on #2163
I want to work on this in Kotlin..plz assign this to me.

[2020-04-09 20:54] urbashi123 commented on #2118
@jainaman224 Can i work on readme?

[2020-04-09 23:18] simrann20 commented on #2158
@jainaman224 I would like to implement this in Go

[2020-04-10 09:38] thakran14 commented on #2179
I want to work on java, C++ and Python. Please assign it to me

[2020-04-10 09:42] thakran14 commented on #2172
I would like to work on it in PHP kindly assign it to me

[2020-04-10 09:46] thakran14 commented on #2064
Kindly assign me this issue if not resolved

[2020-04-10 09:47] thakran14 commented on #1827
assign to me this issue please

[2020-04-10 10:14] Mustafiz04 opened #2736 "Palindromic_String in Java and Python"
I would like to work on Palindromic String implementation in Java and Python as the GSSoC'20 participant.
Please @jainaman224 assign to me

[2020-04-10 11:37] YaminiShrestha31 commented on #2727
I want to take this issue please assign this to me

[2020-04-10 12:51] m-code12 commented on #2722
I can implementin C. Please assign it to me.

[2020-04-10 12:52] m-code12 commented on #2727
I am interested for this issue. Please assign it to me.

[2020-04-10 16:15] simrann20 commented on #1892
@jainaman224 can i work on this issue and implement it in C and C++?

[2020-04-10 16:30] simrann20 opened #2739 "Print Nodes at Depth k in a generic tree"
Hi @jainaman224
I  haven't seen any folder regarding this problem while going through the repo.
I would like to work on it in C++

[2020-04-10 20:12] simrann20 commented on #2739
@jainaman224  Please review my PR

[2020-04-11 09:34] lakshyajit165 commented on #1563
@jainaman224, a gentle follow up on this. Since I'm familiar with testing in Java and Python, I would like to suggest a method. Each folder for an algorithm can contain another folder inside which, there will be test files for each individual language, we can think of integrating with Travis (or may be apply github actions) to trigger the tests once a commit is made to the master branch. I have no

[2020-04-11 09:46] Ani1000 commented on #1815
should i push my work now sir

[2020-04-12 05:41] HeroicHitesh commented on #1584
Commenting to show interest. I want to work when this project is available.

[2020-04-12 05:42] HeroicHitesh opened #2741 "What topics need to be covered?"
Hi, @KavyaSharma @sidgorey @uday1201
I am starting to learn C++ from scratch for the second time. So, I am confused about which topic notes should I make?
So, I had a thought why not access the available notes from this repo and create new notes on the topics which are not covered in this repo till now or you guys are having plans to cover.
I will primarily be focusing on interviews and CP related

[2020-04-12 06:52] Amitsharma45 commented on #2736
@jainaman224  i want work on issue in C and python and i am from girl script summer of code 2020,please assigm this issue to me

[2020-04-12 07:30] m-code12 commented on #2161
@jainaman224 Can I implement this in Python ? It hasn't been done yet.

[2020-04-12 07:48] m-code12 commented on #2202
@jainaman224 If no one is working in JS or php , please assign it to me.

[2020-04-12 08:01] m-code12 commented on #675
@jainaman224 Can I implement it in Python ?

[2020-04-12 08:06] m-code12 opened #2742 "Knapsack_Fractional in C#"

[2020-04-12 08:07] m-code12 commented on #2742
@jainaman224 I would like to work on Fractional knapsack in c#.Please assign it to me.

[2020-04-12 08:33] m-code12 opened #2743 "Bucket_Sort"

[2020-04-12 08:35] m-code12 commented on #2124
@jainaman224 I would like to do this in ruby. Please assign it to me.

[2020-04-12 08:36] #2743 closed

[2020-04-12 08:42] m-code12 commented on #2145
@jainaman224  I would like to implement it in go. Please assign it to me.

[2020-04-12 08:48] m-code12 commented on #2146
I can implement this in go. Please assign it to me @jainaman224  .

[2020-04-12 08:50] m-code12 opened #2744 "Gnome_Sort"

[2020-04-12 08:52] m-code12 commented on #2744
I would like to implement it in go , javascript .Please assign it to me @asha15 @jainaman224 @raghav-dalmia

[2020-04-12 08:56] m-code12 commented on #2147
I can do this in go . Please assign it to me @jainaman224

[2020-04-12 09:09] m-code12 commented on #2148
@jainaman224 I can implement this in rust .Please assign it to me .

[2020-04-12 09:13] m-code12 commented on #2136
I can implement this in rust .Please assign it to me @jainaman224 , @asha15 .

[2020-04-12 09:18] m-code12 commented on #2149
I would like to implement this in go .Please assign it to me @jainaman224 .

[2020-04-12 10:54] codermuskanj commented on #2161
@m-code12 I am already working on it and already created a pull request. @jainaman224 kindly go through pr no.#2728 regarding the same.

[2020-04-12 10:58] saloniankita23 commented on #1762
@jainaman224 I would like to work on it in C, C++ or java

[2020-04-12 10:59] saloniankita23 commented on #1697
@jainaman224 Kindly assign this issue to me. I am interested to work on it in C, C++ or java.

[2020-04-12 11:04] saloniankita23 commented on #2177
@jainaman224 Kindly assign me this issue in Php.

[2020-04-12 11:09] saloniankita23 commented on #2156
@jainaman224 Kindly assign me this in Php

[2020-04-12 13:02] m-code12 commented on #757
@jainaman224 , @asha15 , I can implement this in Rust and it hasn't been implemented yet. Please assign it to me .

[2020-04-12 13:05] m-code12 commented on #2252
@jainaman224  I can implement this in php . Please assign it to me.

[2020-04-12 14:09] m-code12 commented on #2172
I can implement this in go. Please assign it to me @jainaman224

[2020-04-12 14:12] m-code12 commented on #2163
@jainaman224  I can implement it in Ruby . Please assign it to me .

[2020-04-12 14:59] #1991 closed

[2020-04-13 05:39] atarax665 commented on #2176
I can do this in ruby. @jainaman224

[2020-04-13 10:27] mruna7 commented on #865
[Binary_To_Octal.txt](https://github.com/jainaman224/Algo_Ds_Notes/files/4469113/Binary_To_Octal.txt)

[2020-04-13 10:44] mruna7 commented on #865
#2432 #2291

[2020-04-13 16:23] atarax665 commented on #1835
C++ code for diagonal difference

#include <iostream>
using namespace std;

int main() {
    int n,d1 = 0,d2 = 0;
    cin >> n;
    int ar[n][n];
    for(int i = 0; i < n; i++){
        for(int j = 0; j < n; j++){
            cin >> ar[i][j];
            if(i==j)
            d1+=ar[i][j];
            if(i+j==n-1)
            d2+=ar[i][j];
        }
    }
    cout <<d1-d2<< endl;
    return 0;
}

C

[2020-04-13 17:47] Shr03mink commented on #2736
i would like to work on this in java and C++. Could you please assign this issue to me @jainaman224

[2020-04-13 18:16] Shr03mink commented on #2147
@jainaman224 could you please assign me this issue . I would like to work on it in Go

[2020-04-13 18:26] Shr03mink commented on #2199
I would like to work on this in Go . Please assign this to me for GSSoC'20 @jainaman224.

[2020-04-13 18:34] Shr03mink commented on #2175
i can do this in typescript ?

[2020-04-13 18:35] Shr03mink commented on #2175
* can i, as a part of GSSoC 2020.

[2020-04-13 18:36] Shr03mink commented on #2175
I can do this in typescript. Please assign this issue to me @jainaman224

[2020-04-13 23:23] akashksinghal opened #2752 "Printing Array with sorted adjacent differences"
I'd like to take this issue.
In this program, an array will be taken as input and the output will be the array with increasing adjacent differences.

[2020-04-13 23:24] akashksinghal commented on #2752
I'd like to do this under GSSoC20.

[2020-04-13 23:29] akashksinghal opened #2753 "Merging two sorted linked list"
I'd like to implement this in C++ under GSSoC20!

[2020-04-14 05:42] anirudh-kac opened #2754 "Implement comparison count sort in cpp"
Comparison count sort algorithm compares every element with others to find how many elements and greater or smaller than it to determine its position in the sorted array.

I had already made a PR but hadn't created an issue and hence was closed. So I'm creating an  issue so that I can make a new PR

[2020-04-14 07:45] HardevKhandhar commented on #2248
Please assign this issue to me in GO for GSSoC 2020.

[2020-04-14 07:52] HardevKhandhar commented on #2205
Dear Sir @jainaman224
I would like to contribute to this issue in RUBY for GSSoC 2020

[2020-04-14 08:52] Tahanima commented on #2252
Hello @jainaman224
I am a GSSoC'20 participant and I want to implement the Longest Common Subsequence algorithm in Ruby language. So, please assign me this issue for Ruby language.

[2020-04-14 13:28] jmuskaan72 commented on #2199
Sir, I can work in C++ and Python.

[2020-04-14 13:29] #2722 closed

[2020-04-14 13:29] #2725 closed

[2020-04-14 13:29] #2726 closed

[2020-04-14 13:29] #2727 closed

[2020-04-14 13:29] #2736 closed

[2020-04-14 13:29] #2739 closed

[2020-04-14 13:29] #2741 closed

[2020-04-14 13:29] #2742 closed

[2020-04-14 13:29] #2744 closed

[2020-04-14 13:29] #2752 closed

[2020-04-14 13:29] #2753 closed

[2020-04-14 13:29] #2754 closed

[2020-04-14 13:56] Shr03mink commented on #2550
I would like to work on this issue in Typescript. Please assign this to me as part of GSSoC'20

[2020-04-14 14:02] radhikasethi2011 commented on #1876
Can I work on the same for java?

[2020-04-14 14:06] radhikasethi2011 opened #2755 "Disk Scheduling Algorithms."
I'd like to implement disk scheduling algorithms - FCFS, SSTF, SCAN, C-SCAN in Java. Kindly assign me this issue.

[2020-04-14 17:37] #2755 closed

[2020-04-14 17:41] m-code12 commented on #2152
I would like to implement this in Go. @jainaman224 , @singh-shreya6 , @asha15 please assign it to me.

[2020-04-14 17:43] m-code12 commented on #1876
I can implement this in Java . @raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya @somya-kapoor please assign it to me.

[2020-04-14 17:51] jainaman224 commented on #2199
@jmuskaan72 It is implemented in both languages.

[2020-04-14 18:57] Shr03mink commented on #2199
I would like to do this in Go @jainaman224 . Can you assign it to me ?

[2020-04-14 21:19] simrann20 commented on #2158
@jainaman224  can you assign me some other issue in C++?

[2020-04-15 04:10] anirudh-kac commented on #2754
Why is this issue closed?

[2020-04-15 09:20] sejalshri commented on #2146
I can implement it in C . Kindly assign it to me @somya-kapoor  @jainaman224

[2020-04-15 09:34] sejalshri commented on #1813
i would like to work on this issue. kindly assign it to me @jainaman224

[2020-04-15 14:28] meghanagottapu commented on #2120
I would like to contribute in c and python

[2020-04-15 14:35] meghanagottapu commented on #1770
can I work on this issue for GSSOC 2020?

[2020-04-15 14:56] m-code12 commented on #2136
@jainaman224 , @somya-kapoor , @singh-shreya6 , @asha15  I have created a pull request . Please review my PR #2760 .

[2020-04-15 15:26] m-code12 opened #2761 "Bubble_"

[2020-04-15 15:26] #2761 closed

[2020-04-15 15:27] m-code12 commented on #2143
I can implement this in Rust . Please assign this issue to me @jainaman224 , @somya-kapoor

[2020-04-15 18:36] #2018 closed

[2020-04-15 21:05] rhythm10 commented on #1940
Sir, when will my this contribution will approved.

[2020-04-15 21:05] akashksinghal commented on #2752
Can you please tell me the reason to close this issue?

[2020-04-15 21:07] rhythm10 opened #2762 "Queue using Stack"
Sir, Can I start implementing my code in JAVA for Queue using Stack.

[2020-04-16 03:59] ravireddy07 commented on #464
@jainaman224  @asha15  @singh-shreya6  @shreyakapoor0
I would like to work on this issue(Trie_for_natural_Number) in C and Java. I've gone through the repo and this languages were missing. please assign this to me.

[2020-04-16 04:20] darkmatter18 commented on #2555
@jainaman224 Can I work for Kortlin??

[2020-04-16 04:22] darkmatter18 commented on #2480
@jainaman224 @asha15 Please assign me on Kortlin

[2020-04-16 08:02] Amitsharma45 commented on #2551
sir i can implement this issue in dart
.

[2020-04-16 08:11] ishukhanchi commented on #1792
Please assign this issue to me.

[2020-04-16 08:11] Amitsharma45 commented on #2146
@jainaman224  i can implement this issue in c and i am from girlscript summer of cose 2020.
Please assigm this issue to me

[2020-04-16 08:22] Amitsharma45 commented on #1653
@jainaman224  for 3 march @abhishekgupta368 not responce on this issue . please assign his issue to me i can implement this in python.

[2020-04-16 08:25] Amitsharma45 commented on #1628
@singh-shreya6 @jainaman224 i can implement matrix addition ,subtraction ,and transpose in python
can i start work on this issue.

[2020-04-16 08:25] abhishekgupta368 commented on #1653
My code is already merged

[2020-04-16 08:28] Amitsharma45 commented on #2157
i want work on README.md file can i start work on this

[2020-04-16 08:30] Amitsharma45 commented on #1926
i would like to implement 2d arrray _rotation in python

[2020-04-16 08:48] Amitsharma45 commented on #1627
@jainaman224  i would like to work on this issue for last 24 day @SimranMakhija7 not create any pr

[2020-04-16 08:52] Amitsharma45 commented on #996
@jainaman224  i want to start work on this issue from Feb 29 @ranjal007 not responce on this issue.

[2020-04-16 09:00] ranjal007 commented on #996
I am working in this issue @Amitsharma45  I have created the PR also and I have been asked to enhance that readme.

[2020-04-16 09:00] Amitsharma45 commented on #851
@jainaman224  can i work on this issue in python

[2020-04-16 11:05] srimani-programmer commented on #2171
I want to work on this issue in PHP. Please assign it for me @jainaman224

[2020-04-16 13:51] spacemonkey1101 commented on #2762
I can write it in C ,C++, python and java

[2020-04-16 14:04] spacemonkey1101 commented on #2179
I can code it in dart. As this issue is open for over a month, can I work on it?

[2020-04-16 14:10] spacemonkey1101 commented on #2477
I can do this on dart @jainaman224

[2020-04-17 04:14] chandrikadeb7 commented on #1775
Can I contribute to this issue. It has been pending for a long time.

[2020-04-17 04:16] chandrikadeb7 commented on #1638
I would like to work on this issue. It has been pending since long.

[2020-04-17 07:25] Amitsharma45 commented on #1926
@jainaman224  please reply i start work on 2d array rotation in python

[2020-04-17 08:38] shreyakapoor08 commented on #2477
@jainaman224 Can I implement it in C#?

[2020-04-17 08:40] shreyakapoor08 commented on #2249
can I do this in c#

[2020-04-17 08:42] shreyakapoor08 commented on #2158
@jainaman224 Can I do this in c#

[2020-04-17 08:58] anshukcse opened #2765 "Add code for implementing Spiral Array in Python"
@jainaman224 , I want to implement the spiral array algorithm in python. Please assign this issue.

[2020-04-17 09:48] Aju100 commented on #2179
I can code in go. can u please assigned to me

[2020-04-17 10:40] heisastark commented on #2149
I can do this in Dart @jainaman224

[2020-04-17 14:16] richabh456 commented on #1686
please assign me this issue .

[2020-04-17 16:15] chanpreet1999 opened #2767 "Convert Infix To Postfix Java"

[2020-04-17 17:48] Rukmini-Meda commented on #2159
I would like to work on this issue in Dart. Please assign this to me as part of GSSoC'20.

[2020-04-17 20:06] ashishnagpal2498 commented on #2246
Can I work on this issue , language - JS?

[2020-04-17 20:54] pratyushraj7 commented on #2762
I can do this in C++ and Python.

[2020-04-17 21:10] pratyushraj7 commented on #2175
I can do this in Rust. Please assign this issue to me @jainaman224

[2020-04-18 03:57] sukritishah15 commented on #2204
@jainaman224 Kindly assign me this in PHP. One of my PR's got merged yesterday, hence I can take this.

[2020-04-18 10:07] thakran14 commented on #2762
i can do this in c++ and java pls assign

[2020-04-18 10:19] thakran14 commented on #2252
i can do this in php kindly assign it to me

[2020-04-18 12:20] anurajbhandari5 commented on #2762
I can do in java

[2020-04-18 12:24] anurajbhandari5 commented on #2767
can you assign to me?

[2020-04-18 14:40] #2009 closed

[2020-04-18 15:00] goyalmuskan commented on #2163
@jainaman224 May I work on it in PHP?

[2020-04-18 15:01] goyalmuskan commented on #2125
@jainaman224 May I add the readme for this? Or code in PHP?

[2020-04-18 15:29] anshukcse opened #2771 "Implementation of Kadane’s Algorithm to find the Largest Sum Contiguous Subarray"
**@jainaman224 @somya-kapoor @SakshiShreya @singh-shreya6 @asha15 @MastersAbh @raghav-dalmia** I would like to work on this task. Please assign me with this issue for GSSoC.

[2020-04-19 11:43] 97shivank commented on #2131
@jainaman224 can i take this issue for kotlin?

[2020-04-19 14:02] pratu098 commented on #2767
I want to work on this as a part of GSSoC'20

[2020-04-19 17:22] SohelRaja opened #2773 "Implementation of Wave Sort in Python"

[2020-04-19 17:23] SohelRaja commented on #2773
Please assign me for this.

[2020-04-19 21:37] nikkkhil067 commented on #2765
Please assign this issue to me

[2020-04-19 21:39] nikkkhil067 commented on #2771
Please assign this to me. I would like to work on it.

[2020-04-20 04:42] YaminiShrestha31 commented on #2767
Can you assign this to me?

[2020-04-20 05:18] YaminiShrestha31 commented on #1740
please assign this to me

[2020-04-20 07:13] #2073 closed

[2020-04-20 08:21] Manas2520 opened #2774 "Using Euclidean Algorithm to find the GCD of two numbers"

[2020-04-20 08:22] Manas2520 commented on #2774
I would like to work on this in c++.Please assign it to me.

[2020-04-20 11:41] shreyakapoor08 commented on #2555
@somya-kapoor @raghav-dalmia @jainaman224  Can I work on it in C language?

[2020-04-20 12:38] m-code12 commented on #2555
I can implement it in C. Please assign it to me.

[2020-04-20 14:03] Ankit152 opened #2777 "tree traversal in iterative way"
postorder preorder and inorder traversal without using recursion in C++.

[2020-04-20 14:03] Ankit152 commented on #2777
please assign this issue to me.

[2020-04-21 04:08] adi44 commented on #2202
I would like to work in this in typescript

[2020-04-21 04:09] adi44 commented on #2201
I would like to work in go!

[2020-04-21 04:10] adi44 commented on #2249
I would like to work in python and c

[2020-04-21 04:10] adi44 commented on #2252
I can do it in c and typescript

[2020-04-21 04:25] ritish099 commented on #2163
@jainaman224  I want to work on this in C#

[2020-04-21 04:27] ritish099 commented on #2246
@jainaman224  Can i work on C#

[2020-04-21 15:06] Tusharsd123 commented on #1762
@JasleenRandhawa  please assign this to me in cpp.

[2020-04-21 15:08] Tusharsd123 commented on #2175
@jainaman224 I can do this in c++. Please assign it to me.

[2020-04-21 15:11] Tusharsd123 commented on #2481
I want to work in c++ on this. @jainaman224

[2020-04-21 17:45] YaminiShrestha31 commented on #2777
please assign this to me for java

[2020-04-22 03:32] pragyajaiswa05l commented on #2771
@jainaman224  @raghav-dalmia  @asha15 @somya-kapoor  please assign me this issue .would like to do it in c++ as a part of GSSoC 2020.

[2020-04-22 03:35] pragyajaiswa05l commented on #2247
@jainaman224  @raghav-dalmia @asha15  please assign me this issue .would like to contribute in readme file as a part of GSSoC 2020.

[2020-04-22 03:51] pragyajaiswa05l opened #2782 "Stack using array by using template"
@jainaman224 @raghav-dalmia @asha15 please assign me this issue would like to contribute it using template so as to make it generic.
would like to do as a part of GSSoC 2020.

[2020-04-22 04:01] pragyajaiswa05l opened #2783 "Diameter of a Binary Tree in c++"
@jainaman224 @raghav-dalmia @asha15  please assign this to me.

[2020-04-22 06:45] AparnaJuhi opened #2784 "Principal Component Analysis"
Dimensionality Reduction Technique-
The sheer size of data in the modern age is not only a challenge for computer hardware but also a main bottleneck for the performance of many machine learning algorithms. The main goal of a PCA analysis is to identify patterns in data; PCA aims to detect the correlation between variables. If a strong correlation between variables exists, the attempt to reduce th

[2020-04-22 06:46] AparnaJuhi commented on #2784
Please assign this issue to me @jainaman224

[2020-04-22 09:05] shwhite17 commented on #2762
can you please assign this issue to me @rhythm10 I will give my level best

[2020-04-22 20:23] debdutgoswami commented on #2148
Can you assign the Readme Issue to me?

[2020-04-23 05:35] NagaHarshita opened #2787 "Code disjoint sets in C"
@jainaman224 Please assign me coding disjoint sets in C language.

[2020-04-23 05:39] chandrikadeb7 commented on #2481
I want to work on readme.

[2020-04-23 05:40] chandrikadeb7 commented on #2148
I want to work on readme.

[2020-04-23 05:41] chandrikadeb7 commented on #2164
I want to work on readme.

[2020-04-23 06:50] scortier commented on #2783
Hello, can you please assign me this task.

[2020-04-23 07:02] KamalDGRT opened #2788 "Implementation of 1D array programs in Go language."
I would like to contribute by creating the codes for existing 1D array programs in Go language.

**Changes proposed :**
- Add code for frequency of an element
- Max and next max number
- Mean, variance and standard deviation
- Merge two sorted arrays

[2020-04-23 08:14] sakshikhachane commented on #159
Is dijkstra algorithm implemented in java? If not, please assign this to me. I have done it.

[2020-04-23 08:35] sakshikhachane commented on #2151
I would like to work on this issue on php. Please assign me this.

[2020-04-23 08:46] sakshikhachane commented on #2157
I would like to do slepp sort using php. Please assign me this.

[2020-04-23 14:22] AparnaJuhi commented on #2784
Please assign this issue to me @jainaman224  @asha15

[2020-04-23 14:27] AparnaJuhi opened #2790 "Linear Discriminant Analysis"
Linear discriminant analysis (LDA) is used to reduce the number of features to a more manageable number before the process of classification. Each of the new dimensions generated is a linear combination of pixel values, which form a template.

[2020-04-23 14:27] AparnaJuhi commented on #2790
Please assign me this issue @jainaman224  @asha15

[2020-04-24 05:14] disha2sinha commented on #2555
I can implement this in C and dart. Please assign it to me

[2020-04-24 05:19] disha2sinha commented on #2205
I can implement it in Dart. Please assign this to me

[2020-04-24 06:06] ShambhaviTiwari opened #2791 "Doubly Linked Lists in Java"
Implementation of doubly linked lists like insert at start,end and any position ,and delete and start,end and any position.

@jainaman224  @adishjain Please assign me the following issue to help me contribute for GSSOC.

[2020-04-24 06:07] BALaka-18 commented on #2784
I would like to work on this issue too.  @jainaman224

[2020-04-24 06:09] ShambhaviTiwari opened #2792 "Queue using array in Java"
Implementation of queue using array

[2020-04-24 06:11] ShambhaviTiwari opened #2793 "Queue using two stacks"
Queue using two stacks in Java
Please assign me the following issue
@jainaman224 @somya-kapoor @adishjain

[2020-04-24 07:06] Amitsharma45 commented on #1885
@jainaman224 @kmrakash i want start work on readme file.

[2020-04-24 07:31] kmrakash commented on #1885
@Amitsharma45  check PR#1885

[2020-04-24 09:20] #2793 closed

[2020-04-24 09:20] #2791 closed

[2020-04-24 16:41] Souvikns commented on #2792
I would like to work on this, can you assign me this issue @ShambhaviTiwari

[2020-04-24 17:04] Tahanima commented on #2555
Hello @jainaman224
I am a GSSoC'20 participant and I want to implement the Knuth Morris Prat algorithm in Ruby language. So, please assign me this issue for Ruby language

[2020-04-24 19:30] shwhite17 commented on #2792
can you please assign this to me? @ShambhaviTiwari

[2020-04-24 21:38] Nikhita7Chavva opened #2797 "Python code for Factorial"

[2020-04-25 08:18] Tahanima commented on #2175
Hello @jainaman224
I am a GSSoC'20 participant and I want to implement Binary Search in Ruby language. So, please assign me this issue for Ruby language

[2020-04-26 05:18] pragyajaiswa05l opened #2802 "Generic Tree in c++"
please assign me this issue as a part of GSSoC 2020 @jainaman224 @asha15

[2020-04-26 07:00] Amitsharma45 commented on #2773
i would like to work on this issue

[2020-04-26 07:41] bohemian98 commented on #2477
@jainaman224 I would like to do this in JS. Please assign me the issue.

[2020-04-26 07:45] m-code12 commented on #2124
@jainaman224  @singh-shreya6 I have opened a pull request #2759 for the issue assigned to me. Please review .

[2020-04-26 07:52] bohemian98 commented on #2249
@somya-kapoor  @jainaman224 I would like to do this in JS. please assign this to me.

[2020-04-26 07:58] m-code12 commented on #2135
Can I implement it in Javascript , if no one is working on it @singh-shreya6  @jainaman224 @somya-kapoor @asha15

[2020-04-26 08:40] m-code12 commented on #2252
Can I implement it in php ? It has not been done yet @jainaman224 @singh-shreya6

[2020-04-26 13:52] JasleenRandhawa commented on #2552
@jainaman224 Could you assign this issue to me in Java for GSSoC?

[2020-04-26 13:54] JasleenRandhawa commented on #2479
Please assign this issue to me in Java @jainaman224

[2020-04-26 13:58] saloniankita commented on #2156
Kindly review my PR #2772 @jainaman224 @asha15

[2020-04-26 18:39] #2762 closed

[2020-04-26 18:39] #2765 closed

[2020-04-26 18:39] #2767 closed

[2020-04-26 18:39] #2771 closed

[2020-04-26 18:39] #2773 closed

[2020-04-26 18:39] #2774 closed

[2020-04-26 18:39] #2777 closed

[2020-04-26 18:39] #2782 closed

[2020-04-26 18:39] #2783 closed

[2020-04-26 18:39] #2784 closed

[2020-04-26 18:39] #2787 closed

[2020-04-26 18:39] #2788 closed

[2020-04-26 18:39] #2790 closed

[2020-04-26 18:39] #2792 closed

[2020-04-26 18:39] #2797 closed

[2020-04-26 18:39] #2802 closed

[2020-04-26 18:59] saloniankita commented on #2148
Kindly check and review PR #2805 @jainaman224.

[2020-04-26 19:23] jainaman224 commented on #2158
@simrann20 I think we don't have any issue in C++ right now.

[2020-04-26 19:29] jainaman224 commented on #2125
@goyalmuskan Open different PR for both in order to get marks for both of them

[2020-04-26 20:58] simrann20 commented on #2158
Oh Okayy, @jainaman224 please let me know if you create a new issue or come across any unresolved one in C++, would love to solve it!

[2020-04-26 21:34] debdutgoswami commented on #2253
I would like to work on Readme. Can you assign it to me?

[2020-04-27 06:14] aaliyah03 commented on #1657
I would like to work on this issue using Java. Kindly assign it to me

[2020-04-27 06:18] aaliyah03 opened #2810 "Johnson's Algorithm in Java & Python"
I would like to implement this algorithm in Java & Python. Kindly assign this to me,

[2020-04-27 06:28] aaliyah03 opened #2811 "Add Readme for Lucas Number"

[2020-04-27 10:48] m-code12 commented on #2172
I have created a PR #2818 for DFS in Go . Please review my PR and merge @jainaman224  @singh-shreya6 @somya-kapoor @asha15 @raghav-dalmia

[2020-04-27 13:57] AJAYSHARMA2012 commented on #2173
I have added all the requested changes for my PR, https://github.com/jainaman224/Algo_Ds_Notes/pull/2447
Please review it @jainaman224 so that I can work on more issues. It's a long time since it's not reviewed.

[2020-04-27 14:37] shivang2k commented on #2174
Hey! I would love to contribute to this algorithm in Dart please assign it to me.

[2020-04-27 15:50] Shr03mink commented on #2147
I have created a PR for implementation in Go. My PR reference no is #2819  . Please review and merge. Thank you!

[2020-04-27 17:21] pratu098 commented on #2552
I want to work on this issue in java as a part of GSScC

[2020-04-28 06:11] m-code12 commented on #2124
I can implement this in Go .Please assign it to me @jainaman224 @singh-shreya6 @somya-kapoor

[2020-04-28 06:31] m-code12 commented on #675
It has not been implemented in C yet .If no one is doing it , please can you assign me @jainaman224

[2020-04-28 06:45] m-code12 commented on #564
Is this resolved .If no one is working on it , please assign it to me @jainaman224

[2020-04-28 08:40] Amitsharma45 commented on #2810
i would like to implement this algorithm in python

[2020-04-28 09:02] vyom153069 commented on #2810
i would like to implement this algo in java

[2020-04-28 10:13] simrann20 commented on #2480
@jainaman224 @somya-kapoor  can I work on the readme for this issue?

[2020-04-28 10:17] vyom153069 opened #2823 "Happy number in java"
i want to work on this , please assign me this issue

[2020-04-28 10:19] vyom153069 opened #2824 "Sudoku checker"
i want to work on this , please assign me this issue

[2020-04-28 12:02] thakran14 opened #2825 "Implement Bresenham line drawing algorithm in C++"
I wish to work on this issue. Kindly assign it to me

[2020-04-28 12:05] thakran14 commented on #2478
I want to work on it in php kindly assign it to me

[2020-04-29 05:13] ritish099 commented on #2163
@jainaman224  Can you assign this to me in C# as my 2nd issue ?

[2020-04-29 09:50] csunidhi13 commented on #2825
I would like to work on this issue. Please assign it to me if possible!

[2020-04-29 10:29] NoobSolver opened #2830 "Adding one additional Example in armstrong numbers"
I think it is necessary to add more example in armstrong number readme.md file.Please assign this issue to me.

[2020-04-29 10:34] NoobSolver commented on #2823
I want to work on this isssue because I had a better idea of this issue with better time complexity.

[2020-04-29 11:46] 97shivank commented on #2202
I want to implement it in php anyone assign me @jainaman224

[2020-04-29 14:59] AJAYSHARMA2012 commented on #2173
I have removed my assignment by mistake and don't know how to undo it. Please help if possible.

[2020-04-29 16:03] Ankit152 commented on #2550
@jainaman224 please assign this issue to me for c++.

[2020-04-29 16:05] Ankit152 commented on #2179
@jainaman224 assign this issue to me for c++

[2020-04-30 02:55] Rukmini-Meda commented on #675
@jainaman224 Please assign me this issue to implement in Dart as part of GSSoC'20.

[2020-04-30 02:57] Rukmini-Meda commented on #2246
@jainaman224 Please assign me this issue to implement in Dart as part of GSSoC'20. I have commented on this earlier as well.

[2020-04-30 16:04] anirudh-kac commented on #2253
I would like to work on JS version.
Please assign if still open

[2020-04-30 16:09] anirudh-kac opened #2837 "Algorithm for generating magic square"
An algorithm to generate magic square (a n x n matrix) for any given value of n

[2020-04-30 22:42] 264pranjal commented on #1535
Hello, I would like to work on this issue. Please assign this issue to me for Gssoc20

[2020-04-30 23:08] 264pranjal commented on #2837
@anirudh-kac @jainaman224  can I work on this issue in python language. Will it be considered a valid contribution under Gssoc20

[2020-05-01 02:43] anirudh-kac commented on #2837
@264pranjal , I myself raised this issue so that it would be assigned to me and I can work on it. This is how we're supposed to contribute under GSSOC. But since I was planning to implement it in C++ , you can also work on implementing the same in python if @jainaman224  assigns us both . Let's see if that can work

[2020-05-01 04:15] pranesh6876 commented on #2552
Hello @jainaman224 , I would like to solve this issue in C++. Please assign this to me.

[2020-05-01 04:25] pranesh6876 commented on #2550
Hello @jainaman224 , I would like to work on this issue in C++. Please assign me this issue to solve.

[2020-05-01 04:27] pranesh6876 commented on #2551
Hello @jainaman224 , I would like to solve this issue in C++. please assign this to me in C++.

[2020-05-01 04:32] pranesh6876 commented on #2152
Hello, I would like to work on this issue in C++. @jainaman224 , @asha15 , @singh-shreya6 Please assign me this issue to solve in C++.

[2020-05-01 04:38] pranesh6876 commented on #2120
Hello, I would like to work on this issue in C++. @ayushin78 , @jainaman224 , Please assign this me to solve this issue.

[2020-05-01 04:41] pranesh6876 commented on #2175
Hello @ayushin78 , @jainaman224 . I would like to work on this issue in C++. please assign me this issue to solve in C++.

[2020-05-01 06:25] sandhyabhan commented on #2112
please assign this to me in kotlin.

[2020-05-01 06:31] sandhyabhan commented on #2253
I want to work in kotlin. Please assign.

[2020-05-01 08:37] pranesh6876 commented on #2811
Is it a valid contribution for GSSoc20.

[2020-05-01 09:32] #1644 closed

[2020-05-01 09:53] dishak331 opened #2840 "issue"
please assign me this in python @jainaman224

[2020-05-01 09:56] dishak331 commented on #2120
i would like to work on this issue in python @jainaman224 . Please assign this to me.

[2020-05-01 09:58] dishak331 commented on #2143
I would like to implement this in Python. Please assign this issue to me @jainaman224

[2020-05-01 10:00] dishak331 commented on #1940
I would like to contribute in Python. Please assign it to me

[2020-05-01 11:19] #1652 closed

[2020-05-01 12:57] 264pranjal opened #2842 "Palindromic_string_implementation in python"
@jainaman224  Sir This code is not available in python can I work on this issue in python.

[2020-05-01 13:11] #2810 closed

[2020-05-01 13:11] #2811 closed

[2020-05-01 13:11] #2823 closed

[2020-05-01 13:11] #2824 closed

[2020-05-01 13:11] #2825 closed

[2020-05-01 13:11] #2830 closed

[2020-05-01 13:11] #2837 closed

[2020-05-01 13:11] #2840 closed

[2020-05-01 13:11] #2842 closed

[2020-05-01 13:53] 264pranjal commented on #2253
I would like to write the code in python. @jainaman224 please assign it to me.

[2020-05-01 13:56] 264pranjal commented on #2249
I want to work on the readme. @jainaman224 sir please assign it to me.

[2020-05-01 13:58] thakran14 commented on #2177
I wish to work on it in php kindly assign it to me

[2020-05-01 13:59] thakran14 commented on #2480
i can do this in php please assign it to me

[2020-05-01 14:41] anirudh-kac commented on #2837
Why is this issue closed ? @jainaman224

[2020-05-01 15:09] Anushka-Rajvanshi commented on #1827
I can work on this issue in Java, C or C++. Please assign this to me. I don't have any open issues currently. @jainaman224 @singh-shreya6

[2020-05-01 15:19] kmrakash commented on #2131
let me work on using TypeScript . @jainaman224

[2020-05-01 15:40] coderprasukj commented on #2253
@jainaman224 I would like to work for this issue in JS. Please assign it to me.

[2020-05-01 16:10] shivanidalmia1203 commented on #2118
I would like to work on it in python. Please assign me this issue @jainaman224

[2020-05-01 16:15] shivanidalmia1203 commented on #2552
I would like to work on this issue in TypeScript. Please assign it to me @jainaman224

[2020-05-01 16:17] shivanidalmia1203 commented on #2478
I would like to work on this issue in TypeScript. Please assign it to me @jainaman224

[2020-05-01 17:07] HariniJeyaraman commented on #1992
@jainaman224 I can implement in C,C++ and Python. Please assign me this issue

[2020-05-01 17:08] HariniJeyaraman commented on #1940
@jainaman224 can implement in C,C++,Java and Python. Please assign me this issue

[2020-05-01 17:09] HariniJeyaraman commented on #1890
@Vaibhavraj10 @jainaman224 I can implement in C,C++ and Python. Please assign me this issue

[2020-05-01 17:11] HariniJeyaraman commented on #1591
@jainaman224 @raghav-dalmia If this issue is still open , please assign it to me. Will implement in C or C++ or Java

[2020-05-01 18:45] sandhyabhan commented on #2145
I want to work on this kotlin.pls assign.

[2020-05-01 18:48] sandhyabhan commented on #2152
I want to work on this in kotlin. pls assign.

[2020-05-01 18:51] sandhyabhan commented on #2135
I want to work on this Kotlin.pls assign.

[2020-05-01 18:53] sandhyabhan commented on #2151
I want to work on this in kotlin.pls assign

[2020-05-02 11:37] 97shivank commented on #1650
if this issue is still open can i take it ? @singh-shreya6  @jainaman224

[2020-05-02 12:27] thakran14 commented on #2206
I wish to do this in JS. Kindly assign

[2020-05-02 13:38] pragyajaiswa05l opened #2845 "Anagram README file"
@jainaman224  @asha15  please assign this issue to me as the readme.md file of it is not present.

[2020-05-02 13:50] pragyajaiswa05l opened #2846 "Fibonacci implementation using DP in c++"
@jainaman224  @asha15  kindly assign this issue to me.

[2020-05-02 15:40] #2021 closed

[2020-05-02 15:44] #2019 closed

[2020-05-02 16:00] asha15 commented on #2173
@AJAYSHARMA2012  can you give some more clarification about the problem you face ?

[2020-05-02 18:57] AJAYSHARMA2012 commented on #2173
Actually, I have made a pull request for an issue assigned to me but before it is merged, I have removed my assignment on the github issue by mistake and don't know how to undo it. Also please review and merge my PR( https://github.com/jainaman224/Algo_Ds_Notes/pull/2447 ) @asha15. It has been pending since many days.

[2020-05-02 18:58] coderprasukj opened #2849 "Travelling Salesman Problem"
@jainaman224 @asha15 @somya-kapoor I would like to work on this issue problem in C, Javascript and PHP. Kindly have a look at it and assign me with this issue.

[2020-05-02 21:23] shwetagurnani commented on #2246
@jainaman224 Please assign me readme for this issue.

[2020-05-02 21:25] shwetagurnani commented on #2253
@jainaman224 Please assign me readme for this issue.

[2020-05-03 02:55] KamalDGRT commented on #2162
@jainaman224 Please assign me this issue for Go Language. I even completed the coding part.

[2020-05-03 02:57] KamalDGRT commented on #2478
I would like to work on this issue in Go Language. Please assign it to me @jainaman224

[2020-05-03 03:15] KamalDGRT commented on #2151
I would like to work on this in Go Language. Please assign me this issue @jainaman224 @asha15

[2020-05-03 03:20] KamalDGRT commented on #2125
@jainaman224 I would like to work on this issue in Go Language.

[2020-05-03 03:35] JyotiJauhari commented on #2849
@jainaman224 @asha15 @somya-kapoor Please Assign me this issue. I can write algorithm for it and  code in C++.

[2020-05-03 03:46] samyak06 opened #2851 "Bubble_Sort.cpp not working due to small error"

[2020-05-03 03:47] JyotiJauhari commented on #2849
@jainaman224 @asha15 @somya-kapoor
Please assign me this issue . I had studied this algorithm which is use to find the shortest path to cover all the nodes of a graph.
I can write brief intro about the Algo  and can  implement it in C++.

[2020-05-03 03:47] samyak06 commented on #2851
Please assign me to remove the error. I have already pulled down the request for the same.
Thank You

[2020-05-03 08:54] RiaJha02 commented on #564
I would like to implement this problem in java and c++, please assign this task to me
Thank you!

[2020-05-03 08:56] RiaJha02 commented on #1591
Can I implement this problem, if not done yet?

[2020-05-03 08:58] RiaJha02 commented on #1884
If the issue is still open, I would like to try this.

[2020-05-03 09:13] HardevKhandhar commented on #2478
Dear Sir @jainaman224
Please assign this issue to me in C# for GSSoC 2020
I would like to work in C# for Z algorithm

[2020-05-03 09:18] HardevKhandhar commented on #2129
Dear Sir @jainaman224
Please assign this issue to me in RUBY for GSSoC 2020
I would like to work in Ruby for this issue.

[2020-05-03 12:29] m-code12 commented on #2143
Please assign it to me to implement in Rust @jainaman224 @singh-shreya6 @somya-kapoor @asha15 @raghav-dalmia

[2020-05-03 12:51] m-code12 commented on #2136
I can implement this in typescript .Please assign it to me @jainaman224 @singh-shreya6 @somya-kapoor @asha15 @raghav-dalmia

[2020-05-03 14:33] sejalshri commented on #2151
For implementation in JS , kindly assign it to me. @jainaman224

[2020-05-04 09:55] nikkkhil067 commented on #2851
Please assign this to me. I can resolve the error in the code.

[2020-05-04 09:55] nikkkhil067 commented on #2846
Please assign this to me.

[2020-05-04 10:04] nikkkhil067 commented on #2252
Please assign this to me. I would write the algorithm in C.

[2020-05-04 19:31] #984 closed

[2020-05-05 10:36] aaliyah03 commented on #2249
Since @chaithanyarlk has removed the assignment, can I take it up and implement it in Java? And if not, I'd like to work on it in Kotlin

[2020-05-05 10:37] aaliyah03 commented on #2553
I would like to implement this in TypeScript. Please assign this to me

[2020-05-06 04:58] aftex261 opened #2866 "Added remove_duplicate.c"
I have added the solution of the Removing duplicate characters from an array in C

[2020-05-06 05:12] aftex261 commented on #2866
Please assign me this issue

[2020-05-06 05:56] anshuman1510 opened #2868 "GCD problem in C"
I want to add GCD algorithm using recursion in C language.

[2020-05-06 06:00] anshuman1510 commented on #2868
Please assign me this if not implemented yet.

[2020-05-06 08:24] brainaxe123 commented on #1770
Hello, I would like to work on KNN from scratch. Could I be assigned to this?

[2020-05-06 09:44] JyotiJauhari commented on #2249
@somya-kapoor  ma'am
Willing to participate in gssoc 2020 by contributing in this issue.
through
Python language.
Please assign me this issue.

[2020-05-06 10:27] AmitKarnam opened #2870 "Hey, I wanted to add Linked list implementation,insertion code.Along with codes for deletion of node in a linked list, Could also add code for implementation of doubly-linked-list."

[2020-05-06 10:30] singh-shreya6 commented on #2164
Does the readme for this also have medium difficulty @jainaman224 ?

[2020-05-06 10:43] #2870 closed

[2020-05-06 11:49] Tahanima commented on #2161
Hello @jainaman224 @singh-shreya6
I am a GSSoC'20 participant and I want to implement the Rabin Karp algorithm in Ruby language. So, please assign me this issue for Ruby language

[2020-05-06 15:24] akshaysingh5 commented on #2846
I would like to work on this issue. Please assign it to me.

[2020-05-06 15:26] akshaysingh5 commented on #2851
I want to work on this issue.

[2020-05-06 19:45] j-shreya opened #2872 "Implementation of Generic tree in Java"
pls assign this issue to me.

[2020-05-06 19:47] j-shreya opened #2873 "Zigzag level order traversal of Generic Tree in Java"
pls assign this to me.

[2020-05-06 20:38] bohemian98 commented on #2206
@jainaman224 @somya-kapoor @asha15   I would like to do it in JS. Please assign it to me.

[2020-05-06 20:46] bohemian98 commented on #2163
@jainaman224 Please assign me this issue in JavaScript.

[2020-05-07 03:42] mruna7 commented on #2174
hey !!  I would love  contribute to this algorithm in php.Please assign it to me.

[2020-05-07 16:55] pragyajaiswa05l commented on #2253
@jainaman224  @asha15  kindly assign me the README file for this issue.

[2020-05-08 09:32] JyotiJauhari commented on #2249
@jainaman224 please assign me this issue I will work on it in python, if not available in python then #c or php.

[2020-05-08 09:38] JyotiJauhari commented on #2249
@somya-kapoor I had read the reason why previous pull request for intro.py is closed.
I will work on it and don't repeat the mistake which was done by nehasangeetajha. Please assign this issue to me. I will do it in python.

[2020-05-08 15:00] vanya-24 commented on #2868
Please assign me this issue!

[2020-05-08 15:02] vanya-24 commented on #2868
Please assign me this issue! I can do it using euler's theorem and in many more ways!

[2020-05-08 15:03] vanya-24 commented on #2154
Please assign me this issue , I can code in c, c++.

[2020-05-08 15:04] vanya-24 commented on #2154
Please assign me this issue, i can code in c, c++ and python.

[2020-05-08 15:05] vanya-24 commented on #2136
I can implement in python. Please assign it to me.

[2020-05-08 15:07] vanya-24 commented on #1769
I want to work on this issue. Please assign it to me mentors.

[2020-05-08 15:10] shubha028 commented on #2873
please assign this issue to me for gssoc -2020. I can do it.

[2020-05-08 15:15] shubha028 commented on #2249
@jainaman224 pls assign this issue to me .I can do it in java and  python.

[2020-05-08 15:27] shubha028 commented on #2868
@jainaman224 pls assign this issue to me .I can do it different ways and recursion too in c .

[2020-05-08 15:32] shubha028 commented on #2872
pls assign this issue to me.I can do it.

[2020-05-08 15:33] shubha028 commented on #2846
@jainaman224 kindly assign this issue to me .

[2020-05-08 15:43] mharshita commented on #1769
Please assign this to me. I would like to work on this for GSSoC'20.
@jainaman224  @singh-shreya6  @asha15  @somya-kapoor  @raghav-dalmia

[2020-05-08 16:11] vanya-24 commented on #2478
I would like to work on this issue in Dart. Please assign me this issue @jainaman224

[2020-05-08 16:14] vanya-24 commented on #2249
Please assign me this issue. I can do it in python and dart. @jainaman224

[2020-05-08 19:08] #1768 closed

[2020-05-08 19:08] santushtisharma10 commented on #2158
@jainaman224 @somya-kapoor please assign me this issue in c#

[2020-05-08 21:21] AJAYSHARMA2012 commented on #2177
I have added all the requested changes. Please review my PR #2448 , it has been a month since then @asha15 @jainaman224.

[2020-05-08 21:22] AJAYSHARMA2012 commented on #2173
I have added all the requested changes. Please review my PR #2447 , it has been a month since then @asha15 @jainaman224.

[2020-05-09 06:30] Tanmayi03 commented on #2851
Please assign me this issue

[2020-05-09 08:19] Amitsharma45 commented on #1628
i want work on 2D Array in python .
please assign this issue to me.

[2020-05-09 11:21] shubha028 commented on #1926
@jainaman224 please assign this issue to me I will do it in java

[2020-05-09 11:45] bohemian98 commented on #2163
@jainaman224 @somya-kapoor  as @gauravburjwal removed his assignment for doing it in JS, can I do it in JS?

[2020-05-09 16:04] mharshita commented on #2162
Please assign me the readme for this.
@jainaman224  @somya-kapoor

[2020-05-09 16:55] santushtisharma10 commented on #2246
@somya-kapoor @jainaman224 please assign me the readme of this issue

[2020-05-10 05:59] #2845 closed

[2020-05-10 05:59] #2846 closed

[2020-05-10 05:59] #2849 closed

[2020-05-10 05:59] #2851 closed

[2020-05-10 05:59] #2866 closed

[2020-05-10 05:59] #2868 closed

[2020-05-10 05:59] #2872 closed

[2020-05-10 05:59] #2873 closed

[2020-05-10 06:05] jainaman224 commented on #2164
@singh-shreya6 Yes.

[2020-05-10 06:30] m-code12 commented on #2143
@jainaman224 Please assign it to me.

[2020-05-10 06:31] m-code12 commented on #2124
please assign @jainaman224

[2020-05-10 06:45] priyanka2109 commented on #1871
please assign me this @singh-shreya6  ma'am

[2020-05-10 08:08] coderprasukj commented on #2251
@jainaman224 I would like to work on this issue in C++. I have already did this issue in JS. Please Kindly assign it to me.

[2020-05-10 10:20] dishak331 commented on #2179
I can implement this on Python. @jainaman224 please assign this to me.

[2020-05-10 10:38] #1628 closed

[2020-05-10 10:48] #865 closed

[2020-05-10 11:11] singh-shreya6 commented on #1628
@raksha009 The initial issue created was for Addition, Subtraction , Multiplication and Transpose. All those PRs have been merged already. The remaining matrix operations don't fall under this issue. Please start taking up other issues also as opened by @jainaman224. I believe the other PRs will have to be closed now.

[2020-05-10 13:05] Rukmini-Meda commented on #2173
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-10 13:06] Rukmini-Meda commented on #2163
@jainaman224 I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-10 13:06] Rukmini-Meda commented on #2112
@jainaman224 I would like to work on this in Dart. Please assign this to me as part of GSSoC'20.

[2020-05-10 13:30] NoobSolver commented on #2479
Please assign this issue in C++ to me  @jainaman224 .I can do much better .

[2020-05-10 13:31] chandrikadeb7 commented on #2112
@jainaman224 I want to work on PHP.

[2020-05-10 13:36] NoobSolver commented on #2204
@jainaman224  I would like to work on this in C++.

[2020-05-10 14:57] sukritishah15 commented on #2480
@jainaman224 Kindly assign this to me in PHP. One of my PR's have been merged and hence I can easily take up this one. Thank you!

[2020-05-10 16:06] chandrikadeb7 commented on #1698
I want to work on this please @jainaman224

[2020-05-10 16:45] jainaman224 commented on #2124
@m-code12 Already assigned to you

[2020-05-10 16:51] m-code12 commented on #2124
Okay . Will work on it.

[2020-05-10 16:59] jainaman224 commented on #2163
@Rukmini-Meda language?

[2020-05-10 17:03] Rukmini-Meda commented on #2163
@jainaman224  Dart

[2020-05-10 17:55] chandrikadeb7 commented on #2051
If this is not resolved yet I want to work on this @jainaman224

[2020-05-10 23:12] simrann20 commented on #2480
@jainaman224 @somya-kapoor  completed my assigned task. Please review it.

[2020-05-11 05:17] ritish099 commented on #2206
Sir @jainaman224 , Currently having only one open issue (Red Black Tree in C#). Can i take this issue in kotlin as my second issue ?

[2020-05-11 06:26] JasbirCodeSpace commented on #2158
@jainaman224 @somya-kapoor assign me this issue in PHP

[2020-05-11 06:30] JasbirCodeSpace commented on #1872
@jainaman224  @SakshiShreya  assign me this issue in JAVA

[2020-05-11 06:41] JasbirCodeSpace commented on #2248
@jainaman224  @somya-kapoor @SakshiShreya  assign me this issue in PHP

[2020-05-11 07:05] kichloo commented on #2248
@jainaman224 I have no issues left. Pl assign it in Ruby, Rust, CoffeeScript.

[2020-05-11 07:45] thakran14 commented on #2136
please assign this to me in php

[2020-05-11 14:09] raksha009 commented on #2247
@jainaman224 plz assign me this issue for typescript language. I would like to work on it as Gssoc'20 participant. Thanks

[2020-05-11 14:15] raksha009 commented on #2175
@jainaman224 plz assign me this issue in rust lang.

[2020-05-11 14:17] raksha009 commented on #2154
@jainaman224 plz assign me this issue in rust. Thanks

[2020-05-11 14:21] chandrikadeb7 commented on #2200
@jainaman224 I would like to implement in C#

[2020-05-11 17:59] jainaman224 opened #2905 "Euclidean Algorithm"
- [x] C - @simrann20
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Clojure
- [ ] Dart - @disha2sinha
- [ ] Go
- [x] Java
- [x] JS - @Satyam3976
- [x] Kotlin
- [x] Php
- [x] Python
- [x] Readme
- [x] Ruby - @Tahanima
- [ ] Rust - @mightomi
- [x] Scala
- [ ] TypeScript - @shivamgupta57121

[2020-05-11 18:02] jainaman224 opened #2906 "Extended Euclidean Algorithm"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [ ] Dart - @Jitmanew-Tyagi
- [ ] Go
- [x] Java - @lakshyajit165
- [x] JS - @Satyam3976
- [ ] Kotlin - @Manish-cloud
- [x] Php - @utkarshanehe
- [x] Python
- [ ] Readme - @Amitsharma45
- [x] Ruby - @atarax665
- [ ] Rust
- [x] TypeScript - @shivanidalmia1203

[2020-05-11 18:55] simrann20 commented on #2905
@jainaman224  @somya-kapoor  can you assign me this in C ?

[2020-05-11 19:07] mharshita commented on #2906
@jainaman224  please assign me this issue for C language.

[2020-05-11 19:16] mharshita commented on #2129
@jainaman224  I would like to work on this issue in PHP. Please assign this to me.

[2020-05-11 20:37] shwetagurnani commented on #2905
Please assign it t me in C?

[2020-05-11 20:37] shwetagurnani commented on #2906
Please assign me this issue in C language

[2020-05-12 06:11] AmitKarnam opened #2908 "Implementation of doubly Linked list"
Hey,Would like to add code for implementation of doubly linked list in C.

[2020-05-12 06:12] AmitKarnam commented on #2908
@jainaman224  Would like to add implementation of doubly linked list in C programming language.

[2020-05-12 10:32] Satyam3976 commented on #2905
Please assign it to me in JS

[2020-05-12 10:33] Satyam3976 commented on #2906
Please assign it to me in JS

[2020-05-12 12:40] simrann20 commented on #2905
@jainaman224 @asha15 @singh-shreya6  Completed my assigned task. Please review my PR

[2020-05-12 13:10] vyom153069 commented on #2479
i would like to to work on this issue in TypeScript , please assign it to me .

[2020-05-12 13:14] vyom153069 commented on #2908
@jainaman224 i would like to work on this issue in java

[2020-05-12 13:32] vyom153069 commented on #2905
i would like to work on this issue in C language , please ,please assign to me

[2020-05-12 14:34] Tahanima commented on #2905
Hello @jainaman224 @singh-shreya6
I am a GSSoC'20 participant and I want to implement the Euclidean Algorithm algorithm in Ruby language. So, please assign me this issue for Ruby language

[2020-05-12 15:15] JasbirCodeSpace commented on #2246
@jainaman224 @SakshiShreya Please assign me this issue to implement in Python as part of GSSoC'20.

[2020-05-12 15:20] JasbirCodeSpace commented on #2173
@jainaman224 @asha15  Please assign me this issue to implement in Kotlin as part of GSSoC'20.

[2020-05-12 15:22] JasbirCodeSpace commented on #2164
@jainaman224 Please assign me this issue to implement in PHP as part of GSSoC'20.

[2020-05-12 15:54] mharshita commented on #2906
@jainaman224  I have been assigned this issue #2906 in C language but the code for extended euclidean algorithm is already present in C.
![image](https://user-images.githubusercontent.com/60281688/81713572-af472480-9493-11ea-9956-d81ab1574b15.png)

[2020-05-13 05:29] thakran14 commented on #2136
@jainaman224 a php file is already present. Am I supposed to create and add another?

[2020-05-13 11:30] m-code12 commented on #2143
@jainaman224 @singh-shreya6 Please review my pr #2899

[2020-05-13 14:22] BhardwajShweta25 commented on #2206
I would like to do it in Go.

[2020-05-13 21:09] raksha009 commented on #2179
Hii, plz assign me this issue in rust @jainaman224 @somya-kapoor

[2020-05-13 21:23] raksha009 commented on #2555
@jainaman224 plz assign me readme file for this algo. Thanks

[2020-05-13 21:28] naresh2002 commented on #2908
Hello, if you would like the code to be in **C** or **C++** then please assign me this.
I am new to Github so if you think this is where I can begin to learn more about github then you can assign it to me or if you think this is the task  for some pros then you can assign it to anyone else.
But if you assign it to me, I would be so grateful to you.

[2020-05-14 04:06] atarax665 commented on #2906
@jainaman224  Assign me in Ruby

[2020-05-14 05:17] disha2sinha commented on #2905
I want to work on this in dart and JS both . please assign me.

[2020-05-14 05:24] disha2sinha commented on #2177
I would like to implement this in dart. Please assign me.

[2020-05-14 07:28] vedangi163 opened #2922 "Print the prime factors of a number in cpp"
The program will print the prime factors of a number in cpp.

[2020-05-14 07:53] utkarshanehe opened #2923 "Postfix expression evaluation in Cpp"
Evaluate the entered postfix expression and printing the result using Cpp.

[2020-05-14 15:32] naresh2002 commented on #2923
I had done this program so if you wish you can assign it to me.

[2020-05-14 18:47] shwhite17 commented on #2922
@vedangi163  assign it to me?

[2020-05-15 07:39] mharshita commented on #2205
@jainaman224  @somya-kapoor  Please assign me this issue in php.

[2020-05-15 07:41] mharshita commented on #2477
@jainaman224  @somya-kapoor  Please assign me this issue in php

[2020-05-15 09:27] utkarshanehe commented on #2923
I am done with this program. It would be really great to contribute it. So please assign this issue to me.

[2020-05-15 15:33] vedangi163 commented on #2922
I am done with this program. It would be really great to contribute it. So
please assign this issue to me.

On Fri, 15 May, 2020, 12:17 AM Shweta Singh, <notifications@github.com>
wrote:

[2020-05-15 17:19] shwhite17 commented on #2922
@vedangi163 are u not admin ?  But issue is opened by you.🤔

[2020-05-15 21:07] shwetagurnani commented on #2906
@jainaman224 Please assign it to me in JS. My one PR is merged today

[2020-05-16 04:44] Rukmini-Meda commented on #2163
@asha15 @jainaman224 Please reopen this issue. I have been assigned this issue to implement in Dart.

[2020-05-16 06:34] Amitsharma45 commented on #2555
@jainaman224  please assign README.md file to me

[2020-05-17 06:49] #2908 closed

[2020-05-17 06:49] #2922 closed

[2020-05-17 06:49] #2923 closed

[2020-05-17 06:50] AmitKarnam commented on #2908
Hey @jainaman224  can u please provide the reason for closing the issue

[2020-05-17 06:54] jainaman224 commented on #2906
@mharshita Thanks and apologies for misunderstanding

[2020-05-17 07:06] jainaman224 commented on #2136
No, Thanks for informing. It would be great if you can work on different issue.

[2020-05-17 07:58] Amitsharma45 commented on #2906
please assign readme.md file to me

[2020-05-17 07:59] Amitsharma45 commented on #2906
@jainaman224 @singh-shreya6  please assign README.md file to me

[2020-05-17 10:51] codermuskanj commented on #2161
@jainaman224  I have Implemented in Python and it is merged.

[2020-05-18 10:42] naresh2002 commented on #1759
Hey if you can give me a little hint that what should be the output format then I would like to work on this issue.

[2020-05-18 10:45] naresh2002 commented on #2906
Please assign it to me. I would like to work in **C++**

[2020-05-18 12:38] coderprasukj commented on #2161
@jainaman224 I would like to work on this issue in PHP. Kindly assign this to me.

[2020-05-18 12:51] deprov447 commented on #2906
I would like to get assigned on README.md file. Please assign it to me.

[2020-05-18 14:11] Manish-cloud commented on #2906
@jainaman224 @singh-shreya6 I would like to provide implementation in java and kotlin.

[2020-05-18 16:18] shwhite17 commented on #2178
@jainaman224 assign this to me for dart or rust language,
 please?

[2020-05-18 17:02] NoobSolver commented on #2179
Hi,Please assign this issue to me in C++ @jainaman224 @somya-kapoor .

[2020-05-19 06:06] HardevKhandhar commented on #2156
Dear Sir @jainaman224
Please assign this issue to me in RUBY for GSSoC 2020
I would like to contribute in ruby language. Thank you

[2020-05-19 06:08] HardevKhandhar commented on #2146
Dear Sir @jainaman224
Please assign this issue to me in RUBY for GSSoC 2020
I would like to contribute to this issue in the ruby language. Thank you

[2020-05-19 06:11] utkarshanehe commented on #2906
@jainaman224 @singh-shreya6 I would like to contribute the implementation for this issue in Java. Please assign me this issue.

[2020-05-19 07:10] ritish099 commented on #2246
@jainaman224 can i take the issue in Kotlin as my 1st issue. I have no open issues now

[2020-05-19 07:12] ritish099 commented on #2173
@jainaman224 Can i take this issue in C# as my 2nd issue

[2020-05-19 14:35] Shr03mink commented on #2175
Please review my PR #2941 for implementation of Binary Search in Typescript @jainaman224  @singh-shreya6

[2020-05-19 17:05] Jitmanew-Tyagi commented on #2906
assign me dart

[2020-05-19 19:16] m-code12 commented on #2906
i can implement it in Java . Please assign it to me @jainaman224 @singh-shreya6

[2020-05-19 19:19] m-code12 commented on #2172
I can implement it in Kotlin. Please assign it to me @jainaman224

[2020-05-19 19:33] m-code12 commented on #2152
I can implement this in Go and Rust . Please assign it to me @jainaman224

[2020-05-19 19:37] m-code12 commented on #2149
I can do this in go or php. Please assign it to me @jainaman224 @singh-shreya6

[2020-05-19 19:41] m-code12 commented on #2146
Please assign me in Go @jainaman224

[2020-05-19 20:10] raksha009 commented on #2125
Plz assign me binary insertion sort in dart @jainaman224

[2020-05-20 03:23] #1885 closed

[2020-05-20 04:49] shivanidalmia1203 commented on #2906
Please assign me this issue in TypeScript @jainaman224 .

[2020-05-20 04:50] shivanidalmia1203 commented on #2248
Please assign this issue to me in TypeScript @jainaman224

[2020-05-20 04:53] shivanidalmia1203 commented on #2178
Please assign it to me in TypeScript @jainaman224

[2020-05-20 04:55] shivanidalmia1203 commented on #2253
Please assign it to me in TypeScript @jainaman224

[2020-05-20 10:30] shwhite17 commented on #2147
@jainaman224 assigns me to code in rust.

[2020-05-20 11:05] atarax665 commented on #2481
I would like to work on this issue in ruby. @jainaman224

[2020-05-20 11:46] adad20 commented on #2481
@jainaman224 I would like to take this in typeScript.

[2020-05-20 11:48] adad20 commented on #2906
@jainaman224 I can take this in PHP and typeScript.

[2020-05-20 12:02] Shreya-Gupta02 commented on #1835
please assign me this issue in CPP

[2020-05-20 12:29] vanya-24 commented on #2478
Sorry this was a mistake, I'm doing my work on z algorithm in dart, please do not unassign from me @jainaman224

[2020-05-20 12:46] shivanidalmia1203 commented on #2478
Please assign this issue to me in typescript @jainaman224

[2020-05-20 14:04] lakshyajit165 commented on #2906
@asha15 please assign it to me for Java.

[2020-05-21 09:34] garvit170 commented on #1940
i can implement this issue in C++ pls assign this to me

[2020-05-21 11:07] raksha009 commented on #1686
Can i work on this issue in java !? Files mentioned in 3rd bullet point aren't there in the repository.
Plz assign me this issue @jainaman224 @SakshiShreya @singh-shreya6

[2020-05-21 11:10] shwhite17 commented on #2120
assign me to add the file in the dart, @ dishak

[2020-05-22 06:32] ujjwaltiwari13 commented on #2202
I want to work on this issue in go. Please assign this issue to me. @jainaman224

[2020-05-23 13:17] shivanidalmia1203 commented on #2478
@jainaman224  I asked to assign me in TypeScript not in php. Can you please reassign this issue to me in TypeScript

[2020-05-24 15:58] shivanidalmia1203 commented on #2551
Please assign this issue to me in Typescript @jainaman224

[2020-05-24 16:27] m-code12 commented on #2148
@jainaman224 Please assign

[2020-05-24 17:32] sukritishah15 commented on #2480
@raghav-dalmia @asha15 @singh-shreya6 @SakshiShreya Please review my PR - Adding PHP Implementation for Boyer Moore Algo. (Issue #2480) #2968
Thank you!

[2020-05-24 20:52] AJAYSHARMA2012 commented on #2177
Please review my PR as well #2448 @jainaman224 @asha15

[2020-05-25 06:39] raksha009 commented on #2204
@jainaman224 plz assign me this issue in go

[2020-05-25 06:44] raksha009 commented on #2249
@jainaman224 plz assign me readme of introsort

[2020-05-25 07:12] shivamgupta57121 commented on #2905
Hello  @jainaman224
Please assign it to me in Typescript.

[2020-05-25 07:12] vedangi163 commented on #2152
Hello, @jainaman224 , @asha15 , @singh-shreya6 I can implement this in PHP.  Please assign me this issue to me.

[2020-05-25 09:07] THEBEAST310 commented on #2172
I can implement it in Kotlin, Please assign Kotlin to me.

[2020-05-25 09:09] THEBEAST310 commented on #2172
I can implement it in Rust, Please assign it to me.

[2020-05-25 11:00] THEBEAST310 commented on #2172
Adding DFS in Rust Language #2982

[2020-05-25 11:08] THEBEAST310 commented on #2205
I can do it in kotlin, please assign it to me

[2020-05-25 11:08] THEBEAST310 commented on #2205
@jainaman224 @somya-kapoor

[2020-05-25 12:59] shivamgupta57121 commented on #2174
Please assign me this issue in TypeScript as a part of GSSoc'20.
Thanks.

[2020-05-25 18:41] mruna7 commented on #2179
sir please assign me this issue .

[2020-05-25 18:42] mruna7 commented on #1815
@jainaman224  sir please assign me this in java

[2020-05-25 18:44] mruna7 commented on #1762
@jainaman224 sir  please assign this to me . I can work on C,C++,Java and Php

[2020-05-25 19:08] shivamgupta57121 commented on #2905
Hello @jainaman224 @raghav-dalmia  @singh-shreya6
Please assign it to me in TypeScript.

[2020-05-25 19:20] shivamgupta57121 commented on #2551
Hello @jainaman224 @Amitsharma45  @PrachieNaik  @sharmakeshav10
Please assign this issue to me in TypeScript.

[2020-05-25 19:32] shivamgupta57121 commented on #2120
Please assign me this issue in TypeScript. I guess, the one who is assigned is not working on this.
@jainaman224

[2020-05-25 23:17] Moddy2024 commented on #2179
i am from gssoc 2020 and i would like to work on python,c and c++

[2020-05-26 06:19] shwhite17 commented on #2120
@shivamgupta57121 I m currently working.  please check another issue.

[2020-05-26 06:24] shivamgupta57121 commented on #2120
But you are assigned on dart not on TypeScript.
And according to rules we can not work on a issue until we are assigned.

[2020-05-26 06:51] Rukmini-Meda commented on #2251
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:52] Rukmini-Meda commented on #2202
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:53] Rukmini-Meda commented on #2173
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:53] Rukmini-Meda commented on #2162
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:54] Rukmini-Meda commented on #2170
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:54] Rukmini-Meda commented on #2152
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:55] Rukmini-Meda commented on #2145
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 06:56] Rukmini-Meda commented on #2124
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-26 07:23] shivamgupta57121 commented on #2179
I can do it in TypeScript. Please assign me @jainaman224 @singh-shreya6  @somya-kapoor
I guess @hitha2000 is not working on it.

[2020-05-26 07:32] shivamgupta57121 commented on #1762
I would like to add another approach of this problem in C++ that is using cyclic replacements.
Please assign me this @jainaman224 @singh-shreya6

[2020-05-26 17:25] Moddy2024 commented on #2170
i would like to work on c

[2020-05-26 18:11] m-code12 commented on #2146
@jainaman224 Please assign me.

[2020-05-26 18:16] m-code12 commented on #2145
.

[2020-05-26 18:18] m-code12 commented on #2146
@jainaman224 Can I implement this in C?

[2020-05-26 18:58] THEBEAST310 commented on #2205
Can you review my PR #2986

[2020-05-26 19:02] THEBEAST310 commented on #2205
@jainaman224 @somya-kapoor @asha15

[2020-05-26 19:05] THEBEAST310 commented on #2172
Can you review my PR #2980
@jainaman224 @asha15 @somya-kapoor

[2020-05-26 20:56] shwetagurnani commented on #2149
Please assign it to me in Javascript @jainaman224 @asha15

[2020-05-26 22:07] saloniankita commented on #2146
@jainaman224 Assign me this in C

[2020-05-27 00:21] Moddy2024 commented on #2170
i have created a pull request for C and C# please review it

[2020-05-27 04:41] sejalshri commented on #2146
@jainaman224 , i had already linked the PR #2807 in C when assigned. kindly review it.

[2020-05-27 08:10] mightomi commented on #2905
I like to work with Rust, can I be assigned @jainaman224

[2020-05-27 11:08] dj373 commented on #2179
Hi, please assign me this issue in typescript @jainaman224

[2020-05-27 11:14] dj373 commented on #2148
Kindly assign it to me in TypeScript

[2020-05-27 11:28] HardevKhandhar commented on #2248
Dear Sir @jainaman224
I would like to contribute to this issue in RUBY for GSSoC 2020
Please assign this to me in Ruby language. Thank you.

[2020-05-27 11:31] dj373 commented on #2131
Please let me implement in TypeScript @jainaman224

[2020-05-27 16:13] THEBEAST310 commented on #2172
But no one reviewed my PR
(Adding DFS in Rust Language) #2982
@singh-shreya6

[2020-05-27 16:14] THEBEAST310 commented on #2172
@jainaman224 @asha15 @somya-kapoor

[2020-05-27 22:02] Moddy2024 commented on #2205
i am from GSSOC 2020 an want to work on this in C

[2020-05-28 02:19] Rukmini-Meda commented on #2161
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:20] Rukmini-Meda commented on #2158
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:20] Rukmini-Meda commented on #2157
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:21] Rukmini-Meda commented on #2156
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:22] Rukmini-Meda commented on #2151
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:23] Rukmini-Meda commented on #2146
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:24] Rukmini-Meda commented on #2144
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:24] Rukmini-Meda commented on #2135
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:25] Rukmini-Meda commented on #2129
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:25] Rukmini-Meda commented on #2124
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:26] Rukmini-Meda commented on #2111
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 02:27] Rukmini-Meda commented on #2118
I would like to work on this issue in Dart. Please assign this to me as part of GSSOC'20.

[2020-05-28 03:25] shwhite17 commented on #1842
pull requested have a look. @jainaman224

[2020-05-29 13:10] shivamgupta57121 commented on #2145
Please assign me this issue in TypeScript @jainaman224

[2020-05-29 13:39] m-code12 commented on #675
@jainaman224 Please assign

[2020-05-29 15:52] Moddy2024 commented on #2205
i have solved the issue in C and created a pull request @jainaman224 @asha15 @Vaibhavraj10 @SakshiShreya @singh-shreya6 @raghav-dalmia

[2020-05-29 20:43] Moddy2024 commented on #2555
i am from GSSOC 20 would like to work on this on C

[2020-05-29 20:44] Moddy2024 commented on #2249
i am from gssoc 2020 and will like to work on this on C++

[2020-05-29 23:33] Moddy2024 commented on #1892
@jainaman224  @asha15 i am from gssoc'20 can i work on this issue in python ?

[2020-05-29 23:47] Moddy2024 commented on #1892
@jainaman224 @asha15 @Vaibhavraj10 @raghav-dalmia @MastersAbh i have done the program and sent a pull request please review it before merging

[2020-05-29 23:49] Moddy2024 commented on #2200
@jainaman224 i will like to work on this on C

[2020-05-30 02:16] Moddy2024 commented on #2200
@jainaman224  @asha15  I did this in C and made a much simpler and understandable algorithm. I have created a pull request  please review it

[2020-05-30 04:13] mruna7 commented on #2179
@jainaman224  please review my PR -> Linear search #2179 #3004

[2020-05-30 07:04] m-code12 commented on #2157
I can implement this in Go. @jainaman224  Please assign it to me.

[2020-05-30 07:08] m-code12 commented on #2145
Please assign it to me @jainaman224

[2020-05-30 12:16] Moddy2024 commented on #2170
i have created a pull request for C and C# as part of GSSOC'20 please review it

[2020-05-30 12:20] Moddy2024 commented on #2200
@jainaman224  I will like to work on it on C#

[2020-05-30 13:44] Moddy2024 commented on #2205
i am from GSSOC 2020 an want to work on this in C

[2020-05-30 13:49] #1790 closed

[2020-05-30 13:52] m-code12 commented on #2145
I can make a pr quickly.

[2020-05-30 14:36] Moddy2024 commented on #1892
@jainaman224 @asha15 @Vaibhavraj10 @raghav-dalmia @MastersAbh can you please assign this to me as i have already written the code in python and this isn't assigned to anyone

[2020-05-30 14:38] Moddy2024 commented on #2205
i am from GSSOC 2020 and want to work on this in C and i can do this on time so please assign this to me

[2020-05-30 14:42] kothawade29 commented on #2553
I would like to implement this in C. Please assign this to me

[2020-05-30 18:02] shwhite17 commented on #2479
assign me in rust please @jainaman224

[2020-05-30 19:14] #1992 closed

[2020-05-30 19:23] Moddy2024 commented on #2205
Thank you @jainaman224

[2020-05-30 20:23] asha15 commented on #1892
@manildayma are you working on this?

[2020-05-30 20:47] saloniankita opened #3033 "Calculating factorial of large numbers using Python"
Calculating factorial using recursion has been implemented in languages C, C++ and Java but hasn't been implemented in Python. I want to implement it in Python.

[2020-05-30 21:35] Shr03mink commented on #2550
Please review my PR #3034  @singh-shreya6 @jainaman224 . Thank you!

[2020-05-30 23:48] Moddy2024 commented on #1892
I want to work on this in Python

[2020-05-31 07:48] HardevKhandhar commented on #2144
I would like to contribute to this issue in RUBY for GSSoC 2020
Please assign this issue to me in Ruby language.

[2020-05-31 10:08] m-code12 commented on #2147
If no one is working on this in Rust, please assign it to me @jainaman224

[2020-05-31 10:10] m-code12 commented on #2131
I can do it in Rust.Assign it to me @jainaman224 .I can open a pr quickly.

[2020-05-31 16:33] #3033 closed

[2020-05-31 16:42] #2249 closed

[2020-05-31 16:44] m-code12 commented on #2147
@jainaman224 I can do this quickly.

[2020-05-31 16:49] #2125 closed

[2020-05-31 17:01] #2151 closed

[2020-05-31 17:06] #1947 closed

[2020-05-31 17:13] #2162 closed

[2020-05-31 17:15] #2905 closed

[2020-05-31 17:25] Moddy2024 commented on #2249
PLEASE REVIEW MINE PR ON TIME FOR THIS #3036 SO I CAN GET THE POINTS ON GSSOC'20

[2020-05-31 17:45] #2131 closed

[2020-05-31 17:55] #2176 closed

[2020-05-31 18:00] #2205 closed

[2020-05-31 18:02] #2144 closed

[2020-05-31 18:06] #2148 closed

[2020-05-31 18:07] #2177 closed

[2020-05-31 18:14] #2111 closed

[2020-05-31 18:23] #1751 closed

[2020-06-01 08:37] saloniankita commented on #2204
Assign this to me in CoffeeScript @jainaman224

[2020-06-04 14:42] m-code12 commented on #2141
@jainaman224 I can do this in php. Please assign .

[2020-06-04 14:44] m-code12 commented on #2152
@jainaman224 I can implement this in go.Please assign it to me.

[2020-06-04 17:37] #2112 closed

[2020-06-04 17:40] #2146 closed

[2020-06-07 16:15] happycoder0011 commented on #2149
assign me this in js.

[2020-06-19 09:29] Jenil-S commented on #2553
@jainaman224  Can I implement it  in python

[2020-06-19 09:39] Jenil-S commented on #2202
@jainaman224  I would like to work in python .Please assign me

[2020-07-13 17:09] Vaibhavpratapsingh22 commented on #2120
Please assign me on c ,@vaibhavpratapsingh22

[2020-07-13 17:14] Vaibhavpratapsingh22 commented on #2179
I would like to update linear search file in c ,please assign me @vaibhavpratapsingh22

[2020-07-26 16:12] atarax665 opened #3067 "Palindrome number and Palindrome string program in ruby."
A ruby program to check if the entered number is palindrome or not. Same for strings.
"A palindromic number is a number that remains the same when its digits are reversed. ex: 16461."

[2020-07-26 16:12] atarax665 commented on #3067
I would like to work on this issue @jainaman224

[2020-08-10 15:21] Tahanima commented on #2553
Hi @jainaman224 @singh-shreya6
I want to implement **Tree Level order Traversal** in Ruby. Please assign me this in Ruby.

[2020-08-10 15:22] Tahanima commented on #2251
Hi @jainaman224 @singh-shreya6
I want to implement **Postman Sort** in Ruby. Please assign me this in Ruby.

[2020-08-10 15:24] Tahanima commented on #2246
Hi @jainaman224 @singh-shreya6
I want to implement **Kosaraju Algorithm** in Ruby. Please assign me this in Ruby.

[2020-08-10 15:25] Tahanima commented on #2202
Hi @jainaman224 @singh-shreya6
I want to implement **Bellman Ford Algorithm** in Ruby. Please assign me this in Ruby.

[2020-08-11 06:09] binarydevelop opened #3068 "Splay Tree Implementation"
I don't see a splay tree implementation! Would like to work on it @jainaman224

[2020-08-12 23:24] ayuarora commented on #2906
Hi @jainaman224 Raised a PR for this in Go

[2020-08-26 18:29] ajayhegde96 commented on #2906
@jainaman224  I would like to work on this for Rust, please assign it to me.

[2020-09-01 18:24] jayant93 commented on #2552
want to implement in c++

[2020-09-22 15:36] KhushiGangopadhyay commented on #1908
@TheDangerD0802  Is the issue still open ? I would like to work on this.

[2020-09-23 06:28] TheDangerD0802 commented on #1908
Yes you are free to work on it.

[2020-09-23 13:21] KhushiGangopadhyay commented on #1908
@TheDangerD0802 Ok thank you

[2020-10-01 06:28] ritish099 opened #3072 "Matrix Chain Multiplication in Java"

[2020-10-01 06:43] ritish099 opened #3074 "Gold Mine Problem in C++"

[2020-10-01 07:38] ritish099 opened #3077 "Flood Fill Algorithm in Java"

[2020-10-01 08:40] ritish099 opened #3080 "Lobb Number in C++"

[2020-10-01 22:47] ritwikchakraborty123 commented on #3080
I am interested to work on it

[2020-10-01 22:48] ritwikchakraborty123 commented on #3074
Want to contribute

[2020-10-01 22:49] ritwikchakraborty123 commented on #2251
I would like to do it in PHP...

[2020-10-02 21:42] shivishbrahma commented on #3072
I can solve this one

[2020-10-03 04:47] #3072 closed

[2020-10-11 18:49] #1574 closed

[2020-10-11 18:49] #1573 closed

[2020-11-16 10:48] innovolt opened #3102 "DS Algo in Rust"
I was planning to do the same on my own in Rust language. I don't see Rust in the list as per the README file and I think I can contribute to this repository by adding code in Rust.

Looking for go ahead from owner and existing contributors of this repository.

[2020-12-26 05:09] tech-geek29 commented on #2553
Hi @jainaman224 @singh-shreya6 , I want to implement Tree Level order Traversal in Go

[2020-12-26 07:03] tech-geek29 commented on #2199
Hi @jainaman224 Can you please review #3104 I have implemented Binary Search tree in Go.

[2021-01-18 02:31] pawki07 commented on #2481
@jainaman224 I can implement this theorem in C++, Python, Java, C#. Please assign it to me.

[2021-01-20 02:55] pawki07 commented on #1697
Can I work on this issue.

[2021-01-24 06:47] IShahnawazShaikh commented on #2247
Hi ! please assign me this issue for Java language.

[2021-02-03 18:24] codeingwolf opened #3109 "Reverse a linklist using recursion"
In your repository, the algorithm for reversing the linklist is missing. So I want to add code for this.
Please consider my issue and assign it to me.

[2021-03-10 19:43] mrunalvilas commented on #2552
I am GSSoC'21 Participant, can I work on this issue in python.

[2021-03-24 17:25] #1671 closed

[2021-05-18 12:10] techyharshit123 opened #3113 "Detect loop in linked list"
@mrwonko @sapanshah
In your repository, the algorithm for detecting the loop in the linked list is missing. So I want to add code for this.
Please consider my issue and assign it to me.

[2021-07-19 07:57] Abheeshth commented on #2124
may I work on the bucket sort in rust  @jainaman224

[2021-07-24 16:25] Spidy-Coder opened #3115 "Prefix sum algorithm related DSA questions"
Hey there,

I want to add **_prefix sum related questions based on arrays_** with commented solutions. So, kindly assign this issue to me.

Looking forward to work on this repository.

[2021-09-27 17:08] TMahato commented on #2906
### @jainaman224 please assign me this issue for C++ language.

[2021-09-30 06:28] pratyaksh1610 opened #3118 "[FEATURE] Add an algorithmic approach to calculate factorial in python programming language"
➕ I would like to add approach to calculate factorial of a number in python programming language.

[2021-09-30 06:30] pratyaksh1610 commented on #3118
I would like to contribute to this issue.

[2021-09-30 06:30] pratyaksh1610 commented on #3118
I would like to contribute to this issue.
Kindly assign this issue to me !!

[2021-09-30 07:39] #3118 closed

[2021-10-22 12:57] aditdesai opened #3119 "Fix technical mistake in README.md"
Step 2 in README.md specifies Linux and Mac. The command works on Windows too so it can be misleading.

[2021-11-13 11:27] #3119 closed

[2021-12-16 12:11] chandan9369 commented on #3113
hey  jainaman224,
I am chandan keshari i want to resolve this issue if you can please assign it to me

[2021-12-16 12:14] chandan9369 commented on #3109
hey @jainaman224 ,
I want to resolve this issue in C++ , if you can please assign it to me

[2021-12-16 12:19] chandan9369 commented on #1842
hey ,
I am interested to solve this issue, please assign it to me i want to resolve in C++.

[2021-12-16 12:21] chandan9369 commented on #1697
hey i want to work on this issue in C++ please assign me.

[2022-02-07 15:11] Kranthi-Guribilli opened #3123 "The link for heap sort in c hasn't been updated. Please update it or assign it to me to make that change in INDEX.md file."

[2022-03-09 08:35] #3123 closed, assigned to nobody

[2022-10-06 13:06] Gaurav-Verma07 opened #3127 "Happy NUmber"
Hiii, I would like to create an efficient algo for happy number.
Please assign this to me.

[2022-10-14 16:12] sharma62 commented on #2479
I want to work on this in java  and code having work more efficient