[2020-03-02 19:10] #152 closed

[2020-03-02 19:10] #153 closed

[2020-03-02 19:11] #154 closed

[2020-03-02 19:11] #156 closed

[2020-03-02 19:11] #157 closed

[2020-03-02 19:11] #158 closed

[2020-03-02 19:12] #161 closed

[2020-03-02 19:12] #174 closed

[2020-03-02 19:13] #176 closed

[2020-03-02 19:13] #177 closed

[2020-03-02 19:13] #178 closed

[2020-03-02 19:13] #195 closed

[2020-03-02 19:14] #232 closed

[2020-03-02 19:14] #235 closed

[2020-03-02 19:14] #280 closed

[2020-03-02 19:15] #290 closed

[2020-03-02 19:15] #341 closed

[2020-03-02 19:16] #371 closed

[2020-03-02 19:16] #391 closed

[2020-03-02 19:16] #413 closed

[2020-03-02 19:18] jainaman224 commented on #1637
@topcoder69 Go ahead.

[2020-03-02 19:21] raksha009 commented on #1718
@jainaman224 plz assign this issue gssoc20 label.

[2020-03-02 19:26] #1655 closed

[2020-03-02 19:27] #1660 closed

[2020-03-02 19:28] HardevKhandhar commented on #1565
Dear Sir @jainaman224

Please refer to this link: https://github.com/jainaman224/Algo_Ds_Notes/issues/1565#issuecomment-591566904

@asha15 Ma'am had already assigned this to me a few days ago.

With reference to same, a pull request has also been initiated.
You may review the Pull Request initiated by me on March 1

Thank you

[2020-03-02 19:28] #1662 closed

[2020-03-02 19:28] #1663 closed

[2020-03-02 19:28] #1665 closed

[2020-03-02 19:45] chandrikadeb7 commented on #1637
@jainaman224  Hey, I commented first to assign me the issue.

[2020-03-02 20:11] HariniJeyaraman commented on #1868
Please assign me this issue @singh-shreya6 @asha15 @jainaman224  @SakshiShreya .
Would love to work on this and contribute

[2020-03-02 20:13] coderprasukj commented on #1653
@asha15  @jainaman224 A* Search algorithm is one of the best and popular technique used in path-finding and graph traversals. Can you please assign me with this task in C++.

[2020-03-02 20:42] singh-shreya6 commented on #1838
@DawoodBhai420 Go ahead.

[2020-03-02 20:42] singh-shreya6 commented on #1838
@Neelaksh-Singh Since this issue was raised by @DawoodBhai420, he has the right to work on it. Please don't code a problem till the problem has been assigned to you.

[2020-03-02 20:51] singh-shreya6 commented on #1913
@shwhite17 The implementation already exists in repo. Please select some other issue. Also you don't need to write the complete program in comment.

[2020-03-02 20:51] #1913 closed

[2020-03-02 21:00] #1619 closed

[2020-03-02 21:18] heisastark opened #1967 "GCD in JS"
Hey! There's no implementation of GCD on C++, can i go ahead with this?
https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Gcd

[2020-03-02 21:37] heisastark opened #1968 "Power of 2 problem implementation in JS"
There's no js implementation of this problem.
https://github.com/jainaman224/Algo_Ds_Notes/tree/master/Power_Of_Two
Please assign it to me?

[2020-03-02 21:54] singh-shreya6 commented on #1794
@NVS16 Please don't make a PR before the issue is assigned to you.

[2020-03-02 23:37] Jahnavi-Jonnalagadda opened #1970 "Implementation of Two Pointer Technique"
**Description** : In this issue I want to remove all the occurrences of a given element in a sorted array using Two Pointer Technique. Two Pointer Technique reduces the Time and Space Complexity.

**Language** : Python

[2020-03-03 01:57] HarshCasper opened #1973 "Implementation of Fibonacci Search in C, C++ and Java"
Description:

I want to implement Fibonacci Search in C, C++ and Java Programming Languages. Fibonacci Search is a comparison-based Searching Algorithm which utilizes Divide and Conquers Algorithm to find an element.

I would like to work on this issue for C, C++ and Java as part of GSSOC'2020. Kindly assign me this issue @SakshiShreya @asha15 @jainaman224

[2020-03-03 02:39] lakshyajit165 commented on #1581
I have created a pull request for this. Please review.

[2020-03-03 03:02] jainaman224 commented on #1535
@amandhamija98 Thanks for notifying.

[2020-03-03 03:02] jainaman224 commented on #1552
@chandrikadeb7 You already have 2 issues.

[2020-03-03 03:05] jainaman224 commented on #1565
@HardevKhandhar  I think I have assigned you as well. And don't ask for review in issues. We will review everyone's PR.

[2020-03-03 03:07] jainaman224 commented on #1637
@chandrikadeb7 You already have 2 issues in your plate.

[2020-03-03 03:09] jainaman224 commented on #1653
@coderprasukj Create new issue and make sure there is no such existing issue and not implemented yet.

[2020-03-03 03:10] #1668 closed

[2020-03-03 03:12] jainaman224 commented on #1671
@sakshijainn Go ahead.

[2020-03-03 03:13] #1673 closed

[2020-03-03 03:13] #1674 closed

[2020-03-03 03:13] #1675 closed

[2020-03-03 03:15] #1681 closed

[2020-03-03 03:15] #1682 closed

[2020-03-03 03:16] jainaman224 commented on #1684
@Mustafiz04 Make sure it is not present in code and issues.

[2020-03-03 03:18] #1687 closed

[2020-03-03 03:23] Ratna04priya opened #1975 "Implementation of various Greedy and Optimal Algorithms"
This repo also requires a section of greedy algorithms.

[2020-03-03 03:24] Ratna04priya commented on #1975
I think I can work on this.

[2020-03-03 03:24] #1700 closed

[2020-03-03 03:24] #1701 closed

[2020-03-03 03:24] #1702 closed

[2020-03-03 03:26] #1704 closed

[2020-03-03 03:27] #1705 closed

[2020-03-03 03:30] #1708 closed

[2020-03-03 03:30] #1709 closed

[2020-03-03 03:31] #1710 closed

[2020-03-03 03:31] #1720 closed

[2020-03-03 03:33] #1730 closed

[2020-03-03 03:34] #1732 closed

[2020-03-03 03:34] #1733 closed

[2020-03-03 03:34] #1736 closed

[2020-03-03 03:34] #1737 closed

[2020-03-03 03:35] jainaman224 commented on #1738
Hybrid is combination of inheritance.

[2020-03-03 03:35] #1738 closed

[2020-03-03 03:35] #1739 closed

[2020-03-03 03:36] #1745 closed

[2020-03-03 03:36] #1746 closed

[2020-03-03 03:36] #1749 closed

[2020-03-03 03:40] #1757 closed

[2020-03-03 03:42] #1763 closed

[2020-03-03 03:43] mansikagrawal commented on #675
Ok I will do it ASAP @jainaman224

[2020-03-03 03:45] #1771 closed

[2020-03-03 03:48] #1774 closed

[2020-03-03 03:51] #1779 closed

[2020-03-03 03:51] #1780 closed

[2020-03-03 03:51] #1785 closed

[2020-03-03 04:18] pratu098 commented on #1967
I would like to take this issue as a part of gssoc'20.

[2020-03-03 04:21] pratu098 commented on #1947
I would like to work on this issue as a part of gssoc'20

[2020-03-03 04:25] AkanshaKamboj opened #1976 "Implementation of \Shortest Job First CPU Scheduling Algorithm(Preemptive and Non-preemptive) in C,C++,Java,Python"
I want to work on this issue as a part of GSSoC20

[2020-03-03 04:51] mruna7 commented on #865
Thankyou sir !I will implement it in java

[2020-03-03 05:00] rrkas opened #1977 "REGULA FALSI implementation in JAVA-8"
I would like to implement the Regula_Falsi_Method using Java 8.0
Please assign me this issue.
GSSoC 2020.

[2020-03-03 05:03] NVS16 commented on #1794
Oh, sorry. My bad. I did not look. Will not happen again. :)

[2020-03-03 05:28] yuktirapartiwar opened #1979 "Implementation of prim's algorithm in java"
i want to work on this issue for gssoc 2020

[2020-03-03 06:34] Angshuman032001 commented on #1967
there is already a section on euclidean algorithm

[2020-03-03 07:17] heisastark commented on #1967
There's no JS implementation though.
I can work on that.

[2020-03-03 07:17] ritish099 opened #1983 "Lapindrome (C,C++,JAVA)"
Kindly assign this task to me. As a part of GSSoC 2k20

[2020-03-03 07:27] abhishekgupta368 commented on #1653
can you please tell me what should i do?

[2020-03-03 08:16] shweta0699 commented on #1976
I can also contribute in it in c++ as a part of GSSoC'20.

[2020-03-03 08:46] Manas2520 commented on #964
Since my examinations are going on,please allow me a time gap of one week so that I can focus on my exams.I will start contributing as soon as my exams are over.

[2020-03-03 08:50] Manas2520 commented on #964
Please assign me to this issue once again.I accidentally click the "unassign me" button while I was exploring GitHub.My sincere apologies.

[2020-03-03 09:33] DawoodBhai420 commented on #1912
@jainaman224 @asha15 @singh-shreya6 @MastersAbh @raghav-dalmia
should we add this in repo??
if yes, please assign this issue to me.

[2020-03-03 09:59] Mustafiz04 opened #1986 "Count all possible paths - Python"
**Count all possible paths from top left to the bottom right of a mXn matrix in Java and Python.**
I would like to work on this issue under GSSoC20. @singh-shreya6 @asha15 @raghav-dalmia please assign me with this issue.

[2020-03-03 10:48] Neelaksh-Singh commented on #1954
i would also like to work on this issue as a  part  of gssoc 20.

[2020-03-03 10:50] Neelaksh-Singh commented on #1935
i would also like to take it up

[2020-03-03 10:51] Neelaksh-Singh commented on #1885
i would like to implement it

[2020-03-03 11:14] parjanyaacoder opened #1988 "Implementation of Pancake Sorting in Java"
This repository lacks implementation of Pancake Sorting in Java Language.I am a participant of GSSOC 2020 and I want to solve this issue. @adishjain @ayushin78 @nj4710  Please assign this issue to me.

[2020-03-03 11:34] parjanyaacoder commented on #1988
@singh-shreya6 @asha15 @raghav-dalmia Please assign the task to me.

[2020-03-03 12:42] coderprasukj opened #1990 "Set bits till N implementation in JavaScript"
@jainaman224 There is no implementation of Set Bits Till N in JavaScript. Please assign me with this issue for GSSoC20.

[2020-03-03 12:45] coderprasukj commented on #1968
@jainaman224 I would like to work on this issue for GSSoC20. Please assign me with this issue.

[2020-03-03 13:06] coderprasukj opened #1991 "Kruskal Algorithm in C"
@jainaman224 I would like to work for kruskal algorithm in C. Please assign this issue to me for GSSoC.

[2020-03-03 13:10] shweta0699 opened #1992 "Implementation of 0/1 knapsack problem in C++"
I want to work on this as a part of GSSoC'20. Please assign it to me if it is not implemented yet.

[2020-03-03 13:23] #1672 closed

[2020-03-03 13:31] Harikrishnan6336 opened #1993 "Digit-Count -Ruby"
Pls assign me this

[2020-03-03 13:47] mehmehul opened #1995 "Largest BST in a Binary Tree"
Implementation for finding BST with largest height in a binary tree is missing. This is a pretty important code to imlementation. Assign me the issue

[2020-03-03 13:48] mehmehul opened #1996 "Pair Sum in a BSt"

[2020-03-03 13:49] #1996 closed

[2020-03-03 13:52] mehmehul opened #1997 "Pair Sum in BST"
Implementation of Pair sum for is Binary Tree is present. But Pair Sum of BST is missing. I would like to implemented it under this issue.

[2020-03-03 13:59] mehmehul opened #1998 "Stock Span using Stacks"
The problem of Stock Span is widely popular in which span has to be calculated for each day. Span refers to the number of days for which price of the stock has been maximum (including the current day). This is implemented using Stack. Please assign me the issue.

[2020-03-03 14:13] Anushka-Rajvanshi commented on #1773
Please review my PR #2000  @jainaman224 @singh-shreya6 @raghav-dalmia @asha15

[2020-03-03 14:22] HardevKhandhar commented on #1565
Ok Noted. Thanks a lot.

[2020-03-03 14:30] HardevKhandhar opened #2001 "Add Vertical Redundancy Check (Networking ) in Java"
I want to contribute to GSSoC 2020 by adding the code for Vertical redundancy Check in Java

Please assign me this issue.

[2020-03-03 15:14] ravireddy07 commented on #213
I made the PR. Completed the task in Java and C. #2004
@jainaman224

[2020-03-03 15:23] SakshiShreya commented on #1760
@BhanujaAggarwal

You can work on it in Python and C. But create a new issue for that.

[2020-03-03 15:57] JasleenRandhawa opened #2007 "Largest Increasing Sequence"
Problem Statement:
**Given an integer array having N elements, Find the length of the longest Increasing sequence such that every element in that sequence is strictly greater than its previous element in the same sequence**.
I would like to solve this problem for GSSoC.
Could you please assign this issue to me?

[2020-03-03 16:36] jainaman224 commented on #1653
What for review.

[2020-03-03 16:36] vedangi163 opened #2009 "Single Threaded binary tree"
Implement single threaded binary tree (TBT) using cpp.

[2020-03-03 16:49] jainaman224 commented on #1809
@Angshuman032001 There might be an existing issue. So, your PR might get closed. Please check before proceeding.

[2020-03-03 16:51] jainaman224 commented on #1815
Go ahead with Python

[2020-03-03 16:57] #1816 closed

[2020-03-03 16:58] #1817 closed

[2020-03-03 17:09] arghac14 opened #2012 "Range addition on array algorithm : using Python"
Would like to take this issue, please assign me!

[2020-03-03 17:10] #1839 closed

[2020-03-03 17:10] #1840 closed

[2020-03-03 17:10] #1841 closed

[2020-03-03 17:12] #1846 closed

[2020-03-03 17:12] #1848 closed

[2020-03-03 17:12] #1849 closed

[2020-03-03 17:12] #1850 closed

[2020-03-03 17:12] #1851 closed

[2020-03-03 17:13] #1852 closed

[2020-03-03 17:14] jainaman224 commented on #1862
I think it is already implemented. Do check.

[2020-03-03 17:16] #1868 closed

[2020-03-03 17:16] #1870 closed

[2020-03-03 17:22] goyalmuskan commented on #1822
Sorry, I am unable to contribute to this issue, it is free to be assigned!

[2020-03-03 17:22] utkarshanehe opened #2015 "Hashing using chaining"
Hashing using chaining with and without replacement in cpp.

The program creates a symbol table containing attribute_name and value pair as used by compiler. And includes functions like
1. Search key
2. Delete key
3. Insert key
4. Update key

Please assign this task to me.

[2020-03-03 17:23] goyalmuskan opened #2016 "Implementation of Hamiltonian Cycle in Java"
The code for the same is missing. Please assign me this issue. @singh-shreya6 @Vaibhavraj10
Language - JAVA

[2020-03-03 17:27] #1877 closed

[2020-03-03 17:29] #1880 closed

[2020-03-03 17:31] #1888 closed

[2020-03-03 17:31] abhishekgupta368 commented on #1842
why my issue is assigned to different people?

[2020-03-03 17:34] #1899 closed

[2020-03-03 17:34] #1901 closed

[2020-03-03 17:35] jainaman224 commented on #1912
Not for now.

[2020-03-03 17:35] #1912 closed

[2020-03-03 17:36] ashishnagpal2498 opened #2018 "Median of Two sorted Arrays"
Median of two sorted arrays can be calculated using two pointer approach , without merging two arrays in O(n)

[2020-03-03 17:38] #1920 closed

[2020-03-03 17:42] #1921 closed

[2020-03-03 17:42] #1922 closed

[2020-03-03 17:42] #1924 closed

[2020-03-03 17:44] #1927 closed

[2020-03-03 17:44] #1929 closed

[2020-03-03 17:45] urbashi123 commented on #1908
I would like to work on this issue.Can you assign it to me?

[2020-03-03 17:47] #1932 closed

[2020-03-03 17:47] #1933 closed

[2020-03-03 17:49] #1935 closed

[2020-03-03 17:49] codermuskanj opened #2019 "Python Implementation of Rabin Karp Algorithm"
@jainaman224
There is no Python implementation for the Rabin Karp algorithm. I would like to work on this issue for GSSoC. Please assign me with this issue.

[2020-03-03 17:54] #1941 closed

[2020-03-03 17:55] #1942 closed

[2020-03-03 17:55] #1943 closed

[2020-03-03 17:56] #1946 closed

[2020-03-03 17:59] #1950 closed

[2020-03-03 18:03] #1970 closed

[2020-03-03 18:03] #1973 closed

[2020-03-03 18:04] jainaman224 commented on #1975
Please specify the language and algorithm.

[2020-03-03 18:05] #1976 closed

[2020-03-03 18:05] jainaman224 commented on #1977
We are currently now looking to support different version of a language.

[2020-03-03 18:05] #1977 closed

[2020-03-03 18:06] jainaman224 commented on #1979
Make sure there is no existing implementation and issue.

[2020-03-03 18:06] #1983 closed

[2020-03-03 18:08] codermuskanj opened #2021 "Implementation of RSA algorithm using Chinese remainder theorem in C++"
@jainaman224 @somya-kapoor @SakshiShreya @singh-shreya6 @asha15 @MastersAbh @raghav-dalmia  I would like to work on this task. Please assign me with this issue for GSSoC.

[2020-03-03 18:10] jainaman224 commented on #1991
I think it is present in repo or issue. So, do check.

[2020-03-03 18:10] jainaman224 commented on #1992
I think it should be present. So do check.

[2020-03-03 18:11] #1995 closed

[2020-03-03 18:11] #1997 closed

[2020-03-03 18:11] #1998 closed

[2020-03-03 18:11] #2001 closed

[2020-03-03 18:12] #2007 closed

[2020-03-03 18:12] #2012 closed

[2020-03-03 18:13] #2016 closed

[2020-03-03 18:14] NikitaMasand opened #2023 "Implement Count_Inversion in java"

[2020-03-03 18:16] NikitaMasand opened #2024 "Implement Fermat's Little Theorem in java"

[2020-03-03 18:17] prat31 commented on #1659
I would like to implement this in C.

[2020-03-03 18:17] goyalmuskan commented on #1934
I want to work on this issue in Java, Please assign me. @jainaman224

[2020-03-03 18:21] ashishnagpal2498 opened #2025 "Find pivot element in sorted rotated array"
The pivot element in sorted rotated array will always lie in the unsorted part. Hence pivot element can be found out using binary search. Can I work on this issue in C++?

[2020-03-03 18:32] rhythm10 opened #2026 "All Bitmasking Questions"
I will upload all Bitmasking related Algorithms and Tricks aloong with various Interview Level Questions. Around 20 Codes will be pushed.

[2020-03-03 18:43] shwhite17 commented on #1842
@jainaman do i need to create issue or it is already their ?
i need to write code?

[2020-03-03 18:50] shwhite17 opened #2028 "intersection of two linked list in c"

[2020-03-03 19:02] shwhite17 opened #2029 "c program to get intersection point of two linked list"
// C program to get intersection point of two linked list
#include <stdio.h>
 #include <stdlib.h>  
 /* Link list node */
struct Node {
     int data;    
 struct Node* next;
};   /* Function to get the counts of node in a linked list */
int getCount(struct Node* head);  
 /* function to get the intersection point of two linked    lists head1 and head2 where head1 has d more nodes than    head2 */

[2020-03-03 19:04] shwhite17 commented on #2029
done

[2020-03-03 19:08] hritik5102 commented on #1873
@Vaibhavraj10  @jainaman224  I'm really sorry for that, should I implement **Round Robin CPU scheduling** in C

[2020-03-03 19:17] hritik5102 opened #2033 "Infix2Postfix ReadMe"
@jainaman224 @Vaibhavraj10
There is no ReadMe.md file for the infix2Postfix algorithm. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 19:19] p-bucky commented on #1862
yeah.. Sorry I missed, From now onward I will take care

[2020-03-03 19:21] hritik5102 opened #2034 "Jarvis March algorithm in javascript"
@jainaman224 @Vaibhavraj10 There is no javascript implementation for the Jarvis march algorithm. I would like to work on this issue for GSSoC. Please assign me with this issue.

[2020-03-03 19:29] hritik5102 commented on #1898
@jainaman224 I've completed the implementation of the Jarvis march algorithm in java with Readme for the same in PR #2036.

[2020-03-03 19:36] hritik5102 commented on #1897
@Vaibhavraj10 I have created issue #2033 . please assign it to me

[2020-03-03 19:43] hritik5102 opened #2037 "LRU page replacement algorithm in C"
@jainaman224 @Vaibhavraj10 There is no C implementation for the **LRU page replacement algorithm**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 19:45] hritik5102 opened #2039 "banker's deadlock avoidance algorithm in C"
There is no C implementation for the  **banker's deadlock avoidance algorithm**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 19:48] hritik5102 opened #2040 "Cohen Sutherland line cliping algorithm in C++"
There is no C++ implementation for the Cohen Sutherland line clipping algorithm. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 19:51] hritik5102 opened #2041 "Sutherland hodgeman polygon clipping program in C++"
There is no C++ implementation for the Sutherland Hodgeman polygon clipping program. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 19:56] heisastark opened #2042 "Finding factorials of numbers like 100! in JS"
In relevance to issue #1819, I'd like to implement the same in JS. Can i go ahead?

[2020-03-03 19:59] hritik5102 opened #2043 "Round Robin CPU Scheduling in C"
There is no C implementation for the **Round Robin CPU Scheduling** . I would like to work on this issue. Please assign me with this issue.

[2020-03-03 19:59] heisastark opened #2044 "Pancake sort in JS"
There's no pancake sort implementation in JS. Can i do this? @jainaman224

[2020-03-03 20:06] hritik5102 opened #2045 "Midpoint Ellipse algorithm in C and C++"
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya  There is no C and C++ implementation for the **Midpoint Ellipse algorithm**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 20:10] hritik5102 opened #2046 "Boundary fill algorithm in C++"
@singh-shreya6 @SakshiShreya There is no C++ implementation for the **Boundary fill algorithm**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 20:13] shwhite17 opened #2047 "c program to get intersection point of two linked list"
// C program to get intersection point of two linked list
#include <stdio.h>
 #include <stdlib.h>  
 /* Link list node */
struct Node {
     int data;    
 struct Node* next;
};   /* Function to get the counts of node in a linked list */
int getCount(struct Node* head);  
 /* function to get the intersection point of two linked    lists head1 and head2 where head1 has d more nodes than    head2 */

[2020-03-03 20:13] shwhite17 commented on #1842
i created a new issues and write code in c

[2020-03-03 20:15] hritik5102 opened #2048 "2D transformations in C++"
@raghav-dalmia @MastersAbh @asha15 There is no C++ implementation for the **2D transformations in computer graphics**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 20:17] HardevKhandhar commented on #2025
I would like to contribute to this issue for GSSoC 2020 in Java. Please assign this issue to me.
@SakshiShreya @asha15

[2020-03-03 20:19] hritik5102 opened #2049 "Bresenham line algorithm in C++"
There is no C++ implementation for the **Bresenham line algorithm**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 20:25] hritik5102 opened #2050 "Substitution Cipher in java"
@raghav-dalmia @MastersAbh @asha15 @singh-shreya6 @SakshiShreya There is no Java implementation for the **Substitution Cipher (Affine cipher and Vigenere cipher )**. I would like to work on this issue. Please assign me with this issue.

[2020-03-03 21:30] RitikaJain8818 opened #2051 "Expression Tree- Java Implementaion"
There is only C++ and python implementation of the expression tree. I want to add Java code for it.

[2020-03-03 21:37] RitikaJain8818 opened #2052 "Graph Implementation using HashMap- Java"
There is no issue in code. I want to give an easy and better solution to Graph Implementation using HashMap in Java.

[2020-03-03 22:21] RitikaJain8818 opened #2053 "Huffman Encoder README(CheatSheet)"
There is no issue in code. I just want to add a proper and easier explanation of this concept. I have created a cheat sheet for this topic and implemented it using heap data structure in Java.

[2020-03-04 04:11] ravireddy07 commented on #2050
I would like to continue this issue with remaining cipher algorithms like vernam cipher, hill cipher, play fair, auto key cipher, monoceaser cipher and transposition ciphers in c++ and Java.

[2020-03-04 04:17] disha2sinha opened #2055 "K-Means Clustering Algorithm Implementation in C"
I am a participant of gssoc20 . I couldn't find K-Means Clustering Algorithm in this repository. So I opened this issue. Can I get assigned to this?

[2020-03-04 04:23] mansikagrawal commented on #1656
Assign me this issue with java, please

[2020-03-04 04:27] AkanshaKamboj opened #2056 "Printing the Boundary elements of Binary tree in C++, JAVA, Python"

[2020-03-04 04:27] AkanshaKamboj commented on #2056
I want to contribute on this issue for GSSoC20

[2020-03-04 04:33] Ratna04priya commented on #1975
I would like to use Python and Jupyter Notebook Platform.
I am planning to do a Travelling salesman problem, Bellman-Ford algorithm, fractional Knapsack algorithms and many more from the greedy approach.

[2020-03-04 04:55] disha2sinha opened #2058 "KNN classification Algorithm in C & Python"
I am a Participant of gssoc20 . I want to contribute KNN classification algorithm coded using C & python into this repository. Can I get assigned for the same?

[2020-03-04 05:06] disha2sinha opened #2059 "Lagrange Interpolation Numerical Method Algorithm in C"
I want to add Lagrange's Interpolation Algorithm in C to this repository. Can I get assigned to this?

[2020-03-04 05:23] ravireddy07 commented on #1948
Sir, i made the PR. Completed in C, C++ and Java. Please review it. @jainaman224

[2020-03-04 05:33] disha2sinha opened #2061 "Quick-Sort in C++"
I want to contribute Quick sort algorithm code to this repository.Can i get assigned to this?

[2020-03-04 05:36] CSElonewolf commented on #1815
@jainaman224  sir I am not yet much into python but I am comfortable in C and Java.

[2020-03-04 05:38] CSElonewolf commented on #2029
@shwhite17 It will be better you create a pull request for thew same .Hopefully it will be merged :)

[2020-03-04 05:39] DawoodBhai420 commented on #2061
Implementation already present in repo.

[2020-03-04 05:44] #2061 closed

[2020-03-04 05:47] HariniJeyaraman opened #2062 "Polynomial Addition using Linked List in C/C++"
Implementing Polynomial Addition with linked list

[2020-03-04 05:49] HariniJeyaraman commented on #2062
I am interested in contributing to this issue. Please assign me @SakshiShreya

[2020-03-04 05:51] disha2sinha opened #2063 "Insertion to & Deletion from a Singly Linked List Implementation in C, Java & Python"
I want to contribute Insertion & Deletion codes of a linked list in three different Languages.Can i get assigned to this?

[2020-03-04 05:55] Akansha2202 opened #2064 "Bipartite graph check in C++"

[2020-03-04 05:59] Akansha2202 opened #2065 "Aggressive Cows SPOJ problem in C++"

[2020-03-04 06:01] #2047 closed

[2020-03-04 06:01] shwhite17 commented on #2047
Done.

[2020-03-04 06:03] Akansha2202 opened #2066 "Leetcode Count square submatrices with all ones DP problem"
given a 2d binary matrix filled with 0's and 1's, return how many square submatrices have all ones

[2020-03-04 06:06] Akansha2202 commented on #2066
please assign me this issue

[2020-03-04 06:07] Akansha2202 commented on #2064
please assign me this issue

[2020-03-04 06:07] Akansha2202 commented on #2065
please assign me this issue

[2020-03-04 06:14] diksha-dutt08 commented on #1535
What deadline have I got to resolve the issue?

[2020-03-04 06:18] disha2sinha opened #2067 "C++ Program to check whether a singly linked List is a palindrome or not"
Can I get assigned to writing the code of the problem mentioned in the title of this issue?

[2020-03-04 06:28] #2058 closed

[2020-03-04 06:28] #2055 closed

[2020-03-04 07:44] afroz23 commented on #1605
@raghav-dalmia review it.I am waiting from 3 days!

[2020-03-04 07:57] #2029 closed

[2020-03-04 08:03] Himan1999 commented on #1775
Hii have completed the task assigned in my device
will anyone guide me how to add it in the existing repo

[2020-03-04 08:31] lakshyajit165 commented on #1479
I have created a PR for this. @jainaman224 please review.

[2020-03-04 09:03] vishakha2108 opened #2070 "Page replacement algorithms(First in first out and least recently used) in java"
please assign me this issue

[2020-03-04 10:03] #1630 closed

[2020-03-04 10:39] #1878 closed

[2020-03-04 10:48] BhavishayGulati commented on #2067
hey I am a gssoc20 participant And i would like to solve this issue and i have successfully solved my first issue

[2020-03-04 10:50] BhavishayGulati commented on #2063
Hey,I am Gssoc20 participant and  I would like to contribute in this issue

[2020-03-04 10:52] #1635 closed

[2020-03-04 11:03] Neelaksh-Singh commented on #2019
i would also to help @jainaman224  in its implementation

[2020-03-04 11:04] Neelaksh-Singh commented on #2021
i am more than wiiling to help with the same

[2020-03-04 11:06] Neelaksh-Singh commented on #1822
i can take up the issue

[2020-03-04 11:13] Neelaksh-Singh commented on #1608
i am willing to make a readme for the same

[2020-03-04 11:17] ravireddy07 opened #2072 "Longest and Maximum Length Biotonic Subsequence"
I would like to implement this n C++ and java.
@jainaman224  @Vaibhavraj10 @vaibhav4595

[2020-03-04 11:53] TVSSSRIPAD opened #2073 "Tarjan's algorithm for finding Strongly Connected Components - C++"
Hi, I would like to implement Tarjan's algorithm in C++ for finding Strongly Connected Components present in a graph.

[2020-03-04 12:19] ravireddy07 commented on #1554
i would continue this issue by implementing in Python and C. @jainaman224

[2020-03-04 12:22] #1571 closed

[2020-03-04 12:40] vinod2305 commented on #2023
I would like to work on this issue. Thank you.

[2020-03-04 12:47] HardevKhandhar opened #2075 "Calculate Median Of Array in C"
Please assign this issue to me for GSSoC 2020

[2020-03-04 12:52] goyalmuskan commented on #1934
Please assign me this issue. I want to work on it in Java. @singh-shreya6

[2020-03-04 13:13] Harikrishnan6336 opened #2077 "Stooge sort in C++"
I would like to work on this program . Please assign this to me

[2020-03-04 13:35] Anushka-Rajvanshi commented on #2075
kindly assign me this issue. @jainaman224 @singh-shreya6  @asha15 @raghav-dalmia

[2020-03-04 13:36] NikitaMasand commented on #2023
Sorry but I had asked for this and It's already assigned. I am working on it.

[2020-03-04 14:33] #1624 closed

[2020-03-04 14:39] Anushka-Rajvanshi opened #2080 "Find Least element in an array using C,C++,Java."
There is no code to find least element in an array using C,C++,Java.Kindly let me work on this issue.

[2020-03-04 14:40] abhu-A-J opened #2081 "Coin Change-DP in JS"
I would like to implement this using JavaScript, since there exists no implementation . Thanks!
@asha15 @raghav-dalmia

[2020-03-04 14:52] aayanksinghai opened #2082 "Pythagoras Triplet in C++"
I would like to implement the Pythagoras triplet problem in c++ by finding the other two numbers of a given input in a triplet.

[2020-03-04 15:20] Anushka-Rajvanshi opened #2083 "Sum of Arithmetic progression Improvement"
In the code of arithmetic progression, sum is computed using 'for' loop. We can simply use formula of sum instead. It will reduce space complexity. Kindly assign me this issue. @jainaman224 @MastersAbh  @singh-shreya6  @asha15

[2020-03-04 15:21] Anushka-Rajvanshi commented on #2083
I can implement the code in C, C++ and java

[2020-03-04 15:25] p-bucky opened #2085 "Convert array into Zig-Zag in Java"
Given an array, rearrange the elements of array in zig-zag fashion. The converted array should be in form a < b > c < d > e < f.

Input:
arr[] = {4, 3, 7, 8, 6, 2, 1}

Output:
arr[] = {3, 7, 4, 8, 2, 6, 1}

[2020-03-04 15:28] p-bucky commented on #2085
Assign this issue to me @SakshiShreya @raghav-dalmia

[2020-03-04 15:36] nitin1kumar1 opened #2087 "Cartesian Tree using CPP"
Code for the Cartesian tree in CPP.

[2020-03-04 15:36] nitin1kumar1 commented on #2087
please assign

[2020-03-04 15:49] p-bucky opened #2088 "camelCase in Java"
**Count number of words in a String**
1.  It is a concatenation of one or more words consisting of English letters.
2. All letters in the first word are lowercase.
3. For each of the subsequent words, the first letter is uppercase and rest of the letters are lowercase.

Input:
oneTwoThree
Output:
3

[2020-03-04 15:50] p-bucky commented on #2088
Please assign this issue to me @SakshiShreya @raghav-dalmia

[2020-03-04 15:59] jainaman224 commented on #1535
We unassign person after 1 week of inactivity.

[2020-03-04 16:02] aayanksinghai opened #2089 "Maximum Subarray Sum in O(n) C++"
I would like to work on this.
Implementing in C++ in the most efficient manner. Time Complexity: O(n)

[2020-03-04 16:02] jainaman224 commented on #1554
@ravireddy07 You already have 2 issues.

[2020-03-04 16:03] aayanksinghai opened #2090 "Array-Spiral Print Anticlockwise in C++"
I would like to work on this. :)

[2020-03-04 16:04] jainaman224 commented on #1608
@Neelaksh-Singh Create a new issue.

[2020-03-04 16:05] jainaman224 commented on #1659
@prat31 Create new issue.

[2020-03-04 16:05] aayanksinghai opened #2091 "Bubble Sort in C++ using Recursion"
I would like to work on this.

[2020-03-04 16:06] jainaman224 commented on #1656
@TheDangerD0802 I am sorry, it is not a generic problem. So, closing it.

[2020-03-04 16:06] #1656 closed

[2020-03-04 16:06] abhinashgiri commented on #2080
Please let me work on it in c++.I think it's better to work on one language. Please assign me.

[2020-03-04 16:07] jainaman224 commented on #1775
@Himan1999 It would be great if you can read github docs and ask on public channel regarding this.

[2020-03-04 16:08] aayanksinghai opened #2092 "Unique Number in list in C++"
I would like to work on this by implementing the bitwise operator for the specified problem.

[2020-03-04 16:08] jainaman224 commented on #1815
Go ahead with Java.

[2020-03-04 16:10] TheDangerD0802 commented on #1656
So my PR is not going to be accepted as the issue has been closed.

On Wed, 4 Mar, 2020, 9:36 PM Aman Jain, <notifications@github.com> wrote:

[2020-03-04 16:10] Amitsharma45 commented on #2063
hey,i like  contribute in this issue

[2020-03-04 16:12] jainaman224 commented on #1842
@abhishekgupta368 2 issues policy. Have a look at slack group.

[2020-03-04 16:12] jainaman224 commented on #1842
@shwhite17 It is already there, go ahead. Start coding,  no need to create new issue.

[2020-03-04 16:15] aayanksinghai opened #2093 "Sum of alternative consecutive d odd numbers"
I would like to implement the sum of alternative consecutive d odd numbers in a given range.

[2020-03-04 16:16] #1862 closed

[2020-03-04 16:19] aayanksinghai opened #2094 "String remove consecutive duplicates C++"
Removing duplicate characters from a string.

Input:- ccoooding
Output:-  coding

[2020-03-04 16:24] jainaman224 commented on #1934
@goyalmuskan Create a new issue and make sure it is not implemented yet.

[2020-03-04 16:27] #2025 closed

[2020-03-04 16:27] goyalmuskan opened #2096 "Implementation of Hamiltonian Cycle using backtracking code in Java"
To add hamiltonian cycle using backtracking code in Java. Please assign me this issue @jainaman224

[2020-03-04 16:27] #2026 closed

[2020-03-04 16:27] jainaman224 commented on #2026
Be specific

[2020-03-04 16:27] #2028 closed

[2020-03-04 16:27] goyalmuskan commented on #1934
@jainaman224 created issue #2096

[2020-03-04 16:28] #2033 closed

[2020-03-04 16:28] #2034 closed

[2020-03-04 16:28] #2037 closed

[2020-03-04 16:28] #2039 closed

[2020-03-04 16:28] #2040 closed

[2020-03-04 16:28] #2041 closed

[2020-03-04 16:29] #2045 closed

[2020-03-04 16:29] #2046 closed

[2020-03-04 16:29] #2048 closed

[2020-03-04 16:29] #2049 closed

[2020-03-04 16:30] #2042 closed

[2020-03-04 16:30] #2043 closed

[2020-03-04 16:30] #2044 closed

[2020-03-04 16:30] atrip10 opened #2098 "Jump Sort - C++"
To add jump sort code in c++

[2020-03-04 16:31] #2050 closed

[2020-03-04 16:32] #2053 closed

[2020-03-04 16:32] #2056 closed

[2020-03-04 16:32] #2062 closed

[2020-03-04 16:33] #2065 closed

[2020-03-04 16:33] jainaman224 commented on #2063
It is already implemented

[2020-03-04 16:33] #2063 closed

[2020-03-04 16:33] #2066 closed

[2020-03-04 16:37] Akansha2202 opened #2099 "Counting sort in C++"

[2020-03-04 16:38] Amitsharma45 commented on #2093
i woud to do this task

[2020-03-04 16:40] ashishnagpal2498 opened #2100 "Dynamic Memory Allocation in C++"
Implementation of Dynamic memory allocation. Creating a Two dimensional variable sized array at runtime.

[2020-03-04 16:41] #2072 closed

[2020-03-04 16:42] #2075 closed

[2020-03-04 16:42] Akansha2202 opened #2101 "Sort an array in increasing and decreasing order using recursion"

[2020-03-04 16:42] jainaman224 commented on #2077
Please explain the algorithm first.

[2020-03-04 16:43] #2080 closed

[2020-03-04 16:43] atrip10 opened #2102 "Exponential Sort - C++"
To add exponential sort code in C++

[2020-03-04 16:43] Akansha2202 opened #2103 "catalan number in c++"

[2020-03-04 16:46] Akansha2202 opened #2104 "Box stacking DP problem in C++"

[2020-03-04 16:47] HardevKhandhar commented on #2093
Please assign me this issue for GSSoC 2020

[2020-03-04 16:47] #2082 closed

[2020-03-04 16:47] #2083 closed

[2020-03-04 16:47] #2085 closed

[2020-03-04 16:47] #2087 closed

[2020-03-04 16:47] #2088 closed

[2020-03-04 16:47] #2089 closed

[2020-03-04 16:47] #2090 closed

[2020-03-04 16:47] #2091 closed

[2020-03-04 16:47] #2092 closed

[2020-03-04 16:47] #2093 closed

[2020-03-04 16:47] #2094 closed

[2020-03-04 16:47] #2096 closed

[2020-03-04 16:47] #2098 closed

[2020-03-04 16:47] #2099 closed

[2020-03-04 16:48] #2100 closed

[2020-03-04 16:48] #2101 closed

[2020-03-04 16:48] #2102 closed

[2020-03-04 16:48] #2103 closed

[2020-03-04 16:48] #2104 closed

[2020-03-04 16:48] HardevKhandhar commented on #2098
Please assign me this issue for GSSoC 2020

[2020-03-04 16:50] HardevKhandhar opened #2107 "Palindromic Array"
Given an array A of size N. Find the minimum number of operations needed to convert the given array to 'Palindromic Array'.

[2020-03-04 16:50] HardevKhandhar commented on #2107
Please assign this issue to me for GSSoC 2020

[2020-03-04 16:50] #2107 closed

[2020-03-04 16:50] goyalmuskan commented on #2096
Sir, I created a new issue for the code (its implementation is not added in Java). May I please know why did you close it? @jainaman224

[2020-03-04 16:51] DawoodBhai420 opened #2108 "Operator Overloading concept in C++(GSSoC'20)"
**I will add overloading of various operators:**
* Unary operator (-)
* Binary Operator(+)
* Binary Operator(-)
* Binary Operator(*)

**which will perform operations on different objects of a class.**

[2020-03-04 16:51] #2108 closed

[2020-03-04 16:53] ashishnagpal2498 opened #2109 "Add - Implementation of Classes - C++"
whole concept of Object Oriented Programming (Classes) in C++. Includes
1) Data members and Methods
2) Constructors - default , paramerterized , copy
3) Access Specifiers
4)  Operators
5) Inheritance
6) Friend Function
7) Virtual Classes and Functions

[2020-03-04 16:54] jainaman224 commented on #1830
#1586 Issue already present.

[2020-03-04 16:54] #1830 closed

[2020-03-04 16:54] #2109 closed

[2020-03-04 16:54] HardevKhandhar commented on #1876
@jainaman224 Sir
I would like to contribute to this issue for GSSoC 2020 in C language. May I raise a new Issue ? I have no issues assigned as of now

[2020-03-04 16:56] DawoodBhai420 opened #2110 "Implementation of Hybrid Inheritance C++ (GSSoC'20)"

[2020-03-04 16:57] DawoodBhai420 commented on #2110
I want to work on this issue as a part og GSSoC'20.
Please assign this issue to me.

[2020-03-04 16:58] jainaman224 opened #2111 "AKS primality test"
- [x] C
- [x] C++
- [x] C# - @Yashank18
- [ ] CoffeeScript
- [ ] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [x] JS
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme - @goyalmuskan
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript - @Kuljeet-123

[2020-03-04 16:58] Amitsharma45 commented on #2019
i would like to contribute i am from gssoc 2020

[2020-03-04 16:59] #2110 closed

[2020-03-04 17:01] Yashank18 commented on #2111
I want to work on this issue

[2020-03-04 17:01] goyalmuskan commented on #2111
I want to add the Readme for this issue @jainaman224

[2020-03-04 17:02] Amitsharma45 commented on #2019
@codermuskanj i solve this problem

[2020-03-04 17:04] jainaman224 opened #2112 "AVL tree"
- [x] C
- [x] C++ - @Manish-cloud
- [ ] C# - @KanakalathaVemuru
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [ ] JS - @satvikchachra
- [ ] Kotlin
- [ ] Php - @chandrikadeb7
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:06] goyalmuskan commented on #2112
I want to work on this issue in C#

[2020-03-04 17:07] atrip10 opened #2114 "Count balanced binary tree of height h(Dynamic Programming) - C++"

[2020-03-04 17:09] nitin1kumar1 commented on #2112
I can work o it in C. Assign.

[2020-03-04 17:10] #2114 closed

[2020-03-04 17:14] nitin1kumar1 commented on #2111
I want to add the Cpp code for this.

[2020-03-04 17:17] jainaman224 opened #2117 "Activity Selection"
- [x] C
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [x] Dart
- [x] Go
- [x] Java
- [x] JS
- [ ] Kotlin - @Anushka118
- [ ] Php
- [x] Python
- [x] Readme - @nitin1kumar1
- [x] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:20] jainaman224 commented on #1760
@topcoder69 Do it in java.

[2020-03-04 17:20] jainaman224 opened #2118 "Aho-Corasick"
- [ ] C - @santushtisharma10
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart
- [ ] Go
- [ ] Java - @topcoder69
- [ ] JS - @kashika3101
- [ ] Kotlin
- [ ] Php
- [x] Python - @shivanidalmia1203
- [ ] Readme - @Raksha25
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:21] nitin1kumar1 commented on #2117
I can do readme for this.

[2020-03-04 17:23] jainaman224 opened #2120 "Armstrong Number"
- [x] C
- [x] C++
- [ ] C# - @BishalKrChanda
- [ ] CoffeeScript
- [ ] Dart - @pooja-git11
- [x] Go
- [x] Java
- [ ] JS - @Aju100
- [x] Kotlin
- [x] Php - @srimani-programmer
- [x] Python
- [x] Readme
- [ ] Ruby - @darkdebo
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:24] jainaman224 commented on #1572
It is already present.

[2020-03-04 17:24] #1572 closed

[2020-03-04 17:24] nitin1kumar1 commented on #2120
I can do C# and JS both. Please assign.

[2020-03-04 17:26] atrip10 opened #2121 "Eulerian Number - C++"
C++ program to find Eulerian number

[2020-03-04 17:27] sandhyabhan opened #2122 "Code For Sparse Matrices in C Language."
I want to add code for different  operations on sparse matrices.
The operations are:
1)Convert Normal matrix to sparse.
2)Convert Sparse matrix to Normal.
3)Display Sparse.
4)Addition of sparse matrices.

please assign this issue to me.

[2020-03-04 17:28] #2121 closed

[2020-03-04 17:28] #2122 closed

[2020-03-04 17:28] jainaman224 opened #2124 "Bucket Sort"
- [x] C
- [x] C++
- [ ] C# - @luv4bytes
- [ ] CoffeeScript
- [ ] Dart
- [x] Go - @m-code12
- [x] Java
- [x] JS - @abhu-A-J
- [x] Kotlin - @shubhammantri1
- [ ] Php - @srimani-programmer
- [x] Python
- [x] Readme
- [x] Ruby - @m-code12
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:31] jainaman224 opened #2125 "Binary Insertion Sort"
- [x] C
- [x] C++
- [x] C# - @Yashank18
- [ ] CoffeeScript
- [ ] Dart - @raksha009
- [ ] Go - @KamalDGRT
- [ ] Java - @raktim00
- [ ] JS - @sheetalssr
- [ ] Kotlin
- [ ] Php - @goyalmuskan
- [x] Python
- [ ] Readme - @goyalmuskan
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:33] atrip10 opened #2126 "Sutherland hodgman in polygon clipping - C++"

[2020-03-04 17:35] #636 closed

[2020-03-04 17:35] #2126 closed

[2020-03-04 17:36] MdAkdas commented on #2112
i can do this in C++. assign me this. :)

[2020-03-04 17:36] sandhyabhan opened #2128 "I want to add code for different File operations (SEQUENTIAL FILE) In C language."
Different File operations include:
1)Add a record
2)Display a record
3)Modify a record
4)Delete a record
5)Display all Record

please assign this to me.

[2020-03-04 17:38] jainaman224 opened #2129 "Circle Sort"
- [x] C
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart
- [ ] Go - @aakashdinkar
- [x] Java
- [ ] JS - @HariniJeyaraman
- [x] Kotlin - @myselfanuj
- [x] Php - @mharshita
- [x] Python
- [x] Readme
- [x] Ruby - @HardevKhandhar
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:39] atrip10 opened #2130 "Rotate a Linked List - C++"

[2020-03-04 17:39] jainaman224 opened #2131 "Quick Sort"
- [x] C
- [x] C++
- [x] C# - @Yashank18
- [ ] CoffeeScript - @prashansag62
- [x] Dart
- [x] Go
- [x] Java
- [x] JS
- [x] Kotlin - @97shivank
- [x] Php - @goyalmuskan
- [x] Python
- [x] Readme
- [x] Ruby
- [ ] Rust - @m-code12
- [ ] TypeScript - @dj373

[2020-03-04 17:40] #1570 closed

[2020-03-04 17:41] MdAkdas commented on #2130
I can do this C.

[2020-03-04 17:42] atrip10 opened #2133 "Remove Duplicates from unsorted linked list - C++"

[2020-03-04 17:43] #2128 closed

[2020-03-04 17:43] #2130 closed

[2020-03-04 17:43] #2133 closed

[2020-03-04 17:44] jainaman224 opened #2135 "Comb Sort"
- [x] C
- [x] C++
- [ ] C# - @sakshijainn
- [ ] CoffeeScript
- [ ] Dart
- [x] Go
- [x] Java
- [ ] JS - @atrip10
- [x] Kotlin - @sandhyabhan
- [x] Php
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 17:48] jainaman224 opened #2136 "Merge Sort"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart
- [x] Go
- [x] Java
- [x] JS
- [ ] Kotlin - @shubhammantri1
- [x] Php
- [x] Python
- [x] Readme
- [x] Ruby
- [x] Rust - @m-code12
- [x] TypeScript - @m-code12

[2020-03-04 17:51] chandrikadeb7 commented on #2136
I want to work on PHP under GSSoC'20.

[2020-03-04 17:52] chandrikadeb7 commented on #2112
I want to contribute in Ruby under GSSoC'20

[2020-03-04 17:52] jainaman224 commented on #2136
@chandrikadeb7 For now, you have 2 open issues.

[2020-03-04 17:53] atrip10 commented on #2129
I want to work on this issue in C++

[2020-03-04 17:54] atrip10 commented on #2117
I can code for this issue in C++

[2020-03-04 17:54] jainaman224 commented on #2117
@atrip10 It is already implemented in C++.

[2020-03-04 17:55] chandrikadeb7 commented on #2136
@jainaman224 I have 1 issue open. The other issue got merged.

[2020-03-04 17:55] atrip10 commented on #2131
I want to work on this issue in C++

[2020-03-04 17:58] atrip10 commented on #2135
I can work on this issue in JS

[2020-03-04 17:59] goyalmuskan commented on #2125
I want to work on this in Java. Please assign me this issue.

[2020-03-04 18:00] atrip10 commented on #2118
I can work on this issue in C and JS

[2020-03-04 18:02] jainaman224 commented on #2118
@atrip10 You already have 2 open issues.

[2020-03-04 18:03] BhardwajShweta25 commented on #2136
I would like to work on this issue in C++

[2020-03-04 18:03] jainaman224 commented on #2125
@goyalmuskan You already have 2 open issues.

[2020-03-04 18:04] goyalmuskan commented on #2125
Sir, I have already created PR for those. @jainaman224

[2020-03-04 18:07] jainaman224 commented on #2125
Sorry but you have to wait for the review.

[2020-03-04 18:09] CSElonewolf commented on #1815
thank you @jainaman224 sir

[2020-03-04 18:09] #2059 closed

[2020-03-04 18:16] jainaman224 opened #2141 "Bead Sort"
- [x] C
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart
- [ ] Go
- [x] Java
- [ ] JS
- [ ] Kotlin
- [ ] Php
- [x] Python
- [ ] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:20] #1979 closed

[2020-03-04 18:21] jainaman224 opened #2143 "Bubble Sort"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart
- [x] Go
- [x] Java
- [x] Julia
- [x] JS
- [x] Kotlin
- [x] Php
- [x] Python
- [x] Readme
- [x] Ruby
- [x] Rust - @m-code12
- [x] Shell
- [ ] TypeScript - @manildayma

[2020-03-04 18:25] jainaman224 opened #2144 "Cocktail Sort"
- [x] C
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [x] JS
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme
- [x] Ruby- @HardevKhandhar
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:26] jainaman224 opened #2145 "Counting Sort"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [ ] Dart
- [x] Go - @m-code12
- [x] Java
- [x] JS
- [x] Kotlin - @sandhyabhan
- [x] Php
- [x] Python
- [x] Readme
- [x] Ruby
- [ ] Rust
- [ ] TypeScript - @shivamgupta57121

[2020-03-04 18:27] jainaman224 opened #2146 "Cycle Sort"
- [ ] C - @saloniankita
- [x] C++
- [x] C#
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [x] Go - @m-code12
- [x] Java
- [x] JS - @JanaSabuj
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme
- [x] Ruby - @HardevKhandhar
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:29] jainaman224 opened #2147 "Heap Sort"
- [x] C
- [x] C++
- [x] C#
- [ ] CoffeeScript
- [x] Dart
- [x] Go - @Shr03mink
- [x] Java
- [x] JS
- [ ] Kotlin
- [x] Php - @anmolkaur18
- [x] Python
- [x] Readme
- [x] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:29] yuktirapartiwar commented on #2112
I want to work on this issue in c++. Please assign me this issue.

[2020-03-04 18:30] jainaman224 commented on #1669
It is already implemented

[2020-03-04 18:30] #1669 closed

[2020-03-04 18:30] jainaman224 commented on #1707
It is already implemented

[2020-03-04 18:30] #1707 closed

[2020-03-04 18:32] jainaman224 opened #2148 "Insertion Sort"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart
- [x] Go
- [x] Java
- [x] JS
- [x] Kotlin
- [ ] Php - @saloniankita
- [x] Python
- [ ] Readme - @debdutgoswami
- [x] Ruby
- [x] Rust - @m-code12
- [ ] TypeScript

[2020-03-04 18:33] jainaman224 opened #2149 "Pigeonhole Sort"
- [x] C
- [x] C++
- [x] C# - @Harikrishnan6336
- [ ] CoffeeScript
- [ ] Dart - @heisastark
- [x] Go - @m-code12
- [x] Java
- [ ] JS - @sheetalssr
- [ ] Kotlin - @Anushka118
- [ ] Php
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:33] jainaman224 commented on #1959
It is already implemented.

[2020-03-04 18:34] #1959 closed

[2020-03-04 18:34] jainaman224 opened #2151 "Pancake Sort"
- [x] C
- [x] C++
- [x] C# - @himanshusharma89
- [ ] CoffeeScript
- [ ] Dart - @Rukmini-Meda
- [x] Go - @KamalDGRT
- [ ] Java - @parjanyaacoder
- [x] JS - @sejalshri
- [ ] Kotlin - @sandhyabhan
- [ ] Php - @sakshikhachane
- [x] Python
- [ ] Readme - @Tawishi
- [x] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:36] jainaman224 opened #2152 "Radix Sort"
- [x] C
- [x] C++
- [x] C# - @himanshusharma89
- [x] CoffeeScript
- [ ] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [x] JS
- [ ] Kotlin
- [ ] Php - @vedangi163
- [x] Python
- [x] Readme
- [x] Ruby
- [x] Rust - @m-code12
- [ ] TypeScript

[2020-03-04 18:37] shreyasrivastava936 commented on #1591
@raghav-dalmia review it once

[2020-03-04 18:37] jainaman224 opened #2154 "Selection Sort"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [ ] Dart - @pooja-git11
- [x] Go
- [x] Java
- [x] JS
- [x] Kotlin
- [x] Php - @BhardwajShweta25
- [x] Python
- [x] Readme
- [x] Ruby
- [x] Rust - @raksha009
- [ ] TypeScript - @lakshyajit165

[2020-03-04 18:39] yuktirapartiwar commented on #2146
I want to work on this issue in C. Please assign me this issue.

[2020-03-04 18:40] jainaman224 opened #2156 "Shell Sort"
- [x] C
- [x] C++
- [x] C# - @Harikrishnan6336
- [x] CoffeeScript
- [ ] Dart
- [x] Go - @lakshyajit165
- [x] Java
- [x] JS
- [ ] Kotlin - @myselfanuj
- [x] Php - @saloniankita
- [x] Python
- [x] Readme
- [x] Ruby - @HardevKhandhar
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:41] yuktirapartiwar commented on #2151
I want to work on this issue in java. Please assign me this issue.

[2020-03-04 18:41] jainaman224 opened #2157 "Sleep Sort"
- [x] C
- [x] C++
- [ ] C#
- [x] CoffeeScript
- [ ] Dart
- [x] Erlang
- [ ] Go - @m-code12
- [x] Java
- [x] Julia
- [ ] JS - @MOHITSAHAL
- [ ] Kotlin
- [ ] Php - @sakshikhachane
- [x] Python
- [x] Readme - @Amitsharma45
- [x] Ruby
- [ ] Rust
- [x] Shell
- [ ] TypeScript

[2020-03-04 18:44] jainaman224 opened #2158 "Tim Sort"
- [x] C
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart
- [ ] Go
- [ ] Java
- [x] JS
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:45] jainaman224 opened #2159 "Topological Sort"
- [x] C
- [x] C++
- [ ] C# - @himanshusharma89
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [x] JS - @JanaSabuj
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:47] jainaman224 commented on #2151
It is already assigned for java.

[2020-03-04 18:48] yuktirapartiwar commented on #2158
I want to work on this issue in java. Please assign me this issue.

[2020-03-04 18:49] atrip10 commented on #2118
I worked on that issue

[2020-03-04 18:49] jainaman224 commented on #2118
Please wait for it to get closed.

[2020-03-04 18:51] atrip10 commented on #2118
Okay

[2020-03-04 18:55] jainaman224 opened #2161 "Rabin Karp"
- [x] C - @disha2sinha
- [x] C++
- [ ] C# - @MananKaur
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [x] JS - @JanaSabuj
- [ ] Kotlin
- [x] Php - @coderprasukj
- [x] Python - @codermuskanj
- [ ] Readme - @AdityaSingh17
- [x] Ruby - @Tahanima
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:56] jainaman224 opened #2162 "RSA algorithm"
- [x] C
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart
- [ ] Go - @KamalDGRT
- [x] Java
- [ ] JS - @MOHITSAHAL
- [ ] Kotlin - @RaghavAwasthi
- [ ] Php
- [x] Python
- [ ] Readme - @mharshita
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:58] srimani-programmer commented on #2120
I want to implement it in PHP. Please assign this issue to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-04 18:58] jainaman224 opened #2163 "Red Black Tree"
- [x] C
- [x] C++
- [x] C# - @ritish099
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [ ] JS - @bohemian98
- [ ] Kotlin - @sandhyabhan
- [ ] Php - @goyalmuskan
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 18:58] MdAkdas commented on #2161
I can implement this in C. please assign me this.

[2020-03-04 19:00] srimani-programmer commented on #1925
I want to work on this issue. Please assign it to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-04 19:02] biekymahato commented on #2163
@jainaman224  I want to work on it in CPP language.
so can you assign it to me?

[2020-03-04 19:05] shreyasrivastava936 commented on #2157
Assign this issue to me for java

[2020-03-04 19:05] srimani-programmer commented on #2147
I want to work on this issue in PHP. Please assign it to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-04 19:07] jainaman224 commented on #2163
@biekymahato It is already implemented.

[2020-03-04 19:10] Maxz2136 commented on #2161
I can work on implementing Rabin Karp in C. Please assign me these @jainaman224

[2020-03-04 19:12] jainaman224 opened #2164 "Segment Tree Range Minimum Query"
- [x] C - @MdAkdas
- [x] C++
- [ ] C#
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [ ] JS - @JanaSabuj
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme - @chandrikadeb7
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-04 19:14] MdAkdas commented on #2164
i can do this in C. assign me this. @jainaman224

[2020-03-04 19:15] jainaman224 commented on #2164
@MdAkdas You already have 2 issues.

[2020-03-04 19:16] jainaman224 commented on #2147
@srimani-programmer You already have 2 assigned issues.

[2020-03-04 19:17] biekymahato commented on #2156
@jainaman224  I want to work on this by using c# language.

[2020-03-04 19:17] jainaman224 commented on #2161
@MdAkdas @Maxz2136 You already have 2 issues assigned.

[2020-03-04 19:18] MdAkdas commented on #2164
I've solve those issues. Waiting for my PR to be review from past two days.

[2020-03-04 19:19] jainaman224 commented on #2163
Which are not ticked and there is no name after the language.

[2020-03-04 19:26] Maxz2136 commented on #2161
@jainaman224 I have submitted the PR for one of my assigned issue #1876 , PR #2142
So, I am left with one issue for now, upon which I am currently working. So, I can work on this issue if this is assigned to me?

[2020-03-04 19:30] sandhyabhan opened #2165 "Expression Tree using Arrays in C"
I want to add a C code for Expression Tree using Arrays .

please assign me this.

[2020-03-04 19:32] #2165 closed

[2020-03-04 19:35] sandhyabhan commented on #2154
I want to do the code of selection sort in C language.

please assign this to me.

[2020-03-04 19:35] jainaman224 commented on #2164
But let it be merged first.

[2020-03-04 19:37] jainaman224 commented on #2161
You have already 2 open issues, even if you have raised PR, wait for it to get merged.

[2020-03-04 19:38] sandhyabhan commented on #2143
I would like to write its program in C language.

please assign this to me.

[2020-03-04 19:39] biekymahato commented on #2163
@jainaman224  okay sir have a look at my PR. I have done 1st PR 5 days ago but no reply to it.

[2020-03-04 19:43] biekymahato commented on #2163
@jainaman224 assign this to me . I'm not working on Issue number #1562 .
and I'm going unassign myself from that issue so there is only one issue open.
so can you assign it to me?

[2020-03-04 19:51] JanaSabuj commented on #2164
I want to do it in JS.

[2020-03-04 19:51] JanaSabuj commented on #2159
I want to do it in JS.

[2020-03-04 19:52] JanaSabuj commented on #2154
I want to do it in JS.

[2020-03-04 19:53] JanaSabuj commented on #2147
I want to do it in JS. @jainaman224

[2020-03-04 19:54] arghac14 commented on #2162
Would like to work on this, can I get assigned to this issue?

[2020-03-04 19:54] JanaSabuj commented on #2124
I want to do it in JS. @jainaman224

[2020-03-04 19:56] JanaSabuj commented on #2149
I want to do it in JS. @jainaman224

[2020-03-04 20:06] shubhammantri1 opened #2167 "1-d array in Kotlin"
@jainaman224 Please Assign it to me.

[2020-03-04 20:07] shubhammantri1 opened #2168 "Anagram in Kotlin"
@jainaman224 Please Assign it to me.

[2020-03-04 20:49] #1666 closed

[2020-03-04 20:52] #1641 closed

[2020-03-04 21:00] nitin1kumar1 commented on #2162
I can do readme for this.

[2020-03-04 22:18] heisastark commented on #2149
I can do it in JS, TypeScript, Kotlin and C# @jainaman224

[2020-03-04 22:20] heisastark commented on #2149
I can do it in JS, TypeScript and C# @jainaman224

[2020-03-04 22:21] heisastark commented on #2151
Please assign this to me for JS solution.

[2020-03-04 22:25] heisastark commented on #2162
Can do this in JS. Please assign it to me.

[2020-03-05 01:50] Xxoliaxx commented on #1876
Why was I not assigned this issue when I had asked for it first? @jainaman224

[2020-03-05 02:05] topcoder69 commented on #1760
On it!

[2020-03-05 02:08] DawoodBhai420 commented on #2154
I want to work on this issue in C++ as a part of GSSoC’20

[2020-03-05 02:09] DawoodBhai420 commented on #2148
I want to work on this issue in C and C++.
Please assign this to me

[2020-03-05 02:10] DawoodBhai420 commented on #2143
I want to work on this issue in C++.
Please assign this to me

[2020-03-05 02:58] #2167 closed

[2020-03-05 02:58] #2168 closed

[2020-03-05 03:00] jainaman224 commented on #1876
@Xxoliaxx As you had 2 issues assigned already.

[2020-03-05 03:03] jainaman224 commented on #2143
@DawoodBhai420 @sandhyabhan Tick marks are already implemented. Name after language means it is assigned to a person.

[2020-03-05 03:06] jainaman224 commented on #2162
@heisastark @arghac14 There is 2 open issue policy.

[2020-03-05 03:08] #1562 closed

[2020-03-05 03:11] jainaman224 opened #2170 "Quick Sort 3 way"
- [ ] C - @Moddy2024
- [x] C++
- [ ] C# - @Harikrishnan6336
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [ ] Java - @IPSITA2000
- [ ] JS - @atrip10
- [ ] Kotlin
- [ ] Php - @BellatrixLestrangee
- [x] Python
- [ ] Readme - @SomyaGandhi
- [x] Ruby - @HariniJeyaraman
- [ ] Rust
- [ ] TypeScript

[2020-03-05 03:12] jainaman224 opened #2171 "Breadth First Search"
- [x] C
- [x] C++
- [x] C# - @prashansag62
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go - @Aju100
- [x] Java
- [x] JS
- [ ] Kotlin
- [ ] Php - @srimani-programmer
- [x] Python
- [x] Readme
- [x] Ruby - @HardevKhandhar
- [ ] Rust
- [ ] TypeScript

[2020-03-05 03:14] jainaman224 opened #2172 "Depth First Search"
- [x] C
- [x] C++
- [x] C# -  @shreyakapoor08
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [x] Go - @m-code12
- [x] Java
- [x] JS - @JanaSabuj
- [ ] Kotlin - @m-code12
- [x] Php - @thakran14
- [x] Python
- [x] Readme
- [x] Ruby
- [ ] Rust - @THEBEAST310
- [ ] TypeScript

[2020-03-05 03:15] jainaman224 opened #2173 "Fenwick Tree"
- [x] C
- [x] C++
- [ ] C# - @ritish099
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go
- [x] Java
- [x] JS
- [x] Kotlin - @JasbirCodeSpace
- [x] Php - @goyalmuskan
- [x] Python
- [ ] Readme - @AJAYSHARMA2012
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-05 03:18] jainaman224 opened #2174 "Sieve Of Eratosthenes"
- [x] C
- [x] C++
- [ ] C# - @kashika3101
- [x] CoffeeScript
- [ ] Dart - @shivang2k
- [x] Go
- [x] Java
- [x] JS
- [x] Kotlin
- [x] Php - @mruna7
- [x] Python
- [x] Readme
- [ ] Ruby - @Basilleaf24
- [ ] Rust
- [x] TypeScript - @shivamgupta57121

[2020-03-05 03:20] jainaman224 opened #2175 "Binary Search"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart - @keshakaneria
- [x] Go
- [x] Java
- [x] Julia
- [x] JS
- [x] Kotlin
- [x] Php
- [x] Python
- [x] Readme
- [x] Ruby
- [x] Rust - @raksha009
- [x] TypeScript - @Shr03mink

[2020-03-05 03:21] jainaman224 opened #2176 "Ternary Search"
- [x] C
- [x] C++
- [x] C# - @p-soham11
- [x] CoffeeScript
- [ ] Dart - @heisastark
- [ ] Go - @Ratna04priya
- [x] Java
- [x] JS
- [ ] Kotlin - @saloniankita23
- [x] Php - @BhardwajShweta25
- [x] Python
- [x] Readme - @shwetagurnani
- [ ] Ruby - @atarax665
- [ ] Rust
- [ ] TypeScript

[2020-03-05 03:23] jainaman224 opened #2177 "Exponential Search"
- [x] C
- [x] C++
- [x] C#
- [ ] CoffeeScript
- [ ] Dart - @disha2sinha
- [ ] Go
- [x] Java
- [x] JS
- [ ] Kotlin
- [x] Php - @thakran14
- [x] Python
- [ ] Readme - @AJAYSHARMA2012
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-05 03:24] jainaman224 opened #2178 "Interpolation Search"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [ ] Dart
- [x] Go
- [x] Java
- [x] JS
- [ ] Kotlin
- [x] Php
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-05 03:26] jainaman224 opened #2179 "Linear Search"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart - @keshakaneria
- [x] Go
- [x] Java
- [x] Julia
- [x] JS
- [x] Kotlin
- [x] Php
- [x] Python
- [x] Readme
- [x] Ruby
- [x] Rust - @raksha009
- [x] TypeScript - @mruna7

[2020-03-05 03:46] heisastark commented on #2162
@jainaman224 waiting for the last two to be merged sir

[2020-03-05 03:47] heisastark commented on #2162
@jainaman224 waiting for the last two to be merged

[2020-03-05 04:52] rhythm10 opened #2182 "Bitmasking Techniques"
Will upload all Bitmasking Questions like, Count Bits(Brian Kernighan’s Algorithm), Masking Techniques, etc. I will upload a total of 15 Codes.

[2020-03-05 04:52] Aman-Codes commented on #2174
I am a GSSOC 2020 participant and I would love to implement this in C, C++ and JS as a part of GSSOC 2020. Please assign it to me @jainaman224 @raghav-dalmia @asha15 @singh-shreya6

[2020-03-05 05:15] coderprasukj commented on #2173
@jainaman224 I would like to work for this issue in C. Please assign me this.

[2020-03-05 05:33] #2182 closed

[2020-03-05 05:35] jainaman224 commented on #2173
@coderprasukj You already have 2 open issues.

[2020-03-05 05:49] disha2sinha commented on #2161
I can implement this in C

[2020-03-05 08:37] shubhammantri1 commented on #2124
I want to do in Kotlin

[2020-03-05 08:38] shubhammantri1 commented on #2136
I Want to work in Kotlin. @jainaman224

[2020-03-05 09:47] rahulmajumder85 opened #2185 "Do not create issue"

[2020-03-05 09:48] #2185 closed

[2020-03-05 10:11] Anushka-Rajvanshi commented on #2154
I can do this implementation in C, C++and Java. Kindly assign this issue to me.

[2020-03-05 10:40] SubCoder1 commented on #2179
I would like to work on Dart, Rust and Typescript. Can you please assign me this task @jainaman224

[2020-03-05 10:41] SubCoder1 commented on #2178
I would like to work on Dart and Rust. Kindly assign me this issue @jainaman224

[2020-03-05 11:10] jayakar01 commented on #2152
I can do this in C,C++ and Python.

[2020-03-05 12:27] raktim00 commented on #2125
I want to work on this issue on Java. Please assign me this. @jainaman224 @somya-kapoor

[2020-03-05 12:38] DawoodBhai420 opened #2186 "recursive approach for bitwise addition in C and C++"
I am creating this issue as said by @raghav-dalmia ,
please assign this issue to me.

[2020-03-05 12:38] biekymahato commented on #2163
@amanjain @asha15  @somya-kapoor  I have only one issue assign to me. Can you know Assign to me?

[2020-03-05 12:43] biekymahato commented on #2173
@amanjain @asha15 @somya-kapoor  can I work on this by using c language?

[2020-03-05 14:18] p-bucky commented on #2143
I want to work on this in java Please assign this to me

[2020-03-05 14:19] p-bucky commented on #2136
I want to work on this in Java please assign this to me

[2020-03-05 14:38] p-soham11 opened #2191 "Automorphic Number for Python"
The Automorphic number is missing in Python language.

[2020-03-05 14:46] Nikhil-Patro opened #2193 "GCD implementation in C and C++"
i would like to implement Euclidean algorithm to find GCD in C and C++.Please assign me this issue

[2020-03-05 14:49] p-bucky commented on #2177
Sir Assign this to me I will do in java

[2020-03-05 14:51] Samriddhi25 commented on #2191
I would like to contribute for this.

[2020-03-05 14:57] p-soham11 commented on #2191
Okay, So have you already make the same issue earlier ?

[2020-03-05 15:20] pragyajaiswa05l opened #2194 "stack using array in cpp"
please assign me this issue would like to contribute in it by creating stack array using template .
really want to contribute in it.

[2020-03-05 15:28] pragyajaiswa05l opened #2196 "stack using linkedlist in cpp"
please assign this issue to me as a part of gssoc 2020.would like to implement it using template.

[2020-03-05 15:56] #2186 closed

[2020-03-05 15:56] #2191 closed

[2020-03-05 15:56] #2193 closed

[2020-03-05 15:56] #2194 closed

[2020-03-05 15:56] #2196 closed

[2020-03-05 15:58] jainaman224 commented on #1934
@atrip10 We already have a issue for this. So, I have to close it.

[2020-03-05 15:58] #1934 closed

[2020-03-05 16:04] jainaman224 commented on #2136
@p-bucky @BhardwajShweta25 The languages that are checked are already implemented.

[2020-03-05 16:09] jainaman224 commented on #2178
Once you have implemented the Rust solution and no one has been assigned to Dart. Then I will assign you.

[2020-03-05 16:10] p-soham11 commented on #2179
I will work on C, C++ and Python. Please assign this to me

[2020-03-05 16:12] p-soham11 commented on #2178
I want to to work in C++ for this

[2020-03-05 16:14] p-soham11 commented on #2159
I want to do it in C++ @jainaman224

[2020-03-05 16:31] HardevKhandhar commented on #2172
I would like to contribute to this issue in JS for GSSoC 2020. Please assign this to me.

[2020-03-05 16:38] HardevKhandhar commented on #2171
@jainaman224 Sir, I would like to contribute to this issue in Ruby. Please assign this to me for GSSoC 2020

[2020-03-05 16:41] HardevKhandhar commented on #2176
I would like to do this issue in C#
Please assign me this issue for GSSoC 2020

[2020-03-05 16:44] HardevKhandhar commented on #2152
I would like to contribute to this issue in C#
Please assign me this issue for GSSoC 2020

[2020-03-05 16:46] jainaman224 commented on #2171
@HardevKhandhar Let any of your issue to close first.

[2020-03-05 16:47] DawoodBhai420 commented on #2186
@jainaman224  I had added both recursive and iterative approaches in single PR previously but the mentor @raghav-dalmia  suggested me to create separate issues for two approaches.
now, what am I supposed to do?
Please suggest.

[2020-03-05 16:48] HardevKhandhar commented on #2171
Ok Sir. No problem. However, it has been 4 days since the PR was initiated.
No issues. I will wait

[2020-03-05 16:49] atrip10 commented on #2170
I want to do this in JS

[2020-03-05 16:57] jalajdorai commented on #2175
Please assign me this issue

[2020-03-05 17:03] jainaman224 commented on #2175
@jalajdorai Select a language in which it is not already implemented.

[2020-03-05 17:08] jainaman224 opened #2199 "Binary Search Trees"
- [x] C
- [x] C++
- [x] C#
- [ ] CoffeeScript
- [ ] Dart
- [ ] Go
- [x] Java
- [x] JS
- [ ] Kotlin
- [ ] Php
- [x] Python
- [x] Readme
- [x] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-05 17:10] jainaman224 opened #2200 "Kruskal Algorithm"
- [ ] C - @coderprasukj
- [x] C++
- [ ] C# - @chandrikadeb7
- [ ] CoffeeScript
- [ ] Dart - @Swarnimashukla
- [ ] Go
- [x] Java
- [ ] JS - @shreyakapoor08
- [ ] Kotlin - @garimasingh128
- [ ] Php - @prince-09
- [x] Python - @Manish-cloud
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-05 17:12] jainaman224 opened #2201 "Prims Algorithm"
- [x] C
- [x] C++
- [ ] C# - @ritish099
- [ ] CoffeeScript
- [ ] Dart - @Swarnimashukla
- [ ] Go - @adi44
- [x] Java
- [x] JS - @sukritishah15
- [x] Kotlin - @darkmatter18
- [ ] Php - @prince-09
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript - @BhuwanChandra

[2020-03-05 17:14] jainaman224 commented on #2186
Submit PR for iterative method only.

[2020-03-05 17:15] jainaman224 opened #2202 "Bellman Ford Algorithm"
- [x] C
- [x] C++
- [x] C#
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [ ] Go - @ujjwaltiwari13
- [x] Java
- [ ] JS - @urbashi123
- [ ] Kotlin
- [ ] Php - @BellatrixLestrangee
- [x] Python
- [x] Readme
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript - @adi44

[2020-03-05 17:17] jainaman224 commented on #1930
@ka1shi It is already implemented in Java.

[2020-03-05 17:17] #1930 closed

[2020-03-05 17:19] jainaman224 opened #2204 "Dijkstra Algorithm"
- [x] C
- [x] C++
- [ ] C# - @anshu18107
- [ ] CoffeeScript
- [x] Dart - @Swarnimashukla
- [ ] Go - @raksha009
- [x] Java
- [ ] JS - @abhu-A-J
- [ ] Kotlin - @garimasingh128
- [x] Php - @sukritishah15
- [x] Python
- [ ] Readme - @shwetagurnani
- [x] Ruby
- [ ] Rust - @kichloo
- [x] TypeScript

[2020-03-05 17:20] jalajdorai commented on #1926
I would like to create this program that rotates a 2D array in C, C++ or Python.
Please assign this issue to me for GSSOC 2020.

[2020-03-05 17:21] jainaman224 opened #2205 "Floyd Warshall Algorithm"
- [ ] C - @Moddy2024
- [x] C++
- [ ] C# - @priyanka2109
- [ ] CoffeeScript - @Pihu1998
- [ ] Dart - @disha2sinha
- [x] Go
- [x] Java
- [x] JS - @prince-09
- [x] Kotlin - @THEBEAST310
- [ ] Php - @mharshita
- [x] Python
- [x] Readme - @nehasangeetajha
- [x] Ruby - @HardevKhandhar
- [ ] Rust
- [ ] TypeScript

[2020-03-05 17:23] jainaman224 opened #2206 "Johnson Algorithm"
- [x] C
- [ ] C++ - @Aakansha99
- [x] C# - @ritish099
- [ ] CoffeeScript
- [x] Dart - @Swarnimashukla
- [ ] Go - @BhardwajShweta25
- [ ] Java - @Neelaksh-Singh
- [ ] JS - @thakran14
- [x] Kotlin - @ritish099
- [x] Php - @ritish099
- [ ] Python - @BishalKrChanda
- [ ] Readme - @AdityaSingh17
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-05 17:31] rhythm10 opened #2207 "Bitonic Sort Not Present"
Bitonic Sorting, latest algorithm work for power of 2.

[2020-03-05 17:35] sandhyabhan opened #2208 "Expression Tree Using array"
I want to work on this issue..please assign this to me.

[2020-03-05 17:47] #2207 closed

[2020-03-05 17:47] #2208 closed

[2020-03-05 17:49] Ayushi0508 commented on #2204
I want to work on this issue

[2020-03-05 17:51] Ayushi0508 commented on #2199
I want to work on this issue

[2020-03-05 17:52] Ayushi0508 commented on #2179
I would like to work on c,c++, python3

[2020-03-05 17:52] Ayushi0508 commented on #2199
I can work in c ,c++, python

[2020-03-05 17:53] Ayushi0508 commented on #2204
I can work in c, c++, python

[2020-03-05 17:55] Ayushi0508 commented on #2201
I want to work on this issue. I can work in c, c++, python.

[2020-03-05 18:04] p-soham11 commented on #2179
In the repo, it's already done for these. I am seeing this now

[2020-03-05 18:06] p-soham11 commented on #2205
I want to contribute in C for this. Please assign me

[2020-03-05 18:25] p-soham11 commented on #2202
Please assign me for PHP, I wanna contribute

[2020-03-05 18:26] jalajdorai commented on #2200
Please assign me this issue for JS

[2020-03-05 18:27] luv4bytes commented on #2124
Hi, I'd like to do it in C#

[2020-03-05 18:27] jalajdorai commented on #2174
Please assign me this issue for PHP

[2020-03-05 18:28] jalajdorai commented on #2172
Please assign me this issue for PHP

[2020-03-05 18:35] p-soham11 commented on #2151
I want to do it in Python, Please assign me for that.

[2020-03-05 18:38] jainaman224 commented on #2199
@Ayushi0508 Already implemented in these languages.

[2020-03-05 18:41] BishalKrChanda commented on #2206
I would like to work on this issue in Python under GSSoC20. @singh-shreya6 @asha15 @raghav-dalmia please assign me with this issue.

[2020-03-05 18:44] jainaman224 commented on #2172
@jalajdorai You already have 2 issues assigned.

[2020-03-05 18:52] ka1shi commented on #2206
@jainaman224, I can implement it in C. Please assign it to me for C Language.

[2020-03-05 18:56] jalajdorai commented on #2174
I have made a pull request for Sieve_of_Eratosthenes in PHP

[2020-03-05 19:19] raktim00 commented on #2170
@jainaman224 @somya-kapoor I want to work on this in C. Kindly assign this to me.

[2020-03-05 19:32] topcoder69 commented on #2174
Please assign me this issue in C#.

[2020-03-05 19:33] topcoder69 commented on #2204
Please assign me this issue for C#.

[2020-03-05 19:39] JanaSabuj commented on #2205
I want to do it in JS. @jainaman224

[2020-03-05 19:39] JanaSabuj commented on #2206
I want to do it in JS. @jainaman224

[2020-03-05 19:40] JanaSabuj commented on #2201
I want to do it in JS. @jainaman224

[2020-03-05 19:49] heisastark commented on #1968
File for #1968 is ready, will send a PR as soon as PR #2219 gets approved.

[2020-03-05 20:01] coderprasukj commented on #2200
@jainaman224 Sir i was assigned to this issue with 'easy' tag. Would it be also changed??

[2020-03-05 20:28] #1646 closed

[2020-03-05 20:33] JanaSabuj commented on #2199
I want to implement it in JS. @jainaman224

[2020-03-05 20:33] HariniJeyaraman commented on #2204
Please assign this issue. I can update the README for this issue. @jainaman224

[2020-03-05 21:21] CSElonewolf commented on #2204
I can apply this algorithm in Java and C with proper comments.

[2020-03-06 01:23] #1610 closed

[2020-03-06 01:28] #1631 closed

[2020-03-06 02:08] BhardwajShweta25 commented on #2154
I would like to contribute in PHP

[2020-03-06 02:56] anshu18107 opened #2223 "Implementing pattern programs"
I would like to work on the pattern programs because students at times get stuck ,especially beginners so its better to implement them in algo_ds_notes .Assign me with  this issue

[2020-03-06 03:00] anshu18107 commented on #2204
Please assign this issue to me ,I can work on it with c,c++,python,javascript,with proper indentation and comments

[2020-03-06 03:17] anshu18107 commented on #2178
I would like to work on the c,c++,python part .Kindly assign me the issue @jainaman224

[2020-03-06 03:21] anshu18107 commented on #2141
kindly assign me @jainaman224 , I would like to work on it with  c,c++&python

[2020-03-06 03:32] anshu18107 commented on #2141
Kindly assign this issue @jainaman224 ,would like to work on the javascript solution

[2020-03-06 03:36] anshu18107 commented on #2204
I would like to work on the C# part .Kindly assign me the issue @jainaman224

[2020-03-06 03:36] aryangulati commented on #2201
I am adding algorithm in JS , c# pls allow me !

[2020-03-06 04:02] mansikagrawal commented on #2206
Please assign me to java language.

[2020-03-06 04:05] mansikagrawal opened #2225 "Fast fourier programs in c++"
I can implement those in c++ >please assign me the task. @jainaman224

[2020-03-06 05:26] raktim00 commented on #2164
@jainaman224 I want to work on C in this issue. Kindly assign me this.

[2020-03-06 05:29] DawoodBhai420 opened #2226 "Bitwise Division in C and C++ (GSSoC'20)"
I want to work on this issue as apart of GSSoC'20.
Please assign this issue to me.

[2020-03-06 05:34] urbashi123 commented on #2202
Hii! I want to work on this issue. Can you assign this issue to me?
@jainaman224

[2020-03-06 05:39] urbashi123 commented on #2145
Hi! I would like to work on this issue.Can you assign me?
@jainaman224

[2020-03-06 05:40] urbashi123 commented on #2144
Hi! I would like to work on this issue. Please can you assign me?
@jainaman224

[2020-03-06 05:46] urbashi123 commented on #1892
Hi! I would like to work on this issue. Please can you assign me ?
@jainaman224

[2020-03-06 06:00] urbashi123 commented on #2070
Can you assign me this issue?
@jainaman224

[2020-03-06 06:21] darkdebo commented on #1564
@jainaman224 can i add the ruby documentation section in armstrong number.

[2020-03-06 06:23] abhishekgupta368 commented on #2206
can you please assign this to me

[2020-03-06 06:24] abhishekgupta368 opened #2227 "Implementation of fast multiplication using fourier transformation."
this program is missing, can you please assign this me?

[2020-03-06 06:25] Amitsharma45 commented on #2179
I am from GSSoc 2020 and i wnat to work in c,python , java

[2020-03-06 06:26] abhishekgupta368 opened #2228 "implementation of bridge detection in graph"
this program is missing, can you please assign this me?

[2020-03-06 08:31] pragyajaiswa05l opened #2231 "stack using linkedlist in cpp"
please assign me this issue as a part of  GSSoC 2020.

[2020-03-06 09:12] p-bucky commented on #2202
I want to work on this in JS.

[2020-03-06 10:57] jayakar01 commented on #2172
Please assign me this issue foe C,C++,Python @jainaman224

[2020-03-06 10:58] aryangulati commented on #2112
Please allow me to add in C++

[2020-03-06 10:58] Himan1999 commented on #1775
Okay sure!!

[2020-03-06 11:28] urbashi123 commented on #2202
Ok i will do it.

On Fri, 6 Mar, 2020, 2:42 PM Prashant Jha, <notifications@github.com> wrote:

[2020-03-06 11:44] goyalmuskan commented on #2204
I can add the readme for this. Please assign me this issue. @jainaman224

[2020-03-06 12:54] Amitsharma45 commented on #2175
I am from Gssoc 2020 and i do this issue in c, python, java.

[2020-03-06 13:06] priyanka2109 commented on #2205
I want to contribute in C#. please assign me.

[2020-03-06 13:08] aryangulati commented on #2143
Please allow me to write bubble sort in rust

[2020-03-06 13:15] priyanka2109 opened #2239 "I wish to add Natural language processing basics in python."

[2020-03-06 13:17] subh1503 commented on #2202
I want to work on this issue in go. Please assign this issue to me @jainaman224

[2020-03-06 13:22] ujjwaltiwari13 commented on #2202
I want to work on this issue in go. Please assign this issue to me. @jainaman224

[2020-03-06 13:27] priyanka2109 commented on #984
I would like to contribute in c++

[2020-03-06 13:45] lakshyajit165 commented on #1581
@asha15, @jainaman224. Please review my PR so that I can raise other issues.

[2020-03-06 13:50] malavikasmenon commented on #2151
I would like to work on JS please.

[2020-03-06 13:57] aryangulati opened #2241 "Euclid Algorithm"
C
C++
 C#
 CoffeeScript
 Dart
 Go
 Java
 JS
 Kotlin
 Php
 Python
 Readme
 Ruby
 Rust
 TypeScript

[2020-03-06 14:46] prat31 commented on #2205
I want to contribute in C++ for this. Please assign this to me.

[2020-03-06 14:48] prat31 commented on #2175
I want to contribute to this in C++. Please assign this to me.

[2020-03-06 15:51] #2223 closed

[2020-03-06 15:51] #2225 closed

[2020-03-06 15:51] #2226 closed

[2020-03-06 15:51] #2227 closed

[2020-03-06 15:51] #2228 closed

[2020-03-06 15:51] #2231 closed

[2020-03-06 15:51] #2239 closed

[2020-03-06 15:51] #2241 closed

[2020-03-06 15:55] jainaman224 commented on #2144
@urbashi123 Please specify the language that is not ticked or assigned yet.

[2020-03-06 15:55] jainaman224 commented on #2145
@urbashi123 Please specify the language that is not ticked or assigned yet.

[2020-03-06 15:58] jainaman224 commented on #2170
@raktim00 You already have 2 assigned issues.

[2020-03-06 15:59] jainaman224 commented on #2174
@topcoder69 Let your PR be merged first.

[2020-03-06 16:00] jainaman224 commented on #2175
@Amitsharma45 It is already implemented in these languages.

[2020-03-06 16:00] jainaman224 commented on #2178
@anshu18107 It is already implemented in these languages.

[2020-03-06 16:02] jainaman224 commented on #2200
@coderprasukj Will check.

[2020-03-06 16:03] jainaman224 commented on #2201
@aryangulati Go ahead with C#.

[2020-03-06 16:04] jainaman224 commented on #2202
@urbashi123 Please select a language.

[2020-03-06 16:06] jainaman224 commented on #2204
@anshu18107 Go ahead with JS.

[2020-03-06 16:07] jainaman224 commented on #2204
Please make sure you don't have 2 open issues at the time of claiming issue.

[2020-03-06 16:10] jainaman224 commented on #2206
@JanaSabuj @mansikagrawal @abhishekgupta368 You already have 2 open issues.

[2020-03-06 16:11] jainaman224 commented on #1564
@darkdebo I am unable to understand.

[2020-03-06 16:13] jainaman224 commented on #1892
@urbashi123 Please select different issue.

[2020-03-06 16:13] jainaman224 commented on #1892
@manildayma Are you working on it?
Please specify the language.

[2020-03-06 16:13] darkdebo commented on #1564
Like c code link and online compilation given in documentation

[2020-03-06 16:14] jainaman224 commented on #2070
@urbashi123 Please pickup different issue.

[2020-03-06 16:19] jainaman224 commented on #1564
Would be great. Thanks.

[2020-03-06 16:23] manildayma commented on #1892
Yes, I'm working on it got busy in some urgent work. I'll do it in js and c# .

[2020-03-06 16:23] jainaman224 opened #2246 "Kosaraju Algorithm"
- [ ] C - @jaassmine
- [x] C++
- [x] C# - @ritish099
- [ ] CoffeeScript
- [ ] Dart - @Rukmini-Meda
- [ ] Go
- [ ] Java - @sngmanish
- [ ] JS - @ashishnagpal2498
- [x] Kotlin - @ritish099
- [ ] Php - @chandrikadeb7
- [x] Python - @sukritishah15
- [x] Readme - @shwetagurnani
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-06 16:25] jainaman224 opened #2247 "Kadane Algorithm"
- [x] C
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart - @heisastark
- [x] Go - @kushagra-anand
- [x] Java
- [x] JS
- [ ] Kotlin - @yuktta
- [ ] Php - @sukritishah15
- [x] Python
- [ ] Readme - @pragyajaiswa05l
- [x] Ruby
- [ ] Rust - @ujjwaltiwari13
- [ ] TypeScript

[2020-03-06 16:25] BhardwajShweta25 commented on #2154
@jainaman224 should there be dynamic input?

[2020-03-06 16:27] jainaman224 commented on #1809
@Angshuman032001 Please submit code only in C.

[2020-03-06 16:29] jainaman224 opened #2248 "Karatsuba Algorithm"
- [ ] C - @Angshuman032001
- [x] C++
- [ ] C# - @BishalKrChanda
- [ ] CoffeeScript - @kichloo
- [x] Dart - @heisastark
- [x] Go - @HardevKhandhar
- [ ] Java - @Mustafiz04
- [x] JS - @abhu-A-J
- [ ] Kotlin - @RaghavAwasthi
- [x] Php - @JasbirCodeSpace
- [ ] Python - @lakshyajit165
- [ ] Readme - @lakshyajit165
- [ ] Ruby - @HardevKhandhar
- [ ] Rust
- [ ] TypeScript - @shivanidalmia1203

[2020-03-06 16:31] jainaman224 opened #2249 "Introsort"
- [ ] C - @Nik-09
- [ ] C++ - @Moddy2024
- [ ] C#
- [ ] CoffeeScript
- [ ] Dart - @vanya-24
- [ ] Go
- [ ] Java - @aaliyah03
- [ ] JS - @bohemian98
- [ ] Kotlin
- [ ] Php
- [x] Python
- [ ] Readme - @raksha009
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-06 16:33] jainaman224 opened #2251 "Postman sort"
- [ ] C - @jhasaurabh312
- [x] C++ - @coderprasukj
- [x] C#
- [ ] CoffeeScript
- [ ] Dart - @Rukmini-Meda
- [ ] Go
- [ ] Java - @bluejay229
- [x] JS - @coderprasukj
- [ ] Kotlin - @myselfanuj
- [ ] Php
- [ ] Python - @jhasaurabh312
- [x] Readme - @shwetagurnani
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-06 16:36] jainaman224 opened #2252 "Longest Common Subsequence"
- [ ] C - @NVS16
- [x] C++
- [ ] C# - @Yashank18
- [ ] CoffeeScript
- [ ] Dart - @JainStuti25
- [x] Go
- [x] Java
- [x] JS - @abhu-A-J
- [ ] Kotlin - @rbjoshi1309
- [ ] Php - @thakran14
- [x] Python
- [ ] Readme - @NikitaMasand
- [x] Ruby - @Tahanima
- [ ] Rust
- [ ] TypeScript - @adi44

[2020-03-06 16:38] jainaman224 opened #2253 "Longest Increasing Subsequence"
- [ ] C - @p-bucky
- [x] C++
- [ ] C# - @biekymahato
- [ ] CoffeeScript
- [ ] Dart - @JainStuti25
- [x] Go - @jedi-starlord
- [x] Java - @rbjoshi1309
- [ ] JS - @anirudh-kac
- [ ] Kotlin - @sandhyabhan
- [ ] Php - @sukritishah15
- [ ] Python - @drishtigehi
- [x] Readme - @debdutgoswami
- [x] Ruby
- [ ] Rust
- [ ] TypeScript - @shivanidalmia1203

[2020-03-06 16:42] urbashi123 commented on #2144
I will do this using C#

[2020-03-06 16:49] lakshyajit165 commented on #2253
I want to work on this issue

[2020-03-06 16:49] lakshyajit165 commented on #2252
I want to work on this issue

[2020-03-06 16:50] lakshyajit165 commented on #2248
I want to work on this issue, as I already have implemented in python and raised a PR for it.

[2020-03-06 16:50] lakshyajit165 commented on #2247
I want to work on this issue, please assign it to me.

[2020-03-06 16:55] Aman-Codes commented on #2253
I am a GSSOC 2020 participant and I would love to implement the Longest Increasing Subsequence in  C and JS as a part of GSSOC 2020. Please assign it to me

[2020-03-06 16:58] chaithanyarlk commented on #1905
i want to work on this

[2020-03-06 17:00] Aman-Codes commented on #2246
I am a GSSOC 2020 participant and I would love to implement theKosaraju Algorithm in C++ as a part of GSSOC 2020. Please assign it to me. @jainaman224

[2020-03-06 17:05] #1617 closed

[2020-03-06 17:06] topcoder69 commented on #2174
Till then should I just wait? Its been more than 24 hrs and I have a PR with 2 issues pending.

[2020-03-06 17:08] #1606 closed

[2020-03-06 17:08] chaithanyarlk commented on #1905
i would like to work on this of finding pairs whose sum is equal to given number in a binary tree by using c language also i can implement using java. please assign this to me

[2020-03-06 17:19] #2077 closed

[2020-03-06 17:26] chaithanyarlk commented on #1556
I would like to work on this in c++,c,java languages please assign this to me .

[2020-03-06 17:29] nikochiko commented on #1558
I'm not working on this project anymore. Can assign someone else

[2020-03-06 17:30] nikochiko commented on #1556
I'm not working on this project anymore.
Feel free to assign someone else.

[2020-03-06 17:37] chaithanyarlk opened #2256 "Sudoko Solver"
If a sudoko is taken from the user it has to be solved and the resulting sudoko must be displayed.This is one of the application of backtracking

[2020-03-06 17:45] chaithanyarlk commented on #2251
i would like to work on this in c++

[2020-03-06 17:48] Nik-09 commented on #2249
Willing to participate in gssoc 2020 by  contributing in this issue.

[2020-03-06 17:48] chaithanyarlk commented on #2249
i am willing to contribute to this in c++,c

[2020-03-06 17:49] jhasaurabh312 commented on #2251
Hey i would like you to assign me it in c++ and java and readme. I have already sent a pr for c and python 3. Thanks !!!!

[2020-03-06 17:50] chaithanyarlk commented on #2253
i want to work in c,c++,java languages on the above issue .please assign this to me

[2020-03-06 17:50] aryangulati commented on #2246
Please allow me to write it in python

[2020-03-06 17:52] Harikrishnan6336 opened #2258 "Tug of War Algorithm in Python - Backtracking"
PROBLEM : Given a set of n numbers , divide the set in two subsets of n/2 sizes each such that the difference of the sum of two subsets is as minimum as possible

A solution to the above problem is the TUG OF WAR algorithm based on Backtracking . The solution tries every possible subset of half size. We initialize current set as empty and then build it considering that there are two possibilities

[2020-03-06 17:53] Harikrishnan6336 commented on #2258
@jainaman224    I would like to work on this algorithm

[2020-03-06 17:56] chaithanyarlk commented on #2256
i would like to solve this in c,c++,java languages

[2020-03-06 18:10] somya-kapoor commented on #1766
@sandhyabhan You have created two similar PR, please delete one of them.

[2020-03-06 18:11] Yashank18 commented on #2200
I want to work on this issue in the C# language.
@jainaman224

[2020-03-06 18:15] aryasoni98 opened #2261 "Add 2D Array Python"

[2020-03-06 18:15] Amitsharma45 commented on #2148
I want to work in c ,python ,java.and i am from Gssoc 2020

[2020-03-06 18:26] raktim00 commented on #2170
@jainaman224 kindly review my previous works #2262 and #2209 and assign this work in C.

[2020-03-06 18:34] #2081 closed

[2020-03-06 18:50] jainaman224 commented on #2174
Response time from our side is 60 hours for now.

[2020-03-06 18:51] jainaman224 commented on #1905
@chaithanyarlk Please pickup another issue.

[2020-03-06 18:52] #1558 closed

[2020-03-06 18:53] jainaman224 commented on #1556
@chaithanyarlk Implement this in C++.

[2020-03-06 18:53] jainaman224 commented on #2249
@chaithanyarlk You can take only 2 issues at a time.

[2020-03-06 18:57] jainaman224 commented on #2258
We are not accepting issues created by GSSoC participants. Please pick another issue.

[2020-03-06 18:57] #2258 closed

[2020-03-06 18:57] jainaman224 commented on #2256
We are not accepting issues created by GSSoC participants.

[2020-03-06 18:57] #2256 closed

[2020-03-06 18:58] jainaman224 commented on #2261
We are not accepting issues created by GSSoC participants. Please pick another issue.

[2020-03-06 18:59] jainaman224 commented on #2148
@Amitsharma45 It is already implemented in these languages.

[2020-03-06 19:08] Amitsharma45 commented on #2148
https://github.com/jainaman224/Algo_Ds_Notes/pull/2189
Please check and review PR #2189 on issue #2019

On Sat, Mar 7, 2020 at 12:29 AM Aman Jain <notifications@github.com> wrote:

[2020-03-06 19:21] atrip10 commented on #2135
https://github.com/jainaman224/Algo_Ds_Notes/pull/2266/commits/dd6d1d3e6c3757a8cdab099ff12e47248697c0e6 Please review my PR @jainaman224

[2020-03-06 19:24] atrip10 commented on #2170
https://github.com/jainaman224/Algo_Ds_Notes/pull/2266/commits/40956fe48c30a848b6bcefd5b348e622d54ab177 Please Review my PR @jainaman224

[2020-03-06 19:28] atrip10 commented on #2248
I would to like to work on it in JavaScript @jainaman224 sir

[2020-03-06 19:52] nitin1kumar1 commented on #2246
I can do it in C++ and I can do the readme.

[2020-03-06 20:34] nitashadhingra commented on #2252
Please assign me this issue under GSSOC @asha15

[2020-03-06 20:36] nitashadhingra commented on #2200
I can contribute for C++ @asha15 @jainaman224

[2020-03-06 20:37] nitashadhingra commented on #2171
i would like to contribute in CPP under GSSOC @jainaman224 @asha15

[2020-03-06 20:39] nitashadhingra commented on #2177
i would like to contribute in c++ under GSSOC @jainaman224 @asha15

[2020-03-07 00:59] JanaSabuj commented on #2252
I want to implement it in JS. I have pending PRs yet to be reviewed but no pending issues. @jainaman224

[2020-03-07 01:00] JanaSabuj commented on #2253
I want to implement it in JS. @jainaman224

[2020-03-07 02:42] #2261 closed

[2020-03-07 02:45] jainaman224 commented on #2200
@nitashadhingra It is already implemented in C++.

[2020-03-07 02:46] jainaman224 commented on #2252
@JanaSabuj You have to wait to get it reviewed.

[2020-03-07 03:16] #1990 closed

[2020-03-07 03:27] Harikrishnan6336 commented on #2149
@jainaman224  I would like to do this in C#

[2020-03-07 03:30] #1881 closed

[2020-03-07 03:34] darkdebo commented on #1564
Thanks....

[2020-03-07 03:40] darkdebo commented on #1564
@jainaman224 can you please check my pr regarding this implementation, it's have been 2nd day and no review by mentors after there requested changes which I made. so I can't make another pull request.

[2020-03-07 03:52] Mustafiz04 commented on #2248
Sir I have already make pull request for this file in java #1684 .

[2020-03-07 03:52] abhu-A-J commented on #2252
@jainaman224 Can I take JS part? I only have one open issue, and would like to implement this. Thanks

[2020-03-07 03:58] vipinmankar opened #2273 "Find the closest number to the target number in Binary Search Tree"
A the number is taken as the target number through we have to find the closest number in value from the given binary search tree.

[2020-03-07 04:01] #1590 closed

[2020-03-07 04:52] p-bucky commented on #2253
I wan to work on it in C language

[2020-03-07 04:56] himanshusharma89 commented on #2159
Hey @jainaman224 , I would like to work on this issue in C#

[2020-03-07 05:02] pragyajaiswa05l opened #2274 "Binary _search in c"
please assign this issue to me as a part of gssoc 2020

[2020-03-07 05:26] Anushka118 commented on #2253
I would like to implement it on python. Please assign. @jainaman224

[2020-03-07 05:36] himanshusharma89 commented on #2154
Hey @jainaman224 , I would like to work on this issue in **DART**

[2020-03-07 05:46] himanshusharma89 commented on #2152
Hey @jainaman224 , I would like to work on this issue in C#

[2020-03-07 05:49] himanshusharma89 commented on #2151
Hey @jainaman224 , I would like to work on this issue in C#

[2020-03-07 06:16] Anushka118 commented on #2149
I would like to do it in Kotlin. @jainaman224

[2020-03-07 06:50] abhijeet010304 commented on #213
I would like work on this in C++ and python.

[2020-03-07 06:55] abhijeet010304 commented on #865
Sir I would like to work on it in C++

[2020-03-07 06:57] abhijeet010304 commented on #1615
I would like to work on this issue using C++ . Kindly assign this to me.

[2020-03-07 06:59] abhijeet010304 commented on #1596
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 07:01] rashish15 commented on #1596
@abhijeet010304 Bro I am working on it.

[2020-03-07 07:01] abhijeet010304 commented on #1694
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 07:05] chaithanyarlk commented on #1556
Can I get some Description about the problem like Format of inputs and outputs,also some description about question to get some clarity as there is some ambiguity
thanks in advance!

[2020-03-07 07:08] abhijeet010304 commented on #1940
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 07:09] abhijeet010304 commented on #2112
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 07:13] abhijeet010304 commented on #1728
I would like to work on this issue using C++ and C. Kindly assign this to me.

[2020-03-07 07:14] abhijeet010304 commented on #1657
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 07:22] CSElonewolf commented on #2274
Already available ... :(

[2020-03-07 07:52] IPSITA2000 commented on #2173
I would like to contribute to this issue in JAVA. Please assign this to me!

[2020-03-07 09:03] amoghjalan commented on #2173
I would like to implement it in C

[2020-03-07 11:05] abhishekgupta368 commented on #2246
Can you please assign me?

[2020-03-07 11:13] abhishekgupta368 commented on #2273
Can you please assign this to me?
My all-new issue are getting rejected.

[2020-03-07 11:19] Aju100 opened #2283 "Stack Implementation on Go lang"
I would like to implement stack implementation in go lang.

[2020-03-07 11:20] Aju100 commented on #2172
Please assign me in go lang. I would love to contribute.

[2020-03-07 11:21] Aju100 commented on #2171
I would like to contribute in GO lang. Please assign to me.

[2020-03-07 11:21] Aju100 commented on #2199
I would love to contribute in go lang.

[2020-03-07 11:22] shubhammantri1 commented on #2136
@SakshiShreya Please review my PR.

[2020-03-07 11:23] Aju100 commented on #2204
i would like to contribute in go lang. please assigned to me.

[2020-03-07 11:23] Aju100 commented on #2177
i would like to contribute in go lang. please assigned to me.

[2020-03-07 11:37] MOHITSAHAL commented on #2247
I want to work in this issue in python,JS.Please assign it to me.

[2020-03-07 11:40] chaithanyarlk commented on #2249
I have solved one issue P S review it and I want to work on this in JAVA,PYTHON,C++,C
@jainaman224 please assign me

[2020-03-07 12:05] MOHITSAHAL commented on #2177
Sir i would like to contribute in python and JS. Please assign this to me.

[2020-03-07 12:14] manildayma opened #2288 "Simpson1/3 rule in PHP, Java, Python"

[2020-03-07 12:21] MOHITSAHAL commented on #2176
Sir i would like to do this issue in python.Please assign this to me.

[2020-03-07 13:20] srimani-programmer commented on #2251
I want to work on it in Java. Please assign this issue to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-07 13:25] AJAYSHARMA2012 commented on #2179
I would like to work on it in C, C++ programming language. Please assign this to me @jainaman224 .

[2020-03-07 13:31] IPSITA2000 commented on #2288
I would like to implement this program in Java. Please assign this to me!

[2020-03-07 13:36] IPSITA2000 commented on #2173
I would like to implement this program in C#. Please assign this to me!

[2020-03-07 13:42] AJAYSHARMA2012 commented on #2253
I would like to work on it in C language. Please assign this to me @jainaman224.

[2020-03-07 14:17] Swa4nali commented on #2247
Please assign this issue to me

[2020-03-07 14:27] Swa4nali commented on #2201
Please assign this to me. I can implement this algorithm in c and java

[2020-03-07 14:33] AparnaJuhi commented on #2253
I wanna work on this issue. Please assign it to me

[2020-03-07 14:35] AparnaJuhi commented on #2248
I wanna work on this issue in C,C++,Java,Python  @jainaman224

[2020-03-07 14:38] AparnaJuhi commented on #2200
I can contribute in Python @jainaman224

[2020-03-07 14:41] AparnaJuhi commented on #2251
I wanna work in C and C++.

[2020-03-07 14:51] saloniankita23 commented on #2154
Hey @jainaman224 , I would like to work on this issue in C++

[2020-03-07 14:52] saloniankita23 commented on #2251
I want to work on this issue in C++. Kindly assign this issue to me.

[2020-03-07 14:54] saloniankita23 commented on #2148
Kindly assign this issue to me in php.

[2020-03-07 14:59] saloniankita23 commented on #1821
I want to work on this issue in C++. Kindly assign this issue to me @singh-shreya6 @raghav-dalmia @asha15

[2020-03-07 15:00] IPSITA2000 commented on #2249
@jainaman224  I want to implement this program in JAVA , Python. Please assign this to me!

[2020-03-07 15:01] eKta37 opened #2299 "Queue implementation using Array in Java"
As a participant of GSSoC, I want to work on this. Please assign this task to me.

[2020-03-07 15:05] Swa4nali commented on #2201
[prims.txt](https://github.com/jainaman224/Algo_Ds_Notes/files/4301992/prims.txt)

[2020-03-07 15:08] Anushka118 commented on #2118
I would like to work on this issue in python.

[2020-03-07 15:10] IPSITA2000 commented on #2288
Can I get assigned for implementing its algorithm in JAVA?

[2020-03-07 15:24] drishtigehi commented on #2253
I would love to implement it in Python.

[2020-03-07 15:33] Amitsharma45 commented on #2299
i want to work on this issue and i am from Gssoc2020

[2020-03-07 15:40] Swa4nali commented on #2288
Please assign this issue to me

[2020-03-07 15:42] Amitsharma45 commented on #2299
https://github.com/jainaman224/Algo_Ds_Notes/pull/2302
please check it and accept pull request

[2020-03-07 15:43] Amitsharma45 commented on #2299
https://github.com/jainaman224/Algo_Ds_Notes/pull/2302
please check it and accept pull reqest.

[2020-03-07 15:44] Amitsharma45 commented on #2299
please pull request and accept it.

[2020-03-07 15:53] AJAYSHARMA2012 commented on #2274
Please assign this issue to me.

[2020-03-07 17:06] shwetachan commented on #2253
i want to implement this in C or JS. please assign it to me.

[2020-03-07 17:12] shreyasrivastava936 commented on #1591
@jainaman224 I did all the changes. Review the file once

[2020-03-07 17:13] #2273 closed

[2020-03-07 17:13] #2274 closed

[2020-03-07 17:13] #2283 closed

[2020-03-07 17:13] #2288 closed

[2020-03-07 17:13] #2299 closed

[2020-03-07 17:18] Swa4nali commented on #2288
Thanks for assigning this to me.

On Sat, 7 Mar 2020, 22:43 Aman Jain, <notifications@github.com> wrote:

[2020-03-07 17:21] jainaman224 commented on #1556
I am unsure about this. Can you give me some idea.

[2020-03-07 17:29] jainaman224 commented on #1564
@darkdebo Wait for your chance.

[2020-03-07 17:36] nehasangeetajha opened #2304 "Brick Sort"
**Description**
I want to propose odd-even transposition sort or brick sort. Odd-Even Transposition Sort is based on the Bubble Sort technique. It compares two adjacent numbers and switches them, if the first number is greater than the second number to get an ascending order list. The opposite case applies for a descending order series.

Please assign me this issue

[2020-03-07 17:36] jainaman224 commented on #1821
@saloniankita23 Please take another issue.

[2020-03-07 17:37] jainaman224 commented on #1940
@abhijeet010304 Please take another issue.

[2020-03-07 17:38] nehasangeetajha commented on #2249
@jainaman224 i want to implement in python. Please assign this to me

[2020-03-07 17:41] abhijeet010304 commented on #1940
Ok sir . Sir I have already  applied for several issues. But still havnt
got any issue assigned.

On Sat, Mar 7, 2020, 11:07 PM Aman Jain <notifications@github.com> wrote:

[2020-03-07 17:51] IPSITA2000 commented on #2246
I am a GSSOC 2020 participant ,please assign me to implement this algorithm in java or python!

[2020-03-07 17:53] IPSITA2000 commented on #2170
I am a GSSOC 2020 participant . Can you please assign me to implement this algorithm in JAVA?

[2020-03-07 18:09] vaishnaviikv commented on #2170
@jainaman224 I want to work on this in C++ and python . Can you assign me this issue ?

[2020-03-07 18:10] vaishnaviikv commented on #2170
@jainaman224 I would like to work on it in C too

[2020-03-07 18:21] nikochiko commented on #1556
Linear Regression in C++ is going to be quite a heavy task.
You will need predefined functions to perform like matrix multiplication and other utilities like transposing.
Linear Regression can be achieved in two ways:
1. Using normal equation (a straightforward equation using matrix transpose and multiplication)
2. Using gradient descent (for simplicity, just consider batch gradient descent)

Refe

[2020-03-07 18:26] jainaman224 commented on #2154
@BhardwajShweta25 Not necessary in Php.

[2020-03-07 18:26] jainaman224 commented on #2154
@saloniankita23 Already implemented in C++.

[2020-03-07 18:27] jainaman224 commented on #2154
@himanshusharma89 Already have 2 issues.

[2020-03-07 18:30] #2304 closed

[2020-03-07 18:32] chaithanyarlk commented on #1556
Actually I thought that this was only for 2D linear regression thing.But when I saw some issues which were present in this project I came to know that this was somewhat a different concept having n dimensions which involves matrices so it's difficult task for me at this level I think so could you @jainaman224  please assign me another issue which I have requested yesterday  ...

[2020-03-07 18:37] jainaman224 commented on #2171
@nitashadhingra It is already implemented in C++. Please pick different language or issue.

[2020-03-07 18:39] jainaman224 commented on #2173
@biekymahato You already have 2 open issues.

[2020-03-07 18:39] jainaman224 commented on #2173
@amoghjalan You already have 2 open issues.

[2020-03-07 18:40] jainaman224 commented on #2176
@MOHITSAHAL It is already implemented in Python.

[2020-03-07 18:42] jainaman224 commented on #2201
@Swa4nali It is already implemented in C and Java.

[2020-03-07 18:43] #1699 closed

[2020-03-07 18:45] BhardwajShweta25 commented on #2154
@jainaman224 I just noticed that I had not mentioned the issue number in my pull request, corrected it now.
Will make sure this is not repeated.

[2020-03-07 18:46] urbashi123 commented on #2202
i will do this using JS

[2020-03-07 18:46] jainaman224 commented on #2246
@Aman-Codes @aryangulati @nitin1kumar1 @abhishekgupta368 @IPSITA2000 You have 2 open issues.

[2020-03-07 18:47] urbashi123 commented on #2202
Do you mean by Bellman Ford Algorithm?

[2020-03-07 18:47] jainaman224 commented on #2247
@Swa4nali Please specify the language.

[2020-03-07 18:47] nitin1kumar1 commented on #2246
@jainaman224 my first issue got merged.

[2020-03-07 18:47] jainaman224 commented on #2248
@AparnaJuhi It is not available in any of the language.

[2020-03-07 18:56] #1556 closed

[2020-03-07 19:08] nitashadhingra commented on #1975
1. Huffmann Codes
2. Prim's
3. Minimum Denominations
4. Fractional Knapsack Problem
all these can be solved using greedy approach. i would like to contribute to the issue using C++

[2020-03-07 19:09] afroz23 commented on #1467
I would like to work on this issue with c and c++.

[2020-03-07 19:19] jainaman224 commented on #1975
There are separate issues for them.
@nitashadhingra I would close this issue.

[2020-03-07 19:20] jainaman224 commented on #1467
@afroz23 Please pick up different issue.

[2020-03-07 19:29] #1633 closed

[2020-03-07 19:35] #1695 closed

[2020-03-07 19:38] #1609 closed

[2020-03-07 19:46] malavikasmenon commented on #2249
I want to work on it in C++

[2020-03-07 20:07] #1693 closed

[2020-03-07 22:51] shubhammantri1 commented on #2253
I want to work in Kotlin. @jainaman224 Please assign it to me.

[2020-03-07 22:53] shubhammantri1 commented on #2252
I want to work on this in Koltin. @jainaman224

[2020-03-08 00:11] aryangulati commented on #2201
I have too send PR for PHP (pls review)and just resloving squashing issue in c#

[2020-03-08 04:03] pragyajaiswa05l commented on #2247
@Aman jain please assign this issue to me .would like to do it in c++

[2020-03-08 04:04] Swa4nali commented on #2247
I would like to do it in java

[2020-03-08 04:06] pragyajaiswa05l commented on #2179
please assign this to me @jainaman224 .would really want to contribute in it .would love to work in c++

[2020-03-08 04:21] pragyajaiswa05l opened #2312 "Linear search"
please assign me this issue as a part of GSSoC 2020.

[2020-03-08 04:51] Aju100 commented on #2171
@jainaman224  thank u for assigning

[2020-03-08 05:43] jainaman224 commented on #2247
@pragyajaiswa05l It is already implemented in C++.
@Swa4nali It is already implemented in Java.

Tick mark indicates that language is complemented.

[2020-03-08 05:44] #2312 closed

[2020-03-08 05:48] Neelaksh-Singh commented on #1822
can u verify the php source file before i make a pull request , since i am not able to get the desired output

[QuickSort.txt](https://github.com/jainaman224/Algo_Ds_Notes/files/4302883/QuickSort.txt)

[2020-03-08 05:55] pragyajaiswa05l commented on #2172
please assign me this issue for c++ @jainaman224

[2020-03-08 05:55] Neelaksh-Singh commented on #2206
can u assign it to me in java

[2020-03-08 05:59] Neelaksh-Singh commented on #2125
would like to do it in php

[2020-03-08 06:07] pragyajaiswa05l commented on #2246
please assign this issue to me as a part of gssoc 2020 .would like to contribute it in c++ @jainaman224

[2020-03-08 06:08] Neelaksh-Singh commented on #1650
I woul too like to help the gentleman

[2020-03-08 06:15] pragyajaiswa05l commented on #2247
please assign me this in Readme @jainaman224 .would love to do as a part of GSSoC 2020

[2020-03-08 06:29] jainaman224 commented on #2247
@pragyajaiswa05l Currently you have 2 open issues. Please get them merged first.

[2020-03-08 06:45] Ratna04priya commented on #2176
I would like to implement that in GO lang.

[2020-03-08 08:02] p-soham11 commented on #2151
Hello @jainaman224 can you review my pull request ?

[2020-03-08 08:03] Swa4nali commented on #2288
[Simpson.txt](https://github.com/jainaman224/Algo_Ds_Notes/files/4302979/Simpson.txt)

[2020-03-08 08:04] Swa4nali commented on #2288
[Simpson.txt](https://github.com/jainaman224/Algo_Ds_Notes/files/4302980/Simpson.txt)
Code in java

[2020-03-08 08:07] pooja-git11 commented on #2148
assign this to me , i will implement it in c++

[2020-03-08 08:48] coderprasukj commented on #1991
@jainaman224  Sir this issue is having a tag of 'easy' while other kruskal algo issues are labeled as 'medium'. Please see to it.

[2020-03-08 08:56] prat31 opened #2316 "Add Euclidean GCD in C, C++ and JAVA."
Please assign this to me @jainaman224 .

[2020-03-08 09:00] nitashadhingra commented on #1818
i would like to do this in c++ @jainaman224 @SakshiShreya

[2020-03-08 09:10] Akansha2202 opened #2319 "Bitmasking functions"
1)get bit at some position
2)set the bit at some position
3)clear and update bits
4)replace a sequence of the bit at some positions with other bit

[2020-03-08 09:12] nehasangeetajha commented on #2205
I want to contribute to making Readme. Please assign me readme.

[2020-03-08 09:15] abhishekgupta368 commented on #2319
Can you please assign me, please?
I am waiting for some issue for a long time.
thank you

[2020-03-08 09:18] abhishekgupta368 commented on #2253
can you please assign this to me, I will do it in Go.

[2020-03-08 09:19] abhishekgupta368 commented on #2252
can you please assign me, I can do it in kotlin.
thank you.

[2020-03-08 09:20] abhishekgupta368 commented on #2247
Can you please assign me, I can do it in Go.

[2020-03-08 09:21] abhishekgupta368 commented on #2205
Can you please assign this to me, I can do it in Kotlin.

[2020-03-08 09:22] abhishekgupta368 commented on #2204
can you please assign this to me, I can do it in Go and kotlin.

[2020-03-08 09:23] Ratna04priya commented on #2319
I would like to work on the issue, in Python, Go, Js, Java and PHP

[2020-03-08 09:25] abhishekgupta368 commented on #2319
I can do it in all language which is allowed in this repository.

[2020-03-08 09:26] abhishekgupta368 commented on #2174
I can do it in PHP, can you please assign me?

[2020-03-08 09:26] Ratna04priya opened #2323 "Egyptian Fraction"
I would like to add codes for Egyptian Fraction, as I don't find that in codes or in any issue or PR.

[2020-03-08 09:27] abhishekgupta368 commented on #2199
I can do it in koltin and Go, can you please assign me?

[2020-03-08 09:28] abhishekgupta368 commented on #2316
I can do it, can you please assign me this?

[2020-03-08 09:29] nitashadhingra commented on #1552
can i work in C? @jainaman224

[2020-03-08 09:30] jaassmine commented on #2316
I wolud like to implement this in C,C++,python .
please assign this to me..

[2020-03-08 09:35] jaassmine opened #2324 "Circular Linked list"
I would like to add code for implementation of circular linked list.
please assign this to me

[2020-03-08 09:35] keshakaneria commented on #2175
Can you assign this to me for implementing it in Dart lang. for GSSoC'20?

[2020-03-08 09:37] keshakaneria commented on #2179
Can you assign this to me in Dart language?

[2020-03-08 09:40] keshakaneria commented on #2199
Can you assign this to me for Dart language for GSSoC'20?

[2020-03-08 09:45] Amitsharma45 commented on #2324
i want work on this issue in c.

[2020-03-08 09:47] Ratna04priya commented on #2251
I would like to do in Go, Java and rewrite the readme

[2020-03-08 09:49] Amitsharma45 commented on #2179
i can do it in dart.

[2020-03-08 10:07] jaassmine opened #2325 "palindrome Number"
want to add program for Checking whether a number is palindrome or not using python.
please assign this to me.

[2020-03-08 10:13] darkdebo commented on #1564
Okkk

[2020-03-08 10:17] AJAYSHARMA2012 commented on #2204
Please assign this to me @jainaman224 . I can update the README.

[2020-03-08 10:17] MOHITSAHAL commented on #2162
Sir i want to do this in JS. Please assign it to me.

[2020-03-08 10:18] AJAYSHARMA2012 commented on #2253
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:19] AJAYSHARMA2012 commented on #2252
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:20] AJAYSHARMA2012 commented on #2251
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:20] AJAYSHARMA2012 commented on #2249
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:21] AJAYSHARMA2012 commented on #2248
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:21] AJAYSHARMA2012 commented on #2247
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:22] MOHITSAHAL commented on #2157
Assign this issue to me for JS.

[2020-03-08 10:23] #2024 closed

[2020-03-08 10:23] AJAYSHARMA2012 commented on #2246
I can work on it in C and can also update the README. Please assign it to me @jainaman224.

[2020-03-08 10:24] AJAYSHARMA2012 commented on #2206
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:25] AJAYSHARMA2012 commented on #2205
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:25] AJAYSHARMA2012 commented on #2202
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:26] AJAYSHARMA2012 commented on #2201
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:26] AJAYSHARMA2012 commented on #2200
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:26] AJAYSHARMA2012 commented on #2199
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:28] AJAYSHARMA2012 commented on #2177
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:29] AJAYSHARMA2012 commented on #2173
I can work on it in C and can also update the README. please assign it to me @jainaman224.

[2020-03-08 10:30] AJAYSHARMA2012 commented on #2164
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:30] AJAYSHARMA2012 commented on #2157
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:31] AJAYSHARMA2012 commented on #2161
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:31] #1726 closed

[2020-03-08 10:35] AJAYSHARMA2012 commented on #2170
Please assign this to me @jainaman224 . I can update the README

[2020-03-08 10:38] Mustafiz04 commented on #2248
@jainaman224 sir, please Merge pull request #1684

[2020-03-08 10:50] jainaman224 commented on #2148
@pooja-git11 It is already implemented in C++. Please different issue or different language.

[2020-03-08 10:55] abhishekgupta368 commented on #2325
I can do it c++,c and python, please assign me

[2020-03-08 11:08] AdityaSingh17 commented on #2206
I can provide the Readme for this algorithm.

[2020-03-08 11:08] AdityaSingh17 commented on #2205
I can provide the Readme for this algorithm.

[2020-03-08 11:08] AdityaSingh17 commented on #2204
I can provide the Readme for this algorithm.

[2020-03-08 11:08] AdityaSingh17 commented on #2161
I can provide the Readme for this algorithm.

[2020-03-08 11:08] AdityaSingh17 commented on #2148
I can provide the Readme for this algorithm.

[2020-03-08 11:19] #2316 closed

[2020-03-08 11:19] #2319 closed

[2020-03-08 11:19] #2323 closed

[2020-03-08 11:19] #2324 closed

[2020-03-08 11:19] #2325 closed

[2020-03-08 11:32] poorvapk commented on #2199
I want to implement in php @jainaman224

[2020-03-08 11:38] prat31 commented on #2249
I want to contribute to this in GO. Please assign it to me @jainaman224.

[2020-03-08 12:00] jainaman224 commented on #1822
We will discuss in PR itself.

[2020-03-08 12:03] jainaman224 commented on #1818
@nitashadhingra Please pick up for grab issue.

[2020-03-08 12:04] jainaman224 commented on #2174
@abhishekgupta368 You already have 2 assigned issues. Please try after getting PR merged.

[2020-03-08 12:05] jainaman224 commented on #2200
@AJAYSHARMA2012 Readme is already implemented.

[2020-03-08 13:25] Riyagoel2 opened #2329 "issue regarding linked list_java"
Hi I would like to work on this issue using java,
Please assign it to me  @asha15

[2020-03-08 13:31] Riyagoel2 commented on #1652
Hi I would like to work on it in Java. Please assign it to me @asha15

[2020-03-08 13:37] Riyagoel2 commented on #1607
I would like to work on this in Java. Please assign it to me @jainaman224

[2020-03-08 13:43] Riyagoel2 commented on #1536
I would like to work on it in Java. @jainaman224

[2020-03-08 13:46] shreyakapoor08 commented on #2200
Can you assign this issue to me ? I want to work on it

[2020-03-08 13:46] Riyagoel2 commented on #1563
I would also like to contribute through unit testing for java programs.

[2020-03-08 13:49] Riyagoel2 commented on #1821
I would like to work on it in java.
Please assign it to. @asha15  @jainaman224

[2020-03-08 13:55] himanshusharma89 commented on #2151
@jainaman224 Can you check my PR #2309 and #2311

[2020-03-08 14:01] sukritishah15 commented on #2246
I can work on it in C,JAVA,Python and update the README.
Kindly assign it to me. @jainaman224

[2020-03-08 14:06] sukritishah15 commented on #2253
Please assign this to me. I can work in PHP.

[2020-03-08 14:10] sukritishah15 commented on #2247
I can work in PHP. Please assign it to me.

[2020-03-08 14:22] jaassmine commented on #2246
I can work in C . please assign it to me @jainaman224

[2020-03-08 14:43] sheetalssr commented on #2149
I WANT TO DO IT  IN JS . KINDLY ASSIGN IT TO ME.

[2020-03-08 14:48] malavikasmenon commented on #2151
Could you check my PR #2310 ?

[2020-03-08 15:10] BALaka-18 commented on #2246
I can implement the Kosaraju Algorithm in Python, using effective OOP, along with code formatting.
Kindly assign me this issue @jainaman224
Thank you.

[2020-03-08 15:31] shwetagurnani commented on #1569
@jainaman224 please review my PR.I had my mid semester exams going on so was unable to contribute.

[2020-03-08 15:35] shubhammantri1 commented on #2252
@jainaman224 My previous PR's are merged Please assign this issue to me. I want to work in Kotlin. I also commented earlier.

[2020-03-08 15:37] shubhammantri1 commented on #2247
@jainaman224 Please assign this to me in kotlin.

[2020-03-08 15:37] shwetagurnani commented on #2176
I would like to work on readme .Please assign it to me.

[2020-03-08 15:50] shwetagurnani commented on #1821
I would like to work on this issue in C, c++.Please assign it to me

[2020-03-08 16:17] eKta37 commented on #2176
As a participant of GSSoC, I want to create a readme file for this issue. Please assign me this task.

[2020-03-08 16:19] eKta37 commented on #2148
As a GSSoC participant, I would like to work on creating readme file for this issue, please assign me this task.

[2020-03-08 16:50] ka1shi commented on #2246
Please assign me to implement Kosaraju Algorithm in C.

[2020-03-08 16:51] ka1shi commented on #2164
Please assign this to me to work in C. Thank You!

[2020-03-08 17:36] ishikabansal04 commented on #2172
please assign me in c++

[2020-03-08 17:36] vkr-code commented on #2172
Pls assign me this java

[2020-03-08 17:36] vkr-code commented on #2172
Pls assign me in Java

[2020-03-08 19:31] p-soham11 commented on #2176
Please assign me for C#

[2020-03-08 20:03] pooja-git11 commented on #2067
i am interested to write code for this problem ,assign this to me

[2020-03-09 03:47] SomyaGandhi commented on #2251
I can work on this in javascript. Please assign this issue to me.

[2020-03-09 03:49] SomyaGandhi commented on #2249
I can work on this in javascript. Please assign this to me @jainaman224 .

[2020-03-09 03:55] SomyaGandhi commented on #2170
I can work on the readme file. Please assign this to me @jainaman224

[2020-03-09 04:43] goyalmuskan commented on #2164
@jainaman224 Can I add it's ReadMe?

[2020-03-09 04:45] goyalmuskan commented on #2204
@jainaman224 Can I add it's readme?

[2020-03-09 05:27] pragyajaiswa05l commented on #2247
please assign this to me in README as a part of GSSoC 2020 .my one issue has been merged @jainaman224

[2020-03-09 05:45] pragyajaiswa05l commented on #1842
please assign me this issue in c++ as a part of GSSoC 2020

[2020-03-09 06:45] #1967 closed

[2020-03-09 06:50] bluejay229 commented on #2246
please assign this issue to me I would like to contribute it in java.

[2020-03-09 06:51] bluejay229 commented on #2251
please assign this issue to me I can work on this in java.

[2020-03-09 07:23] Riyagoel2 commented on #1740
I also want to work on it @jainaman224 @asha15

[2020-03-09 07:32] anmolkaur18 commented on #2147
Please assign this issue to me @jainaman224

[2020-03-09 07:34] anmolkaur18 commented on #2147
I can do this in PHP

[2020-03-09 07:35] anmolkaur18 commented on #2147
I think that we have to do this in those programming languages that are not ticked ? Please tell me .

[2020-03-09 07:41] BhardwajShweta25 commented on #2176
I would like to contribute in PHP.

[2020-03-09 07:45] VIJAY07102 opened #2361 "Fisher–Yates shuffle (Shuffle a given array of elements using rand() )"
Problem statement : Given an array of integers, shuffle it in-place.
Description : Fisher-Yates shuffle algorithm is used to generate unbiased permutation (i.e., every permutation is equally likely). It takes time proportional to the number of elements being shuffled (i.e., time complexity is O(n) ).

[2020-03-09 07:47] VIJAY07102 commented on #2361
Kindly, let me add this algorithm into your repository in 'C' language

[2020-03-09 08:35] heisastark commented on #2247
I can do it in Dart @jainaman224

[2020-03-09 08:35] heisastark commented on #2248
Can do this in Dart @jainaman224

[2020-03-09 08:36] Ratna04priya commented on #2176
Hello, I would like to contribute in PHP as well. I would like to add and modify the readme too.

[2020-03-09 08:37] heisastark commented on #1819
I can do it in JS @jainaman224

[2020-03-09 09:52] Yashank18 commented on #2253
I would like to do it in C#. Please assign me the same.
@shubhammantri1
@jainaman224

[2020-03-09 09:52] #1986 closed

[2020-03-09 10:07] pooja-git11 commented on #1842
assign this issue to me, i will implement the code in c++

[2020-03-09 10:34] gauravburjwal commented on #2163
I would like to work on it in JavaScript. Please assign it to me.

[2020-03-09 10:43] ashiscs opened #2363 "add power_of_two code in php and c#"

[2020-03-09 10:47] jainaman224 commented on #1536
@Riyagoel2 Please pick issue with label up for grabs.

[2020-03-09 10:50] #2329 closed

[2020-03-09 10:50] #2361 closed

[2020-03-09 10:50] #2363 closed

[2020-03-09 10:52] jainaman224 commented on #2067
@pooja-git11 Please pick issue with label `up-for-grabs`.

[2020-03-09 10:56] jainaman224 commented on #2164
@ka1shi @goyalmuskan You already have 2 assigned issues.

[2020-03-09 10:58] jainaman224 commented on #2172
@ishikabansal04 @vkr-code Please pick languages that not are not ticked.

[2020-03-09 11:01] jainaman224 commented on #2200
@shreyakapoor08 Please pick a language.

[2020-03-09 11:03] shreyakapoor08 commented on #2200
i want to implement it in c++

[2020-03-09 11:06] goyalmuskan commented on #2164
@jainaman224 I was assigned issue 5 days ago and I've created PR for both. Please assign me a new issue.

[2020-03-09 11:06] ashiscs commented on #2363
@jainaman224 why it was closed?

[2020-03-09 11:10] shreyakapoor08 commented on #2200
JavaScript

[2020-03-09 11:17] jainaman224 commented on #2252
@shubhammantri1 You still have 2 open issues.

[2020-03-09 11:21] jainaman224 commented on #2164
@goyalmuskan But there must be some changes required. So, make them and wait for them to be merged.

[2020-03-09 11:22] jainaman224 commented on #2200
@shreyakapoor08 Sorry, you have 2 open issues. Comment again once a PR get merged.

[2020-03-09 11:32] #1654 closed

[2020-03-09 11:46] #1017 closed

[2020-03-09 12:05] #1557 closed

[2020-03-09 12:51] Riyagoel2 commented on #2253
hi , I can work on it in java

[2020-03-09 13:16] VIJAY07102 opened #2367 "Checking for valid IP address (in C++)"
To check for the valid IP address, i.e., a valid IP address must in the form of xyz.xyz.xyz.xyz , here xyz is number between 0 to 255.

[2020-03-09 13:18] VIJAY07102 commented on #2367
Please validate this issue and assign it to me. I can solve it using strings.

[2020-03-09 15:37] BishalKrChanda commented on #2252
I would like to do it in C#. Please assign this issue to me.
@jainaman224
I have 2 pending pull requests, please review them too. Thank you.

[2020-03-09 15:57] shruthi019 opened #2371 "Wave Print 2D Array"
This will print all the elements of the 2D array traversing it like a wave - top to bottom in the first column, then bottom to top in the second column and so on. I would like to work on this implementation in C++ as part of GSSoC. Please assign this issue to me.

[2020-03-09 16:15] Adyasha8105 commented on #2371
please assign this task to me.
@shruthi019

[2020-03-09 17:13] BhanujaAggarwal commented on #807
@jainaman224 @raghav-dalmia Please review I have completed the problem in C++

[2020-03-09 17:13] BhanujaAggarwal commented on #488
@jainaman224 @raghav-dalmia Please review I have completed the problem in C++

[2020-03-09 18:08] BhanujaAggarwal commented on #2367
@jainaman224 @raghav-dalmia @somya-kapoor Please assign this to me

[2020-03-09 18:09] BhanujaAggarwal commented on #2371
@jainaman224 @raghav-dalmia @somya-kapoor Please assign this to me

[2020-03-09 18:33] Srashtimittal commented on #2129
I want to work on this issue . Please assign me.

[2020-03-09 18:41] sheetalssr commented on #2149
Kindly review my pull request and assign me the next JavaScript issue.

[2020-03-09 19:01] SubCoder1 commented on #2179
@jainaman224 can you please review the PR

[2020-03-09 19:15] pooja-git11 commented on #2120
i want to implement this in dart. assign this to me

[2020-03-09 19:19] pooja-git11 commented on #2154
i will implement this in dart ,assign this to me

[2020-03-09 19:45] BhanujaAggarwal commented on #2252
@jainaman224 @raghav-dalmia @somya-kapoor Please assign me this for C or Java

[2020-03-09 19:53] BhanujaAggarwal commented on #2200
@jainaman224 @raghav-dalmia Please assign this to me for C#

[2020-03-09 19:56] BhanujaAggarwal commented on #2172
@jainaman224 @raghav-dalmia Please assign this to me this to me for C#

[2020-03-09 19:57] BhanujaAggarwal commented on #2156
@jainaman224 @raghav-dalmia Please assign this to me this to me for C#

[2020-03-09 19:58] BhanujaAggarwal commented on #2117
@jainaman224 @raghav-dalmia Please assign this to me this to me for C#

[2020-03-09 19:59] BhanujaAggarwal commented on #2112
@jainaman224 @raghav-dalmia Please assign this to me this to me for C#

[2020-03-09 20:16] AdityaGupta150 commented on #2371
@jainaman224 I will solve it, please assign it to me :-)

[2020-03-09 21:54] sheetalssr commented on #2251
I CAN DO THIS JS .KINDLY ASSIGN ME THIS .

[2020-03-09 21:56] sheetalssr commented on #2248
I CAN WORK ON THIS IN JS. KINDLY ASSIGN ME THIS.

[2020-03-09 21:57] sheetalssr commented on #2205
I can do this in js. Kindly assign me this.

[2020-03-09 22:04] sheetalssr commented on #2125
I can do this in js.kindly assign me .

[2020-03-09 22:05] sheetalssr commented on #2124
I would like to do this in is. Assign to me.

[2020-03-10 03:24] Swa4nali commented on #2288
Is it okay if I post my code in text format here??  I don't know how to upload my code or where to upload my code. So, I am uploading my code in this format.

[2020-03-10 03:57] VIJAY07102 commented on #2125
Can I provide readme document for this issue?

[2020-03-10 04:01] VIJAY07102 commented on #1992
Is anyone working on it? If not, can I start doing this?

[2020-03-10 04:14] rhythm10 opened #2376 "Brian Kernighan’s Algorithm"
I will implement this in C, CPP, JAVA

[2020-03-10 04:50] hitha2000 commented on #2376
@rhythm10  i will implement in c++,c.java,phython3

[2020-03-10 04:51] gpsuhas20 commented on #2367
@VIJAY07102  i would like to  work on this issue.

[2020-03-10 04:54] hitha2000 commented on #2199
@jainaman224  i would like to implement in kotlin and go

[2020-03-10 04:56] hitha2000 commented on #2179
@jainaman224  i would like to implement using typescript and dart

[2020-03-10 04:58] hitha2000 commented on #2172
@jainaman224  i would like to work on this issue using c# and kotlin

[2020-03-10 05:05] JanaSabuj commented on #2200
@jainaman224 @raghav-dalmia  Can I implement it in JS ?

[2020-03-10 05:07] JanaSabuj commented on #2201
@jainaman224 Can I do it in JS?

[2020-03-10 05:50] anmolkaur18 commented on #2367
please assign this issue to me

[2020-03-10 09:46] Riyagoel2 commented on #2371
I would like to work on it in Java @jainaman224

[2020-03-10 09:51] #1667 closed

[2020-03-10 09:55] BhanujaAggarwal commented on #2367
@jainaman224 @raghav-dalmia @somya-kapoor Please assign this to me in python

[2020-03-10 10:37] prshnt19 opened #2382 "Add Binomial Heap"
Reference:
https://en.wikipedia.org/wiki/Binomial_heap

[2020-03-10 11:30] shwetagurnani commented on #2253
I would love to work on readme

[2020-03-10 11:33] shwetagurnani commented on #2252
Please assign this to me . I can update the README

[2020-03-10 11:35] shwetagurnani commented on #2249
I can work on readme.Please assign it to me

[2020-03-10 12:49] #2367 closed

[2020-03-10 12:49] #2371 closed

[2020-03-10 12:49] #2376 closed

[2020-03-10 12:49] #2382 closed

[2020-03-10 12:51] jainaman224 commented on #1992
@VIJAY07102 Please issue with label `up-for-grabs`

[2020-03-10 12:53] jainaman224 commented on #2124
@sheetalssr I think there is a typo. I think you want to work on js. Please let me know.

[2020-03-10 12:56] jainaman224 commented on #2129
@Srashtimittal Please select the language that is available.

[2020-03-10 12:57] jainaman224 commented on #2156
@BhanujaAggarwal  You already have 2 assigned issues.

[2020-03-10 12:58] jainaman224 commented on #2172
@hitha2000 Go ahead with Kotlin.

[2020-03-10 12:59] jainaman224 commented on #2179
@hitha2000 Go ahead with typescript.

[2020-03-10 13:02] jainaman224 commented on #2253
@Riyagoel2 Please pick another issue.

[2020-03-10 13:07] HardevKhandhar commented on #2171
@jainaman224 Sir
You can now assign me the issue for Ruby.
Thank you.

[2020-03-10 13:09] sheetalssr commented on #2124
You right that's J's.

[2020-03-10 13:10] sheetalssr commented on #2124
Yes ,you right . That's js.

[2020-03-10 13:25] #1838 closed

[2020-03-10 13:39] #1793 closed

[2020-03-10 13:46] Harikrishnan6336 commented on #2156
@jainaman224  Please assign this to me for C#

[2020-03-10 13:49] goyalmuskan commented on #2204
@jainaman224 May I add it's Readme?

[2020-03-10 13:49] goyalmuskan commented on #2164
Can I add it's readme? @jainaman224

[2020-03-10 13:52] #2067 closed

[2020-03-10 14:04] #1649 closed

[2020-03-10 14:16] jainaman224 commented on #2124
@sheetalssr You already have 2 open issues. Please get them merged forst.

[2020-03-10 14:17] #1794 closed

[2020-03-10 14:19] #1161 closed

[2020-03-10 14:22] shreyasrivastava936 commented on #1591
@jainaman224 please review this issue

[2020-03-10 14:27] #1993 closed

[2020-03-10 14:57] Harikrishnan6336 commented on #2170
@jainaman224 I would like to do this in C# . Please assign me

[2020-03-10 15:29] spacemonkey1101 commented on #1813
Is this issue still open?

[2020-03-10 15:30] spacemonkey1101 commented on #1618
Is this issue still open?

[2020-03-10 15:35] Basilleaf24 commented on #2204
@jainaman224  I would like to contribute for this in go and kotlin, pls assign me this issue

[2020-03-10 15:43] Basilleaf24 commented on #2174
@jainaman224 I would like to contribute to this using C# and ruby
Pls assign it to me.

[2020-03-10 17:11] vipinmankar opened #2399 "Hashing in cpp"

[2020-03-10 17:22] shortCircuit81 commented on #2247
please assign this to me in c++ or java

[2020-03-10 17:23] shortCircuit81 commented on #2179
please
assign this to me in java

[2020-03-10 17:24] shortCircuit81 commented on #2170
please assign this to may

[2020-03-10 17:29] shortCircuit81 commented on #2143
please assign this to me in c++ or java

[2020-03-10 17:34] shortCircuit81 commented on #2125
please assign this to me in java or c++

[2020-03-10 17:35] shortCircuit81 commented on #2120
assign this to me in java or c++

[2020-03-10 17:36] shortCircuit81 commented on #1948
please assign this to me c++,C,java

[2020-03-10 17:37] shortCircuit81 commented on #1926
I would like to create this program that rotates a 2D array in java ,c and c++

[2020-03-10 17:42] shortCircuit81 commented on #1607
assign this to me i will do this is java and c++

[2020-03-10 17:58] Riyagoel2 commented on #2399
I can do this in java @jainaman224

[2020-03-10 18:43] #1568 closed

[2020-03-10 18:45] VIJAY07102 commented on #1992
@jainaman224 Can you help me, how to label it with `up-for-grabs`

[2020-03-10 19:10] iyoushe1703 commented on #2145
Hello, @jainaman224 can you assign this to me for Dart?

[2020-03-10 19:21] abhu-A-J commented on #2248
@jainaman224 I have only 1 open issue. Can I work on this? Language choice: JS

[2020-03-10 19:34] VIJAY07102 commented on #675
Can I start working on this problem in C language, if no one is working on it. @jainaman224

[2020-03-10 19:48] HariniJeyaraman commented on #2204
@jainaman224 I would like to contribute to the ReadMe and implementation in CoffeeScript . Please assign me to this issue.

[2020-03-10 19:50] HariniJeyaraman commented on #2252
@jainaman224 @SakshiShreya Please assign me to this issue. I can complete the ReadMe and implement it in C#, Kotlin, Java,C

[2020-03-10 19:50] p-soham11 commented on #2205
@jainaman224 Please review my PR.

[2020-03-10 19:52] HariniJeyaraman commented on #2199
@jainaman224 I can implement this in Go and Kotlin. Please assign me to this issue.

[2020-03-10 19:53] HariniJeyaraman commented on #2200
@jainaman224 @SakshiShreya I can implement this in Kotlin,JavaScript,Go. Please assign me to this issue.

[2020-03-10 19:54] HariniJeyaraman commented on #2175
@jainaman224 @SakshiShreya I can implement Binary Search in TypeScript and Rust. Please assign me this issue .

[2020-03-10 19:56] HariniJeyaraman commented on #2176
@jainaman224 @SakshiShreya I can implement this is Kotlin and Ruby .
I can implement this in TypeScript also. Please assign me to this issue.

[2020-03-10 19:57] HariniJeyaraman commented on #2171
@jainaman224 @SakshiShreya I can implement this is Kotlin. Please assign me this issue

[2020-03-10 19:58] HariniJeyaraman commented on #2170
@jainaman224 I can implement this in Java, Kotlin, and Ruby.
Please @SakshiShreya assign me this issue. I do not have any other issue open yet.

[2020-03-10 20:00] HariniJeyaraman commented on #2249
@jainaman224 I can update the Readme for this and implement in Kotlin, Java and Ruby. Please assign me this issue.

[2020-03-10 20:00] HariniJeyaraman commented on #2202
@jainaman224 I can implement this in Kotlin and Ruby. Please assign me this issue

[2020-03-10 20:00] HariniJeyaraman commented on #2201
@jainaman224 I can contribute and implement in JavaScript, Ruby and Kotlin. Please assign me this issue

[2020-03-10 20:01] HariniJeyaraman commented on #2173
@jainaman224 Please assign me this issue. I can implement this in C and Kotlin. I do not have any other issue open.

[2020-03-10 20:02] HariniJeyaraman commented on #2178
@jainaman224 I can implement this in Java and Kotlin. Please assign me this issue

[2020-03-10 20:02] HariniJeyaraman commented on #2177
@jainaman224 I can implement this in Go and Kotlin and Ruby, Please assign me this issue. I do not have 2 open issues

[2020-03-11 02:41] #2399 closed

[2020-03-11 02:43] jainaman224 commented on #675
@vishnu0179 Please pick another issue.

[2020-03-11 02:44] jainaman224 commented on #1607
@shortCircuit81 Please pick issue with label `up-for-grab`.

[2020-03-11 02:44] jainaman224 commented on #1618
@spacemonkey1101 Please pick issue with label `up-for-grab`.

[2020-03-11 02:46] jainaman224 commented on #1992
@VIJAY07102 Please pick issue which has this label already. Don't label this issue.

[2020-03-11 02:51] jainaman224 commented on #2174
@Basilleaf24 Go ahead with ruby.

[2020-03-11 03:05] #1812 closed

[2020-03-11 03:12] #1722 closed

[2020-03-11 03:15] #1694 closed

[2020-03-11 03:44] VIJAY07102 commented on #2148
Can I contribute to readme document on this issue? @jainaman224

[2020-03-11 03:48] kichloo commented on #2252
@jainaman224 I can do the program in C#. This is my first one!

[2020-03-11 03:52] kichloo commented on #2205
@jainaman224 I can do it in Kotlin, PHP and Ruby. Pl assign it to me!

[2020-03-11 03:54] kichloo commented on #2204
@jainaman224 I can do it in Kotlin, PHP and Rust. Pl assign it to me,

[2020-03-11 06:14] prashansag62 commented on #2131
I want to work on this in kotlin and coffeescript.Please assign this issue to me

[2020-03-11 06:21] prashansag62 commented on #2112
Please assign this issue to me for C#

[2020-03-11 06:23] prashansag62 commented on #1584
I would love to work on this for Dynamic Programming.Please assign this to me.

[2020-03-11 06:27] prashansag62 commented on #2252
Please assign this to me for C#. @jainaman224

[2020-03-11 06:40] gunjanverma0405 commented on #2179
I am interested in C++, python and java.
Can you assign me these?

[2020-03-11 06:53] prashansag62 commented on #2205
I can do this in C#. Please assign this to me. @jainaman224

[2020-03-11 06:55] prashansag62 commented on #2200
I can do this in C#.Please assign this to me @jainaman224

[2020-03-11 06:59] prashansag62 commented on #2172
I can do this in C#. Please this to me @jainaman224 .Thanks

[2020-03-11 06:59] prashansag62 commented on #2171
I can do this in C#. Please assign this to me @jainaman224 .Thanks

[2020-03-11 07:59] #1916 closed

[2020-03-11 08:04] #1684 closed

[2020-03-11 08:19] #1479 closed

[2020-03-11 11:21] ishikabansal04 commented on #1677
can i try this issue in c++?

[2020-03-11 11:29] somya-kapoor commented on #2023
@NikitaMasand Before creating an issue, please see that someone else hasn't created the same issue before you. This issue has already been created #1664.

[2020-03-11 11:33] NikitaMasand commented on #2023
@somya-kapoor, I am extremely sorry for this. I will make sure this won't happen again.

[2020-03-11 12:09] pooja-git11 commented on #2124
assign this to me ,i will implement it in dart

[2020-03-11 12:11] lakshyajit165 commented on #1750
@jainaman224. I only have one open issue on my name now. Please assign this one to me.

[2020-03-11 12:55] TechnoPhasePRO commented on #2253
@jainaman224  I want to work on it in PYTHON. Please assign it to me.

[2020-03-11 13:00] shortCircuit81 commented on #2170
please assign this me in c++

[2020-03-11 13:11] Nikhil-Patro commented on #1914
i have created PR please review @asha15 @jainaman224

[2020-03-11 13:33] Yashank18 commented on #2171
@jainaman224 @SakshiShreya @singh-shreya6, I want to implement it in C#. please assign me the same.

[2020-03-11 13:36] Maxz2136 commented on #675
@VIJAY07102 I am working on it

[2020-03-11 16:37] #1569 closed

[2020-03-11 16:40] JanaSabuj commented on #2118
I want to implement it in JS. @jainaman224 @SakshiShreya @asha15

[2020-03-11 16:46] jainaman224 commented on #1584
@prashansag62 This issue is not available

[2020-03-11 16:47] jainaman224 commented on #1677
@ishikabansal04 Please pick another issue.

[2020-03-11 16:48] jainaman224 commented on #1750
@lakshyajit165 It is already assigned.

[2020-03-11 16:48] #2023 closed

[2020-03-11 16:59] jainaman224 commented on #2204
@kichloo Go ahead with Rust.

[2020-03-11 16:59] jainaman224 commented on #2205
@kichloo Go ahead with Kotlin.

[2020-03-11 17:01] jainaman224 commented on #2253
@TechnoPhasePRO Please pick another issue. It is already assigned for Python.

[2020-03-11 17:24] Ratna04priya commented on #2253
I would like to do it in C# and PHP.
Can u assign these two to me?

[2020-03-11 17:26] Ratna04priya commented on #2252
@jainaman224 , I want to do it in PHP and C#.

[2020-03-11 17:57] shwetagurnani commented on #2204
I can update the readme.Please assign it to me.

[2020-03-11 17:58] shwetagurnani commented on #2200
I can update the readme.Please assign it to me.

[2020-03-11 18:02] shwetagurnani commented on #2253
I can update the readme.Please assign it to me.

[2020-03-11 18:19] kichloo commented on #2205
@jainaman224 Done!

[2020-03-11 18:20] kichloo commented on #2204
@jainaman224 Done!

[2020-03-11 19:17] biekymahato opened #2425 "Longest Monotonically Increasing Subsequence(LIS)"
Given an array of random numbers, find the longest monotonically increasing subsequence (LIS) in the array.
**Implementation of O(NlogN) approach using the Standard Template Library(Stl).**
**Using  CPP**

[2020-03-11 19:18] biekymahato commented on #2425
@jainaman224  @asha15 I want to work on it as part of GSSoC20.
please Assign to me.

[2020-03-11 19:25] prince-09 commented on #2253
I want to work on this in the CPP language.

[2020-03-11 19:26] biekymahato commented on #2253
@jainaman224 I want to work on it in c# by dynamic programming in time complexity O(NlogN).

[2020-03-11 19:27] prince-09 commented on #2205
I want to work on it using CPP, java,c, js,kotlin, python

[2020-03-11 19:41] GarimaMahajan20 commented on #2051
I would like to provide c Code for this.

[2020-03-11 19:42] abhu-A-J commented on #2124
@jainaman224 I have only one open issue. Am I allowed to work on this. Language: JS. Thanks

[2020-03-11 20:17] pooja-git11 commented on #2178
@jainaman224  assign this to me ,i will implement  it in dart

[2020-03-11 20:40] biekymahato commented on #2164
@jainaman224  @asha15 I want to work in C language. please assign to me as now I don't any assigned issue.

[2020-03-12 03:10] #2425 closed

[2020-03-12 03:13] jainaman224 commented on #2253
@prince-09 It is already implemented in C++.

[2020-03-12 03:13] jainaman224 commented on #2205
@prince-09 Go ahead with JS.

[2020-03-12 03:14] jainaman224 commented on #2051
@GarimaMahajan20 Please another issue with label `up-for-grabs`.

[2020-03-12 03:16] #1622 closed

[2020-03-12 03:22] #1826 closed

[2020-03-12 03:25] #1637 closed

[2020-03-12 03:34] #1772 closed

[2020-03-12 04:35] GarimaMahajan20 commented on #1843
i would like to work on this is c . assign this to me.

[2020-03-12 04:37] GarimaMahajan20 commented on #1842
iwill impelemnt this in c . Assign this to me.

[2020-03-12 05:15] poorva2145 commented on #1853
Please assign this issue to me also, I want to implement it using c++

[2020-03-12 05:37] Neelaksh-Singh commented on #1835
I can take up this issue in python , c. @Vaibhavraj10 , @jainaman224  please assign this to me.

[2020-03-12 07:49] Swa4nali commented on #2288
I am not able to upload my java code here.. How can I upload a java, PHP or any other source code here?

[2020-03-12 16:55] jainaman224 commented on #1843
@GarimaMahajan20 Please pick another issue.

[2020-03-12 16:55] jainaman224 commented on #1853
@poorva2145 Please pick another issue.

[2020-03-12 16:57] jainaman224 commented on #2288
@Swa4nali Please ask on slack channel named `git_github`, if you are GSSoC aspirant.

[2020-03-12 17:07] #1607 closed

[2020-03-12 17:08] #1605 closed

[2020-03-12 17:13] #736 closed

[2020-03-12 17:16] #1875 closed

[2020-03-12 17:18] #1867 closed

[2020-03-12 17:30] #1773 closed

[2020-03-12 17:42] suyashgautam commented on #2164
@jainaman224 @asha15 I want to work on Dart implementation ,Please assign to me

[2020-03-12 18:05] Kuljeet-123 commented on #2204
@jainaman224  I would like to do this in PHP ...can you please assign me this.

[2020-03-12 18:06] Kuljeet-123 commented on #2200
@jainaman224  I would like to do this in PHP...can you please assign me this.

[2020-03-12 18:11] lakshyajit165 commented on #1536
@jainaman224. I would like to work on this problem for its python implementation.

[2020-03-12 18:12] Kuljeet-123 commented on #2159
@jainaman224  I would like to do this in PHP....can you please assign me this.

[2020-03-12 18:18] Kuljeet-123 commented on #2117
@jainaman224  I would love to do this in PHP .... can you please assign me this

[2020-03-12 18:18] topcoder69 commented on #2174
Please assign me this in C# as a part of GSSoc'20.!
Thanks.

[2020-03-12 18:24] Kuljeet-123 commented on #2112
@jainaman224 I want to work on this issue in PHP.Please assign me this issue.

[2020-03-12 18:27] topcoder69 commented on #2154
Please assign me this in TypeScript as a part of GSSoc '20. Thanks.

[2020-03-12 18:27] topcoder69 commented on #2148
Please assign me this in TypeScript as a part of GSSoc '20. Thanks

[2020-03-12 18:37] manildayma commented on #2143
Please assign bubble sort in ts to me.

[2020-03-12 18:39] manildayma commented on #675
Can I do this in python?

[2020-03-12 18:45] manildayma commented on #1588
@jainaman224 can I do this in Java?

[2020-03-12 19:37] manildayma commented on #2201
@jainaman224  can I do this in php?

[2020-03-13 02:38] prince-09 opened #2440 "Maximum and minimum elements by divide and conquer"
I want to implement finding maximum and minimum element of an array by divide and conquer.

[2020-03-13 02:57] VIJAY07102 commented on #1992
Can I solve the same problem  in another language(C or Python)?

[2020-03-13 03:06] prince-09 commented on #2205
Sure , I am doing this in gssoc'20

[2020-03-13 05:02] bluejay229 commented on #2246
issue #2246
KIndly review my pr.
https://github.com/jainaman224/Algo_Ds_Notes/pull/2436#issue-387375162

[2020-03-13 05:18] myselfanuj commented on #2129
I would like to work on this issue in kotlin.. I already have code, please assign me this so I can give PR on it. @jainaman224

[2020-03-13 07:14] urbashi123 commented on #2161
Please assign me #2161 in c# and JS

[2020-03-13 07:18] urbashi123 commented on #2118
I want to work on Readme. Can you please assign me?
@jainaman224

[2020-03-13 07:23] urbashi123 commented on #1991
Can you assign me this issue #2255 ?

[2020-03-13 07:30] urbashi123 commented on #1853
Please assign this issue to me also, I want to implement it using C

[2020-03-13 09:51] yuktta commented on #2247
Please assign this to me in Java or C++.

[2020-03-13 09:52] yuktta commented on #2247
@jainaman224 Please assihgn this to me in C++ or Java.

[2020-03-13 09:56] yuktta commented on #2131
Please @jainaman224 assign this to me in Kotlin.

[2020-03-13 10:15] santushtisharma10 commented on #2174
please assign me this in C

[2020-03-13 10:21] anujji1999 commented on #1853
I have my last exams tommorow.
I'll complete it by Sunday.

[2020-03-13 10:22] kashika3101 commented on #2143
I want to work on this issue in C++.
Please assign this to me

[2020-03-13 10:28] santushtisharma10 commented on #477
@jainaman224 I would like to work on this issue in C

[2020-03-13 10:29] kashika3101 commented on #2252
please assign me this issue in c language

[2020-03-13 10:32] santushtisharma10 commented on #1577
I would like to contribute in C ,please assign me this

[2020-03-13 10:33] abhishekgupta368 opened #2450 "Implementation of Klee’s Algorithm"
This algorithm is used to create a union of overlapping coordinates and find the longest Line.
This one is missing.
Can you please assign me this. @jainaman224
Thank you

[2020-03-13 10:37] santushtisharma10 commented on #1678
i would like to contribute in C,please assign me this

[2020-03-13 11:01] santushtisharma10 commented on #2173
please assign me this issue, I would like to impement it in C

[2020-03-13 11:04] santushtisharma10 commented on #2118
I want to implement it in C, please assign me

[2020-03-13 11:23] #1599 closed

[2020-03-13 11:26] santushtisharma10 commented on #1992
I would like to contribute in C,please assign me this

[2020-03-13 11:40] JyotiJauhari commented on #2440
@Vaibhavraj10  @MastersAbh @raghav-dalmia
Hello Sir!!
I want to implement finding maximum and minimum element of an array by divide and conquer using C programming language.

[2020-03-13 13:29] hitha2000 commented on #2450
@abhishekgupta368  please assign me this issue

[2020-03-13 13:32] hitha2000 commented on #2440
@prince-09  please assign me this issue

[2020-03-13 13:35] hitha2000 commented on #2248
@jainaman224  i would like to work on c, python and java on this issue. please assign me

[2020-03-13 13:37] hitha2000 commented on #2170
@jainaman224  please assign me this issue in c and java

[2020-03-13 14:38] abhishekgupta368 commented on #2450
I am not a mentor

[2020-03-13 14:54] hitha2000 commented on #2450
Oh sorry

On Fri, 13 Mar 2020, 20:08 Abhishek Gupta, <notifications@github.com> wrote:

[2020-03-13 14:59] hitha2000 commented on #2450
@jainaman224  please assign this issue to me

[2020-03-13 15:24] sheetalssr commented on #2125
kindly review the PR.it has been 2 days.

[2020-03-13 17:37] poorva2145 opened #2452 "Rotate_linked_list_by_k_nodes"
This algorithm is not included in Algo_Ds_Notes repository.
This algorithm rotates linked list by k nodes counterclockwise. This algorithm also works when k is greater than length of linked list.

[2020-03-13 17:50] poorva2145 commented on #2452
Please assign this issue to me

[2020-03-13 17:51] poorva2145 commented on #2452
I had created pull request for the same but it got rejected as I was not assigned.

[2020-03-13 17:52] #1819 closed

[2020-03-13 18:12] ritish099 opened #2453 "Program to find most frequent and second most frequent element in 1-D array. (C,C++,JAVA) will create it within the 1-D array folder"
@asha15 @singh-shreya6  Pls assign this issue to me

[2020-03-13 18:15] ritish099 opened #2454 "Program to Create magic square in C,C++,JAVA."
@asha15 @SakshiShreya assign this issue to me kindly

[2020-03-13 18:17] #1805 closed

[2020-03-13 18:21] #1795 closed

[2020-03-13 18:48] LovepreetSingh12 commented on #2454
I would like to work on this in Java as a part of GSSoC 2020.

[2020-03-13 19:06] Yashank18 commented on #2252
@jainaman224  I would like to add this code in C#.

[2020-03-13 19:16] #1467 closed

[2020-03-14 04:18] ananyakamboj commented on #1821
I would like to work on this issue in C. Please assign

[2020-03-14 05:52] kichloo commented on #2201
@jainaman224 @asha15 I can do it in Ruby. Pl assign it to me!

[2020-03-14 05:54] kichloo commented on #2200
@jainaman224 @asha15 I can do it in Rust, I have submitted my 2 issues for review. Pl assign it to me!

[2020-03-14 05:55] mahakmandlecha commented on #2454
please assign me this issue in Java language

[2020-03-14 05:55] mahakmandlecha commented on #2453
please assign me this issue in java

[2020-03-14 05:57] mahakmandlecha commented on #2018
please assign me this issue

[2020-03-14 05:58] mahakmandlecha commented on #2452
please assign me this isssue

[2020-03-14 08:00] urbashi123 commented on #2249
I want to work on readme. Can you assign me ?
@jainaman224

[2020-03-14 08:01] urbashi123 commented on #2251
I would like to work on readme. Can you assign me please?
@jainaman224

[2020-03-14 08:02] Kuljeet-123 commented on #2454
@asha15 I'm a GSSOC'20 participant...  I would love to do this in c++.

[2020-03-14 08:04] Kuljeet-123 commented on #2452
I Would love to do this in python....please assign this to me

[2020-03-14 08:06] Kuljeet-123 commented on #2253
@jainaman224  I would love to do this in PHP...can you please assign me this

[2020-03-14 08:07] Kuljeet-123 commented on #2252
@jainaman224  please assign me this issue in PHP .

[2020-03-14 08:07] Kuljeet-123 commented on #2251
@jainaman224 I wanna work on this issue in PHP

[2020-03-14 08:08] Kuljeet-123 commented on #2249
@jainaman224  I want to work on this issue in PHP and Javascript

[2020-03-14 08:10] Kuljeet-123 commented on #2248
@jainaman224  I want to work on this issue in PHP...please assign this to me

[2020-03-14 08:11] Kuljeet-123 commented on #2246
@jainaman224  I would love to do this in PHP and Javascript...please assign this to me

[2020-03-14 08:12] saloniankita23 commented on #2176
Kindly assign this issue to me in Kotlin @jainaman224 @SakshiShreya .

[2020-03-14 08:12] Kuljeet-123 commented on #2206
@jainaman224  I would love to do this in PHP...can you please assign me this.

[2020-03-14 08:17] saloniankita23 commented on #2173
Kindly assign this issue to me in C @jainaman224

[2020-03-14 08:20] saloniankita23 commented on #2148
Kindly assign the readme document to me on this issue @jainaman224

[2020-03-14 10:20] nikipr1999 opened #2461 "Program to find no. of even and odd elements in 1-D_Array in C,C++, Ruby"
Please assign this issue to me for gssoc 20

[2020-03-14 10:23] nikipr1999 opened #2462 "Program to find the no. of prime and composite numbers in a 1-D_Array in C ,C++ , Python ,Ruby"
Assign this issue to me for gssoc 20

[2020-03-14 12:01] Anushka-Rajvanshi commented on #2118
I would like to work on this issue in C. Kindly assign this to me.

[2020-03-14 13:16] #2440 closed

[2020-03-14 13:16] #2450 closed

[2020-03-14 13:16] #2452 closed

[2020-03-14 13:16] #2453 closed

[2020-03-14 13:16] #2454 closed

[2020-03-14 13:16] #2461 closed

[2020-03-14 13:16] #2462 closed

[2020-03-14 13:21] jainaman224 commented on #477
@santushtisharma10 Please pick another issue with label `up-for-grabs`.

[2020-03-14 13:28] jainaman224 commented on #2129
@myselfanuj Please open PR only after getting from next time.

[2020-03-14 13:34] myselfanuj commented on #2129
Ok i will give PR after getting assign from next time. Please review my PR.

[2020-03-14 14:05] lakshyajit165 commented on #2204
@jainaman224. Please assign it to me for c++

[2020-03-14 14:09] ritish099 commented on #2251
@jainaman224 I would like to submit it in C#. Can you assign it to me?

[2020-03-14 14:10] Ratna04priya commented on #2177
I would like to do it in GO and PHP.

[2020-03-14 14:12] Ratna04priya commented on #2158
@jainaman224 , I would like to do it in C#.

[2020-03-14 14:13] Ratna04priya commented on #2131
I would like to do it in Rust.

[2020-03-14 14:14] Ratna04priya commented on #2131
@jainaman224 , I think adding Quicksort in Assembly Language is also an great idea. I would like to work on it.

[2020-03-14 14:16] Ratna04priya commented on #2163
I would like to work it on in GO lang.

[2020-03-14 14:17] Ratna04priya commented on #2118
I would like to work on GO, and also the readme.

[2020-03-14 14:19] Ratna04priya commented on #2112
I woud like to work in Go lang. @jainaman224 , can u assign this to me?

[2020-03-14 14:39] shreyakapoor08 commented on #2200
My PR got merged. Can I start working on this in JavaScript ?

[2020-03-14 14:52] Meenakshi2000 commented on #2251
please assign this one , can do in c++, java

[2020-03-14 14:57] Meenakshi2000 commented on #2120
assign me this

[2020-03-14 15:20] prince-09 commented on #2204
@jainaman224 can I do it in dart?

[2020-03-14 15:21] prince-09 commented on #2205
@jainaman224 can I do this in PHP?

[2020-03-14 15:22] prince-09 commented on #2201
@jainaman224 can I do this in js and PHP?

[2020-03-14 15:24] prince-09 commented on #2200
@jainaman224 can I do this in js and PHP?

[2020-03-14 15:26] Kuljeet-123 commented on #2112
@jainaman224  I have created the PR #2470 .Please review it and merge it.

[2020-03-14 15:47] somya-kapoor commented on #1925
@JasleenRandhawa Before creating an issue, please see that someone else hasn't created the same issue before you. This issue has already been created #1818 .

[2020-03-14 17:28] 15aarushiGhadiya commented on #2247
please assign this to me in java

[2020-03-14 17:28] 15aarushiGhadiya commented on #2247
@jainaman224 please assign this to me in java

[2020-03-14 17:33] 15aarushiGhadiya commented on #1766
@sandhyabhan please assign this issue to me

[2020-03-14 17:42] 15aarushiGhadiya commented on #1718
I want to work on above mentioned issues 2327, 2402, 2403, 2404. please assign me any 2 of these.

[2020-03-14 17:43] 15aarushiGhadiya commented on #1718
@raksha009 I want to work on above mentioned issues 2327, 2402, 2403, 2404. please assign me any 2 of these.

[2020-03-14 17:44] 15aarushiGhadiya commented on #1718
@raksha009 I want to work on above mentioned issues 2327, 2402, 2403, 2404. please assign me any 2 from these.

[2020-03-14 18:23] Meenakshi2000 commented on #1815
add me too please

[2020-03-14 18:35] 15aarushiGhadiya commented on #1843
@jainaman224  I would like to work on it in java. please assign this to me

[2020-03-14 18:59] mahakmandlecha commented on #2253
Can you please assign me readme .

[2020-03-14 19:01] mahakmandlecha commented on #1751
Please assign it in c++ language to me.

[2020-03-14 19:04] mahakmandlecha commented on #2009
please assign this to me in Java

[2020-03-14 19:05] mahakmandlecha commented on #1861
@jainaman224  Can we do it in other language also?

[2020-03-14 19:07] mahakmandlecha commented on #1661
@raghav-dalmia  Can you please assign me this task in Java

[2020-03-14 19:09] mahakmandlecha commented on #1685
@jainaman224  can you please assign me this task in java and C++ language

[2020-03-15 04:02] BellatrixLestrangee commented on #1835
I can complete this issue in CPP. Can i be assigned this?

[2020-03-15 04:19] BellatrixLestrangee commented on #2204
I would like to do it in PHP. Can i be assigned this? @jainaman224

[2020-03-15 04:21] BellatrixLestrangee commented on #2202
I can do it in PHP. Please, can I be assigned this issue? @jainaman224

[2020-03-15 04:23] BellatrixLestrangee commented on #2170
I would like to work on this issue in PHP. Can i be assigned it? @jainaman224

[2020-03-15 05:28] jainaman224 commented on #1661
@mahakmandlecha Please pick issue with label `up-for-grabs`

[2020-03-15 05:30] jainaman224 commented on #1718
@15aarushiGhadiya Please pick different issue.

[2020-03-15 05:35] #1925 closed

[2020-03-15 05:37] jainaman224 commented on #2120
@Meenakshi2000 Please specify the language which are still available.

[2020-03-15 05:56] jainaman224 opened #2477 "Ford Fulkerson Method"
- [x] C
- [x] C++
- [ ] C# - @shreyakapoor08
- [ ] CoffeeScript
- [ ] Dart - @spacemonkey1101
- [ ] Go
- [x] Java
- [x] JS - @bohemian98
- [ ] Kotlin
- [ ] Php - @mharshita
- [x] Python
- [x] Readme - @syedareehaquasar
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-15 05:59] lakshyajit165 commented on #2154
@jainaman224. I want to implement it in typescript. Could you let me know how you want the input to be taken in it?(as it will compile to javascript, so I need to know, how should I take input)

[2020-03-15 06:00] jainaman224 opened #2478 "Z algorithm"
- [x] C
- [x] C++
- [ ] C# - @HardevKhandhar
- [x] CoffeeScript
- [ ] Dart - @vanya-24
- [ ] Go - @KamalDGRT
- [x] Java
- [x] JS - @abhu-A-J
- [ ] Kotlin
- [ ] Php - @shivanidalmia1203
- [x] Python
- [x] Readme - @syedareehaquasar
- [x] Ruby
- [x] Rust - @jedi-starlord
- [ ] TypeScript

[2020-03-15 06:03] jainaman224 opened #2479 "Tower of Hanoi"
- [x] C
- [x] C++
- [x] C# - @biekymahato
- [ ] CoffeeScript
- [x] Dart - @disha2sinha
- [x] Go - @rbjoshi1309
- [x] Java
- [x] JS
- [x] Kotlin - @chandbud5
- [x] Php - @chandrikadeb7
- [x] Python
- [x] Readme
- [x] Ruby - @HardevKhandhar
- [ ] Rust
- [x] TypeScript - @vyom153069

[2020-03-15 06:11] jainaman224 opened #2480 "Boyer Moore Algorithm"
- [x] C  - @ravireddy0
- [x] C++
- [x] C# - @HardevKhandhar
- [ ] CoffeeScript
- [ ] Dart
- [x] Go - @jedicakelord
- [x] Java
- [ ] JS - @jaassmine
- [x] Kotlin - @darkmatter18
- [x] Php - @sukritishah15
- [x] Python
- [x] Readme - @simrann20
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-15 06:14] jainaman224 opened #2481 "Chinese Remainder Theorem"
- [x] C - @Anushka-Rajvanshi
- [x] C++
- [x] C#
- [x] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [x] Go - @jedicakelord
- [x] Java
- [x] JS
- [ ] Kotlin
- [x] Php - @sukritishah15
- [x] Python
- [x] Readme - @chandrikadeb7
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-15 06:16] jainaman224 commented on #2154
@lakshyajit165 Using alert will do.

[2020-03-15 06:29] 15aarushiGhadiya commented on #1889
@Vaibhavraj10 @jainaman224 I want to impement hashmap and hashset for this issue, please assign this to me.

[2020-03-15 06:30] 15aarushiGhadiya commented on #1889
@Vaibhavraj10 @jainaman224 I want to implement hashmap and hashset for this issue, please assign this to me.

[2020-03-15 07:08] Meenakshi2000 commented on #2120
C++,Java, c
But I m unable to proceed further after cloning it to vs code
Please help

On Sun, Mar 15, 2020, 11:07 AM Aman Jain <notifications@github.com> wrote:

[2020-03-15 07:44] shreyakapoor08 commented on #2481
@jainaman224 Can I work on this on C language ?

[2020-03-15 07:45] shreyakapoor08 commented on #2480
@jainaman224 Can I take up this issue on C language ?

[2020-03-15 08:12] jhasaurabh312 commented on #2481
I would like to work on the Readme. Please assign me this !!! Thanks :)

[2020-03-15 08:15] syedareehaquasar commented on #2480
please assign me this issue in c , php and c#

[2020-03-15 08:15] syedareehaquasar commented on #2480
please assign me readme

[2020-03-15 08:16] syedareehaquasar commented on #2477
plese assign me readme

[2020-03-15 08:17] syedareehaquasar commented on #2481
please assign me readme  and c

[2020-03-15 08:17] syedareehaquasar commented on #2478
please assign me readme

[2020-03-15 08:18] biekymahato commented on #2479
@jainaman224  i want to work on this on c#

[2020-03-15 08:26] biekymahato commented on #2480
@jainaman224 I want to work on this by using C language.

[2020-03-15 09:52] Raksha25 commented on #2477
I can work on readme. Please assign it to me

[2020-03-15 09:54] Raksha25 commented on #2148
I can work on readme, kindly assign it to me.

[2020-03-15 10:36] Raksha25 commented on #2118
I can work on readme. please assign it to me

[2020-03-15 10:43] Raksha25 commented on #2480
i can work on c language and readme.

[2020-03-15 11:44] JanaSabuj commented on #2480
I want to implement it in JS and C. @jainaman224

[2020-03-15 11:54] myselfanuj commented on #2251
I would like to work on this algo for kotlin please assign me this issue for kotlin. @jainaman224

[2020-03-15 12:36] Anushka-Rajvanshi commented on #2481
I would like to work on this issue. Kindly assign this to me.

[2020-03-15 12:37] Anushka-Rajvanshi commented on #2481
I would like to work on this issue in C. Kindly assign this to me. I dont have any open issues now.

[2020-03-15 12:40] Anushka-Rajvanshi commented on #2480
Please assign this issue to me for C implementation.

[2020-03-15 13:35] Chetanjain10 commented on #2481
@jainaman224  I would like to work on this issue in C. Please assign me this issue. this is going to be my first issue.

[2020-03-15 14:29] lakshyajit165 commented on #2154
Ok. Thanks for letting know.

[2020-03-15 16:26] sukritishah15 commented on #2481
I can write the code for it in PHP.

[2020-03-15 16:51] mahakmandlecha opened #2486 "Write a program to find factorial of very large number."
from the normal method only factorial of very small numbers can be calculated. So write a program to calculate factorial of large numbers like 100.
I want to do it in C language.

[2020-03-15 16:53] mahakmandlecha opened #2487 "To find x^x"
As normal data types cannot hold the value of x^x when x is large .So create a new data type to store this value.
I want to do it in C language.

[2020-03-15 17:02] kushagra-anand commented on #2247
I want to work on this. Please assign me any work.
Languages: C,C++,Python

[2020-03-15 17:11] #2486 closed

[2020-03-15 17:11] #2487 closed

[2020-03-15 17:18] jainaman224 commented on #2120
It is not available in any of the languages, please proceed to slack channels for help.

[2020-03-15 17:18] jedi-starlord commented on #2253
Hi, I would like to implement this in Go.

[2020-03-15 17:38] jainaman224 commented on #2247
@kushagra-anand Please pick a language in which this issue is available.

[2020-03-15 18:13] IPSITA2000 commented on #2174
I would like to do this in c#. please assign this to me @jainaman224 .

[2020-03-15 18:19] IPSITA2000 commented on #2156
Sir, please assign this issue to me in PHP. @jainaman224

[2020-03-15 18:42] kushagra-anand commented on #2247
I can work on GO

[2020-03-15 18:47] Yashank18 commented on #2480
@jainaman224 Sir I will like to add this in C#

[2020-03-16 02:01] AdityaSingh17 commented on #2480
I would like to take up the readme documentation.

[2020-03-16 06:36] manildayma opened #2496 "Lee Algorithm : Shortest path in a maze"
@jainaman224 please assign me this in c++ and Java

[2020-03-16 06:49] #1581 closed

[2020-03-16 07:05] Riyagoel2 commented on #2496
I want to do it in java

[2020-03-16 07:11] Kuljeet-123 commented on #2148
@jainaman224  I want to implement this in typescript.Can you please assign me this.

[2020-03-16 07:15] Kuljeet-123 commented on #2111
@jainaman224  I want to implement this in typescript.Please assign me this.

[2020-03-16 07:20] Kuljeet-123 commented on #2118
@jainaman224  I want to implement this in JS..Please assign this to me.

[2020-03-16 07:23] Kuljeet-123 commented on #2204
@jainaman224 I want to implement this in Typescript.Please assign this to me.

[2020-03-16 07:26] Kuljeet-123 commented on #2201
@jainaman224 I want to implement this in Js.Please assign this to me.

[2020-03-16 07:29] Kuljeet-123 commented on #2248
@jainaman224  I want to implement this in PHP.Please assign me this.

[2020-03-16 07:33] Kuljeet-123 commented on #2163
@jainaman224 I want to do this in PHP.Please assign this to me.

[2020-03-16 08:05] disha2sinha commented on #2479
I want to work on this in dart

[2020-03-16 08:22] #1565 closed

[2020-03-16 08:47] suchi12j commented on #1879
I would like to take this issue

[2020-03-16 08:48] suchi12j commented on #2175
I am interested to solve this issue. Pls assign it to me

[2020-03-16 08:49] suchi12j commented on #1815
I am interested in solving this. Pls assign it to me

[2020-03-16 08:49] suchi12j commented on #1706
I want to work on it.

[2020-03-16 08:50] suchi12j commented on #213
Can I work on this?

[2020-03-16 08:52] suchi12j commented on #2120
Assign this to me in rust

[2020-03-16 09:20] saloniankita23 commented on #2148
Please check and review PR #1 on issue #2148

[2020-03-16 10:00] kichloo opened #2498 "Sort elements in lexicographical order"
The program should take a number of strings as input and arrange them in their lexicographical order.

[2020-03-16 10:03] kichloo commented on #2498
@jainaman224 I can do it in C++

[2020-03-16 10:12] Anushka118 commented on #2117
i would like to work on this in Kotlin

[2020-03-16 10:13] Anushka118 commented on #2479
i would like to work on this in Kotlin

[2020-03-16 10:27] #1703 closed

[2020-03-16 10:27] kichloo opened #2500 "Implement Simpson 3/8 rule"

[2020-03-16 10:28] bohemian98 commented on #2498
@jainaman224  Please assign this to me for C++ or C.

[2020-03-16 10:32] kichloo commented on #2500
@jainaman224 I can implement it in C++

[2020-03-16 10:46] #1968 closed

[2020-03-16 10:55] urbashi123 commented on #2252
I can work on readme.Can you assign me?

[2020-03-16 11:03] bohemian98 commented on #2496
@jainaman224 please assign me this for c++.

[2020-03-16 12:47] bohemian98 commented on #1842
I can code it in C++. Please assign this to me.

[2020-03-16 12:51] bohemian98 commented on #2500
I can implement it in C++ and C. Please assign this to me.

[2020-03-16 15:17] #1818 closed

[2020-03-16 16:34] aftex261 opened #2504 "Create remove_duplicate.c"
I have added this in algorithm for removing duplicate characters in an array .The PR number is #2474 which got closed as I wasn't assigned for the issue.Please assign me for this issue now.

[2020-03-16 16:38] #2496 closed

[2020-03-16 16:38] #2498 closed

[2020-03-16 16:38] #2500 closed

[2020-03-16 16:38] #2504 closed

[2020-03-16 16:39] jainaman224 commented on #1706
@suchi12j Please pick issue with label `up-for-grabs`

[2020-03-16 17:17] shreyakapoor08 commented on #2480
@jainaman224 I have raised the PR in C
can I do it in C# as well ?

[2020-03-16 17:20] shreyakapoor08 commented on #2479
@jainaman224 can i implement this in php ?

[2020-03-16 17:20] jainaman224 commented on #2175
@suchi12j Please specify the language.

[2020-03-16 17:22] shreyakapoor08 commented on #2200
@jainaman224  PR raised for implementation in JS

[2020-03-16 17:29] jedi-starlord commented on #2478
Hi, I'd like to implement this in Go and Rust.

[2020-03-16 19:01] lakshyajit165 commented on #2154
Hi @jainaman224. I have a little concern regarding the input. What I am doing is I have written my login in a .ts file. Whenever I need dto run it, I compile it using the command tsc <filename> in the terminal. Then I use that .js file generated as a script src in a plain HTML page. Is that ok?

[2020-03-17 03:51] anshuman1510 opened #2506 "GCD in C"
Please assign me this issue

[2020-03-17 04:16] jaassmine commented on #2480
I can implement it in js..please assign me..@jainaman224

[2020-03-17 04:36] anshuman1510 opened #2507 "Palindrome string in C"
A code to check whether the string is palindrome or not.

[2020-03-17 04:36] anshuman1510 commented on #2507
Please assign me this issue.

[2020-03-17 04:40] aftex261 opened #2508 "Remove Duplicate Characters"
Please assign me this issue

[2020-03-17 04:53] aftex261 commented on #2508
This algo is about to remove duplicate characters from an array in C language

[2020-03-17 05:09] bohemian98 commented on #2508
I can do this in cpp. Please assign this to me.

[2020-03-17 05:12] aftex261 commented on #2508
I have already created the algo and working on it from earlier.Please assign it to me.

[2020-03-17 05:16] bohemian98 commented on #1879
I can do this in both C and C++. Please assign this to me.

[2020-03-17 05:22] ShebinJoseph opened #2510 "I would like to implement LCM operation in C++ and python"

[2020-03-17 05:38] heisastark commented on #2248
@jainaman224 I can do this in Dart.

[2020-03-17 05:39] heisastark commented on #2248
@jainaman224 I can do this in Dart. Can i work on this?

[2020-03-17 06:13] ritish099 commented on #2248
I can do this in C#. Can you assign this to me?. @jainaman224

[2020-03-17 06:33] kashika3101 commented on #2201
please assign me this issue in c#

[2020-03-17 06:43] kashika3101 commented on #2118
please assign me this issue in js

[2020-03-17 06:46] HardevKhandhar commented on #2480
@jainaman224
I would like to work on this issue in C# for GSSoC 2020
Please assign this to me for C#

[2020-03-17 06:57] kashika3101 commented on #2174
@jainaman224 I would love to contribute to this algorithm in c# please assign it to me

[2020-03-17 07:07] ritish099 commented on #2251
@jainaman224 please review my 2 PR #2511 and #1952 . #1952 is pending from many days and it has one approval also

[2020-03-17 07:21] vipinmankar commented on #2052
I want to implement this in cpp @jainaman224 please assign me this and review my previous work

[2020-03-17 07:46] manali-biswas opened #2512 "Shift zeroes to end of array in O(n)"
I would like to implement shifting zeroes to end of array in time complexity O(N) and space complexity O(1) in c++. Please assign me this issue.

[2020-03-17 07:48] Tawishi commented on #2120
I would like to contribute the code in typescript.

[2020-03-17 07:49] Tawishi commented on #1835
I would like to take up this issue.

[2020-03-17 07:50] Tawishi commented on #1821
I would like to contribute the code in C++.

[2020-03-17 07:52] Tawishi commented on #1762
I would like to work on this issue in C, C++.

[2020-03-17 08:44] Swarnimashukla commented on #2204
Hi @jainaman224  i would like to implement it in dart . please assign it to me .

[2020-03-17 09:03] 15aarushiGhadiya commented on #1889
@Vaibhavraj10 @jainaman224 I want to implement hashmap and hashset for this issue, please assign this to me.

[2020-03-17 09:08] simrankoul commented on #1889
@15aarushiGhadiya  Hi Aarushi! I have already been assigned this issue, and am currently working on it.

[2020-03-17 09:56] ShebinJoseph commented on #2510
Can I start working on this ?

[2020-03-17 10:50] suchi12j commented on #2175
I can do this in rust

[2020-03-17 10:52] suchi12j commented on #2512
I want to work on this

[2020-03-17 11:03] suchi12j commented on #2481
I can do this in kotlin

[2020-03-17 11:04] suchi12j commented on #2480
Pls assign me Kotlin and readme

[2020-03-17 11:05] suchi12j commented on #2507
Pls assign me this

[2020-03-17 11:08] suchi12j commented on #2252
I want to work on readme

[2020-03-17 11:09] suchi12j commented on #2249
Pls assign me readme @jainaman224

[2020-03-17 11:10] suchi12j commented on #2204
Pls assign this to me in kotlin

[2020-03-17 11:11] suchi12j commented on #2201
Assign this to me in kotlin @jainaman224

[2020-03-17 11:11] suchi12j commented on #2200
Assign this to me in kotlin @jainaman224

[2020-03-17 11:12] suchi12j commented on #2199
Assign this to me in kotlin

[2020-03-17 11:15] suchi12j commented on #1992
I can do this.

[2020-03-17 12:24] manali-biswas commented on #2512
@jainaman224 please assign me this issue for c and c++

[2020-03-17 12:48] shubhigupta991 opened #2520 "Recursion in C and C++"
1. Factorial of a number.
2. HCF of two numbers.
3. Fibonacci series
4. Count the number of digits.
5. Sum of all digits of a number.
6. Palindrome.
7. Length of string.

[2020-03-17 15:20] syedareehaquasar commented on #2520
assign me this issue

[2020-03-17 15:44] Ratna04priya commented on #2477
I would like to work in C# and Go lang for this problem.

[2020-03-17 15:45] Ratna04priya commented on #2478
I would like to in C# and Go for this problem.

[2020-03-17 17:02] chandbud5 commented on #2479
I would like to implement it in kotlin

[2020-03-17 18:58] MananKaur commented on #2512
I would like to implement this for java, kindly assign this issue to me!

[2020-03-17 18:59] MananKaur commented on #2508
I would like to work on this one for java. Kindly assign this issue to me!

[2020-03-17 19:01] Adyasha8105 commented on #2520
please assign this issue to me as I m a beginner

[2020-03-17 19:04] Meenakshi2000 commented on #1948
please assign this to me in java

[2020-03-17 19:10] Meenakshi2000 commented on #1762
please assign this to me c++,java

[2020-03-17 19:16] shortCircuit81 commented on #2520
please assign this to me ..

[2020-03-17 19:17] shortCircuit81 commented on #2510
please assign this to me

[2020-03-17 19:26] ShebinJoseph commented on #2510
@shortCircuit81 Sorry,I already started working on this.I am waiting for the mentors to get a response.You go for some other issues.

[2020-03-17 19:40] LovepreetSingh12 commented on #2520
I would like to work on this as a part of GSSoC 2020.

[2020-03-17 19:44] LovepreetSingh12 commented on #2510
Can I work on this in Java?

[2020-03-17 19:45] LovepreetSingh12 commented on #2506
Please assign me this issue in java.

[2020-03-18 04:48] bohemian98 commented on #2520
Please assign this to me. I can work on both C and C++ and can make the readme file too.

[2020-03-18 04:50] bohemian98 commented on #2512
I can work on this problem in python. Please assign this to me.

[2020-03-18 07:01] #2506 closed

[2020-03-18 07:01] #2507 closed

[2020-03-18 07:01] #2508 closed

[2020-03-18 07:01] #2510 closed

[2020-03-18 07:01] #2512 closed

[2020-03-18 07:01] #2520 closed

[2020-03-18 07:09] jainaman224 commented on #1889
@15aarushiGhadiya  Please pick an issue with label `up-for-grabs`

[2020-03-18 07:13] jainaman224 commented on #2154
Don't include html. Using ts will do. We can compile it and run it for testing.

[2020-03-18 07:16] jainaman224 commented on #2199
@suchi12j You already have 2 open issues.

[2020-03-18 07:16] jainaman224 commented on #2201
@kashika3101 You already have 2 assigned issues.

[2020-03-18 07:29] lakshyajit165 commented on #2154
This is noted. But @jainaman224 , but you told me to take inputs through alerts, without using html how can use alerts? Could you suggest some other methods of input?

[2020-03-18 07:44] 15aarushiGhadiya commented on #1554
@somya-kapoor @jainaman224  i want to implement it in c . please assign this issue to me.

[2020-03-18 09:09] #1873 closed

[2020-03-18 10:16] sukritishah15 commented on #2253
I can do this in PHP. One of my PR's have been merged (Kosaraju Algorithm). So kindly assign me this.

[2020-03-18 10:30] 15aarushiGhadiya commented on #213
Hi can I work on intersection point of 2 linkedlist in java @jainaman224

[2020-03-18 12:48] #1601 closed

[2020-03-18 12:50] #1988 closed

[2020-03-18 13:00] Rukmini-Meda commented on #2477
I would like to work on this issue in Dart. Please assign this issue to me as part of GSSoC'20

[2020-03-18 13:18] Rukmini-Meda commented on #2480
I want to implement this in Dart. Please assign this to me as part of GSSoC'20.

[2020-03-18 13:21] Rukmini-Meda commented on #2246
I would like to work on this issue in Dart. Please assign this to me as part of GSSoC'20.

[2020-03-18 13:54] MananKaur commented on #2161
Kindly assign it to me for C# implementation!

[2020-03-18 14:12] Rukmini-Meda commented on #2171
I would like to work on this issue in Dart. Please assign this to me for GSSoC'20.

[2020-03-18 14:19] Rukmini-Meda commented on #2172
I would like to work on this issue in Dart. Please assign this to me as part of GSSoC'20.

[2020-03-18 16:42] Chanchal1603 commented on #2179
I want to work in c,c++ and python .Please assign me this issue

[2020-03-18 16:46] Chanchal1603 commented on #2175
I want to work on this issue, please assign me this issue.

[2020-03-18 16:48] keshakaneria commented on #2179
@Chanchal1603 those languages are already done i suppose

[2020-03-18 17:11] jainaman224 commented on #2154
I think prompt will do. Please check.

[2020-03-18 17:13] lakshyajit165 commented on #2154
@jainaman. I tried. But it throws an error

[2020-03-18 17:23] jainaman224 commented on #2175
@Chanchal1603 Please select a language from available pool.

[2020-03-18 17:28] rbjoshi1309 commented on #2479
@jainaman224 I would like to work on this issue in Go.

[2020-03-18 17:32] abhu-A-J commented on #2478
@jainaman224 Can I take this? I have only one open issue. Language-JS

[2020-03-18 17:35] #1629 closed

[2020-03-18 17:35] #1806 closed

[2020-03-18 17:41] Chanchal1603 commented on #2175
dart is available!

[2020-03-18 17:42] jainaman224 commented on #2154
Ok, then hard code data for now

[2020-03-18 17:43] Chanchal1603 commented on #2179
then,in which language it is available?

[2020-03-18 17:44] jainaman224 commented on #2175
@Chanchal1603 No 😞

[2020-03-18 17:44] jainaman224 commented on #2179
@Chanchal1603 None of them for now.

[2020-03-18 17:45] lakshyajit165 commented on #2154
Okay. Thanks for the clarification. I am on it.

[2020-03-18 18:28] shwetagurnani commented on #2480
Please assign me readme.

[2020-03-18 18:32] shwetagurnani commented on #2252
Please assign this to me . I can update the README

[2020-03-18 18:37] shwetagurnani commented on #2251
Please assign me readme

[2020-03-18 18:47] aakashdinkar commented on #2129
I would like work on this issue in go

[2020-03-18 18:48] aakashdinkar commented on #2144
I would like to work on this issue in go

[2020-03-18 19:07] pragyajaiswa05l commented on #1948
@jainaman224  please assign it to me in c++ would like to work on it as a part of GSSoC 2020

[2020-03-18 19:10] pragyajaiswa05l commented on #1879
would like to do it in c++ please assign it to me @jainaman224 @somya-kapoor @raghav-dalmia

[2020-03-18 19:39] Akansha2202 opened #2537 "searching using Recurssion in c++"

[2020-03-18 19:56] #1640 closed

[2020-03-18 19:57] bohemian98 commented on #2537
I am a GSSoC participant. I can implement it in C++.@aman jain please assign me this issue.

[2020-03-18 20:44] Akansha2202 commented on #2537
i can do this in C and C++ please assign me this.

[2020-03-19 04:18] topcoder69 commented on #2154
Please assign me this in RUST.

[2020-03-19 04:20] topcoder69 commented on #2204
Please assign me this in PHP.

[2020-03-19 05:01] topcoder69 commented on #2479
Please assign me this in PHP and Rust.

[2020-03-19 07:32] chandrikadeb7 commented on #2136
@somya-kapoor @SakshiShreya @raghav-dalmia Please review PR #2542

[2020-03-19 09:58] p-soham11 commented on #2249
@jainaman224 Can you please assign me for C# ?

[2020-03-19 10:00] lakshyajit165 commented on #2537
I am interested to work on this. @jainaman224, please assign it to me.

[2020-03-19 10:50] shweta0699 opened #2545 "Longest non-palindromic substring in C++"

[2020-03-19 10:51] shweta0699 commented on #2545
I want to work on this issue as a part of GSSoC'20. Please assign this issue to me.

[2020-03-19 11:04] Nimrat-kaur commented on #2120
I want to code it in CoffeeScript.

[2020-03-19 15:07] #1914 closed

[2020-03-19 15:52] Swarnimashukla commented on #2206
hi @jainaman224  please assign this issue to me . i would like to implement it in dart .

[2020-03-19 16:51] #1824 closed

[2020-03-19 17:04] sunchit17 opened #2549 "Spiral Array implementation in Java"
Can I please work on this ?

[2020-03-19 17:15] #1948 closed

[2020-03-19 17:35] #213 closed

[2020-03-19 17:38] #1831 closed

[2020-03-19 17:44] #2537 closed

[2020-03-19 17:44] #2545 closed

[2020-03-19 17:44] #2549 closed

[2020-03-19 17:44] #1632 closed

[2020-03-19 17:44] #1861 closed

[2020-03-19 17:45] #1554 closed

[2020-03-19 17:48] #1389 closed

[2020-03-19 17:48] #1690 closed

[2020-03-19 17:49] #1758 closed

[2020-03-19 17:52] sunchit17 commented on #2246
Can I work on the Java implementation?

[2020-03-19 18:05] jainaman224 commented on #1627
@SimranMakhija7 Are you working on it?

[2020-03-19 18:06] abhishekgupta368 commented on #2480
can you please assign me? My all submissions are complete

[2020-03-19 18:06] jainaman224 opened #2550 "Tree Preorder Traversal"
- [x] C
- [x] C++
- [ ] C# - @sharmakeshav10
- [ ] CoffeeScript
- [x] Dart - @Rukmini-Meda
- [x] Go
- [x] Java
- [ ] JS - @afroz23
- [x] Kotlin - @PrachieNaik
- [x] Php
- [x] Python
- [ ] Readme - @SimranMakhija7
- [x] Ruby
- [ ] Rust
- [ ] TypeScript - @Shr03mink

[2020-03-19 18:09] jainaman224 opened #2551 "Tree Postorder Traversal"
- [x] C
- [x] C++
- [ ] C# - @sharmakeshav10
- [ ] CoffeeScript
- [ ] Dart - @Amitsharma45
- [x] Go
- [x] Java
- [x] JS
- [ ] Kotlin - @PrachieNaik
- [x] Php
- [x] Python
- [ ] Readme - @SimranMakhija7
- [x] Ruby
- [ ] Rust
- [ ] TypeScript - @shivamgupta57121

[2020-03-19 18:11] jainaman224 opened #2552 "Tree Inorder Traversal"
- [x] C
- [x] C++
- [x] C# - @HardevKhandhar
- [ ] CoffeeScript
- [ ] Dart - @Valdermaut
- [x] Go
- [x] Java
- [x] JS - @Aman-Codes
- [x] Kotlin - @sandhyabhan
- [x] Php
- [x] Python
- [ ] Readme - @SimranMakhija7
- [x] Ruby
- [ ] Rust
- [x] TypeScript - @shivanidalmia1203

[2020-03-19 18:14] jainaman224 opened #2553 "Tree Level order Traversal"
- [x] C
- [x] C++
- [ ] C# - @ajaynair710
- [ ] CoffeeScript
- [ ] Dart - @Valdermaut
- [x] Go
- [x] Java
- [x] JS - @ashishnagpal2498
- [x] Kotlin - @sandhyabhan
- [x] Php
- [x] Python
- [ ] Readme - @SimranMakhija7
- [ ] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-19 18:22] jainaman224 opened #2555 "Knuth Morris Prat Algorithm"
- [x] C - @shreyakapoor08
- [x] C++
- [x] C#
- [ ] CoffeeScript
- [x] Dart - @disha2sinha
- [ ] Go - @jamesjose03
- [x] Java
- [x] JS - @bohemian98
- [x] Kotlin
- [ ] Php - @srimani-programmer
- [x] Python
- [x] Readme - @raksha009
- [x] Ruby
- [ ] Rust
- [ ] TypeScript

[2020-03-19 18:24] jainaman224 commented on #2156
@IPSITA2000 Please solve already assigned issues and wait for them to get closed.

[2020-03-19 18:26] LovepreetSingh12 commented on #2179
Can i take this in Kotlin ?

[2020-03-19 18:28] jainaman224 commented on #2179
@LovepreetSingh12 Please pick different issue. It is already implemented in Kotlin.

[2020-03-19 18:50] Harikrishnan6336 commented on #2555
@jainaman224  I would like to do this in C language.Kindly assign me.

[2020-03-19 18:57] #1598 closed

[2020-03-19 18:58] JanaSabuj commented on #2550
@jainaman224 I want to implement in JS.

[2020-03-19 18:59] JanaSabuj commented on #2552
@jainaman224 I want to do it in JS.

[2020-03-19 19:00] JanaSabuj commented on #2553
@jainaman224 I want to implement it in JS.

[2020-03-19 19:05] bohemian98 commented on #2555
Please assign me this for JS and C. I can do it in both of them.

[2020-03-19 19:07] bohemian98 commented on #2555
@jainaman224 please assign me this for JS and C. I can work on both of them.

[2020-03-19 19:07] ravireddy07 commented on #2253
@jainaman224  i would like to work on this in java. Please assign this to me.

[2020-03-19 19:31] rbjoshi1309 commented on #2253
@jainaman224  I would like to work on this issue in Java.

[2020-03-19 19:32] rbjoshi1309 commented on #2552
@jainaman224 I would like to work on this issue in C# and Kotlin.

[2020-03-19 19:33] rbjoshi1309 commented on #2551
@jainaman224  I would like to work on this issue in C# and Kotlin.

[2020-03-19 19:34] rbjoshi1309 commented on #2550
@jainaman224 I would like to work on this issue in C# and Kotlin.

[2020-03-19 19:46] Adyasha8105 commented on #2555
please i would like to work on C language

[2020-03-20 02:41] Anushka-Rajvanshi commented on #2555
Kindly assign me this issue for C lsnguage. @jainaman224

[2020-03-20 04:05] srimani-programmer commented on #2555
I want to work on this issue in PHP. Please assign it for me @jainaman224

[2020-03-20 04:05] chandrikadeb7 commented on #2479
I want to work on PHP

[2020-03-20 04:08] chandrikadeb7 commented on #2553
I want to work in C#.

[2020-03-20 04:08] Aman-Codes commented on #2551
@jainaman224  I am a gssoc participant and I would like to work on this issue in JS. Please assign me this.

[2020-03-20 04:40] Aman-Codes commented on #2552
@jainaman224  I am a gssoc 2020 participant and would like to work on this. Please assign me this issue in JS.

[2020-03-20 07:04] Rukmini-Meda commented on #2200
I would like to implement this algorithm in Dart. Please assign this as part of GSSoC'20.

[2020-03-20 07:05] Rukmini-Meda commented on #2552
Please assign this to me as part of GSSoC'20. I want to implement this in Dart.

[2020-03-20 08:01] asaw4 commented on #2551
i would like to work on this issue in C# and kotlin

[2020-03-20 08:03] asaw4 commented on #2477
I would like to work on this problem in C#, Ruby , Java  and Kotlin.

[2020-03-20 08:04] ritish099 commented on #2555
I want to do it in C . please assign it to me. Only one issue is open of mine at this point of time. I can take it as the 2nd one. @jainaman224

[2020-03-20 08:07] ritish099 commented on #2206
I want to do it in C# . please assign it to me. Only one issue is open of mine at this point of time. I can take it as the 2nd one. @jainaman224

[2020-03-20 08:56] asaw4 opened #2564 "Add Skip list implementation in Python"
I would like to work on this problem under GSSoC'20.

[2020-03-20 08:57] asaw4 opened #2565 "Add Skip list implementation in Java."
i would like to work on this problem

[2020-03-20 09:18] shubhigupta991 opened #2566 "Recursion in C and C++"
1. Factorial of a number.
2. HCF of two numbers.
3. Fibonacci series
4. Count the number of digits.
5. Sum of all digits of a number.
6. Palindrome.
7. Length of string.

[2020-03-20 09:42] nehasangeetajha commented on #2566
@jainaman224 can u assign me Factorial of a number in CPP ?

[2020-03-20 10:14] kichloo commented on #2248
@jainaman224 I can do it in Rust and Ruby.

[2020-03-20 11:56] #1564 closed

[2020-03-20 12:05] darkdebo commented on #2200
@jainaman224 assign it to me in ruby

[2020-03-20 13:08] bansaljas commented on #2120
I'd like to contribute the code in JS

[2020-03-20 13:14] Prachi-Naik commented on #2252
i want to work on this with kotlin. can you please assign me?

[2020-03-20 13:16] Prachi-Naik commented on #2171
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20.

[2020-03-20 13:17] Prachi-Naik commented on #2553
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20.

[2020-03-20 13:17] Prachi-Naik commented on #2551
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20.

[2020-03-20 13:19] ravireddy07 commented on #1621
Is anyone working on this..?>
if not please assign this to me...!!

@singh-shreya6  @jainaman224

[2020-03-20 13:21] PrachieNaik commented on #2553
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20.

[2020-03-20 13:22] PrachieNaik commented on #2552
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20. @jainaman224

[2020-03-20 13:22] PrachieNaik commented on #2551
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20. @jainaman224

[2020-03-20 13:23] PrachieNaik commented on #2550
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20. @jainaman224

[2020-03-20 13:23] PrachieNaik commented on #2252
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20. @jainaman224

[2020-03-20 13:24] PrachieNaik commented on #2199
i would like to work on this issue with kotlin. Please assign this to me for GSSoC'20. @jainaman224

[2020-03-20 13:51] bohemian98 commented on #2566
I can work on all of the problems in CLP and C. I am GSSoC participant, please assign this issue to me.

[2020-03-20 13:55] bohemian98 commented on #2566
@jainaman224 I can work on this issue in CPP and C both. Please asign me this issue

[2020-03-20 14:59] BishalKrChanda commented on #2206
Please review my code its been very long

[2020-03-20 17:21] Riyagoel2 commented on #2555
I want to implement it in C

[2020-03-20 18:33] Amitsharma45 commented on #2564
I want to work on this issue and i am from gssoc2020

[2020-03-20 19:33] ranjal007 commented on #984
@jainaman224  Sir I have Implemented the code. I just need to know I have to upload all the files of Javascript, CSS, and HTML or I just have to upload the Javascript code.

[2020-03-21 05:05] #2564 closed

[2020-03-21 05:05] #2565 closed

[2020-03-21 05:05] #2566 closed

[2020-03-21 05:10] jainaman224 commented on #984
@ranjal007 Please ask on `git_github` channel on slack.

[2020-03-21 05:11] #1621 closed

[2020-03-21 05:31] rbjoshi1309 commented on #2252
@jainaman224 I would like to work on this issue in Kotlin.

[2020-03-21 06:29] jainaman224 commented on #2206
@ritish099 Please have a look https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/ritish099. If there is any mistake please let us know.

[2020-03-21 06:29] jainaman224 commented on #2248
@kichloo You have already 2 open issues please check and let us know if there is any mistake. https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/kichloo

[2020-03-21 06:31] jainaman224 commented on #2477
@asaw4 You already have 2 open issues. Please let us know if there is any mistake. https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/asaw4

[2020-03-21 06:33] jainaman224 commented on #2550
@JanaSabuj You already have 2 assigned issues. Please let us know if there is any mistake. https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/JanaSabuj

[2020-03-21 06:39] Mustafiz04 commented on #2248
@jainaman224  sir I have done my work Karatsuba Algorithm #1989 in Java. I want to work more but there are no issue open related to Java or Python. Even I can't open new one issue.

[2020-03-21 06:57] ritish099 commented on #2206
@jainaman224 for my issue no #1821 I had created a pull request and that was merged also here is the merged PR #1952. have a look at it.
and I have submitted the PR for issue no =#2251
and here is my PR for that #2511 (I submitted it 4 days ago but no one reviewed it) Currently I have no running task. It will be very kind of you if you assign me some task and review my PR for Postman Sort. Closing

[2020-03-21 06:57] #1821 closed

[2020-03-21 07:00] meghanagottapu commented on #2179
I want to work in java,c. Can I implement this in java,c?

[2020-03-21 07:03] kichloo commented on #2248
@jainaman224 I have submitted those for review over a week ago. I can complete the given issues in this weekend. Pl give it to me!

[2020-03-21 07:10] meghanagottapu commented on #1718
@raksha009 I want to work on 2491,2492 issues for GSSoC20

[2020-03-21 07:12] meghanagottapu commented on #1706
@MdAkdas I want to work on this issue. Can you please assign this issue to me

[2020-03-21 07:34] #1728 closed

[2020-03-21 08:56] PrachieNaik commented on #2171
@jainaman224 there was a mistake. i commented this from my work profile. you can reassign me on my this profile. very sorry for the confusion. Thanks

[2020-03-21 09:14] asaw4 commented on #2477
i have a pull request regarding one issue. The other one, i am working on. https://github.com/jainaman224/Algo_Ds_Notes/pull/2563

[2020-03-21 10:15] Valdermaut commented on #2553
cn I work on this please assign it to me @jainaman224

[2020-03-21 17:10] abhijeet010304 commented on #1751
I wish to work on this in C++ , plz assign this to me

[2020-03-21 18:23] RiaJha02 commented on #1597
@raghav-dalmia please review my Pull Request
Done with the listed changes :+1:

[2020-03-21 19:37] urbashi123 commented on #2555
Kindly assign me the issue for readme. @jainaman224

[2020-03-21 19:56] rbjoshi1309 commented on #2201
@jainaman224 I would like to work on this issue in Kotlin.

[2020-03-21 19:56] rbjoshi1309 commented on #2200
@jainaman224 I would like to work on this issue in Kotlin.

[2020-03-21 19:57] rbjoshi1309 commented on #2204
@jainaman224 I would like to work on this issue in Kotlin.

[2020-03-21 20:18] jedi-starlord commented on #2478
Hi, I've raised a PR for the code in Rust. Can you assign the Go code too?

[2020-03-21 21:28] sunchit17 commented on #2246
Please restore the Java label, I tried to come up with my own code but couldn't do so

[2020-03-22 03:57] jainaman224 commented on #2171
@PrachieNaik For now, you have 2 assigned issues. Unassigning you for now. Please get back once you have completed a task.

[2020-03-22 04:01] jainaman224 commented on #2246
@sunchit17 No problem. Keep learning 👍

[2020-03-22 04:12] jainaman224 commented on #2553
@Valdermaut Please select a language from available ones.

[2020-03-22 04:43] Jahnavi-Jonnalagadda commented on #2152
@jainaman224 I would like to work on this issue in Dart language. Could you please assign this to me.

[2020-03-22 05:00] Jahnavi-Jonnalagadda commented on #2125
@jainaman224 I would like to work on this issue in Dart. Could you please assign this to me.

[2020-03-22 05:21] TeAmP0is0N opened #2584 "Floyd_Warshall_Algorithm implementation in c"
There is no implementation in c of this algorithm. I want to work on this. Please, assign it to me.

[2020-03-22 06:41] santushtisharma10 commented on #2173
@jainaman224 @somya-kapoor  PLEASE REVIEW MY PR #2568

[2020-03-22 10:21] #1889 closed

[2020-03-22 15:27] PratilipiAich opened #2593 "Infix to Prefix in Python"
I would like to contribute Infix to Prefix in Python as a part of GSSoC2020. Could you assign me this issue?

[2020-03-22 16:47] syedareehaquasar commented on #2553
please assign me in c#

[2020-03-22 16:48] syedareehaquasar commented on #2552
please assign me in c#

[2020-03-22 16:48] syedareehaquasar commented on #2551
please assign me in c#

[2020-03-22 16:52] syedareehaquasar commented on #2118
i can do this is c#

[2020-03-22 17:13] syedareehaquasar commented on #2478
please assign me in c#
readme done

[2020-03-22 17:16] syedareehaquasar commented on #2144
please assign me in c#

[2020-03-22 17:16] syedareehaquasar commented on #2151
please assign me in php

[2020-03-22 17:19] syedareehaquasar commented on #2252
please assign me in php or readme

[2020-03-22 17:19] #2584 closed

[2020-03-22 17:19] #2593 closed

[2020-03-22 17:20] syedareehaquasar commented on #2477
please assign me c# readme done

[2020-03-22 17:56] ashishnagpal2498 commented on #2553
Can I implement this in JS ?

[2020-03-22 19:08] goyalmuskan commented on #2550
May I work on this in C#? @jainaman224

[2020-03-22 19:17] goyalmuskan commented on #2173
May I work on this in PHP? @jainaman224 @asha15

[2020-03-23 05:13] jainaman224 commented on #2118
@syedareehaquasar You already have 2 assigned issues. https://github.com/jainaman224/Algo_Ds_Notes/issues/assigned/syedareehaquasar

[2020-03-23 06:24] SimranMakhija7 commented on #1627
Yes, I am..
Sorry for the delay

[2020-03-23 07:59] urbashi123 commented on #2480
I would like to work on readme ?
@jainaman224

[2020-03-23 08:01] urbashi123 commented on #2252
Can i work in readme file?
@jainaman224

[2020-03-23 08:10] Valdermaut commented on #2553
@jainaman224 can I work implement it in dart

[2020-03-23 10:10] #1706 closed

[2020-03-23 13:42] meghanagottapu commented on #2154
@jainaman224 I want to do this in java. Please assign me this issue

[2020-03-23 14:21] #1618 closed

[2020-03-23 15:00] sharmakeshav10 commented on #2550
Please assign me this issue for c# @jainaman224

[2020-03-23 15:02] sharmakeshav10 commented on #2551
@jainaman224 Please assign me this issue in c#

[2020-03-23 15:03] sharmakeshav10 commented on #2552
@jainaman224 Please assign me this issue in c#

[2020-03-23 15:05] sharmakeshav10 commented on #2479
Please assign me this issue in ruby @jainaman224

[2020-03-23 18:49] sngmanish commented on #807
I want to work on this issue using CPP, python.  @jainaman224
If no one is working on this issue please assign it to me.

[2020-03-23 18:51] saloniankita23 commented on #2148
Please check and review PR #1 on issue #2148 @jainaman224

[2020-03-23 19:04] sngmanish commented on #1628
I would like to work on this issue, using python.
I will perform addition, subtraction, multiplication and finding transpose of a matrix, Printing the top-left-right-bottom and top-right to bottom-left, etc under a single folder in different files.

[2020-03-23 19:10] sngmanish commented on #2073
@jainaman224 If no one is working on this issue could you please assign it to me..?

[2020-03-23 19:22] sngmanish opened #2609 "Knapsack Using JavaScript"
Knapsack Problem has not been implemented using javaScript.

![SharedScreenshot](https://user-images.githubusercontent.com/30212325/77354976-b7bf9080-6d69-11ea-914a-55691836f877.jpg)

I would like to work on it.

[2020-03-23 19:27] #2609 closed

[2020-03-23 19:32] sngmanish commented on #2246
I want to implement it using java.

[2020-03-24 03:32] ajaynair710 commented on #2553
Can I implement in C# ?

[2020-03-24 04:18] 15aarushiGhadiya commented on #2551
@jainaman224 Please assign me this issue in c#

[2020-03-24 07:43] TVSSSRIPAD commented on #2073
I am working on this. Sorry for delay.

[2020-03-24 07:52] jamesjose03 commented on #2555
Kindly assign this issue for Go lang @jainaman224

[2020-03-24 09:16] shreyakapoor08 commented on #2553
@jainaman224 Can I do this in C#

[2020-03-24 09:51] afroz23 commented on #2550
@jainaman224 I would like to work on this issue with javascript. Please assign it to me :)

[2020-03-24 17:01] #1718 closed

[2020-03-24 17:46] raksha009 commented on #1718
@raghav-dalmia i have one un merged PR#2327 related to this issue pending since 17 days. Plz reopen the issue and plz review my PR.

[2020-03-24 18:15] Mustafiz04 commented on #2246
@jainaman224 I would like to do this in java. Please assign it to me.

[2020-03-24 21:11] myselfanuj commented on #2552
Please assign me this issue for kotlin @jainaman224 .so I can give PR ASAP.

[2020-03-24 21:38] roshankcjha commented on #1768
Hello @jainaman224  please assign this issue.I would like to work on finding its solution in different programming languages.

[2020-03-25 06:23] abhu-A-J commented on #1004
@jainaman224 I have only one open issue I can work on this . Language choice -JS. Thanks!

[2020-03-25 06:55] #521 closed

[2020-03-25 09:20] myselfanuj commented on #2555
I want to work on this issue for kotlin please  assign me this issue for kotlin. @jainaman224

[2020-03-25 15:17] jainaman224 commented on #1768
@roshankcjha Please another issue.

[2020-03-25 16:18] coderprasukj commented on #2201
@jainaman224 I would like to work on this issue with JavaScript Implementation. Please assign me with this issue.

[2020-03-25 17:44] prince-09 commented on #2251
I want to work on this in js @jainaman224

[2020-03-25 18:29] #1634 closed

[2020-03-25 18:39] #1905 closed

[2020-03-25 18:39] #1659 closed

[2020-03-25 19:21] prince-09 commented on #2246
I want to do it in js. @jainaman224

[2020-03-26 08:14] rebelfire888 commented on #2479
tower of hanoi in c language done.....

[2020-03-26 10:54] Salonii02 commented on #2551
I would like to work on this
please assign me this in c++. @jainaman224

[2020-03-26 10:57] Salonii02 opened #2632 "Construct a Cartesian Tree from inorder Traversal"
Languages-C++
Time efficient construction

[2020-03-26 11:02] Salonii02 commented on #2632
I would like to work on this issue.
I am gssoc20 participant.
can you please assign me this issue.
@jainaman224